# TWiki Collaboration Platform, http://TWiki.org/
#
# Copyright (C) 2002-2003 Peter Thoeny, peter@thoeny.com
#			  Micheal Sparks, ms@owiki.org
#
# For licensing info read license.txt file in the TWiki root.
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details, published at 
# http://www.gnu.org/copyleft/gpl.html
#
# setlib.cfg: configuration file for TWiki and Perl library paths
#
# Used to configure non-standard locations for TWiki and Perl modules.

# ------------ Specify log file for perl errors
# this is a Work around for bugs in Apache 2 hanging when size_output(STDERR)>4096
# See also http://owiki.org/ApacheTwoHangs
# you need to set this value here as the TWiki.cfg file is not loaded yet
# NOTE: for Microsoft Windows and IIS you can use this to see your perl errors
#
# You could change this to something like
# /var/log/twiki/error.log
$logfile = "/dev/null";
unless(open(STDERR, ">>$logfile")) {
   use IO::Handle; STDERR->blocking(0);
}

# -------------- Change these settings if required

#    Path to lib directory containing TWiki.pm. Set to absolute file path:
$twikiLibPath = '../lib';

#    Path to local Perl modules (e.g. under home directory for users
#    without 'root' on Unix/Linux). Uncomment and set if needed:
# $localPerlLibPath = '';

# -------------- Don't change anything below this line

# Prepend to @INC, the Perl search path for modules
unshift @INC, $twikiLibPath;
unshift @INC, $localPerlLibPath if $localPerlLibPath;

1;			    	# Return success for module loading

