        %TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops)%TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Page is being edited by another user - %PARAM1% %TMPL:END%
%TMPL:DEF{"message"}%
Looks like <b> %PARAM1% </b> is editing this page. Page lock will be released after %PARAM2% minutes of inactivity,
the earliest in <b>%PARAM3% minutes</b>.

Sorry but you cannot save your comments right now. You can instead:

   * <b>Cancel your comments:</b> Click on "Cancel" below.  Your comments will be lost.
   * <b>Go back</b>: Click on BACK button of your browser to return to previous page and continue editing.<br />Some browsers, like IE, has a bug when going BACK will refresh page and your comments could be lost.<br />Instead, you might want to save this page and copy-paste comments later when page us unlocked. 
   * <b>Open new window</b> and continue browsing. <br />You need to return back later (in about %PARAM3% minutes) and save your comments, either going BACK, or copy-paste coments from this page.

Your comments are here for your convenience:<hr />
%PARAM4%
<hr />
 %TMPL:END%
%TMPL:DEF{"topicaction"}%
 [[%WEB%.%TOPIC%][Cancel]] 
 &nbsp; <a target="%WEB%%TOPIC%" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" >%TOPIC% in New Window</a>
 &nbsp; <a target="%WEB%%TOPIC%" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%HOMETOPIC%" >%HOMETOPIC% in New Window</a>
%TMPL:END%
%TMPL:P{"oops"}%
