%TMPL:INCLUDE{"view"}%
%TMPL:DEF{"content"}%  
%REPUTATION{rpaction="%URLPARAM{rpaction}%" vote="%URLPARAM{vote}%"}% 
<p>
%TEXT% 

%TMPL:P{"form"}%%TMPL:P{"attachments"}%
%TMPL:P{"topicinfo"}% %TMPL:END%


