%TMPL:INCLUDE{"view"}%
%TMPL:DEF{"content"}%
%REPUTATION{rpaction="%URLPARAM{rpaction}%" vote="%URLPARAM{vote}%" target="%URLPARAM{target}%" targetuser="%URLPARAM{targetuser}%"}%<p>
%TEXT%
%TMPL:END%
