%TMPL:INCLUDE{"view"}%
%TMPL:DEF{"content"}%
%TEXT%
%REPCOMMENTVOTE{rpaction="%URLPARAM{rpaction}%" vote="%URLPARAM{vote}%" target="%URLPARAM{target}%" targetuser="%URLPARAM{targetuser}%"}%<br>
%REPCOMMENT%
%TMPL:END%
