.tagMeControl {
	white-space:nowrap;
}
.tagMeControl input { 
	border:0;
}
.tagMeNotification {
	background-color:#ffc;
	color:#000;
	padding:0 .25em;
	white-space:nowrap;
}
div.tagMeNotification {
	padding:.5em 20px; /* side padding same as twikiFormStep */
	margin:1em 0;
}
.tagMeVoteCount {
	margin:0 .35em;
	color:#8E9195; /* use twikiGrayText color */
}
