%TMPL:INCLUDE{"preview"}%
%TMPL:INCLUDE{"editjavascript"}%
%TMPL:INCLUDE{"previewtoolbar"}%

%TMPL:DEF{"content"}%%TMPL:P{"pagetitle"}%
%TMPL:P{"pagehelp"}%
%TMPL:P{"formstart"}%
%TMPL:P{"previewtoolbar"}%
<div class="patternPreviewArea">
<div class="patternContent">
<div class="patternTopic">
%TEXT%
</div>
%META{"form"}%
</div>
</div>
<input type="hidden" name="action_preview" value="" />
<input type="hidden" name="action_save" value="" />
<input type="hidden" name="action_checkpoint" value="" />
<input type="hidden" name="action_addform" value="" />
<input type="hidden" name="action_replaceform" value="" />
<input type="hidden" name="action_cancel" value="" />
%TMPL:P{"formend"}%
%TMPL:P{"nojavascript_pagehelp"}%
%TMPL:END%
