
<div id="topicpermissionsdiv" style="display:inline;">
<a name="topicpermissionsform"></a>
<form name="topicpermissionsform"  method="post" action="%SCRIPT%/%WEB%/%TOPIC%#topicpermissionsform">
---++ Set Permissions for %WEB%.%TOPIC%
<table border="0">
    <tr>
        <td rowspan="3" width="40%">
---++++ All Users and Groups
            <select size="17" name="disallowedusers" multiple="multiple" style="width:100%;">
                <optgroup label="Groups">
<nop>%UNSELECTEDGROUPS%
                </optgroup>
                <optgroup label="Users">
<nop>%UNSELECTEDUSERS%
                </optgroup>
            </select>
        </td>
        <td align="center" width="100px">
            <button type="button" style="width:100%;" onclick="TWiki.WebPermissionsPlugin.moveSelectionTo(event, 'topiceditors', 'disallowedusers');" class="twikiButton">
                <img src="%PUBURL%/%TWIKIWEB%/%PLUGINNAME%/leftarrow.png" alt="&lt;-" /> Remove
            </button>
            <button type="button"  style="width: 100%;" onclick="TWiki.WebPermissionsPlugin.moveSelectionTo(event, 'disallowedusers', 'topiceditors');" class="twikiButton">
                Add <img src="%PUBURL%/%TWIKIWEB%/%PLUGINNAME%/rightarrow.png" alt="-&gt;" />
            </button>
        </td>
        <td width="40%">
---++++ Editors
            <select size="5" name="topiceditors" multiple="multiple" style="width:100%;">
                <optgroup label="Groups">
<nop>%EDITGROUPS%
                </optgroup>
                <optgroup label="Users">
<nop>%EDITUSERS%
                </optgroup>
            </select>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td align="center" valign="center">
            <button type="button" style="height: 20px;width:30%;" onclick="TWiki.WebPermissionsPlugin.moveSelectionTo(event, 'topiceditors', 'topicviewers');" class="twikiButton">
                <img src="%PUBURL%/%TWIKIWEB%/%PLUGINNAME%/downarrow.png" alt="V" />
            </button>
            <button type="button" style="height: 20px;width:30%;" onclick="TWiki.WebPermissionsPlugin.moveSelectionTo(event, 'topicviewers', 'topiceditors');" class="twikiButton">
                <img src="%PUBURL%/%TWIKIWEB%/%PLUGINNAME%/uparrow.png" alt="^" />
            </button>
        </td>
    </tr>
    <tr>
        <td align="center">
            <button type="button" style="width: 100%;" onclick="TWiki.WebPermissionsPlugin.moveSelectionTo(event, 'topicviewers', 'disallowedusers');" class="twikiButton">
                <img src="%PUBURL%/%TWIKIWEB%/%PLUGINNAME%/leftarrow.png" alt="&lt;-" /> Remove
            </button>
            <button type="button" style="width: 100%;" onclick="TWiki.WebPermissionsPlugin.moveSelectionTo(event, 'disallowedusers', 'topicviewers');" class="twikiButton">
                Add <img src="%PUBURL%/%TWIKIWEB%/%PLUGINNAME%/rightarrow.png" alt="-&gt;" />
            </button>
        </td>
        <td>
---++++ Viewers
            <select size="5" name="topicviewers" multiple="multiple" style="width:100%;">
                <optgroup label="Groups">
<nop>%VIEWGROUPS%
                </optgroup>
                <optgroup label="Users">
<nop>%VIEWUSERS%
                </optgroup>
            </select>
        </td>
    </tr>
    <tr height="10px">
    </tr>
    <tr>
        <td align="right" colspan="3">
            <input type="submit" %DISABLESAVE% class="twikiSubmit%DISABLESAVE%" name="topic_permissions_action" id="save" value='Save' onclick="return prepareForSave(event);" />
            <input type="submit" class="twikiButton" name="topic_permissions_action" id="cancel" value='Cancel' accesskey='c' /> &nbsp; &nbsp; &nbsp; &nbsp;
         </td>
    </tr>
</table>
    <input type="hidden" name="web_permissions_action" value="updateTopicPermissions" />
    <input type="hidden" name="topicname" value="%WEB%.%TOPIC%" />
</form>
</div>
