%TMPL:INCLUDE{"view"}%

%TMPL:DEF{"topbardimensions"}%
#patternTopBar,
#patternClearHeaderCenter,
#patternClearHeaderLeft,
#patternClearHeaderRight,
#patternTopBarContentsOuter {
   height:90px; /* top bar height; make room for header columns */
   overflow:hidden;
}
%TMPL:END%

%TMPL:DEF{"leftbar"}%%TMPL:END%
%TMPL:DEF{"leftbardimensions"}%%TMPL:END%

