%TMPL:INCLUDE{"view"}%

%TMPL:DEF{"topbar"}%<div id="twTopBar">%INCLUDE{"%SYSTEMWEB%.TopMenuSkinTopBar"}%</div><!-- /twTopBar-->%TMPL:END%

%TMPL:DEF{"topbardimensions"}%
#twTopBar
{
  z-index: 1;  /*** Critical value for Moz/Opera Background Column colors fudge to work ***/
  position: absolute;
  top: 0px;
  width: 100%;
  height: 90px; /* top bar height; make room for header columns */
/*
  overflow: hidden;
*/
  background: #DFE2E8;
}
#twTopBar .twikiImage img {
   background-color:transparent;
}
#patternTopBar,
#patternClearHeaderCenter,
#patternClearHeaderLeft,
#patternClearHeaderRight,
#patternTopBarContentsOuter {
   height:90px; /* top bar height; make room for header columns */
   overflow:hidden;
}
%TMPL:END%

%TMPL:DEF{"leftbar"}%%TMPL:END%
%TMPL:DEF{"leftbardimensions"}%%TMPL:END%

