<!--
 Copyright (C) ILOG
 Portions Copyright (C) 2004 Damien Mandrioli and Romain Raugi
 Portions Copyright (c) 2003-2004, Kupu Contributors.
 All rights reserved.

 This is the template used for the kupu editor. It is heavily
 based on the Kupu "kupu.html" script, with extensive modifications
 to support TWiki-specific features (wikiwords, attachments,
 variables). As much as possible is the Kupu original.

-->

<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>Kupu Edit %WEB%.%TOPIC%</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <base href="%PUBURL%/" />
  <style>
   @import url("%TWIKILAYOUTURL%");
   @import url("%TWIKISTYLEURL%");
   @import url("%USERLAYOUTURL%");
   @import url("%USERSTYLEURL%");
  </style>
  <link href="_kupu/common/kupustyles.css" rel="stylesheet" type="text/css"/>
  <link href="_kupu/common/kupudrawerstyles.css" rel="stylesheet" type="text/css"/>
  <link href="%TWIKIWEB%/WysiwygPlugin/kuputwiki.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="_kupu/common/sarissa.js">
  </script>
  <script type="text/javascript" src="_kupu/common/kupuhelpers.js">
  </script>
  <script type="text/javascript" src="_kupu/common/kupueditor.js">
  </script>
  <script type="text/javascript" src="_kupu/common/kupubasetools.js">
  </script>
  <script type="text/javascript" src="_kupu/common/kupuloggers.js">
  </script>
  <script type="text/javascript" src="_kupu/common/kupucontentfilters.js">
  </script>
  <script type="text/javascript" src="_kupu/common/kupucontextmenu.js">
  </script>
  <script type="text/javascript" src="_kupu/common/kupustart.js">
  </script>
  <script type="text/javascript" src="_kupu/common/kupusourceedit.js">
  </script>
  <script type="text/javascript" src="_kupu/common/kupudrawers.js">
  </script>
  <script type="text/javascript" src="%TWIKIWEB%/WysiwygPlugin/twikitools.js">
  </script>
  <script type="text/javascript" src="%TWIKIWEB%/WysiwygPlugin/kupuinit.js">
  </script>
 </head>
 <body onload="kupu = startKupu()">
  <h1>%WEB%.%TOPIC%</h1>
  <div style="display: none;">
   <xml id="kupuconfig">
    <kupuconfig>
     <cancel>%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?unlock=on</cancel>
     <attachment_url_path>%ATTACHURL%</attachment_url_path>
     <upload_url>%SCRIPTURL%/attach%SCRIPTSUFFIX%/%WEB%/%TOPIC%</upload_url>
     <view_url>%SCRIPTURL%/view%SCRIPTSUFFIX%/</view_url>
     <current_web>%WEB%</current_web>
     <current_topic>%TOPIC%</current_topic>
     <use_css>1</use_css>
     <reload_after_save>0</reload_after_save>
     <strict_output>1</strict_output>
     <content_type>application/xhtml+xml</content_type>
     <compatible_singletons>1</compatible_singletons>
     <table_classes>
      <class>plain</class>
      <class>listing</class>
      <class>grid</class>
      <class>data</class>
     </table_classes>
     <search_images_uri> </search_images_uri>
     <search_links_uri> </search_links_uri>
    </kupuconfig>
   </xml>
  </div>
  <div class="kupu-fulleditor">
   <div class="kupu-tb" id="toolbar">
    <span id="kupu-tb-buttons">
     <span class="kupu-tb-buttongroup" style="float: right" id="kupu-logo">
      <button type="button" class="kupu-logo" title="Kupu 1.2.1" accesskey="k" onclick="window.open('http://kupu.oscom.org');"></button>
     </span>
     <span class="kupu-tb-buttongroup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-save" id="kupu-save-button" title="save: alt-s" i18n:attributes="title" accesskey="s"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="twiki-cancel-button" id="twiki-cancel-button" title="cancel: alt-q" i18n:attributes="title" accesskey="q"></button>
     </span>
     <span class="kupu-tb-buttongroup" id="kupu-bg-undo">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-undo" id="kupu-undo-button" title="undo: alt-z" i18n:attributes="title" accesskey="z"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-redo" id="kupu-redo-button" title="redo: alt-y" i18n:attributes="title" accesskey="y"></button>
     </span>
     <select id="kupu-tb-styles">
      <option xmlns:i18n="http://xml.zope.org/namespaces/i18n" value="P" i18n:translate="paragraph-normal">
       Normal
      </option>
      <option value="H1">
       <span xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="heading">Heading</span> 1
      </option>
      <option value="H2">
       <span xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="heading">Heading</span> 2
      </option>
      <option value="H3">
       <span xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="heading">Heading</span> 3
      </option>
      <option value="H4">
       <span xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="heading">Heading</span> 4
      </option>
      <option value="H5">
       <span xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="heading">Heading</span> 5
      </option>
      <option value="H6">
       <span xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="heading">Heading</span> 6
      </option>
      <option xmlns:i18n="http://xml.zope.org/namespaces/i18n" value="PRE" i18n:translate="paragraph-formatted">
       Formatted
      </option>
     </select>
     <span class="kupu-tb-buttongroup" id="kupu-bg-basicmarkup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-bold" id="kupu-bold-button" title="bold: alt-b" i18n:attributes="title" accesskey="b"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-italic" id="kupu-italic-button" title="italic: alt-i" i18n:attributes="title" accesskey="i"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="twiki-code-button" id="twiki-code-button" title="fixed: alt-=" i18n:attributes="title" accesskey="="></button>
     </span>
     <span class="kupu-tb-buttongroup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-forecolor" id="kupu-forecolor-button" title="text color: alt-f" i18n:attributes="title" accesskey="f"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-hilitecolor invisible" id="kupu-hilitecolor-button" title="background color: alt-h" i18n:attributes="title" accesskey="h"></button>
     </span>
     <span class="kupu-tb-buttongroup" id="kupu-bg-list">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-insertorderedlist" title="numbered list: alt-#" id="kupu-list-ol-addbutton" i18n:attributes="title" accesskey="#"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-insertunorderedlist" title="unordered list: alt-*" id="kupu-list-ul-addbutton" i18n:attributes="title" accesskey="*"></button>
     </span>
     <span class="kupu-tb-buttongroup" id="kupu-bg-definitionlist">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-insertdefinitionlist" title="definition list: alt-=" id="kupu-list-dl-addbutton" i18n:attributes="title" accesskey="="></button>
     </span>
     <span class="kupu-tb-buttongroup" id="kupu-bg-indent">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-outdent" id="kupu-outdent-button" title="outdent: alt-&lt;" i18n:attributes="title" accesskey="&lt;"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-indent" id="kupu-indent-button" title="indent: alt-&gt;" i18n:attributes="title" accesskey="&gt;"></button>
     </span>
     <span class="kupu-tb-buttongroup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-exthyperlink" id="kupu-linkdrawer-button" title="Insert a link to the internet" i18n:attributes="title"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-inthyperlink" id="twiki-wikiworddrawer-button" title="Insert a link to a wiki topic" i18n:attributes="title"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="twiki-insert-attachment" id="twiki-insert-attachment" title="Insert a link to an attachment" i18n:attributes="title"></button> 
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-removelink invisible" id="kupu-removelink-button" title="Remove link" i18n:attributes="title"></button>
     </span>
     <span class="kupu-tb-buttongroup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" id="twiki-icons-button" class="twiki-icons-button" title="Insert a TWiki Icon" i18n:attributes="title"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-table" id="kupu-tabledrawer-button" title="Insert a new table" i18n:attributes="title"></button>      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-image" id="twiki-attach-button" title="Add a new attachment" i18n:attributes="title"></button> 
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="twiki-vardrawer-button" id="twiki-vardrawer-button" title="Insert a TWiki tag" i18n:attributes="title"></button> 
     </span>
     <span class="kupu-tb-buttongroup" id="kupu-source">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-source" id="kupu-source-button" title="edit HTML code" i18n:attributes="title"></button>
     </span>
    </span>
    <select id="kupu-ulstyles" class="invisible">
     <option xmlns:i18n="http://xml.zope.org/namespaces/i18n" value="disc" i18n:translate="list-disc">&bull;</option>
    </select>
    <select id="kupu-olstyles">
     <option xmlns:i18n="http://xml.zope.org/namespaces/i18n" value="decimal" i18n:translate="list-decimal">1</option>
     <option xmlns:i18n="http://xml.zope.org/namespaces/i18n" value="upper-roman" i18n:translate="list-upperroman">I</option>
     <option xmlns:i18n="http://xml.zope.org/namespaces/i18n" value="lower-roman" i18n:translate="list-lowerroman">i</option>
     <option xmlns:i18n="http://xml.zope.org/namespaces/i18n" value="upper-alpha" i18n:translate="list-upperalpha">A</option>
     <option xmlns:i18n="http://xml.zope.org/namespaces/i18n" value="lower-alpha" i18n:translate="list-loweralpha">a</option>
    </select>
   </div>
   <div style="display:block;">
    <div id="kupu-librarydrawer" class="kupu-drawer">
    </div>
   </div>
   <div id="kupu-linkdrawer" class="kupu-drawer">
    <h1 xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="">External Link</h1>
    <div id="kupu-linkdrawer-addlink" class="kupu-panels">
     <table>
      <tr>
       <td>
        <div class="kupu-toolbox-label">
         <span xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="items-matching-keyword">
          Link the highlighted text to this URL
         </span>:
        </div>
        <input id="kupu-linkdrawer-input" class="kupu-toolbox-st" type="text"/>
       </td>
       <td class="kupu-preview-button">
        <button type="button" onclick="drawertool.current_drawer.preview()">Preview</button>
       </td>
      </tr>
      <tr>
       <td colspan="2" align="center">
        <iframe frameborder="1" scrolling="auto" width="440" height="198" id="kupu-linkdrawer-preview" src="_kupu/common/kupublank.html">
        </iframe>
       </td>
      </tr>
     </table>
     <div class="kupu-dialogbuttons">
      <button type="button" onclick="drawertool.current_drawer.save()">Ok</button>
      <button type="button" onclick="drawertool.closeDrawer()">Cancel</button>
     </div>
    </div>
   </div>
   <div id="twiki-wikiworddrawer" class="kupu-drawer">
    <h1 xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="">WikiWord Link</h1>
    Link highlighted text to topic<br />%WEB%.
    <select id='twiki-wikiword-select' class="kupu-toolbox-action"">
     %TOPICLIST{"<option>$name</option>"}%
    </select>
    <div class="kupu-dialogbuttons">
     <button type="button" onclick="drawertool.current_drawer.save()">Ok</button>
     <button type="button" onclick="drawertool.closeDrawer()">Cancel</button>
    </div>
   </div>
   <div id="twiki-insertatt-drawer" class="kupu-drawer">
    <h1 xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="">Attachments</h1>
    Insert reference to attachment:
    <select id="twiki-insertatt-select">
     %META{"attachments" all="on"}%
    </select>
    <div class="kupu-dialogbuttons">
     <button type="button" onclick="drawertool.current_drawer.save()">Ok</button>
     <button type="button" onclick="drawertool.closeDrawer()">Cancel</button>
    </div>
   </div>
   <div id="twiki-vardrawer" class="kupu-drawer">
    <h1 id="variables-title" xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="">TWiki Variables</h1>
    %WYSIWYGPLUGIN_TAGS%
    <div class="kupu-dialogbuttons">
     <button type="button" onclick="drawertool.current_drawer.save()">Ok</button>
     <button type="button" onclick="drawertool.closeDrawer()">Cancel</button>
    </div>
   </div>
   <div id="twiki-new-attachment-drawer" class="kupu-drawer">
    <h1>Attach new file</h1>
    <div class="twikiVersatileTable">
     <form name="upload" action="%SCRIPTURLPATH%/upload%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%" target="_new">
      <table width="100%"> 
       <tr>
        <th>
         Local file 
        </th>
        <td class="twikiMainCol">
         <input type="hidden" name="filename" value="" />
         <input type="file" name="filepath" value="" size="30" /> 
        </td>
       </tr>
       <tr>
        <th>
         Comment 
        </th>
        <td>
         <input class="comment" type="text" name="filecomment" value="" maxlength="256" size="30" /> 
        </td>
       </tr>
       <tr>
        <th>
         Link 
        </th>
        <td>
         <input type="checkbox" class="twikiCheckbox" id="createlink" name="createlink"  /><label for="createlink">Create a link to the attached file</label>
        </td>
       </tr>
       <tr>
        <th>
         Hide file 
        </th>
        <td>
         <input type="checkbox" class="twikiCheckbox" id="hidefile" name="hidefile"  /><label for="hidefile">Do not show attachment in table</label>
        </td>
       </tr>
      </table>
      <div class="kupu-dialogbuttons">
       <button type="submit">Ok</button>
       <button type="button" onclick="drawertool.closeDrawer()">Cancel</button>
      </div>
     </form>
    </div>
   </div>
   <div id="kupu-tabledrawer" class="kupu-drawer">
    <h1>Table</h1>
    <div class="kupu-panels">
     <table width="99%">
      <tr class="kupu-panelsrow">
       <td class="kupu-panel">
        <table width="100%">
         <tr>
          <td class="kupu-toolbox-label">Table Class</td>
          <td width="50%">
           <select id="kupu-tabledrawer-classchooser" onchange="drawertool.current_drawer.tool.setTableClass(this.options[this.selectedIndex].value)">
            <option value="plain">Plain</option>
            <option value="listing">Listing</option>
            <option value="grid">Grid</option>
            <option value="data">Data</option>
           </select>
          </td>
         </tr>
         <tr>
          <td colspan="2" class="">
           <div id="kupu-tabledrawer-addtable">
            <table width="100%">
             <tr>
              <td class="kupu-toolbox-label" width="50%">Rows</td>
              <td><input type="text" id="kupu-tabledrawer-newrows"/></td>
             </tr>
             <tr>
              <td class="kupu-toolbox-label">Columns</td>
              <td><input type="text" id="kupu-tabledrawer-newcols"/></td>
             </tr>
             <tr>
              <td class="kupu-toolbox-label">Headings</td>
              <td class="kupu-toolbox-label">
               <input name="kupu-tabledrawer-makeheader" id="kupu-tabledrawer-makeheader" type="checkbox"/>
               <label for="kupu-tabledrawer-makeheader">Create</label>
              </td>
             </tr>
             <tr>
              <td colspan="2" style="text-align: center">
               <button type="button" onclick="drawertool.current_drawer.createTable()">Add Table</button>
              </td>
             </tr>
             <tr>
              <td colspan="2" style="text-align: center">
               <button type="button" onclick="drawertool.current_drawer.tool.fixAllTables()">Fix All Tables</button>
              </td>
             </tr>
            </table>
           </div>
           <div id="kupu-tabledrawer-edittable">
            <table width="100%">
             <tr>
              <td width="50%">Current column alignment</td>
              <td>
               <select id="kupu-tabledrawer-alignchooser" onchange="drawertool.current_drawer.tool.setColumnAlign(this.options[this.selectedIndex].value)">
                <option value="left">Left</option>
                <option value="center">Center</option>
                <option value="right">Right</option>
               </select>
              </td>
             </tr>
             <tr>
              <td>Column</td>
              <td>
               <button type="button" id="kupu-tabledrawer-addcolumn-button" onclick="drawertool.current_drawer.tool.addTableColumn()">Add</button>
               <button type="button" id="kupu-tabledrawer-delcolumn-button" onclick="drawertool.current_drawer.tool.delTableColumn()">Remove</button>
              </td>
             </tr>
             <tr>
              <td>Row</td>
              <td>
               <button type="button" id="kupu-tabledrawer-addrow-button" onclick="drawertool.current_drawer.tool.addTableRow()">Add</button> 
               <button type="button" id="kupu-tabledrawer-delrow-button" onclick="drawertool.current_drawer.tool.delTableRow()">Remove</button>
              </td>
             </tr>
             <tr>
              <td>Fix Table</td>
              <td>
               <button type="button" id="kupu-tabledrawer-addrow-button" onclick="drawertool.current_drawer.tool.fixTable()">Fix</button> 
              </td>
             </tr>
            </table>
           </div>
          </td>
         </tr>
        </table>
       </td>
      </tr>
     </table>
     <div class="kupu-dialogbuttons">
      <button type="button" onclick="drawertool.closeDrawer()">Close</button>
     </div>
    </div>
   </div>
   <div id="twiki-icons">%WYSIWYGPLUGIN_ICONS%</div>
   <table id="kupu-colorchooser" cellpadding="0" cellspacing="0" style="position: fixed; border-style: solid; border-color: black; border-width: 1px;">
   </table>
   <div class="kupu-editorframe">
    <form id="twiki-main-form" name="main" action="%SCRIPTURLPATH%/save%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post" onSubmit="TWikiHandleSubmit()">
     <iframe id="kupu-editor" frameborder="1" src="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?skin=kupu;wysiwyg_edit=1" scrolling="auto">
     </iframe>
     <textarea class="kupu-editor-textarea" id="kupu-editor-textarea"></textarea>
     <input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
     <input type="hidden" name="topicparent" value="%TOPICPARENT%" />
     <input type="hidden" name="skin" value="%URLPARAM{"skin" default="%SKIN%"}%" />
     <input type="hidden" name="wysiwyg_edit" value="1" />
     <input type="hidden" name="cmd" value="%CMD%" /><div></div>
     %FORMFIELDS%
    </form>
   </div>
   <div xmlns="" class="kupu-toolboxes">
    <div class="kupu-toolbox" id="kupu-toolbox-debug invisible">
     <h1 xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="debug-log">Debug Log</h1>
     <div id="kupu-toolbox-debuglog" class="kupu-toolbox-label">
     </div>
    </div>
   </div>
  </div>
 </body>
</html>
