<!-- WysiwygPlugin Template DO NOT REMOVE THIS COMMENT
The styles here define how the edited text will look in the Kupu editor. The
styles will be thrown away when the text is saved. -->
<html>
 <head>
  <style>
.TMLb { font-weight: bold; }
.TMLi { font-style: italic; }
.TMLtt { font-family: monospace; }
.TMLbi { font-weight: bold; font-style: italic }
.TMLtti { font-family: monospace; font-style: italic; }
.TMLVariable {
  font-family: monospace;
  font-weight: bold;
  color: white;
  background: green;
}
.TMLCite { color: green; }
.TMLExternalLink { background: orange; color: black; }
.TMLHr { background: white; }
.TMLmailto { background: cyan; color: black; }
.TML { background: white; }
.TMLTable { color: green; }
.TMLsquab { background: magenta; color: white; }
.TMLWikiWord { background: yellow; color: black }
.TMLnoautolink { color: #CCCCFF; }
.TMLverbatim { color: #EEEEEE; }
  </style>
 </head>
<body>
%TEXT%
</body>
</html>
