<div id="popupwindow" style="margin:2px;display:none; position: absolute;z-index:100;">
<table id="popuptable" onmouseout="TWiki.JSPopupPlugin.OnMouseLeave(event, null);" style="background-color: Gainsboro;border-width:1px;border-color:Black;border-style:solid;">
<td id="popupnoborder" ></td>
<td id="popupwrapper" style="padding:2px;margin:2px;background-color: Gainsboro;">
</td>
</table>
</div>
