<!-- template: defaultsidebar.nat.tmpl -->
%TMPL:DEF{"defaultsidebar"}% %WEBSIDEBAR% %IFSKINSTATE{release="Beijing" else="%BROADCASTMESSAGE%"}% %TMPL:END%
%TMPL:DEF{"sidebar"}% %TMPL:P{"defaultsidebar"}% %TMPL:END%
