<!-- template: defaulttopbar.nat.tmpl -->
%TMPL:DEF{"defaulttopbar"}% <tr>
      <td class="natTopBar natTopLeft %IFSKINSTATE{glue="off" action="oops" then="natTopRight"}%" valign="top">
	<div class="natTopBarSizer">
	  <div class="natTopLeftContents">
	    <h1 class="natWebTitle">
      	      <a href="%IFDEFINED{"%WEBLOGOURL%" then="%WEBLOGOURL%" else="%WIKILOGOURL%"}%" title="%WEBLOGOALT%" accesskey="h">
		%IFDEFINEDTHEN{"%WEBLOGOIMG%"}%
		  <img src="%WEBLOGOIMG%" alt="%WEBLOGOALT%" align="absmiddle" border="0"/>
		%ELSIFDEFINED{"%WEBTOOLNAME%"}%
		  %WEBTOOLNAME%
		%ELSEDEFINED%
		  %WIKITOOLNAME%
		%FIDEFINED%
	      </a><span class="natWebLocator">%TMPL:P{"locator"}%</span>
	    </h1>
	    <div class="natWebSlogan">%SITEMAPUSETO%</div>
	  </div>
	</div>
      </td>
      <td class="natTopBar natTopRight" valign="top" style="%IFSKINSTATE{glue="off" action="oops" then="display:none"}%" width="250px">
	<div class="natTopBarSizer">
	  <div class="natTopRightContents">
%IFSKINSTATETHEN{searchbox="top"}% 
	    <div class="natSearchBox natSearchBoxTop">
%$nopTMPL:P{"searchbox"}%
	    </div>
%FISKINSTATE%
	    <div class="natTopicActions">
%TMPL:P{"topicactions"}% 
	    </div>
	  </div>
	</div>
      </td>
    </tr>
%IFSKINSTATETHEN{buttons="on"}%
    <tr>
      <td class="natWebButtons" style="%IFSKINSTATE{glue="off" action="login|logon|oops" then="display:none"}%" colspan="2" align="%IFSKINSTATE{sidebar="left" then="right" else="left"}%">
	<div class="natWebButtonsContents"> %$nopWEBCOMPONENT{"WebButtons"}% </div>
      </td>
    </tr>
%FISKINSTATE%
%TMPL:END%
%TMPL:DEF{"topbar"}%%TMPL:P{"defaulttopbar"}%%TMPL:END%
%TMPL:DEF{"locator"}%<span class="natSep">&middot;</span>[[WebHome][%WEB%]]<span class="natSep">&middot;</span>[[%TOPIC%]]%TMPL:END%
