<!-- template: editsidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}% <!-- -->
---+ <nop>%WIKITOOLNAME%
	* <a href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/GoodStyle" target="_blank">%MAKETEXT{"GoodStyle"}%</a>
	* <a href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/TextFormattingRules" target="_blank">%MAKETEXT{"TextFormatting"}%</a> 
	* <a href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/TWikiVariables" target="_blank">%MAKETEXT{"Variables"}%</a>
	* <a href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/FormattedSearch" target="_blank">%MAKETEXT{"Formatted Search"}%</a>
	* <a href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/TWikiForms" target="_blank">%MAKETEXT{"Form based input"}%</a>
	* <a href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/IncludeTopicsAndWebPages" target="_blank">%MAKETEXT{"Including"}%</a>

---+ %MAKETEXT{"Plugins"}%
<ul>
%FORMATLIST{"%ACTIVATEDPLUGINS%" separator=" " format="<li><a href=\"$percntSCRIPTURLPATH{\"view\"}$percnt/%TWIKIWEB%/$1Plugin\" target=\"_blank\">$1</a></li>" pattern="(\w+)Plugin" sort="on"}%
</ul>

---+ %MAKETEXT{"External"}%
	* <a href="http://en.selfhtml.org" target="_blank">SelfHtml</a>
%TMPL:END%
