%TMPL:INCLUDE{"page"}% 
<!-- template: edit.nat.tmpl -->
<!-- -->%TMPL:INCLUDE{"editbody"}%
<!-- -->%TMPL:INCLUDE{"edittopicactions"}%
<!-- -->%TMPL:INCLUDE{"editsidebar"}%
<!-- -->%TMPL:INCLUDE{"editjavascript"}%
<!-- -->%TMPL:INCLUDE{"editstyles"}%
<!-- -->%TMPL:INCLUDE{"edittoolbar"}%
%TMPL:DEF{"bodyclass"}%natEditBody%TMPL:END%
%TMPL:DEF{"meta"}% %HTTP_EQUIV_ON_EDIT% %TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% - (%MAKETEXT{"edit"}%)%TMPL:END%
%TMPL:DEF{"onloadscript"}%document.EditForm.text.focus();%TMPL:END%
%TMPL:DEF{"locator"}%<span class="natSep">&middot;</span>[[WebHome][%WEB%]]<span class="natSep">&middot;</span><b>%TOPIC%</b>%TMPL:END%
%TMPL:DEF{"contentheader"}%<div class="natBreadCrumbs">%BREADCRUMBS{"%BASEWEB%.%BASETOPIC%" exclude="%BASETOPIC%" separator="<span class='natSep'>&#187;</span>" footer="<span class='natSep'>&#187;</span> <nop>%BASETOPIC%"}%</div>%TMPL:END%
%TMPL:DEF{"content"}% <!-- -->
<div class="natEdit">
<form name="EditForm" action="%SCRIPTURLPATH{"save"}%/%WEB%/%TOPIC%" method="post">
  <input type="hidden" name="action_preview" value="" />
  <input type="hidden" name="action_save" value="" />
  <input type="hidden" name="action_checkpoint" value="" />
  <input type="hidden" name="action_addform" value="" />
  <input type="hidden" name="action_replaceform" value="" />
  <input type="hidden" name="action_cancel" value="" />
  <input type="hidden" name="submitChangeForm" value="" />
  <input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
  <input type="hidden" name="originalrev" value="%ORIGINALREV%" />
  <input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
  <input type="hidden" name="cover" value="%URLPARAM{"cover"}%" />
  <input type="hidden" name="cmd" value="%CMD%" /> %TMPL:P{"edittoolbar"}%
  <textarea id="natEditTextArea" name="text" wrap="virtual" rows="%EDITBOXHEIGHT%" cols="%EDITBOXWIDTH%" style="%EDITBOXSTYLE%">%TEXT%</textarea>
</div>
%FORMFIELDS%
%TMPL:P{"bottomtopicactions"}%
%TMPL:P{"editoptions"}%
</form> %TMPL:END%
%TMPL:DEF{"editoptions"}%<!-- -->
%TWISTY{id="editoptions" mode="div" showlink="More" hidelink="Less" remember="on"}%
<div class="natSubmitOptions">
---+++ Options
<table><tr>
<td valign="middle" align="right" class="twikiFirstCol">
  <b><label for="parent">%MAKETEXT{"Parent"}%:</b></label>
</td>
<td valign="middle">
  <select id="parent" name="topicparent">
    <option>none</option>
    %TOPICLIST{"<option value='$name' $marker>$name</option>" separator="$n" selection="%META{"parent" format="$topic" dontrecurse="on"}%"}%
  </select>
</td>
</tr>
<tr>
  <td valign="middle" align="right" class="twikiFirstCol">
    <b><label for="dontnotify">%MAKETEXT{"Minor changes"}%:</b></label>
  </td>
  <td valign="middle">
    <input type="checkbox" id="dontnotify" name="dontnotify" %DONTNOTIFYCHECKBOX% />
  </td>
</tr>
<tr>
  <td valign="middle" align="right" class="twikiFirstCol">
    <b><label for="forcenewrevision">%MAKETEXT{"Force new revision"}%:</label></b>
  </td>
  <td valign="middle">
    <input type="checkbox" class="twikiCheckbox" title='%MAKETEXT{"Creates a new topic revision when saving"}%' id="forcenewrevision" name="forcenewrevision" %FORCENEWREVISIONCHECKBOX% />
  </td>
</tr>
</table> 
</div>
%TMPL:P{"edithelp"}% 
%ENDTWISTY% 
%TMPL:END%
%TMPL:DEF{"bottomtopicactions"}%<div class="natBottomTopicActions"><!--
--><span class="natEditAction natCurrentAction">Edit</span><!-- 
--><span class="natPreviewAction"><a href="javascript:submitEditForm('preview','preview');" accesskey="p" title='%MAKETEXT{"Preview your changes"}%'>%MAKETEXT{"Preview"}%</a></span><!--
-->%FORMBUTTON{"<span class='natFormAction'>$1</span>"}%<!--
--><span class="natUndoAction"><a href="javascript:self.location.reload();" accesskey="u" title='%MAKETEXT{"Abandon your changes but continue editing"}%'>%MAKETEXT{"Undo"}%</a></span><!--
--><span class="natSaveAction"><a href="javascript:submitEditForm('save','checkpoint');" accesskey="s" title='%MAKETEXT{"Save and continue editing"}%'>%MAKETEXT{"Save"}%</a></span><!--
--><span class="natDoneAction"><a href="javascript:submitEditForm('save', 'save');" accesskey="d" title='%MAKETEXT{"Save and exit"}%'>%MAKETEXT{"Done"}%</a></span><!--
--><span class="natCancelAction"><a href="javascript:submitEditForm('save', 'cancel');" accesskey="c" title='%MAKETEXT{"Abandon your changes and exit"}%'>%MAKETEXT{"Cancel"}%</a></span>
</div>
%TMPL:END%
%TMPL:DEF{"edithelp"}%<!-- -->
<div class="natEditHelp">
---+++ %MAKETEXT{"Access keys"}%
<table cellpadding="10">
<tr>
<td>
   * C = Cancel
   * D = Done
   * F = Add form
   * P = Preview
   * S = Save
   * U = Undo
</td>
</tr>
</table>
</div>
%TMPL:END%
