%TMPL:INCLUDE{"page"}% 
<!-- template: edit.nat.tmpl -->
<!-- -->%TMPL:INCLUDE{"editbody"}%
<!-- -->%TMPL:INCLUDE{"edittopicactions"}%
<!-- -->%TMPL:INCLUDE{"editsidebar"}%
<!-- -->%TMPL:INCLUDE{"editjavascript"}%
<!-- -->%TMPL:INCLUDE{"editstyles"}%
<!-- -->%TMPL:INCLUDE{"edittoolbar"}%
%TMPL:DEF{"meta"}% %HTTP_EQUIV_ON_EDIT% %TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% - (edit)%TMPL:END%
%TMPL:DEF{"onloadscript"}%document.EditFormular.text.focus();%TMPL:END%
%TMPL:DEF{"locator"}%<span class="natSep">&middot;</span>[[WebHome][%WEB%]]<span class="natSep">&middot;</span><b>%TOPIC%</b>%TMPL:END%
%TMPL:DEF{"contentheader"}%<div class="natBreadCrumbs">%BREADCRUMBS{"%BASEWEB%.%BASETOPIC%" exclude="%BASETOPIC%" separator="<span class='natSep'>&#187;</span>" footer="<span class='natSep'>&#187;</span><nop>%BASETOPIC%"}%</div>%TMPL:END%
%TMPL:DEF{"content"}% <!-- -->
<div class="natEdit">
<form name="EditFormular" method="post" action="%NATSCRIPTURLPATH{"save"}%/%WEB%/%TOPIC%">
  %IFSKINSTATETHEN{release="cairo"}%
    <input type="hidden" name="action" value="" />
  %ELSIFSKINSTATE{release="dakar"}%
    <input type="hidden" name="action_preview" value="" />
    <input type="hidden" name="action_save" value="" />
    <input type="hidden" name="action_checkpoint" value="" />
    <input type="hidden" name="action_addform" value="" />
    <input type="hidden" name="action_replaceform" value="" />
    <input type="hidden" name="action_cancel" value="" />
  %FISKINSTATE%
  <input type="hidden" name="submitChangeForm" value="" />
  <input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
  <input type="hidden" name="originalrev" value="%ORIGINALREV%" />
  <input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
  <input type="hidden" name="cover" value="%URLPARAM{"cover"}%" />
  <input type="hidden" name="topicparent" value="%TOPICPARENT%" />
  <input type="hidden" name="cmd" value="%CMD%" /> %TMPL:P{"edittoolbar"}%
  <textarea id="natEditTextArea" name="text" wrap="virtual" rows="%EDITBOXHEIGHT%" cols="%EDITBOXWIDTH%" style="%EDITBOXSTYLE%">%TEXT%</textarea>
%FORMFIELDS% %TMPL:P{"bottomtopicactions"}%
</div>
</form> %TMPL:END%
%TMPL:DEF{"bottomtopicactions"}%<div class="natBottomTopicActions">
  <span class="natEditAction natCurrentAction">Edit</span><!-- 
  --><span class="natPreviewAction"><a href="javascript:submitEditFormular('preview','preview');" accesskey="p" title="Preview your changes">Preview</a></span><!--
  -->%FORMBUTTON{"<span class='natFormAction'>$1</span>"}%<!--
  --><span class="natUndoAction"><a href="javascript:self.location.reload();" accesskey="u" title="Abandon your changes but continue editing">Undo</a></span><!--
  -->%IFSKINSTATETHEN{release="beijing"}%<!--
  --><span class="natSaveAction"><a href="javascript:submitEditFormular('save', 'save');" accesskey="s" title="Save and exit">Save</a></span><!--
  -->%ELSESKINSTATE%<!--
  --><span class="natSaveAction"><a href="javascript:submitEditFormular('save','checkpoint');" accesskey="s" title="Save and continue editing">Save</a></span><!--
  --><span class="natDoneAction"><a href="javascript:submitEditFormular('save', 'save');" accesskey="d" title="Save and exit">Done</a></span><!--
  -->%FISKINSTATE%<!--
  --><span class="natCancelAction"><a href="%IFSKINSTATE{release="beijing" then="$percntNATSCRIPTURLPATH{\"view\"}$percnt/%WEB%/%TOPIC%?unlock=on" else="javascript:submitEditFormular('save', 'cancel');"}%" accesskey="c" title="Abandon your changes and exit">Cancel</a></span>
</div>
<div class="natSubmitOptions">
  <input type="checkbox" id="dontnotify" name="dontnotify" %DONTNOTIFYCHECKBOX% />
  <label for="dontnotify">Minor changes</label> <!-- -->
%IFSKINSTATETHEN{release="dakar"}%
  <input type="checkbox" class="twikiCheckbox" title="Creates a new topic revision when saving" id="forcenewrevision" name="forcenewrevision" %FORCENEWREVISIONCHECKBOX% />
  <label for="forcenewrevision">Force new revision</label>
%ELSESKINSTATE%
  <input type="checkbox" id="unlock" name="unlock" %RELEASEEDITLOCKCHECKBOX% /><label for="unlock">Release edit lock</label>
%FISKINSTATE%
</div> %TMPL:END%
