%TMPL:INCLUDE{"edit.nat"}%
<!-- template: edit.natedit.tmpl -->
%TMPL:DEF{"bottomtopicactions"}%<div class="natSubmitOptions">
  <input type="checkbox" id="dontnotify" name="dontnotify" %DONTNOTIFYCHECKBOX% />
  <label for="dontnotify">%MAKETEXT{"Minor changes"}%</label> <!-- -->
%IFSKINSTATETHEN{release="dakar"}%
  <input type="checkbox" class="twikiCheckbox" title='%MAKETEXT{"Creates a new topic revision when saving"}%' id="forcenewrevision" name="forcenewrevision" %FORCENEWREVISIONCHECKBOX% />
  <label for="forcenewrevision">%MAKETEXT{"Force new revision"}%</label>
%ELSESKINSTATE%
  <input type="checkbox" id="unlock" name="unlock" %RELEASEEDITLOCKCHECKBOX% /><label for="unlock">%MAKETEXT{"Release edit lock"}%</label>
%FISKINSTATE%
</div>%TMPL:END%
