<!-- template: moveattachmentsidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}%
---+ Help
   * <a href="javascript:launchWindow('%TWIKIWEB%','FileAttachment');">File Attachments</a>
   * <a href="javascript:launchWindow('%TWIKIWEB%','FileAttachment#Moving_Attachment_Files');">Moving Attachments</a>
   * <a href="javascript:launchWindow('%TWIKIWEB%','FileAttachment#Deleting_Attachments');">Deleting Attachments</a>
   * <a href="javascript:launchWindow('%TWIKIWEB%','FileAttachment#Linking_to_Attached_Files');">Linking to Attachments</a>
   * <a href="javascript:launchWindow('%TWIKIWEB%','HiddenAttachment');">Hiding Attachments</a>

---+ Notes
<div class="natNotes">
%TMPL:P{"notes"}% </div>
%TMPL:END%

