%TMPL:INCLUDE{"oops"}%
<!-- template: oopsregexist.nat.tmpl -->
%TMPL:DEF{"heading"}%You are already registered%TMPL:END%
%TMPL:DEF{"message"}%
Can't register twice, the username %PARAM1% is already registered.

%TMPL:P{"goback"}% %TMPL:END%
