%TMPL:INCLUDE{"oopslogonbase"}%
<!-- template: oopslogon.nat.tmpl -->
%TMPL:DEF{"title"}%%TOPIC% (note)%TMPL:END%
%TMPL:DEF{"heading"}%Welcome to the <nop>%WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"headingstyle"}%natNoteHeading%TMPL:END%
%TMPL:DEF{"message"}%
%TMPL:P{"logon"}%
<p><p>
*See also*: %TWIKIWEB%.TWikiRegistration, %TWIKIWEB%.ResetPassword, %TWIKIWEB%.ChangePassword
%TMPL:END%
