%TMPL:INCLUDE{"oops"}%
<!-- template: oopsregemail.nat.tmpl -->
%TMPL:DEF{"heading"}%Invalid email address%TMPL:END%
%TMPL:DEF{"message"}%
The email address entered is not valid.

%TMPL:P{"goback"}% %TMPL:END%

