%TMPL:INCLUDE{"page"}% 
<!-- template: oops.nat.tmpl -->
%TMPL:INCLUDE{"oopsbody"}%
%TMPL:INCLUDE{"oopstopicactions"}%
%TMPL:INCLUDE{"oopssidebar"}%
%TMPL:INCLUDE{"oopsjavascript"}%
%TMPL:INCLUDE{"oopsstyles"}%
%TMPL:DEF{"title"}%%TOPIC% (oops)%TMPL:END%
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
%TMPL:DEF{"locator"}% %TMPL:END%
%TMPL:DEF{"headingstyle"}%natOopsHeading%TMPL:END%
%TMPL:DEF{"contact"}%<div class="natContact">
---
Contact <a href="mailto:%WIKIWEBMASTER%?subject=%URLENCODE{"%WIKITOOLNAME%: Request for support"}%&amp;body=%URLENCODE{"Hello, i've got a question ..."}%">%WIKIWEBMASTER%</a> 
if you have any questions.
</div>
%TMPL:END%
%TMPL:DEF{"goback"}%Please go <a href="javascript:history.back()">back</a> in your browser and try again.

<form class="natOopsButtons" name="ButtonBox" action="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%">
  <input type="button" style="color:green" value="Ok" onclick="history.back()">&nbsp;
  <input type="submit" style="color:red" value="Cancel">
</form> %TMPL:END%
%TMPL:DEF{"content"}%
%IFSKINSTATETHEN{release="dakar"}%
<img src="%WIKILOGOIMG%" alt="%WIKILOGOALT%" align="right" vspace="20px"/>
%ELSESKINSTATE%
<img src="%PUBURLPATH%/%TWIKIWEB%/NatSkin/SepiaTWiki.png" align="right" hspace="10px" vspace="20px" alt="SepiaTWiki.png" />
%FISKINSTATE%
<div style="margin-top:20px">
<h1 class="%TMPL:P{"headingstyle"}%">%TMPL:P{"heading"}%</h1>
%TMPL:P{"message"}%
%TMPL:P{"contact"}%
</div>
%TMPL:END%
