%TMPL:INCLUDE{"oopslogonbase"}%
<!-- template: oopswrongpassword.nat.tmpl -->
%TMPL:DEF{"onloadscript"}%onload="document.LogonFormular.username.focus()"%TMPL:END%
%TMPL:DEF{"heading"}%Incorrect Password%TMPL:END%
%TMPL:DEF{"message"}%
The password you entered in the *password* field is incorrect.
Please try again.

%TMPL:P{"logon"}%

See also: %MAINWEB%.TWikiGroups, %TWIKIWEB%.TWikiAccessControl, %TWIKIWEB%.TWikiRegistration
%TMPL:END%
