%TMPL:INCLUDE{"oops"}%
<!-- template: oopsregrequ.nat.tmpl -->
%TMPL:DEF{"heading"}%Missing Fields%TMPL:END%
%TMPL:DEF{"message"}%
Fields with a =<font color="red">**</font>= mark are required.

%TMPL:P{"goback"}% %TMPL:END%
