%TMPL:INCLUDE{"oops"}%
<!-- template: oopsattension.nat.tmpl -->
%TMPL:DEF{"heading"}%Attention%TMPL:END%
%TMPL:DEF{"remove_user_done"}%
---+++ The account <nop>%PARAM1% has been deleted.
Your user name has been removed from the Authentication System.

Your [[%MAINWEB%.%PARAM1%][homepage]] has _not_ been removed yet.

Please email 
<a href="mailto:%WIKIWEBMASTER%?subject=%WIKITOOLNAME%&#32;Delete&#32;User&amp;body=%PARAM1%">%WIKIWEBMASTER%</a> 
to request this.
<style type="text/css">.natContact {display:none}</style>
%TMPL:END%
%TMPL:DEF{"created_web"}%
---+++ The new web has been created.
And populated with topics from the base web

Would you like to go to:
	* %HOMETOPIC% to start working on the new web
	* %WEBPREFSTOPIC% to customize the web specific preferences
	* %TWIKIWEB%.ManagingWebs to create another web
	* [[%MAINWEB%.%HOMETOPIC%][%WIKITOOLNAME%]] home
%TMPL:END%
%TMPL:DEF{"merge_notice"}%
---+++ Topic was merged.
Rev %PARAM1% was saved by %PARAM2%, while you were still editing.

Those changes have been merged with yours to create Rev %PARAM3%. 
Text fields will have been merged, but other data such as form 
fields may have overwritten the other users changes. 
Please inspect the topic to make sure it is OK, especially if you 
made any changes to form fields.

You can see the differences
[[%SCRIPTURL%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPIC%?rev1=%PARAM1%;rev2=%PARAM3%][here]].
%TMPL:END%
%TMPL:DEF{"missing_action"}%
---+++ Missing action command
%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"unrecognized_action"}%
---+++ Unrecognized action command '%PARAM1%'
%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"notwikiuser"}%
---+++ Can't find user <nop>%PARAM1%.
Please make sure you spelled the %TWIKIWEB%.LoginName correctly and try again. 
If you get stuck, please mail %WIKIWEBMASTER%.

See %MAINWEB%.TWikiUsers for a list of existing users or register as new user in
%TWIKIWEB%.TWikiRegistration. %TMPL:END%
%TMPL:DEF{"in_a_group"}%
---+++ %PARAM1% is in at least one group and cannot be removed.
Remove the user from the group(s) %PARAM2% first.
%TMPL:END%
%TMPL:DEF{"move_err"}%
---+++ Attachment move failed
During move of attachment %PARAM3% to <nop>%PARAM1%.<nop>%PARAM2% an error 
was found. Please notify your <nop>%WIKITOOLNAME% webmaster %WIKIWEBMASTER%.

%PARAM4%
%TMPL:END%
%TMPL:DEF{"topic_exists"}%
---+++ The "%TOPIC%" topic already exists
Cannot create %TOPIC% because it already exists.

%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"rename_topic_exists"}%
---+++ Rename failed
Cannot rename %TOPIC% to <nop>%PARAM1%.<nop>%PARAM2% because it already exists.

%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"rename_web_exists"}%
---+++ Rename failed
Cannot rename %WEB% to <nop>%PARAM1% because it already exists.

%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"rename_not_wikiword"}%
---+++ New topic name "<nop>%PARAM1%" is not a %TWIKIWEB%.WikiWord
Chose a topic name that is a 
%TWIKIWEB%.WikiWord or check the allow non-Wiki Word box.

%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"rename_err"}%
During rename of topic <nop>%WEB%.<nop>%TOPIC% to <nop>%PARAM2%.<nop>%PARAM3% 
an error (%PARAM1%) was found. 

Please notify your <nop>%WIKITOOLNAME%
administrator %WIKIWEBMASTER%.
<style type="text/css">.natContact {display:none}</style>
%TMPL:END%
%TMPL:DEF{"rename_web_err"}%
During rename of web <nop>%WEB% to <nop>%PARAM2% 
an error (%PARAM1%) was found. 

Please notify your <nop>%WIKITOOLNAME%
administrator %WIKIWEBMASTER%.
<style type="text/css">.natContact {display:none}</style>
%TMPL:END%
%TMPL:DEF{"wrong_password"}%
---+++ Incorrect Password
The password you entered in the *old password* field is incorrect.

%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"web_missing"}%
---+++ Name of new web is missing
%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"invalid_web_name"}%
---+++ "%PARAM1%" is an invalid name for a new web.
You are recommended to choose short names, preferably less than 10 characters,
starting with an upper-case alphabetic character and using only alphanumeric
characters. If you want to create a template web (a web just used as a base
to create new webs) choose a name that starts with an underscore and has only
alphanumeric characters.

%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"web_exists"}%
---+++ Cannot create web "%PARAM1%" because it already exists.
%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"base_web_missing"}%
---+++ Base web %PARAM1% is missing or does not exist.
%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"invalid_web_color"}%
---+++ Color ='%PARAM1%'= has an invalid format
A color starts with a # sign, followed by 6 hexadecimal
numbers, e.g. =#FFFF00=.

Pick one of the %TWIKIWEB%.StandardColors.

You can also use the names of the standard HTML colors (black, silver, gray,
white, maroon, red, purple, fuchsia, green, lime, olive, yellow, navy, blue, teal, or aqua)

%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"web_creation_error"}%
---+++ Could not create the new web %PARAM1%
%PARAM2%

%TMPL:END%
%TMPL:DEF{"thanks"}%
---+++ Thank you for registering
   * You can review your changes in your personal <nop>%WIKITOOLNAME% topic %TOPIC%.
     (__Suggestion:__ How about uploading your picture to your topic?)
   * You are also listed in the %MAINWEB%.%WIKIUSERSTOPIC% topic.
   * A confirmation e-mail has been sent to %PARAM1%.
%TMPL:END%
%TMPL:DEF{"reset_ok"}%
%PARAM1%

Users with automatically generated passwords should proceed immediately 
to [[%SCRIPTURL%/view%SCRIPTSUFFIX%/%TWIKIWEB%/ChangePassword][change password]] 
to change their password to something memorable.
%TMPL:END%
%TMPL:DEF{"password_changed"}%
---+++ Password changed successfully!
%TMPL:END%
%TMPL:DEF{"confirm"}%
---+++ Thank you for registering
Your activation code has been sent to %PARAM1%.  Either click on the
link in your email or enter the code in the box below to activate your membership.
(This code is of the form "YourName.xxxx")

<form action="%SCRIPTURL%/register%SCRIPTSUFFIX%" method=get>
<input type="hidden" name="action" value="verify" size="20" />
<input type="text" name="code" size="20" />
<input type="submit" value=" Submit " />
</form>

%TMPL:END%
%TMPL:DEF{"no_users_to_reset"}%
---+++ Password reset failed!
No users to reset passwords for.
%TMPL:END%
%TMPL:DEF{"reset_bad"}%
---+++ Password reset failed!
%PARAM1%
%TMPL:END%
%TMPL:DEF{"missing_fields"}%
---+++ Missing Fields
Fields with a =<font color="red">**</font>= mark are required.

%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"password_mismatch"}%
---+++ Passwords do not match
The two passwords you entered do not match.

%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"problem_adding"}%
---+++ Error registering user <nop>%PARAM1%

There has been a problem adding your user id to the Password system. 
Please notify your <nop>%WIKITOOLNAME% webmaster %WIKIWEBMASTER%.
<style type="text/css">.natContact {display:none}</style>
%TMPL:END%
%TMPL:DEF{"send_mail_error"}%
---+++ Mail Error
An e-mail could not be delivered. Please notify your <nop>%WIKITOOLNAME%
administrator, <a href="mailto:%WIKIWEBMASTER%?subject=%WIKITOOLNAME%&#32;Send%20Mail%20Error">%WIKIWEBMASTER%</a>

<pre>
%PARAM1%
</pre>
<style type="text/css">.natContact {display:none}</style>
%TMPL:END%
%TMPL:DEF{"already_exists"}%
---+++ You are already registered
You cannot register twice, the name '%PARAM1%' is already registered.

Did you want to [[%SCRIPTURL%/view%SCRIPTSUFFIX%/%TWIKIWEB%.ResetPassword?username=%PARAM1%][reset %PARAM1%'s password]]?

Alternatively go <a href="javascript:history.back()">back</a> in your browser
and choose a different username.
%TMPL:END%
%TMPL:DEF{"bad_wikiname"}%
---+++ Incorrect %TWIKIWEB%.WikiName
The %TWIKIWEB%.WikiName field must be your first and lastname in
%TWIKIWEB%.WikiNotation, e.g. your capitalized first and lastname
with spaces removed.

| *Good examples:* | *Incorrect %TWIKIWEB%.WikiNames:* |
| =JohnSmith= | =John M. Smith= |
| =RjMiller= | =RJ Miller= |
| =RickO= | =Rick O= (single character last name) |
| =KellerF= | =FKeller= (single character first name) |

%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"bad_email"}%
---+++ Invalid email address
The email address for this account is not valid.

%PARAM1%

%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"no_ver_file"}%
---+++ Invalid Activation Code
The activation code ==%PARAM1%== is invalid. No verification file %PARAM2%.

Please try again.

<form action="%SCRIPTURL%/register%SCRIPTSUFFIX%" method=get>
<input type="hidden" name="action" value="verify" size="20" />
<input type="text" name="code" size="20" />
<input type="submit" value=" Submit " />
</form>
%TMPL:END%
%TMPL:DEF{"bad_ver_code"}%
---+++ Invalid Activation Code
The activation code ==%PARAM1%== is invalid. %PARAM2%

Please try again.

<form action="%SCRIPTURL%/register%SCRIPTSUFFIX%" method=get>
<input type="hidden" name="action" value="verify" size="20" />
<input type="text" name="code" size="20" />
<input type="submit" value=" Submit " />
</form>
%TMPL:END%
%TMPL:DEF{"no_email_for"}%
---+++ Can't get an email address for %PARAM1%
An email address is required before a password can be reset.
%TMPL:END%
%TMPL:DEF{"mandatory_field"}%
---+++ Topic Save Error
Could not save  <nop>%WEB%.%TOPIC%.

The required field *%PARAM1%* was not filled in.

%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"no_form_def"}%
---+++ Form Definition %PARAM1%.<nop>%PARAM2% missing.
See %TWIKIWEB%.TWikiForms for information about Form Definitions.

This could be for several reasons:

---++ 1. Form definition missing
   * The form should be defined in the topic %PARAM1%.%PARAM2%
   * If this topic is missing create it, otherwise check it for errors.

---++ 2. The topic is in an old format
   * Click on [[%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?raw=debug][Debug topic text]].
      * There should be a line that includes =META:FORM=, look for name="%PARAM1%.%PARAM2%" (or name="%PARAM2%")
      * If this line isn't present see _upgrade_ section below

---++ 3. Topic can not be upgraded from old style category table
This requires the form definition to be present.

This can be automatically upgraded by:
   * Creating a suitable Form Definition topic
   * Adding a =WEBFORMS= variable in WebPreferences

You will probably have to ask your <nop>%WIKITOOLNAME% administrator to do this.
%TMPL:END%
%TMPL:DEF{"zero_size_upload"}%
---+++ Uploaded file "<nop>%PARAM1%" does not exist or is empty.
%TMPL:P{"goback"}%
%TMPL:END%
%TMPL:DEF{"oversized_upload"}%
---+++ Uploaded file is too big
Uploaded file "<nop>%PARAM1%" exceeds limit of %PARAM2% KB
%TMPL:END%
%TMPL:DEF{"save_error"}%
---+++ Error saving topic
During save of <nop>%WEB%.<nop>%TOPIC% an error was found by the
version control system. Please notify your <nop>%WIKITOOLNAME%
administrator %WIKIWEBMASTER%.

<pre>
%PARAM1%
</pre>

Go <a href="javascript:history.back()">back</a> in your browser and save your changes locally.
<style type="text/css">.natContact {display:none}</style>
%TMPL:END%
%TMPL:DEF{"message"}%
%INSTANTIATE%
%TMPL:END%
