%TMPL:INCLUDE{"page"}% 
<!-- template: preview.nat.tmpl -->
%TMPL:INCLUDE{"previewbody"}% 
%TMPL:INCLUDE{"previewtopicactions"}% 
%TMPL:INCLUDE{"previewsidebar"}% 
%TMPL:INCLUDE{"previewjavascript"}%
%TMPL:INCLUDE{"previewstyles"}%
%TMPL:DEF{"meta"}% %HTTP_EQUIV_ON_PREVIEW% %TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% (preview)%TMPL:END%
%TMPL:DEF{"locator"}%<span class="natSep">&middot;</span>[[WebHome][%WEB%]]<span class="natSep">&middot;</span>%META{"parent" dontrecurse="on" separator="<span class=\"natSep\">&middot;</span>"  suffix="<span class=\"natSep\">&middot;</span>" nowebhome="on"}%<b>%TOPIC%</b></span>%TMPL:END%
%TMPL:DEF{"content"}% %TEXT%
%META{"form"}%
<form name="EditFormular" method="post" action="%SCRIPTURLPATH%/save%SCRIPTSUFFIX%/%WEB%/%TOPIC%">
  %IFSKINSTATETHEN{release="cairo"}%
    <input type="hidden" name="action" value="" />
  %ELSIFSKINSTATE{release="dakar"}%
    <input type="hidden" name="action_preview" value="" />
    <input type="hidden" name="action_save" value="" />
    <input type="hidden" name="action_checkpoint" value="" />
    <input type="hidden" name="action_addform" value="" />
    <input type="hidden" name="action_replaceform" value="" />
    <input type="hidden" name="action_cancel" value="" />
  %FISKINSTATE%
  <input type="hidden" name="submitChangeForm" value="" />
  %FORMFIELDS% 
  <input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
  <input type="hidden" name="originalrev" value="%ORIGINALREV%" />
  <input type="hidden" name="topicparent" value="%TOPICPARENT%" />
  <input type="hidden" name="cmd" value="%CMD%" />
  <textarea name="text" rows="10" cols="80" style="display:none">%HIDDENTEXT%</textarea>
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td class="natSubmitOptions">
      <input type="checkbox" id="dontnotify" name="dontnotify" %DONTNOTIFYCHECKBOX% /><label for="dontnotify">Minor changes</label>
    </td>
  </tr>
  <tr>
    <td class="natSubmitOptions">
      <input type="checkbox" id="unlock" name="unlock" %RELEASEEDITLOCKCHECKBOX% /><label for="unlock">Release edit lock</label>
      <!--input type="checkbox" id="forcenewrevision" name="forcenewrevision" %FORCENEWREVISIONCHECKBOX% /><label for="forcenewrevision">Force new revision</label-->
    </td>
  </tr>
  </table>
</form>
%TMPL:END%
%TMPL:DEF{"contentfooter"}% 
%TMPL:END%
