%TMPL:INCLUDE{"preview.nat"}%
<!-- template: preview.natedit.tmpl -->
%TMPL:DEF{"bottomtopicactions"}%<div class="natSubmitOptions">
  <input type="checkbox" id="dontnotify" name="dontnotify" %DONTNOTIFYCHECKBOX% />
  <label for="dontnotify">%MAKETEXT{"Minor changes"}%</label> <!-- -->
  <input type="checkbox" class="twikiCheckbox" title='%MAKETEXT{"Creates a new topic revision when saving"}%' id="forcenewrevision" name="forcenewrevision" %FORCENEWREVISIONCHECKBOX% />
  <label for="forcenewrevision">%MAKETEXT{"Force new revision"}%</label>
</div>%TMPL:END%
