%TMPL:INCLUDE{"page"}% 
<!-- template: preview.nat.tmpl -->
<!-- -->%TMPL:INCLUDE{"previewbody"}% 
<!-- -->%TMPL:INCLUDE{"previewtopicactions"}% 
<!-- -->%TMPL:INCLUDE{"previewsidebar"}% 
<!-- -->%TMPL:INCLUDE{"previewjavascript"}%
<!-- -->%TMPL:INCLUDE{"previewstyles"}%
<!-- -->%TMPL:INCLUDE{"previewtoolbar"}%
%TMPL:DEF{"meta"}% %HTTP_EQUIV_ON_PREVIEW% %TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% (preview)%TMPL:END%
%TMPL:DEF{"locator"}%<span class="natSep">&middot;</span>[[WebHome][%WEB%]]<span class="natSep">&middot;</span><b>%TOPIC%</b>%TMPL:END%
%TMPL:DEF{"contentheader"}%<div class="natBreadCrumbs">%BREADCRUMBS{"%BASEWEB%.%BASETOPIC%" exclude="%BASETOPIC%" separator="<span class='natSep'>&#187;</span>" footer="<span class='natSep'>&#187;</span><nop>%BASETOPIC%"}%</div>%TMPL:END%
%TMPL:DEF{"content"}%%TMPL:P{"previewtoolbar"}% 
%TEXT%
%META{"form"}%
<form name="EditFormular" method="post" action="%NATSCRIPTURLPATH{"save"}%/%WEB%/%TOPIC%">
  %IFSKINSTATETHEN{release="cairo"}%
    <input type="hidden" name="action" value="" />
  %ELSIFSKINSTATE{release="dakar"}%
    <input type="hidden" name="action_preview" value="" />
    <input type="hidden" name="action_save" value="" />
    <input type="hidden" name="action_checkpoint" value="" />
    <input type="hidden" name="action_addform" value="" />
    <input type="hidden" name="action_replaceform" value="" />
    <input type="hidden" name="action_cancel" value="" />
  %FISKINSTATE%
  <input type="hidden" name="submitChangeForm" value="" />
  %FORMFIELDS% 
  <input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
  <input type="hidden" name="originalrev" value="%URLPARAM{"originalrev"}%" />
  <input type="hidden" name="topicparent" value="%TOPICPARENT%" />
  <input type="hidden" name="cmd" value="%CMD%" />
  <textarea name="text" rows="10" cols="80" style="display:none">%HIDDENTEXT%</textarea>
  %TMPL:P{"bottomtopicactions"}% </form> %TMPL:END%
%TMPL:DEF{"bottomtopicactions"}%
<div class="natBottomTopicActions">
  <span class="natEditAction"><a href="javascript:history.back();" accesskey="e" title='%MAKETEXT{"Continue editing"}%'>%MAKETEXT{"Edit"}%</a></span><!-- 
  --><span class="natCurrentAction natPreviewAction">%MAKETEXT{"Preview"}%</span><!--
  -->%FORMBUTTON{"<span class='natFormAction'>$1</span>"}%<!--
  --><span class="natUndoAction"><a href="%NATSCRIPTURLPATH{"edit"}%/%WEB%/%TOPIC%?t=%GMTIME{"$year$mo$day$hours$minutes$seconds"}%" accesskey="u" title='%MAKETEXT{"Abandon your changes but continue editing"}%'>%MAKETEXT{"Undo"}%</a></span><!--
  -->%IFSKINSTATETHEN{release="beijing"}%<!--
  --><span class="natSaveAction"><a href="javascript:submitEditFormular('save', 'save');" accesskey="s" title='%MAKETEXT{"Save and exit"}%'>%MAKETEXT{"Save"}%</a></span><!--
  -->%ELSESKINSTATE%<!--
  --><span class="natSaveAction"><a href="javascript:submitEditFormular('save','checkpoint');" accesskey="s" title='%MAKETEXT{"Save and continue editing"}%'>%MAKETEXT{"Save"}%</a></span><!--
  --><span class="natDoneAction"><a href="javascript:submitEditFormular('save', 'save');" accesskey="d" title='%MAKETEXT{"Save and exit"}%'>%MAKETEXT{"Done"}%</a></span><!--
  -->%FISKINSTATE%<!--
  --><span class="natCancelAction"><a href="%IFSKINSTATE{release="beijing" then="$percntNATSCRIPTURLPATH{\"view\"}$percnt/%WEB%/%TOPIC%?unlock=on" else="javascript:submitEditFormular('save', 'cancel');"}%" accesskey="c" title='%MAKETEXT{"Abandon your changes and exit"}%'>%MAKETEXT{"Cancel"}%</a></span>
</div>
<div class="natSubmitOptions">
  <input type="checkbox" id="dontnotify" name="dontnotify" %DONTNOTIFYCHECKBOX% />
  <label for="dontnotify">%MAKETEXT{"Minor changes"}%</label> <!-- -->
%IFSKINSTATETHEN{release="dakar"}%
  <input type="checkbox" class="twikiCheckbox" title='%MAKETEXT{"Creates a new topic revision when saving"}%' id="forcenewrevision" name="forcenewrevision" %FORCENEWREVISIONCHECKBOX% />
  <label for="forcenewrevision">%MAKETEXT{"Force new revision"}%</label>
%ELSESKINSTATE%
  <input type="checkbox" id="unlock" name="unlock" %RELEASEEDITLOCKCHECKBOX% /><label for="unlock">%MAKETEXT{"Release edit lock"}%</label>
%FISKINSTATE%
</div>
%TMPL:END%
