From: %WIKIWEBMASTERNAME% <%WIKIWEBMASTER%>
To: %FIRSTLASTNAME% <%EMAILADDRESS%>
Subject: %WIKITOOLNAME% - Registration for %WIKINAME% (%EMAILADDRESS%)
MIME-Version: 1.0
Content-Type: text/plain; charset=%CHARSET%
Content-Transfer-Encoding: 7bit

Thank you for registering in the %WIKITOOLNAME% collaboration platform.  Please
save this email for future reference.

Read %SCRIPTURL{"view"}%/%TWIKIWEB%/WelcomeGuest to get a quick overview of
this collaboration platform.  To learn more, study the TWikiTutorial, which is
accessible from the same link.

Your personal %WIKITOOLNAME% topic is located at 
%SCRIPTURL{"view"}%/%MAINWEB%/%WIKINAME%. 
You can customize it as you like:

   * Some people turn it into a personal portal with favorite links, what they
     work on, what help they'd like, etc.
   * Some add schedule information and vacation notice.
   * How about attaching your photo?

Submitted content:

%FORMDATA%

Note:
   * If you got this email by mistake: Somebody (%FIRSTLASTNAME%) registered at
     the %WIKITOOLNAME% site using your mail address %EMAILADDRESS%. Contact
     %WIKITOOLNAME% if this is in error.
   * You can change your password at via
     %SCRIPTURL{"view"}%/%TWIKIWEB%/ChangePassword
   * If you haven't set a password yet or you want to reset it, go to
     %SCRIPTURL{"view"}%/%TWIKIWEB%/ResetPassword
