<!-- template: renamewebsidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}%<!-- -->
---+ Help
<ul>
  <li> <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/ManagingWebs" target="_blank">Managing Webs</a> </li>
  <li> <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/WikiWord" target="_blank">WikiWord</a> </li>
</ul>

---+ Notes
<div class="natNotes">
%TMPL:P{"notes"}% </div>
%TMPL:END%

