<!-- template: renamesidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}%<!-- -->
---+ %MAKETEXT{"Help"}%
<ul>
  <li> <a href="%NATSCRIPTURLPATH{"view"}%/%TWIKIWEB%/TWikiTopics" target="_blank">%MAKETEXT{"About Topics"}%</a> </li>
  <li> <a href="%NATSCRIPTURLPATH{"view"}%/%TWIKIWEB%/ManagingTopics" target="_blank">%MAKETEXT{"Managing Topics"}%</a> </li>
  <li> <a href="%NATSCRIPTURLPATH{"view"}%/%TWIKIWEB%/DeleteOrRenameATopic" target="_blank">%MAKETEXT{"Deleting Topics"}%</a> </li>
  <li> <a href="%NATSCRIPTURLPATH{"view"}%/%TWIKIWEB%/WikiWord" target="_blank">%MAKETEXT{"WikiWord"}%</a> </li>
</ul>

---+ %MAKETEXT{"Notes"}%
<div class="natNotes">
<p> %MAKETEXT{"Get help on <a href=\"%NATSCRIPTURLPATH{\"view\"}%/%TWIKIWEB%/ManagingTopics\" target=\"_blank\">Renaming and moving topics</a>."}%</p>
<p> %MAKETEXT{"It's usually best to chose a <a href=\"%NATSCRIPTURLPATH{\"view\"}%/%TWIKIWEB%/WikiWord\" target=\"_blank\" >WikiWord</a> 
     for the new topic name, otherwise automatic linking may not work.  Characters not 
     allowed in topic names, such as spaces will automatically be removed."}% </p>
<p> %MAKETEXT{"Select the [[[_1]][Trash]] web to delete the topic." args="Trash.WebHome"}% </p>
<p> %MAKETEXT{"The checkmarked topics will be updated (another form will appear which
     will _eventually_ allow you to rename any topics that were locked)"}% </p>
</div>
%TMPL:END%
