<!-- template: searchtopicactions.nat.tmpl -->
%TMPL:DEF{"topicactions"}% <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" accesskey="c" title="go back to <nop>%WEB%.%TOPIC%">Cancel</a> %TMPL:END%
