<SCRIPT LANGUAGE="JavaScript"><!--
function _P(name,value){return '<PARAM NAME="'+name+'" VALUE="'+value+'">'; }
function _A(name,value){return " "+name+'="'+value+'" '; }
//document.writeln("PLUGINS<pre>"+navigator.plugins.length);
//for (var i = 0; i < navigator.plugins.length; i++) {
//  document.writeln(navigator.plugins[i]);
//}
//document.writeln("</pre>END OF PLUGINS");

// set this if you want to use OBJECT or EMBED in preference to APPLET
var _usePlugins=false;
var _info=navigator.userAgent;var _ns=false;var _ns6=false;
var _ns=(navigator.appName.indexOf("Netscape")>=0&&((_info.indexOf("Win")>0&&_info.indexOf("Win16")<0&&java.lang.System.getProperty("os.version").indexOf("3.5")<0)||(_info.indexOf("Sun")>0)||(_info.indexOf("Linux")>0)||(_info.indexOf("AIX")>0)||(_info.indexOf("OS/2")>0)));
var _ns6=((_ns==true)&&(_info.indexOf("Mozilla/5")>=0));
var _ie =(_info.indexOf("MSIE")>0&&_info.indexOf("Win")>0&&_info.indexOf("Windows 3.1")<0);
var _jar="%PUBURLPATH%/TWiki/PowerEditPlugin/poweredit.jar";
var _aStd=_A("ARCHIVE",_jar)+
	_A("MAYSCRIPT","true")+_A("SCRIPTABLE","true")+
	_A("CODE","com.ccsoft.edit.TWikiEdit") +
	_A("NAME","TWikiEdit");
var _tag; var _attrs; var _alt;
var _jpp="http://java.sun.com/products/plugin/1.3.1/";
if (_usePlugins && _ie == true) {
 _tag="OBJECT";
 _attrs=_A("CLASSID","clsid:CAFEEFAC-0013-0001-0000-ABCDEFFEDCBA") +
	_A("CODEBASE",_jpp+"jinstall-131-win32.cab#Version=1,3,1,0");
 _needParams=true;
 _alt="You need the appropriate IE Java plugin";
} else if (_usePlugins && _ns == true && _ns6 == false) {
 _tag="EMBED";
 _attrs=_A("TYPE","application/x-java-applet;jpi-version=1.3.1")+
	_A("PLUGINSPAGE",_jpp+"plugin-install.html") +
	_aStd +
	_A("useframe","no") +
	_A("editboxwidth","%EDITBOXWIDTH%")+
	_A("editboxheight","%EDITBOXHEIGHT%");
 _needParams=false;
 _alt="<NOEMBED>You need the appropriate Netscape Java plugin</NOEMBED>";
} else {
 _tag="APPLET";
 _attrs=_aStd;
 _needParams=true;
 _alt=="You need a Java enabled browser";
}
document.writeln("<"+_tag+_attrs+_A("WIDTH","100%")+_A("HEIGHT","75%")+">");
if (_needParams) {
 document.writeln(_P("NAME","TWikiEdit"));
 document.writeln(_P("CODE", "com.ccsoft.edit.TWikiEdit"));
 document.writeln(_P("ARCHIVE", _jar));
 document.writeln(_P("TYPE", "application/x-java-applet;jpi-version=1.3.1"));
 document.writeln(_P("SCRIPTABLE", "true"));
 document.writeln(_P("MAYSCRIPT", "true"));
 document.writeln(_P("useframe", "no"));
 document.writeln(_P("editboxwidth", "%EDITBOXWIDTH%"));
 document.writeln(_P("editboxheight", "%EDITBOXHEIGHT%"));
}
document.writeln(_alt+"</" + _tag + ">");
//--></SCRIPT>
<NOSCRIPT>You need a JavaScript enabled browser</NOSCRIPT>
%CONTROLS%
%TEXT%
