%TMPL:INCLUDE{"twiki"}%
%TMPL:P{"htmldoctype"}%
<head>
 %TMPL:P{"headview"}%
 %TMPL:P{"css"}%
</head>
<body bgcolor="%WEBBGCOLOR%">
#PageTop
<div id="topsection">%TMPL:P{"standardheader"}%</div>
<div class="skiplink">Skip to:
[<a href="#Menu">Menu</a>]
[<a href="#Navigate">Navigation</a>]
[<a href='#%TMPL:P{"weblabel"}%s_'>%TMPL:P{"weblabel"}%s</a>]
</div>
<div id="midsection">
	<div id="content">%TEXT%</div>
	<div id="metadata">
		%META{"form"}%
		%META{"attachments"}%
		Revision %REVINFO% %META{"parent" prefix="<br />Parents: "}%<br />
		%META{"moved"}%
	 </div> <!-- end #meta -->
	<div id="navigation">
		<hr>
		<form name="main" action="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%"}%/">
			<!-- <form name="photonsearch" action="%SCRIPTURLPATH%/photonsearch%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%"}%" method="post"> -->
				<h4><a name="Navigate"></a>In this Section:</h4>
			<ul>
				<li>%WEBTOPICLIST%
			</ul>
		</form>
		<div id="zones">
			<hr>
			<h4><a name="%TMPL:P{"weblabel"}%s"></a>%TMPL:P{"weblabel"}%s:</h4>
			<ul>
				<li>%WIKIWEBLIST%
			</ul>
		</div><!-- end zones -->
	</div><!-- end Navigation -->
</div><!-- end midsection -->
</div>
<!-- begin "not in any section" -->
<div id="menu">
	<hr>
	<a name="Menu"></a><h4>Menu</h4>
	<ul>
		%TMPL:P{"topicaction"}%
	</ul>
</div><!-- end menu -->
<div id="bottsection">
	<hr>
	%WEBCOPYRIGHT%
</div><!-- end bottsection -->
#PageBottom
</body>
</html>
%TMPL:DEF{"sep"}%<li>%TMPL:END%
%TMPL:DEF{"topicaction"}%
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/edit%SCRIPTSUFFIX%/%WEB%/%TOPIC%?t=%GMTIME{"$year$month$day$hours$minutes$seconds"}%" accesskey="i" title="Edit this page">Ed<u>i</u>t</a>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/attach%SCRIPTSUFFIX%/%WEB%/%TOPIC%" accesskey="a" title="Upload a file to this topic"><u>A</u>ttach</a>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/search%SCRIPTSUFFIX%/%WEB%/SearchResult?scope=text&amp;regex=on&amp;search=%SPACEDTOPIC%%5B%5EA-Za-z%5D" accesskey="r" title="Which pages link to this one?"><u>R</u>ef-By</a>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?skin=print%REVARG%" accesskey="p" title="a barebones version of this page more suitable for printing"><u>P</u>rintable</a>
  %TMPL:P{"sep"}% <div id="diffs"><a href="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPIC%" accesskey="s" title="View previous versions of this page">Hi<u>s</u>tory</a> <ul>{ %REVISIONS% }</ul></div>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/oops%SCRIPTSUFFIX%/%WEB%/%TOPIC%?template=oopsmore&param1=%MAXREV%&param2=%CURRREV%" accesskey="m" title="advanced actions: rename/move, parentage, compare revisions, etc." id="editmore"><u>M</u>ore...</a>%TMPL:END%
