%TMPL:INCLUDE{"twiki"}%
%TMPL:P{"htmldoctype"}%
<head>
 %TMPL:P{"headview"}%
 %TMPL:P{"css"}%
</head>
<body bgcolor="%WEBBGCOLOR%">
#PageTop
<div id="header">%TMPL:P{"masthead"}%</div>
<div class="skiplink">Skip to:
[<a href="#Menu">Menu</a>]
[<a href="#Navigate">Navigation</a>]
[<a href='#%TMPL:P{"weblabel"}%s_'>%TMPL:P{"weblabel"}%s</a>]
</div>
<div id="viewwrapper">
 <div id="content">%TEXT%</div>
 <div id="meta">
  %META{"form"}%
  %META{"attachments"}%
  Revision %REVINFO% %META{"parent" prefix="<br />Parents: "}%<br />
  %META{"moved"}%
 </div> <!-- end #meta -->
<div id="footer">%WEBCOPYRIGHT%</div>
</div> <!-- end #viewwrapper -->

<div id="menu">
---
<div id="topicaction">
---++++ Menu
<ul>
 %TMPL:P{"topicaction"}%
</ul>
</div>

<div id="topics">
 <form name="main" action="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%URLENCODE{"%WEB%"}%/">
 <!-- <form name="photonsearch" action="%SCRIPTURLPATH%/photonsearch%SCRIPTSUFFIX%/%URLENCODE{"%WEB%"}%" method="post"> -->
---++++ Navigate
 <ul>
 <li>%WEBTOPICLIST% 
 </ul>
 </form>
<!-- <span class="deem">Experimental: <br /> 
<ul>
<li><a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?skin=tg&contenttype=application/x-touchgraph-launch" title="An experimemtal method of viewing topic relationships">Graph</a>
</span>
</ul> -->
</div><!-- end topics -->
</div><!-- end menu -->
<div id="zones">
---++++ %TMPL:P{"weblabel"}%s:
<ul>
	<li>%WIKIWEBLIST%
</ul>
---
</div>
#PageBottom
</body>
</html>
%TMPL:DEF{"sep"}%<li>%TMPL:END%
%TMPL:DEF{"topicaction"}%
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/edit%SCRIPTSUFFIX%/%WEB%/%TOPIC%?t=%GMTIME{"$year$month$day$hours$minutes$seconds"}%" accesskey="i" title="Edit this page">Ed<u>i</u>t</a>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/attach%SCRIPTSUFFIX%/%WEB%/%TOPIC%" accesskey="a" title="Upload a file to this topic"><u>A</u>ttach</a>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/search%SCRIPTSUFFIX%/%WEB%/SearchResult?scope=text&amp;regex=on&amp;search=%SPACEDTOPIC%%5B%5EA-Za-z%5D" accesskey="r" title="Which pages link to this one?"><u>R</u>ef-By</a>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?skin=print%REVARG%" accesskey="p" title="a barebones version of this page more suitable for printing"><u>P</u>rintable</a>
  %TMPL:P{"sep"}% <div id="diffs"><a href="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPIC%" accesskey="i" title="View previous versions of this page">H<u>i</u>story</a> <ul>{ %REVISIONS% }</ul></div>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/oops%SCRIPTSUFFIX%/%WEB%/%TOPIC%?template=oopsmore&param1=%MAXREV%&param2=%CURRREV%" accesskey="m" title="advanced actions: rename/move, parentage, compare revisions, etc."><u>M</u>ore</a>%TMPL:END%

  
