
/*	-----------------------------------------------------------
	PALETTE
	Appearance (part 2): colours
           * stripped all non-colour refernces
           * stripped all transparent references (as they, by default, should be appropriate); they are inherited from style.css
           * (mostly) normalised colour references (multiple attributes which are marked as the same colour are retained in one group)
           * remove category comments (meaningless with reorder)
           * replace colour names with hex values (eg, black, white, red, yellow, gray)
           * sort by rgb colour (./filterColours.pl palette.css | uniq | sort > colours.txt)
           * generate sample swatches (./makePalette.pl colours.txt > palette.html)
	-----------------------------------------------------------	*/

.twikiWebIndicator,
.twikiBroadcastMessage,
.twikiEditPage .twikiEditForm th {
	color:#000000;
}

.twikiSubmit {
	color:#041D3A;
}

.twikiButton {
	color:#05264D;
}

:link:hover,
:visited:hover,
.twikiTopBar ul li a:hover,
.twikiTopic h1 a:link,
.twikiTopic h1 a:visited,
.twikiTopic h2 a:link,
.twikiTopic h2 a:visited,
.twikiTopic a:hover,
.twikiAttachments th a:link,
.twikiAttachments th a:visited,
.twikiForm th a:link,
.twikiForm th a:visited,
.twikiAttachments th font,
.twikiForm th font,
.twikiTopicAction a:hover,
.twikiTopicAction a:hover,
.twikiGrayText a:hover,
.twikiHelpCol a:hover,
.twikiToolBar ul li a:hover,
.twikiViewPage .twikiTopicAction a:hover,
.twikiDiffPage .twikiTopicAction a:hover {
	color:#1559B3;
}

:link:focus,
:visited:focus,
:link,
:visited,
:link:active,
:visited:active,
.twikiTopicActionSecondary a:link,
.twikiTopicActionSecondary a:visited,
.twikiTopicActionSecondary a:hover,
.twikiToc a:link,
.twikiToc a:visited,
.twikiBookViewList .twikiTopRow a:hover {
	color:#1e5bbd;
}

fieldset,
.twikiPreviewPage .twikiPreviewArea {
	border:#22638c;
}
.twikiLeftBarContents {
	border-top:#22638C;
}
.twikiTopicAction,
.twikiTopicAction td,
.twikiBookViewList .twikiTopRow {
	background-color:#22638c;
}
.twikiTopicActionSecondary,
.twikiBookViewList .twikiSearchResultCount {
	color:#22638c;
}

.twikiSubmit {
	border-right:#333333;
	border-bottom:#333333;
}

th.twikiSortedAscendingCol a:link,
th.twikiSortedAscendingCol a:visited,
th.twikiSortedDescendingCol a:hover,
th.twikiSortedDescendingCol a:hover {
	border-top:#334455;
}
th.twikiSortedAscendingCol a:hover,
th.twikiSortedAscendingCol a:hover,
th.twikiSortedDescendingCol a:link,
th.twikiSortedDescendingCol a:visited,
th.twikiSortedDescendingCol a:link,
th.twikiSortedDescendingCol a:visited {
	border-bottom:#334455;
}
.twikiAttachments th.twikiSortedAscendingCol a:link,
.twikiAttachments th.twikiSortedAscendingCol a:visited,
.twikiAttachments th.twikiSortedDescendingCol a:link,
.twikiAttachments th.twikiSortedDescendingCol a:visited {
	color:#334455;
}

.twikiDiffPage .twikiDiffAddedHeader,
.twikiDiffPage .twikiDiffAddedMarker {
	background-color:#3DB234;
}

.twikiToc .twikiTocTitle,
.twikiDiffPage .twikiDiffTable th,
.twikiDiffPage .twikiDiffTable th font {
	color:#666666;
}

.twikiTopicAction a:link,
.twikiTopicAction a:visited {
	border-bottom:#698FA8;
}

pre, code, tt {
	color:#844F0C;
}

legend,
.twikiToolBar ul li,
.twikiToolBar ul li a:link,
.twikiToolBar ul li a:visited,
.twikiSearchBox,
.twikiGrayText,
.twikiHelpCol,
.twikiGrayText a:link,
.twikiGrayText a:visited,
.twikiHelpCol a:link,
.twikiHelpCol a:visited {
	color:#8490A1; /* .twikiGrayText value */
}
legend {
	border:#8490A1; /* .twikiGrayText value */
}

.twikiTopic a:visited {
	color:#808080;
}

.twikiLeftBar {
	color:#880000;
}

.twikiChangeFormButton {
	color:#888888;
}

.twikiViewPage .twikiAttachments,
.twikiViewPage .twikiForm,
.twikiPreviewPage .twikiAttachments,
.twikiPreviewPage .twikiForm {
	color: #888e9c;
}

.twikiViewPage .twikiTopicAction,
.twikiDiffPage .twikiTopicAction,
.twikiDiffPage th.twikiDiffChangedHeader,
.twikiDiffPage td.twikiDiffChangedHeader {
	background-color:#98A2B0;
}

h2,
h3,
h4,
h5,
h6,
.twikiSearchResults .twikiSummary .twikiAlert,
.twikiEditPage .twikiHelp code {
	color:#990000;
}
.twikiPrintPage h2 {
	border-bottom:#990000;
}

hr {
	color:#9E9E70;
}
hr {
	background-color:#9E9E70;
}

.twikiTopicActionSecondary a:link,
.twikiTopicActionSecondary a:visited {
	border-bottom:#A3BCF1;
}

.twikiButton {
	border:#aaaaaa;
}

:link:hover,
:visited:hover,
.twikiTopBar ul li a:hover,
.twikiToolBar ul li a:hover {
	background-color:#b4d5ff;
}
.twikiTopicAction a:hover,
.twikiTopicAction a:hover,
.twikiTopicActionSecondary a:hover,
.twikiViewPage .twikiTopicAction a:hover,
.twikiDiffPage .twikiTopicAction a:hover {
	border-bottom:#b4d5ff;
}

.twikiTertiary {
	background-color:#B9D6FA;
}

.twikiTopicActionSecondary {
	border-top:#bbbbbb;
}
.twikiViewPage .twikiAttachments,
.twikiViewPage .twikiForm,
.twikiPreviewPage .twikiAttachments,
.twikiPreviewPage .twikiForm {
	border-top:#bbbbbb;
}

.twikiLeftBar hr,
.twikiBookViewList .twikiTopRow,
.twikiDiffPage .twikiDiffUnchangedTextContents,
.twikiDiffPage td.twikiDiffUnchangedText h1,
.twikiDiffPage td.twikiDiffUnchangedText h2,
.twikiDiffPage td.twikiDiffUnchangedText h3,
.twikiDiffPage td.twikiDiffUnchangedText h4,
.twikiDiffPage td.twikiDiffUnchangedText h5,
.twikiDiffPage td.twikiDiffUnchangedText h6,
.twikiDiffPage td.twikiDiffUnchangedText a:link,
.twikiDiffPage td.twikiDiffUnchangedText a:visited {
	color:#cccccc;
}
.twikiLeftBar hr {
	background-color:#cccccc;
}
.twikiLeftBarPersonal {
	border-top:#cccccc;
	border-bottom:#cccccc;
}
.twikiAttachments table,
.twikiForm table {
	border-top:#cccccc;
	border-right:#cccccc;
	border-left:#cccccc;
}
.twikiAttachments th,
.twikiForm th,
.twikiAttachments th,
.twikiForm th {
	border-left:#cccccc;
	border-bottom:#cccccc;
}
.twikiSearchBox input,
.twikiVersatileTable table {
	border:#cccccc;
}
.twikiVersatileTable th,
.twikiVersatileTable td,
.twikiEditPage .twikiHelp {
	border-top:#cccccc;
}
.twikiAttachments td,
.twikiForm td,
.twikiSearchResultsHeader,
.twikiSearchString,
.twikiViewPage .twikiTopicAction a:link,
.twikiViewPage .twikiTopicAction a:visited,
.twikiDiffPage .twikiTopicAction a:link,
.twikiDiffPage .twikiTopicAction a:visited {
	border-bottom:#cccccc;
}

.twikiAttachments th.twikiSortedAscendingCol,
.twikiAttachments th.twikiSortedDescendingCol {
	background-color:#DADADA;
}

.twikiMain,
.twikiToc,
.twikiBookViewList .twikiBottomRow,
.twikiEditPage .twikiSig input {
	border-color:#dddddd;
}
.twikiLeftBar {
	border-top:#dddddd;
}
.twikiSearchResults .twikiBottomRow,
.twikiViewPage .twikiSearchResultsBegin { /* for changes template with noheader="on" */
	border-bottom:#dddddd;
}
.twikiEditPage .twikiEditForm td {
	border-left:#dddddd;
}
.twikiDiffPage .twikiDiffLineNumberHeader,
.twikiPrintPage .twikiAttachments,
.twikiPrintPage .twikiForm {
	background-color:#dddddd;
}

.twikiLeftBarPersonal,
.twikiTopicActionSecondary {
	background-color:#DFEDFD;
}

.twikiVersatileTable th,
.twikiEditPage .twikiEditForm th {
	background-color:#E0E9F7; /*#EFEDEA;*/
}

h1 {
	color:#e24628;
}

.twikiTopic .twikiSubmit, /* secondary submit button */
.twikiEditPage .twikiEditForm table {
	background-color:#E8F1F9;
}

.twikiVersatileTable .twikiOldCol {
	background-color:#E9E9E9;
}

.twikiDiffPage .twikiDiffAddedText {
	background-color:#EBF7EA;
}

.twikiCancel { /* cancel button */
	background-color:#eeeeee;
}

.twikiEditPage .twikiSig input {
	background-color:#EFEDEA;
}

.twikiViewPage .twikiAttachments,
.twikiViewPage .twikiForm,
.twikiPreviewPage .twikiAttachments,
.twikiPreviewPage .twikiForm {
	background-color:#f1f1f1;
}

.twikiSubmit,
.twikiButton {
	background-color:#f2f2f2;
}

h2,
.twikiSearchResultsHeader,
.twikiSearchString {
	background-color:#F3EDE7;
}

.twikiVersatileTable td,
.twikiEditPage .twikiEditForm td {
	background-color:#F5F7FD; /*#E8F1F9;*/
}

html body,
legend {
	background-color:#f8f8f8;
}

.twikiEditPage textarea {
	background-color:#FCFAF7;
}

.twikiBroadcastMessage b,
.twikiBroadcastMessage strong,
.twikiAlert,
.twikiSearchResults .twikiAlert {
	color:#ff0000;
}

.twikiDiffPage .twikiDiffDeletedHeader,
.twikiDiffPage .twikiDiffDeletedMarker {
	background-color:#FF3000;
}

.twikiDiffPage .twikiDiffDeletedText {
	background-color:#FFEAE5;
}

.twikiBroadcastMessage {
	background-color:#ffff00;
}

.twikiTopBar ul li a:link,
.twikiTopBar ul li a:visited,
.twikiTopicAction table,
.twikiTopicAction a:link,
.twikiTopicAction a:visited,
.twikiBookViewList .twikiTopRow a:link, 
.twikiBookViewList .twikiTopRow a:visited,
.twikiViewPage .twikiTopicAction a:link,
.twikiViewPage .twikiTopicAction a:visited,
.twikiDiffPage .twikiTopicAction a:link,
.twikiDiffPage .twikiTopicAction a:visited,
.twikiViewPage .twikiTopicAction a:active,
.twikiDiffPage .twikiTopicAction a:active,
.twikiDiffPage .twikiDiffDeletedHeader,
.twikiDiffPage .twikiDiffAddedHeader,
.twikiDiffPage th.twikiDiffChangedHeader,
.twikiDiffPage td.twikiDiffChangedHeader {
	color:#ffffff;
}
.twikiMain,
.twikiAttachments table,
.twikiForm table,
.twikiAttachments table,
.twikiAttachments th,
.twikiForm th,
.twikiAttachments th,
.twikiForm th,
.twikiAttachments td,
.twikiForm td,
.twikiTopicActionSecondary,
.twikiTopicActionHelp,
.twikiTopicAction .twikiSeparator,
.twikiVersatileTable .twikiMainCol,
.twikiVersatileTable input,
.twikiPreviewPage .twikiPreviewArea {
	background-color:#ffffff;
}
.twikiWebIndicator {
	border-bottom:#ffffff;
}
.twikiViewPage .twikiTopicAction,
.twikiDiffPage .twikiTopicAction {
.twikiSubmit {
	border-top:#ffffff;
	border-left:#ffffff;
}


