<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>%WIKITOOLNAME% &middot; %WEB% &middot; %TOPIC% &middot; (printable)</title>
<base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
<meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta name="generator" content="NatsWiki" />
<meta name="generator" content="TWiki.org" /> %TMPL:P{"meta"}%
<link rel="icon" href="%FAVICON%" type="image/x-icon" /> 
<link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
%GETSKINSTYLE%
<script type="text/javascript" charset="ISO-8859-1">
<!--
%TMPL:INCLUDE{"javascript.nat"}%
addLoadEvent(function() {window.print()});
//-->
</script>
<style type="text/css">
.blogNavigation,
.blogAddComment {
  display:none;
}
</style>
</head>
<body style="background:#ffffff; width:21cm; margin:0px; padding:10px;">
<div class="natMain">
%TEXT%
<div class="natMainFooterContents">
  <div class="natTopicForm"> %META{"form"}% </div>
  <div class="natTopicAttachments"> %META{"attachments"}% </div>
</div>
</div>
</body>
</html>
