/* variation to switch on the web buttons for independence */
@import url('BaseButtons.css');

.natTopBar {
  border-bottom:0px;
}
.natWebButtons {
  border-bottom:1px solid #ffffff;
}
.natWebButtonsContents {
  background: #b22222;
  font-size:x-small;
  font-family:'Trebuchet MS', arial, sans-serif;
  padding:0px 25px 0px 25px;
}
.natWebButtons ul li {
  padding-right:10px;
}
.natWebButtons ul li a {
  font-weight:normal;
  padding-bottom:5px;
  color:white;
}
.natWebButtons ul li.current a:hover,
.natWebButtons ul li a:hover {
  text-decoration: none;
  border-bottom:5px solid #0F314E;
}

.natWebButtons ul li.current a {
  text-decoration: none;
  border-bottom:5px solid #b22222;
}
