/* thin variant for jotspot */
@import url("../../TWiki/NatSkin/BaseThin.css");

.natBodyContents {
  background: #E6E9EB;
  border: 1px solid #B3BCC0;
  padding:0px;
}
.natBody {
  background:#eee;
}
.natMainFooterContents,
.natMainHeaderContents,
.natMainContents {
  width:615px;
}
.natMainFooterBoth .natMainFooterContents,
.natMainBoth .natMainHeaderContents,
.natMainBoth .natMainContents {
  width:855px;
}
.natMainBoth .natMainHeaderContents {
  width:856px;
}
.natMainFooterRight .natMainFooterContents,
.natMainRight .natMainHeaderContents,
.natMainRight .natMainContents {
  width:680px;
}
.natEditBody .natMainContents{
  padding:20px 10px;
}
.natBottomBar {
  float:left;
  padding:20px;
}
