/* header art variation */
.natHeaderArt {
  background-image:url(PlasticLoveBar.jpg); 
  background-repeat:no-repeat;
  background-position:top left;
}
.natTopBarSizer {
  height:140px;
  max-height:200px;
}
.natSearchBoxTop input {
  background:white;
  color:black;
  border:1px solid black;
}
.natTopRightContents a:hover {
  color:white;
  background:#FE1C70;
  text-decoration:none;
}
.natTopRightContents {
  color:white;
}
.natSearchBox,
.natAction,
.natWebSlogan,
.natTopBar,
.natTopBar a {
  color:black;
}
.natWebSlogan,
.natWebLocator {
  display:none;
}
.natWebTitle,
.natWebTitle a {
  color:#FE1C70;
}
.natWebSlogan {
  color:#010569;
  color:white;
  font-weight:bold;
}
.natWebTitle {
  text-decoration:underline;
}
.natWebButtons {
  padding-left:10px;
}
.natWebButtonsContents {
  padding:5px 10px 5px;
}
.natWebButtons ul li a {
  margin:0px;
  padding:2px 5px;
  border-bottom:0px !important;
  border:1px solid transparent;
}
.natWebButtons ul li.current a:hover {
  background:white;
  color:#FE1C70;
}
.natWebButtons ul li.current a {
  background:white;
  color:black;
}
.natWebButtons ul li a:hover {
  background:#FE1C70;
  color:black;
}

