/* variation to switch on the web buttons for rusty */
@import url('BaseButtons.css');

.natWebButtons {
  border-bottom:1px solid #ffffff;
  padding-left:0px;
  padding-right:0px;
}
.natWebButtonsContents {
  font-size:xx-small;
  font-family:verdana,arial,sans-serif;
  letter-spacing:-1px;
  padding:5px 10px 5px 20px;
  text-transform:uppercase;
}
.natWebButtons ul li {
  padding-right:10px;
}
.natWebButtons ul li a {
  padding:5px 10px;
  color:white;
  font-weight:bold;
}
.natWebButtons ul li.current a:hover,
.natWebButtons ul li a:hover {
  text-decoration: none;
  background:#ff9831;
  color:white;
}

.natWebButtons ul li.current a {
  text-decoration: none;
  color:#9C3300;
  background:#ff9831;
}
