/* squash style */
@import url("BaseStyle.css");

/* html */
.twikiEmulatedLink,
a, a:link, a:active { color: #CC6600; }
a:hover { 
  /* color: #FFCC33; */
  color: #B22222;
  text-decoration:underline;
}
hr { border-bottom: 1px solid #999999; }

/* twiki */
.twikiNewLink {
  color:#666666;
}

/* twiki table */
.twikiTable {
  border:1px solid #CC6600;
}
.twikiTable th {
  margin-top:6px;
  background:#E7AA5C;
  color:white;
}
.twikiTable td {
  border:1px ridge #999;
}

.twikiTable th a,
.twikiTable th {
  color:white;
  font-family:'Trebuchet MS', arial, sans-serif;
  font-size:x-small;
  font-weight:bold;
  letter-spacing: .1em;
  vertical-align:middle;
}

/* topic form */
.natTopicForm table {
  border:1px solid #CC6600;
}

.natTopicForm table td {
  border:1px ridge #999;
}

.natTopicForm .natTopicFormFirstCol,
.natTopicForm .twikiFirstCol,
.natTopicForm th {
  margin-top:6px;
  background:#E7AA5C;
  color:white;
  font-family:'Trebuchet MS', arial, sans-serif;
  font-size:x-small;
  font-weight:bold;
  letter-spacing: .1em;
  vertical-align:middle;
}

.natTopicForm th a {
  color:white;
  background:#E7AA5C;
  font-weight:bold;
}

/* twiki page form */
.twikiPageForm table {
  border:1px solid #CC6600;
}
.twikiPageForm th {
  margin-top:6px;
  background:#E7AA5C;
  color:white;
}
.twikiPageForm td {
  border:1px ridge #999;
}

.twikiPageForm th a,
.twikiPageForm th {
  color:white;
  font-weight:bold;
  font-family: 'Trebuchet MS', arial, sans-serif;
  font-size:x-small;
  letter-spacing: .1em;
  vertical-align:middle;
}

/* search table */
.natSearchTable {
  font-size:x-small;
  border:1px solid #CC6600;
}
.natSearchHit th {
  padding-top:5px;
}
.natSearchHit td {
  padding-top:0px;
  line-height:140%;
}

.natSearchTableTitle th {
  background:#E7AA5C;
  color:white;
  color:white;
  font-weight:bold;
  font-family: 'Trebuchet MS', arial, sans-serif;
  letter-spacing: .1em;
  vertical-align:middle;
}
.natSearchTable tr:nth-child(4n),
.natSearchTable tr:nth-child(4n+1) {
  background:#f0f0f0;
}
.natSearchEvenHit {
  background:#f0f0f0;
}
/*
.natSearchEvenHit {
  background:#f0f0f0;
  border-top:1px #f0f0f0 solid;
}
.natSearchOddHit {
  border-top:1px #f0f0f0 solid;
  background:transparent;
}
*/

/* layout */
.natBody {
  background:#dbdad6;
}
.natBodyContents {
  text-align:left;
  padding:0px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.natMiddle {
  padding: 20px 25px;
}
.natTopBar {
  padding-top:1.5em;
  padding-bottom:1.5em;
}
.natTopRightContents,
.natTopLeftContents {
  margin-right:20px;
  margin-left:20px;
}

/* top */
.natHeaderArt {
  background: #E7AA5C;
}
.natTopBar {
  font-family: 'Trebuchet MS', arial, sans-serif;
  color:white;
  border-bottom: 1px solid #FFFFFF;
}
.natWebTitle {
  font-family: 'Trebuchet MS', arial, sans-serif;
  font-size:xx-large;
  text-transform:none;
}
.natWebLocator {
  font-size:small;
}

.natTopLeft,
.natTopRight,
.natTopBar a {
  color:white;
  text-decoration: none;
}
.natTopBar a:hover {
  color:#CC6600;
}
.natWebSlogan {
  padding-left:5px;
  color:#CC6600;
  font:normal small 'Trebuchet MS', arial, sans-serif;
}

.natSearchBox input {
  background:#E7AA5C;
  border:1px dotted #CC6600;
  color:white;
}
.natTopRightContents {
  font-size:small;
}
.natSearchBox 
.natSearchBox input {
  font-size:x-small;
}
.natTopicActions {
  font-size:0.8em;
  line-height:110%;
}

/* sidebar */
.natSideBarContents {
  padding-left:5px;
  padding-right:5px;
}

.natSideBar a:hover {
  color: #B22222;
  text-decoration:underline;
}

.natSideBar h1 a,
.natSideBar h1 {
  color: #666666;
  font-family: Verdana, Arial, sans-serif;
  font-size: x-small;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .3em;
}

.natSideBar h2 a,
.natSideBar h2 {
  color:#CC6600;
}
.natSideBar h2 {
  padding-left:0px;
  font-size:small;
}

.natSideBar ul {
  padding-left:20px;
  list-style-type: none;
}

.natSideBar li {
  color:#666666;
  font-size: x-small;
  line-height:120%;
  margin-top:5px;
}

.natAction {
  color:#B22222;
}

.natNotes {
  font-size:x-small;
  padding-right:10px;
}

/* main area */
.natMiddle {
  background-color: #FFFFFF;
  color: #666666;
  font-family: 'Trebuchet MS', arial, sans-serif;
  font-size: small;
  line-height:140%;
}

.natMainContents {
  line-height: 140%;
  font-family: 'Trebuchet MS', arial,sans-serif;
  font-size: small;
}

.natMain pre {
  border-left:5px solid #eeeeee;
  padding-left:5px;
}

.natMain .twikiEmulatedLink { 
  color: #CC6600; 
}
.natMain h1 .twikiEmulatedLink,
.natMain h2 .twikiEmulatedLink,
.natMain h3 .twikiEmulatedLink,
.natMain h4 .twikiEmulatedLink,
.natMain h5 .twikiEmulatedLink,
.natMain h6 .twikiEmulatedLink,
.natMain h1, .natMain h2, .natMain h3, .natMain h4, .natMain h5, .natMain h6,
.natMain h1 a, .natMain h2 a, .natMain h3 a, .natMain h4 a,
.natMain h5 a, .natMain h6 a,
.natMain h1 a:hover, .natMain h2 a:hover, .natMain h3 a:hover,
.natMain h4 a:hover, .natMain h5 a:hover, .natMain h6 a:hover {
  color:#666666;
  font-family: 'Trebuchet MS', arial, sans-serif;
  font-weight:bold;
  line-height:140%;
}

.natMain h1 {font-size:24px;}
.natMain h2 {font-size:18px;}
.natMain h3 {font-size:16px;}
.natMain h4 {font-size:small;}
.natMain h5 {font-size:small;}
.natMain h6 {font-size:small; margin-top:5px;}

.natMain h1 {
  border-bottom:1px solid #CC6600;
}
.natMainFooterContents {
  font-size:x-small;
}

/* bottom */
.natBottomBarContents {
  letter-spacing:.3em;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size:xx-small;
  color: #666666;
  float:left;
  height:5em;
  width:100%;
  margin-left:5px;
  margin-right:5px;
}

/* supported plugins and applications */


/* RedDotPlugin */
.natBody .redDot a {
  color:#B22222;
}

/* Blogging */
.alt {
  color:#CC6600;
}

.blogSideBar {
  line-height:100%;
}
.blogSideBarSection ul {
  padding-left:0px;
  list-style-type:none;
}
.blogSideBarSection ul li {
  padding-bottom:2px;
}
