/* variation to switch on the web buttons for squash */
@import url('BaseButtons.css');

.natTopBar {
  padding-bottom:1.5em;
  border-bottom:0px;
}
.natWebButtons {
  padding-left:0px;
  padding-right:0px;
  background: #E7AA5C;
  border-bottom: 1px solid #FFFFFF;
}
.natWebButtonsContents {
  font-size:x-small;
  font-family:'Trebuchet MS', arial, sans-serif;
  padding:5px 0px 5px 20px;
}
.natWebButtons ul li {
  padding-right:10px;
}
.natWebButtons ul li a {
  padding:5px;
  color:white;
  font-weight:bold;
  letter-spacing: .1em;
}
.natWebButtons ul li a:hover {
  text-decoration: none;
  /*
  background:#CC6600;
  color:white;*/
  color:#CC6600;
}

.natWebButtons ul li.current a:hover {
  /*
  background:#aa4400;
  */
  color:#aa4400;
}
.natWebButtons ul li.current a {
  text-decoration: none;
  /*
  background:#CC6600;
  color:white;
  */
  color:#CC6600;
}
