%TMPL:INCLUDE{"header"}%
<div class="NwClass">
<div class="subNwClass"><div id="sidelinks">
<div id="sidelinkcontainer">
%TMPL:P{"edit_topic_link"}%
%TMPL:P{"view_topic_link"}%
</div> 
</div>
%TMPL:INCLUDE{"attachform"}%
</div>
</div>
%TMPL:INCLUDE{"footer"}%
