%TMPL:INCLUDE{"navigation"}%
%TMPL:INCLUDE{"login.pattern"}%
%TMPL:DEF{"body"}%
%TMPL:INCLUDE{"actionbutton"}%

<style type="text/css" media="all">
@import url('%PUBURLPATH%/%SYSTEMWEB%/KubrickSkin/kubrick.css');
@import url('%PUBURLPATH%/%SYSTEMWEB%/KubrickSkin/kubrickbg.jpg');
@import url('%PUBURLPATH%/%SYSTEMWEB%/KubrickSkin/kubrickbgcolor.jpg');
@import url('%PUBURLPATH%/%SYSTEMWEB%/KubrickSkin/kubrickbgwide.jpg');
</style>
<div id="content" class="widecolumn">

<div class="alignleft"><a href="#"></a></div>
<div class="alignright"><a href="#"></a></div>

<div class="post">
<div class="entrytext">
<div class="NewClass">

</div>

<p>
</p>
</form>
</div>
</div>
</div>
%TMPL:END%%TMPL:P{"body"}%

