From: %WIKIWEBMASTER%
To: %EMAILTO%
Subject: Outstanding actions on %WIKITOOLNAME%
MIME-Version: 1.0
Content-Type: text/html; charset=us-ascii
Content-Transfer-Encoding: 7bit


<p>
This is an automated notification from %WIKITOOLNAME%.
<p>
Actions that require your attention follow:
<p>
%EMAILBODY%

