%TMPL:INCLUDE{"searchbase"}%
%TMPL:INCLUDE{"page"}%
%TMPL:INCLUDE{"viewtopicactionbuttons"}%
%TMPL:INCLUDE{"viewbottombar"}%
%TMPL:INCLUDE{"logo"}%



%TMPL:DEF{"titleaction"}%%MAKETEXT{"([_1] vs. [_2])" args="%REVTITLE2%, %REVTITLE1%"}% %TMPL:END%



%TMPL:DEF{"bodyclassname"}%patternNoViewPage patternDiffPage%TMPL:END%



%TMPL:DEF{"pagetitle"}%<h1 class="patternTemplateTitle">%MAKETEXT{"Difference:"}% <a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%">%TOPIC%</a> %TMPL:P{"titleaction"}%</h1>%TMPL:END%




%TMPL:DEF{"header:left"}%<b><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?rev=%REVTITLE1%" rel='nofollow'>%MAKETEXT{"Revision"}% %REVTITLE1%</a></b>%TMPL:END%

%TMPL:DEF{"header:right"}%%REVINFO1%%TMPL:END%


%TMPL:DEF{"result"}%<div class="patternDiff"><div class="patternSearchResults">%TMPL:P{"header"}%
%TEXT%</div><!--/patternSearchResults--></div><!--/patternDiff-->%TMPL:END%




%TMPL:DEF{"history_rdiff"}%<span class="patternRevision"><a href="%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPIC%?type=history" title="%MAKETEXT{"View total topic history"}%" accesskey="H" rel="nofollow">%MAKETEXT{"&History"}%</a></span>%TMPL:END%



%TMPL:DEF{"history_history"}%<span class="patternRevision"><a href="%SCRIPTURLPATH{"oops"}%/%WEB%/%TOPIC%?template=oopshistory" title="%MAKETEXT{"View total topic history"}%" accesskey="H" rel="nofollow">%MAKETEXT{"&History"}%</a></span>%TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%<span class='patternButton'><a href='%SCRIPTURL{"view"}%/%WEB%/%TOPIC%' rel='nofollow' title='%MAKETEXT{"View topic"}%'>%MAKETEXT{"&View topic"}%</a></span>
 %TMPL:P{"sep"}%%TMPL:P{context="HistoryPluginEnabled" then="history_history" else="history_rdiff"}%%REVISIONS%%TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/oops%SCRIPTSUFFIX%/%WEB%/%TOPIC%?template=oopsmore&param1=%MAXREV%&param2=%CURRREV%" title='%MAKETEXT{"Delete or rename this topic; set parent topic; view and compare revisions"}%' accesskey="M" rel="nofollow">%MAKETEXT{"&More topic actions"}%</a>%TMPL:END% 



%TMPL:DEF{"content"}%<div class="patternTopic">
%TMPL:P{"pagetitle"}%
---
&nbsp;
<table cellspacing="0" cellpadding="1">
<tr><td></td><td colspan="5" height="2" bgcolor="#000000"></td></tr>
<tr><th></th>
    <th width="1" bgcolor="#000000"></th>
    <th width="50%">%REVTITLE2% - %REVINFO2%</th>
    <th width="1" bgcolor="#000000"></th>
    <th width="50%">%REVTITLE1% - %REVINFO1%</th>
    <th width="1" bgcolor="#000000"></th>
</tr>
<tr><td></td><td colspan="5" height="2" bgcolor="#000000"></td></tr>
%REPEAT%
<tr><td></td><td colspan="5" height="1" bgcolor="#000000"></td></tr>
%REPEAT%
<tr><td></td>
    <td width="1" bgcolor="#000000"></td>
    <td valign="top" width="50%">%TEXT2%</td>
    <td width="1" bgcolor="#000000"></td>
    <td valign="top" width="50%">%TEXT1%</td>
    <td width="1" bgcolor="#000000"></td>
</tr>
%REPEAT%
<tr><td bgcolor="#cccccc">&nbsp;&nbsp;</td>
    <td width="1" bgcolor="#000000"></td>
    <td valign="top" width="50%">%TEXT2%</td>
    <td width="1" bgcolor="#000000"></td>
    <td valign="top" width="50%">%TEXT1%</td>
    <td width="1" bgcolor="#000000"></td>
</tr>
%REPEAT%
%REPEAT%
%REPEAT%
<tr><td></td><td colspan="5" height="2" bgcolor="#000000"></td></tr>
<tr><th></th>
    <th width="1" bgcolor="#000000"></th>
    <th width="50%">%REVTITLE2% - %REVINFO2%</th>
    <th width="1" bgcolor="#000000"></th>
    <th width="50%">%REVTITLE1% - %REVINFO1%</th>
    <th width="1" bgcolor="#000000"></th>
</tr>
<tr><td></td><td colspan="5" height="2" bgcolor="#000000"></td></tr>
</table>
#TopicEnd
</div>
---

%TMPL:P{"topicaction"}%
%TMPL:END%



%TMPL:DEF{"templatejavascript"}%<style type="text/css" media="all">
.twikiCompareAdd {
    background-color:#ccffcc;
}
.twikiCompareChange2 {
    background-color:#ccffcc;
}
.twikiCompareDelete {
    background-color:#ffcccc;
    text-decoration:line-through;
}
.twikiCompareChange1 {
    background-color:#ffcccc;
    text-decoration:line-through;
}
@import url('%PUBURLPATH%/%SYSTEMWEB%/TwistyContrib/twist.css');
</style>%TMPL:END%

