%TMPL:INCLUDE{"twiki"}%

%TMPL:DEF{"titleaction"}% (%REVTITLE2% vs. %REVTITLE1%) %TMPL:END%
%TMPL:DEF{"webaction"}% %WEBTOPICLIST% %TMPL:END%
%TMPL:DEF{"form"}%
%META{"form"}%%TMPL:END%

%TMPL:DEF{"attachments"}%
%META{"attachments"}%%TMPL:END%

%TMPL:DEF{"footernote"}%
    Revision %REVTITLE2% - %REVINFO2%<br />
    Revision %REVTITLE1% - %REVINFO1%
%TMPL:END%

%TMPL:DEF{"templatescript"}%<style type="text/css" media="all">
.twikiCompareAdd {
    background-color:#ccffcc;
}
.twikiCompareChange2 {
    background-color:#ccffcc;
}
.twikiCompareDelete {
    background-color:#ffcccc;
    text-decoration:line-through;
}
.twikiCompareChange1 {
    background-color:#ffcccc;
    text-decoration:line-through;
}
</style>%TMPL:END%

%TMPL:DEF{"inactive_edit"}%<strike>Edit</strike>%TMPL:END%
%TMPL:DEF{"create_topic"}%Cr<span class="twikiAccessKey">e</span>ate%TMPL:END%
%TMPL:DEF{"edit_topic"}%<span class="twikiAccessKey">E</span>dit%TMPL:END%


%TMPL:DEF{"active_edit"}%<a href='%SCRIPTURLPATH{"edit"}%/%WEB%/%TOPIC%?t=%GMTIME{"$epoch"}%' rel='nofollow' title='Edit this topic text' accesskey='e'><b>%TMPL:P{context="new_topic" then="create_topic" else="edit_topic"}%</b></a> %TMPL:END%

%TMPL:DEF{"inactive_attach"}%<strike>Attach</strike>%TMPL:END%
%TMPL:DEF{"active_attach"}%<a href="%SCRIPTURLPATH{"attach"}%/%WEB%/%TOPIC%" title="Attach an image or document to this topic" rel='nofollow'>Attach</a>%TMPL:END%

%TMPL:DEF{"inactive_more"}%<strike>More topic actions...</strike>%TMPL:END%
%TMPL:DEF{"active_more"}%<a href="%SCRIPTURLPATH{"oops"}%/%WEB%/%TOPIC%?template=oopsmore&amp;param1=%MAXREV%&amp;param2=%CURRREV%" rel='nofollow'>More</a>%TMPL:END%


%TMPL:DEF{"content"}%
<div style="padding-left: 13px">
%REPEAT%
<p><b>[...]</b></p>
%REPEAT%
%TEXT1%
%REPEAT%
<div style="position:relative; left:-13px; border-left:#999999 solid 6px; padding-left:10px;">%TEXT1%</div>
%REPEAT%
%REPEAT%
%REPEAT%
</div>
#TopicEnd
%TMPL:P{"form"}%%TMPL:P{"attachments"}%
%TMPL:P{"topicinfo"}%%TMPL:END%

%TMPL:DEF{"history_rdiff"}%<span class="patternRevision"><a href="%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPIC%?type=history" title="%MAKETEXT{"View total topic history"}%" accesskey="H" rel="nofollow">%MAKETEXT{"&History"}%</a></span>%TMPL:END%

%TMPL:DEF{"history_history"}%<span class="patternRevision"><a href="%SCRIPTURLPATH{"oops"}%/%WEB%/%TOPIC%?template=oopshistory" title="%MAKETEXT{"View total topic history"}%" accesskey="H" rel="nofollow">%MAKETEXT{"&History"}%</a></span>%TMPL:END%

%TMPL:DEF{"topicaction"}% <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%">View</a>
 %TMPL:P{"sep"}% %TMPL:P{context="HistoryPluginEnabled" then="history_history" else="history_rdiff"}% %REVISIONS%
 %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/oops%SCRIPTSUFFIX%/%WEB%/%TOPIC%?template=oopsmore&amp;param1=%MAXREV%&amp;param2=%CURRREV%">More</a> %TMPL:END%