%TMPL:INCLUDE{"searchbase"}%
%TMPL:INCLUDE{"page"}%
%TMPL:INCLUDE{"viewtopicactionbuttons"}%
%TMPL:INCLUDE{"viewbottombar"}%
%TMPL:INCLUDE{"logo"}%

%TMPL:DEF{"templatejavascript"}%<style type="text/css" media="all">
.twikiCompareAdd {
    background-color:#ccffcc;
}
.twikiCompareChange2 {
    background-color:#ccffcc;
}
.twikiCompareDelete {
    background-color:#ffcccc;
    text-decoration:line-through;
}
.twikiCompareChange1 {
    background-color:#ffcccc;
    text-decoration:line-through;
}
</style>%TMPL:END% 

%TMPL:DEF{"titleaction"}%%MAKETEXT{"([_1] vs. [_2])" args="%REVTITLE2%, %REVTITLE1%"}% %TMPL:END%



%TMPL:DEF{"bodyclassname"}%patternNoViewPage patternDiffPage%TMPL:END%



%TMPL:DEF{"pagetitle"}%<h1 class="patternTemplateTitle">%MAKETEXT{"Difference:"}% <a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%">%TOPIC%</a> %TMPL:P{"titleaction"}%</h1>%TMPL:END%




%TMPL:DEF{"header:left"}%<b><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?rev=%REVTITLE1%" rel='nofollow'>%MAKETEXT{"Revision"}% %REVTITLE1%</a></b>%TMPL:END%

%TMPL:DEF{"header:right"}%%REVINFO1%%TMPL:END%


%TMPL:DEF{"result"}%<div class="patternDiff"><div class="patternSearchResults">%TMPL:P{"header"}%
%TEXT%</div><!--/patternSearchResults--></div><!--/patternDiff-->%TMPL:END%



%TMPL:DEF{"history_rdiff"}%<span class="patternRevision"><a href="%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPIC%?type=history" title="%MAKETEXT{"View total topic history"}%" accesskey="H" rel="nofollow">%MAKETEXT{"&History"}%</a></span>%TMPL:END%



%TMPL:DEF{"history_history"}%<span class="patternRevision"><a href="%SCRIPTURLPATH{"oops"}%/%WEB%/%TOPIC%?template=oopshistory" title="%MAKETEXT{"View total topic history"}%" accesskey="H" rel="nofollow">%MAKETEXT{"&History"}%</a></span>%TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%<a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%">%MAKETEXT{"View topic"}%</a>
 %TMPL:P{"sep"}%%TMPL:P{context="HistoryPluginEnabled" then="history_history" else="history_rdiff"}%%REVISIONS%%TMPL:P{"sep"}% <a href="%SCRIPTURLPATH{"oops"}%/%WEB%/%TOPIC%?template=oopsmore&amp;param1=%MAXREV%&amp;param2=%CURRREV%" rel='nofollow'>%MAKETEXT{"More topic actions..."}%</a>%TMPL:END% 



%TMPL:DEF{"content"}%<div class="patternTopic">
%TMPL:P{"pagetitle"}%
---
<div style="padding-left: 13px">
%REPEAT%
<p><b>[...]</b></p>
%REPEAT%
%TEXT1%
%REPEAT%
<div style="position:relative; left:-13px; border-left:#999999 solid 6px; padding-left:10px;">%TEXT1%</div>
%REPEAT%
%REPEAT%
%REPEAT%
</div>
</div>
#TopicEnd 
---

%TMPL:P{"topicaction"}%
%TMPL:END%
