

%TMPL:DEF{firebug}%
<script language="javascript" type="text/javascript" src="%PURURLPATH%/%SYSTEMWEB%/FirebugLitePlugin/pi.js"></script>
<script language="javascript" type="text/javascript" src="%PURURLPATH%/%SYSTEMWEB%/FirebugLitePlugin/firebug-lite.js"></script>
%TMPL:END%

%TMPL:DEF{firebug-compressed}%
<script language="javascript" type="text/javascript" src="%PURURLPATH%/%SYSTEMWEB%/FirebugLitePlugin/firebug-lite-compressed.js"></script>
%TMPL:END%
