.voteStarRating {
  margin: 0;
  padding: 0;
  border: 0;
}
.voteClear {
  background:url(alt_star.gif) top left repeat-x;
  width: 25px;
  height: 25px;	
  float:left;
}
.voteSet {
  background:url(alt_star.gif) center left repeat-x;		
  width: 25px;
  height: 25px;	
  float:left;
}
.voteClear:hover,
.voteSet:hover {
  background:url(alt_star.gif) bottom left repeat-x;		
}
