%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops)%TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Publish configuration error%TMPL:END%
%TMPL:DEF{"message"}%
Can't publish web %WEB% because no publish directory was configured. Please notify your %WIKITOOLNAME%
administrator.

%TMPL:END%
%TMPL:DEF{"topicaction"}% [[%WEB%.%TOPIC%][OK]] %TMPL:END%
%TMPL:P{"oops"}%
