%TMPL:INCLUDE{"view"}%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"(search results)"}% %TMPL:END%



%TMPL:DEF{"webaction"}% %WEBTOPICLIST% %TMPL:END%



%TMPL:DEF{"topicaction"}%%TMPL:END%
%TMPL:DEF{"toolbar_buttons"}%%TMPL:END%

%TMPL:DEF{"bodyclassname"}%patternSearchResultsPage%TMPL:END%



%TMPL:DEF{"repeatedsearchblock"}%<div class="patternSearchResultsHeader" style="background-color:%WEBBGCOLOR%"><span class="twikiLeft">%MAKETEXT{"Search results"}%</span><span class="twikiRight">%MAKETEXT{"retrieved at [_1]" args="%DISPLAYTIME{"$hour:$min ($tz)"}%"}%</span><br class="twikiClear" /></div>
%REPEAT%<div class="patternSearchResults"><div class="twikiTopRow"><div class="twikiLeft">%ICON% %MATCH% %SCORE%<span class="twikiAlert">%LOCKED%</span></div><div class="twikiRight twikiSRAuthor"> %AUTHOR%</div><div class="twikiRight twikiSRRev"><a href="%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPICNAME%" rel='nofollow'>%TIME%</a> - %REVISION%&nbsp;</div><br class="twikiClear" /></div><div class="twikiBottomRow"><div class="twikiSummary twikiGrayText">%TEXTHEAD%</div></div></div>%REPEAT%%TMPL:END%



%TMPL:DEF{"searchbody"}%%SPLIT%%TMPL:P{"repeatedsearchblock"}%%SPLIT%
<div class="patternSearchResultCount">%MAKETEXT{"Number of topics:"}% <b>%NTOPICS%</b></div>%TMPL:END%



%TMPL:DEF{"content"}%
%SPLIT%<div class="patternSearchString">%MAKETEXT{"Searched:"}% <b><nop>%SEARCHSTRING%</b> %SEARCHATTACHMENTSONLY%</div><div class="patternSearchResultsBegin"></div>
%TMPL:P{"searchbody"}%%SPLIT%
%TMPL:P{"standardfooter"}%%TMPL:END%
