%TMPL:INCLUDE{"page"}%
%TMPL:INCLUDE{"logo"}%
%TMPL:INCLUDE{"viewtoolbar"}%
%TMPL:INCLUDE{"viewtopicactionbuttons"}%
%TMPL:INCLUDE{"viewbottombar"}%



%TMPL:DEF{"bodystyle"}% %{ optional CSS styles to be placed in body text }% %TMPL:END%

%TMPL:DEF{"appcontents"}% %{ main application contents }% %TMPL:END%



%TMPL:DEF{"content"}%%TMPL:P{"bodystyle"}%
<div class="patternTopic">
%TMPL:P{"pagetitle"}%
%TMPL:P{"appcontents"}%
</div><!-- /patternTopic-->
%TMPL:END%