%{ to be used by application pages such as edit and attach }%
%TMPL:INCLUDE{"app"}%
%TMPL:INCLUDE{"page"}%
%TMPL:INCLUDE{"logo"}%
%TMPL:INCLUDE{"viewtoolbar"}%
%TMPL:INCLUDE{"viewtopicactionbuttons"}%
%TMPL:INCLUDE{"viewbottombar"}%

%TMPL:DEF{"pagetitle"}%<h1 class="patternTemplateTitle">%TMPL:P{"pagetitlecontents"}%</h1>%TMPL:END%

%TMPL:DEF{"content"}%%TMPL:P{"bodystyle"}%
<div class="patternTopic">
%TMPL:P{"pagetitle"}%%TMPL:P{"appcontent"}%
</div><!-- /patternTopic-->%TMPL:END%