%TMPL:INCLUDE{"attachtables"}%

%{ These templates define the tables used to display attachments. }%

%TMPL:DEF{"commonattachtableattributes"}%tablerules="rows" valign="middle" dataalign="center,left,left,right,left,left, left,center" datavalign="top" headercolor="#0066cc" databg="#ffffff" headerbg="#ffffff" headerbgsorted="#eeeeee" databgsorted="#f5f5f5" %TMPL:END%

%TMPL:DEF{"topicattachmentwisty"}%%TWISTYSHOW{id="attachmentslist" firststart="show" link="%MAKETEXT{"Show attachments"}%" imgleft="%ICONURLPATH{toggleopen}%"}%%TWISTYHIDE{id="attachmentslist" link="%MAKETEXT{"Hide attachments"}%" imgleft="%ICONURLPATH{toggleclose}%"}%<span class="twikiGrayText" id="attachTableAttachmentCount"></span>
%TWISTYTOGGLE{id="attachmentslist" mode="div" remember="on"}%%TMPL:END%

%{ Header definition for topic attachments and top table in attach screen }%
%TMPL:DEF{ATTACH:files:header(basic)}%<div class="twikiAttachments">
%TMPL:P{context="TablePluginEnabled" then="ATTACH:files:tableformat"}%
%TMPL:P{ATTACH:files:header(toprow)}%%TMPL:END%

%{ Format definition for topic attachment table }%
%TMPL:DEF{ATTACH:files:tableformat}%%TABLE{%TMPL:P{"commonattachtableattributes"}%id="twikiAttachmentsTable" summary="%MAKETEXT{"Topic attachments"}%" caption="%MAKETEXT{"Topic attachments"}%"}%%TMPL:END%

%{ Header for topic attachment table }%
%TMPL:DEF{ATTACH:files:header}%<div class="twikiAttachments">
%TMPL:P{context="TablePluginEnabled" then="ATTACH:files:tableformat"}%
%TMPL:P{"topicattachmentwisty"}%
%TMPL:P{ATTACH:files:header(toprow)}%
%TMPL:END%

%{ Footer for topic attachment table }%
%TMPL:DEF{ATTACH:files:footer}%%ENDTWISTYTOGGLE%</div><!--//twikiAttachments-->
<script type="text/javascript">
//<![CDATA[
	var table = document.getElementById("twikiAttachmentsTable");
	if (table) {
		var count = table.getElementsByTagName("tr").length - 1;
		var countStr = "(" + count + ")";
		var showlink = document.getElementById('attachmentslistshow');
		if (showlink != undefined) showlink.firstChild.innerHTML += " " + countStr;
		var hidelink = document.getElementById('attachmentslisthide');
		if (hidelink != undefined) hidelink.firstChild.innerHTML += " " + countStr;
	}
//]]>
</script>
%TMPL:END%