%TMPL:INCLUDE{"attach"}%
%TMPL:DEF{"headerhelp"}% %TMPL:END%
%TMPL:DEF{"webaction"}% Attach file to topic <b>%TOPIC%</b> %TMPL:END%
%TMPL:DEF{"previousdetails"}%
---++ Attach new file%TMPL:END%
%TMPL:DEF{"action"}%Attach new file%TMPL:END%
%TMPL:DEF{"topicaction"}%<div class="TWikiFormButtons"><span class="left">[[%WEB%.%TOPIC%][Cancel]]</span><span class="TWikiSubmitButton"><input type="submit" value="Upload file" /></span><br class="TWikiClearLine" /></div>%TMPL:END%
%TMPL:P{"attach"}%
