%IF{ "context TwistyPluginEnabled" then="" else="<style type='text/css' media='all'>@import url('%PUBURL%/%TWIKIWEB%/TwistyContrib/twist.css');</style>"}%
<style type="text/css" media="all">
/* Check if style urls are valid (non-empty) */
	%IF{ "$ TWIKILAYOUTURL" then="@import url('%TWIKILAYOUTURL%');" else=""}%
	%IF{ "$ TWIKISTYLEURL"  then="@import url('%TWIKISTYLEURL%');" else=""}%
	%IF{ "$ TWIKICOLORSURL" then="@import url('%TWIKICOLORSURL%');" else=""}%
</style>
<!--[if IE]>
<style>
pre {
	overflow-x:auto;
    overflow-y:hidden;
	padding-bottom:expression(this.scrollWidth > this.offsetWidth ? 16 : 0);
}
</style>
<![endif]-->
<style type="text/css" media="all">
	/* Styles that are set using variables */
	.twikiToc li {
		background-image:url("%PUBURL%/%TWIKIWEB%/PatternSkin/bullet-down.gif");
	}
	.patternBookViewList .twikiTopRow {
		background-color:%WEBBGCOLOR%;
	}
	.patternTopBarOverlay {
		background-image:url("%PUBURL%/%TWIKIWEB%/PatternSkin/striped_white.gif");
	}
	.twikiHelp,
	.patternAccessKeyInfo {
		background:url("%PUBURL%/%TWIKIWEB%/PatternSkin/striped_blue.gif");
	}
	.patternLeftBarPersonal,
	.tipsOfTheDayContents {
		background:url("%PUBURL%/%TWIKIWEB%/PatternSkin/gradient_blue.jpg") #fff repeat-x;
	}
	#patternLeftBar,
	#patternMain {
		background:url("%PUBURL%/%TWIKIWEB%/PatternSkin/gradient_yellow.jpg") #fff repeat-x;
	}
	.patternPrintPage #patternMain {
		background:#fff;
	}
	.twikiPageForm table {
		background-image:url("%PUBURL%/%TWIKIWEB%/PatternSkin/striped_yellow.gif");
	}
	.patternLeftBarPersonal li {
		background-image:url("%PUBURL%/%TWIKIWEB%/PatternSkin/bullet-blue.gif");
	}
</style>
<style type="text/css" media="all">
	/* Check if style urls are valid (non-empty) */
	%IF{ "$ USERLAYOUTURL" then="@import url('%USERLAYOUTURL%');" else=""}%
	%IF{ "$ USERSTYLEURL"  then="@import url('%USERSTYLEURL%');" else=""}%
	%IF{ "$ USERCOLORSURL" then="@import url('%USERCOLORSURL%');" else=""}%
</style>
<style type="text/css" media="print">
	@import url("%PUBURL%/%TWIKIWEB%/PatternSkin/print.css");
</style>
