%TMPL:INCLUDE{"moveattachment"}%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"(delete attachment)"}% %TMPL:END%



%TMPL:DEF{"webaction"}% *%MAKETEXT{"Delete file attachment"}%* %TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="twikiSubmit" value=' %MAKETEXT{"Delete"}% ' /> %MAKETEXT{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%



%TMPL:DEF{"pagetitle"}%
---+ %MAKETEXT{"Delete File [_1]" args="<code>%FILENAME%</code>"}%
%TMPL:END%



%TMPL:DEF{"toweb"}%
<th>%MAKETEXT{"To web:"}%</th>
<td class="patternOldCol"><b><nop>%URLPARAM{web}%</b><input type="hidden" name="newweb" value="%URLPARAM{web}%" /></td>
<td class="patternOldCol patternHelpCol"></td>
%TMPL:END%



%TMPL:DEF{"totopic"}%
<tr>
<th>%MAKETEXT{"Topic name:"}%</th>
<td class="patternMainCol"><input name="newtopic" value="TrashAttachment" /></td>
<td class="patternMainCol patternHelpCol">%TMPL:P{"namehelp"}%</td>
</tr>
%TMPL:END%