%TMPL:INCLUDE{"login"}%

%TMPL:DEF{"bodyclassname"}%patternNoViewPage patternLoginPage%TMPL:END%

%TMPL:DEF{"pagetitle"}%%TMPL:END%

%TMPL:DEF{"script:skintemplate"}%<style type="text/css" media="all">
@import url("%PUBURL%/%TWIKIWEB%/TwistyContrib/twist.css");
</style>
<script type="text/javascript" src="%PUBURL%/%TWIKIWEB%/TWikiJavascripts/twikilib.js"></script>
<script type="text/javascript" src="%PUBURL%/%TWIKIWEB%/TWikiJavascripts/twikiPref.js"></script>
<script type="text/javascript" src="%PUBURL%/%TWIKIWEB%/TWikiJavascripts/twikiCSS.js"></script>
<script type="text/javascript" src="%PUBURL%/%TWIKIWEB%/TwistyContrib/twist.compressed.js"></script>
<script type="text/javascript">
// <![CDATA[
var styleText = '<style type="text/css" media="all">.twikiMakeVisible{display:inline;}.twikiMakeVisibleInline{display:inline;}.twikiMakeVisibleBlock{display:block;}.twikiMakeHidden{display:none;}</style>';
document.write(styleText);
// ]]>
</script>%TMPL:END%

%TMPL:DEF{"titlestep"}%<div class="twikiFormStep">
%TMPL:P{"title"}%
%TMPL:P{"notestep"}%
%TMPL:P{"errorstep"}%</div><!-- /twikiFormStep-->%TMPL:END%

%TMPL:DEF{"notestep"}%<div style="display:%IF{'$ERROR or $NOTE or $BANNER' then='block' else='none'}%;">
%IF{"$NOTE" then='---+++ %NOTE%'}%</div>%TMPL:END%

%TMPL:DEF{"errorstep"}%%IF{"$BANNER" then='<div class="twikiNotification twikiAlert twikiUnvisited patternLoginNotification">%BANNER%%IF{"$ERROR" then='<!--%TMPL:P{"error"}%-->'}%</div>'}%%TMPL:END%

%TMPL:DEF{"loginasadministratorstep"}%<div class="twikiFormStep">
%TMPL:P{"loginasadministratorlink"}%
</div><!-- /twikiFormStep-->%TMPL:END%

%TMPL:DEF{"usernamestep"}%<div class="twikiFormStep">
---+++ %MAKETEXT{"Username"}%

%TMPL:P{"usernamefield"}% %TMPL:P{"usernamefieldhelp"}%

<p>%TMPL:P{"loginasadministratorlink"}%</p>
</div><!-- /twikiFormStep-->%TMPL:END%

%TMPL:DEF{"usernamefieldhelp"}%%TWISTY{mode="span" showlink="%MAKETEXT{"Help"}%" hidelink="%MAKETEXT{"Hide help"}%" remember="on"}% <div class="twikiHelp">%TMPL:P{"usernamenote"}%</div> %ENDTWISTY%%TMPL:END%


%TMPL:DEF{"passwordstep"}%<div class="twikiFormStep">
---+++ %MAKETEXT{"Password"}%

%TMPL:P{"passwordfieldnoteremember"}%
</div><!-- /twikiFormStep-->%TMPL:END%

%TMPL:DEF{"submitstep"}%<div class="twikiFormStep twikiLast">%TMPL:P{"submit"}%</div><!-- /twikiFormStep-->%TMPL:END%

%TMPL:DEF{"form"}%<div id="twikiLogin">
%TMPL:P{"formstart"}%
<div class="twikiFormSteps">%TMPL:P{"titlestep"}%
%TMPL:P{"usernamestep"}%%TMPL:P{"passwordstep"}%%TMPL:P{"submitstep"}%</div><!-- /twikiFormSteps-->
%TMPL:P{"formend"}%

<span class="twikiGrayText">%TMPL:P{"seealsonote"}%</span>
</div><!-- /twikiLogin-->%TMPL:END%

%TMPL:DEF{"content"}%%TMPL:P{"form"}%%TMPL:END%

%TMPL:DEF{"bottombar"}%%TMPL:END%