%TMPL:INCLUDE{"oops.pattern"}%
%TMPL:INCLUDE{"oopsmoredelete.pattern"}%
%TMPL:INCLUDE{"oopsmorerename.pattern"}%
%TMPL:INCLUDE{"oopsmorebacklinks.pattern"}%
%TMPL:INCLUDE{"oopsmorechildtopics.pattern"}%
%TMPL:INCLUDE{"oopsmoresetparent.pattern"}%
%TMPL:INCLUDE{"oopsmorerevision.pattern"}%
%TMPL:INCLUDE{"oopsmorecompare.pattern"}%
%TMPL:INCLUDE{"oopsmoresettings.pattern"}%


%TMPL:DEF{"titleaction"}%%MAKETEXT{"(more)"}% %TMPL:END%


%TMPL:DEF{"webaction"}%%TMPL:END%


%TMPL:DEF{"heading"}%%MAKETEXT{"More Actions on Topic [_1]" args="[[%TOPIC%]]"}%%TMPL:END%


%TMPL:DEF{"topicactionbuttons"}%%TMPL:P{"canceltopicaction"}%%TMPL:END%


%TMPL:DEF{"message"}%
%TMPL:P{"oopsmoresettings"}%
%TMPL:P{"oopsmorerename"}%
%TMPL:P{"oopsmoredelete"}%
%TMPL:P{"oopsmoresetparent"}%
%TMPL:P{"oopsmorechildtopics"}%
%TMPL:P{"oopsmorerevision"}%
%TMPL:P{"oopsmorecompare"}%
%TMPL:P{"oopsmorebacklinks"}%
%TMPL:END%