%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%%_{"(more)"}% %TMPL:END%
%TMPL:DEF{"webaction"}%%TMPL:END%
%TMPL:DEF{"heading"}%%_{"More Actions on Topic [_1]", "[[%TOPIC%]]"}%%TMPL:END%
%TMPL:DEF{"message"}%

   * *%_{"Delete topic:"}%*
      * *<a href="%SCRIPTURL{"rename"}%/%WEB%/%TOPIC%?newweb=%TRASHWEB%&amp;nonwikiword=on" rel='nofollow'>%_{"Delete topic..."}%</a>*,
        %_{"looking for references in _all public webs_"}% &nbsp; *%_{"(recommended)"}%*
      * <a href="%SCRIPTURL{"rename"}%/%WEB%/%TOPIC%?newweb=%TRASHWEB%&amp;nonwikiword=on&amp;currentwebonly=on" rel='nofollow'>%_{"Delete topic..."}%</a>,
        %_{"looking for references in _[_1] web_ only", "%WEB%"}%

   * *%_{"Rename or move topic:"}%*
      * *<a href="%SCRIPTURL{"rename"}%/%WEB%/%TOPIC%" rel='nofollow'>%_{"Rename/move topic..."}%</a>*,
        %_{"looking for references in _all public webs_"}% &nbsp; *%_{"(recommended)"}%*
      * <a href="%SCRIPTURL{"rename"}%/%WEB%/%TOPIC%?currentwebonly=on" rel='nofollow'>%_{"Rename/move topic..."}%</a>,
        %_{"looking for references in _[_1] web_ only", "%WEB%"}%

   * *%_{"Backlinks:"}%*
      * %_{"Find topics <a href='[_1]' title='Search the [_2] Web for topics that link to here' accesskey='w'>in [_2] &web</a> that link to [_3]", "%SCRIPTURL{"oops"}%/%WEB%/%TOPIC%?template=backlinksweb", "<nop>%WEB%", "<nop>%TOPIC%"}%
      * %_{"Find topics <a href='[_1]' title='Search all webs for topics that link to here' accesskey='l'>in a&ll public webs</a> that link to [_2]", "%SCRIPTURL{"oops"}%/%WEB%/%TOPIC%?template=backlinksallwebs", "<nop>%TOPIC%"}%

   * *%_{"Child topics in [_1] web:", "<nop>%WEB%"}%*
      * %METASEARCH{type="parent" web="%WEB%" topic="%TOPIC%" default="%_{"No child topics"}%"}%

<form name="main" action="%SCRIPTURL{"edit"}%/%WEB%/%TOPIC%">
<input type="hidden" name="t" value="%GMTIME{"$epoch"}%" />
   * *%_{"Set new topic parent:"}%*
      * %_{"Step 1: Select topic parent:"}% %BR%
        <select name="topicparent" size="10">
        <option value="none">%_{"none (remove topic parent)"}%</option>
        %TOPICLIST{"<option value=$qname>$name</option>" separator=" "}%
        </select>
      * %_{"Step 2: Continue to <input type='submit' class='twikiButton' value='Edit' /> and save [_1] to activate the new parent", "<nop>%TOPIC%"}%
        <input type="hidden" name="t" value="%SERVERTIME{$year$mo$day$hour$min$sec}%" />
</form>

<form name="main" action="%SCRIPTURL{"view"}%/%WEB%/%TOPIC%">
   * *%_{"View previous topic revision:"}%*
      * %_{"Revision:"}% <input type="text" name="rev" size="6" value="%PARAM2%" />
        <input type="checkbox" class="twikiCheckbox" id="raw" name="raw" /><label for="raw">%_{"in raw text format"}%</label>
        <input type="submit" class="twikiButton" value='%_{"View revision"}%' />
      * %_{"Revisions:"}% 1 ... %PARAM1%
</form>

<form name="main" action="%SCRIPTURL{"rdiff"}%/%WEB%/%TOPIC%">
   * *%_{"Compare revisions:"}%*
      * %_{"Older revision:"}%&nbsp;&nbsp; <input type="text" name="rev2" size="6" value="1" />
      * %_{"Newer revision:"}% <input type="text" name="rev1" size="6" value="%PARAM1%" />
        <input type="submit" class="twikiButton" value='%_{"View difference"}%' />
</form>

   * *%_{"Edit topic preference settings:"}%*
      * %_{"<a href='[_1]' rel='nofollow'>Edit settings</a> for this topic", "%SCRIPTURL{"manage"}%/%WEB%/%TOPIC%?action=editSettings"}%%TMPL:END%
     
     

%TMPL:DEF{"topicactionbuttons"}%%TMPL:P{"canceltopicaction"}%%TMPL:END%
%TMPL:P{"oops"}%