%TMPL:INCLUDE{"twiki"}%

%TMPL:DEF{"htmldoctype"}%<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="%LANG%" lang="%LANG%">%TMPL:END%

%TMPL:DEF{"head"}%<head>
%TMPL:P{"windowtitle"}%
<meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
<link rel="icon" href="%FAVICON%" type="image/x-icon" />
<link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
<meta name="robots" content="noindex" />%HTTP_EQUIV_ON_VIEW%
<base href="%SCRIPTURL%/%SCRIPTNAME%/%WEB%/%TOPIC%"></base>
%TMPL:P{"script"}%
%TMPL:P{"twikistyle"}%
</head>%TMPL:END%

%TMPL:DEF{"bodystart"}%<body class="%TMPL:P{"bodyclassname"}%">
#PageTop%TMPL:END%

%TMPL:DEF{"main"}%<div id="patternScreen">
<div id="patternPageShadow">
<div id="patternPage">
%TMPL:P{"startleftbarwrapper"}%<div id="patternOuter">
<div id="patternFloatWrap">
<div id="patternMain">%TMPL:P{"topbarspacer"}%
%TMPL:P{"maincontents"}%
</div><!-- /patternMain-->%TMPL:P{"leftbar"}%
</div><!-- /patternFloatWrap-->
<div class="clear">&nbsp;</div>
</div><!-- /patternOuter-->%TMPL:P{"endleftbarwrapper"}%%TMPL:P{"topbar"}%%TMPL:P{"bottombar"}%
</div><!-- /patternPage-->
</div><!-- /patternPageShadow-->
</div><!-- /patternScreen-->%TMPL:END%

%TMPL:DEF{"maincontents"}%<div id="patternMainContents">%TMPL:P{"logo"}%%TMPL:P{"patterntopiccontents"}%
</div><!-- /patternMainContents-->%TMPL:END%

%TMPL:DEF{"patterntopiccontents"}%%TMPL:P{"content"}%%TMPL:END%

%TMPL:DEF{"bodyend"}%</body></html>%TMPL:END%