%TMPL:INCLUDE{"renamedelete"}%


%TMPL:DEF{"script:skintemplate"}%<script type="text/javascript" src="%PUBURLPATH%/%SYSTEMWEB%/TWikiJavascripts/twiki_renamebase.js"></script>
</script><script type="text/javascript" src="%PUBURLPATH%/%SYSTEMWEB%/TWikiJavascripts/twiki_renamedelete.js"></script>%TMPL:END%