%TMPL:INCLUDE{"renamebase"}%



%TMPL:DEF{"templatescript"}%
<script type="text/javascript">
//<![CDATA[
	var pageElem = document.rename;
//]]>
</script>
<script type="text/javascript" src="%PUBURLPATH%/%TWIKIWEB%/TWikiJavascripts/twiki_renamebase.js"></script>
<script type="text/javascript" src="%PUBURLPATH%/%TWIKIWEB%/TWikiJavascripts/twiki_renamedelete.js"></script>
%TMPL:END%



%TMPL:DEF{"titleaction"}%%MAKETEXT{"(delete)"}% %TMPL:END%



%TMPL:DEF{"webaction"}%%MAKETEXT{"Delete"}%%TMPL:END%



%TMPL:DEF{"newtopic"}%<input name="newtopic" value="%NEW_TOPIC%" size="36" />%TMPL:END%



%TMPL:DEF{"newweb"}%<select name="newweb">%WEBLIST{"<option $marker value=$qname>$name</option>" webs="%NEW_WEB%,public" selection="%NEW_WEB%" separator=" "}%</select>%TMPL:END%



%TMPL:DEF{"namehelp"}%
%MAKETEXT{"This name has been chosen so it doesn't conflict with any other topics already in the [_1] web." args="%NEW_WEB%"}%
%TMPL:END%



%TMPL:DEF{"movewebhelp"}%%MAKETEXT{"Deleted topics will be moved to the [_1] web" args="%NEW_WEB%"}%%TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="twikiSubmit" value='%MAKETEXT{"Delete"}%' /> %MAKETEXT{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%



%TMPL:P{"rename"}%
