%TMPL:INCLUDE{"twiki"}%



%TMPL:DEF{"templatescript"}%
<script type="text/javascript">
//<![CDATA[
	var pageElem = document.rename;
//]]>
</script>
<script type="text/javascript" src="%PUBURLPATH%/%TWIKIWEB%/TWikiJavascripts/twiki_renamebase.js"></script>
%TMPL:END%



%TMPL:DEF{"bodyclassname"}%patternNoViewPage patternRenamePage thisirenamebase%TMPL:END%



%TMPL:DEF{"allownonwikiword"}%<input type="checkbox" class="twikiCheckbox" id="nonwikiword" name="nonwikiword" %NONWIKIWORDFLAG% /><label for="nonwikiword">%MAKETEXT{"Allow non <nop>WikiWord for the new topic name"}%</label>%TMPL:END%

%TMPL:DEF{"simpleheader"}%
---+ %TMPL:P{"webaction"}% %TOPIC% %TMPL:END%


%TMPL:DEF{"content"}%
<form method="post" name="rename" action="%SCRIPTURL{"rename"}%/%WEB%/%TOPIC%">
%TMPL:P{"simpleheader"}%
<div class="patternVersatileTable">
<table>
<tr>
<th>%MAKETEXT{"Change from:"}%</th>
<td class="patternOldCol"><b><nop>%WEB%.%TOPIC%</b></td>
<td class="patternOldCol patternHelpCol"></td>
</tr>
<tr>
<th>%MAKETEXT{"To web:"}%</th>
<td class="patternMainCol">%TMPL:P{"newweb"}%</td>
<td class="patternMainCol patternHelpCol">%TMPL:P{"movewebhelp"}%</td>
</tr>
<tr>
<th>%MAKETEXT{"Topic name:"}%</th>
<td class="patternMainCol">%TMPL:P{"newtopic"}%</td>
<td class="patternMainCol patternHelpCol">%TMPL:P{"namehelp"}%</td>
</tr>
<tr>
<th></th>
<td class="patternMainCol">%TMPL:P{"allownonwikiword"}%</td>
<td class="patternMainCol patternHelpCol"></td>
</tr>
</table>
</div>
<div class="patternSearchResultsHeader">
%MAKETEXT{"Notices:"}%
</div>
<div class="patternRenameOptionsList">
<div class="patternSearchResults"><div class="patternSearchResultsHeader">%MAKETEXT{"Change links in topics that refer to [_1] in the [_2] Web:" args="%TOPIC%, <nop>%WEB%"}%</div>%LOCAL_SEARCH%</div>

<div class="patternSearchResults"><div class="patternSearchResultsHeader">%MAKETEXT{"Change links in topics that refer to [_1] in any Web:" args="[[%WEB%.%TOPIC%]]"}%</div>%GLOBAL_SEARCH%</div>
<hr />
<input type="button" class="twikiButton" value='%MAKETEXT{"Select all"}%' onclick="checkAll(true);" />&nbsp;<input type="button" class="twikiButton" value='%MAKETEXT{"Clear all"}%' onclick="checkAll(false);" /> %MAKETEXT{"checkboxes of referenced topics"}%
</div>
%TMPL:P{"topicaction"}%
</form>
<div class="twikiHelp">
*%MAKETEXT{"Note:"}%*
   * %MAKETEXT{"Get help on <a target='ManagingTopics' onclick=\"return launchWindow('[_1]','ManagingTopics')\" href=\"[_2]\" rel='nofollow'>Renaming and moving topics</a>." args="%TWIKIWEB%,%SCRIPTURL{"view"}%/%TWIKIWEB%/ManagingTopics"}%
   * %MAKETEXT{"Select the [_1] Web to delete the topic." args="%TRASHWEB%"}%
   * %MAKETEXT{"The checkmarked topics will be updated (another form will appear which will _eventually_ allow you to rename any topics that were locked)"}%
</div>
%TMPL:END%



%TMPL:DEF{"rename"}%
%TMPL:P{"page"}%
%TMPL:END%
