%TMPL:INCLUDE{"view"}%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"(search results)"}% %TMPL:END%



%TMPL:DEF{"webaction"}% %WEBTOPICLIST% %TMPL:END%



%TMPL:DEF{"topicaction"}%%TMPL:END%



%TMPL:DEF{"bodyclassname"}%patternSearchResultsPage%TMPL:END%



%TMPL:DEF{"repeatedsearchblock"}%<div class="patternSearchResultsHeader" style="background-color:%WEBBGCOLOR%"><span class="twikiLeft">%MAKETEXT{"Results from [_1] web" args="<nop>%WEB%"}%</span><span class="twikiRight">%MAKETEXT{"retrieved at [_1]" args="%DISPLAYTIME{"$hour:$min ($tz)"}%"}%</span><br class="twikiClear" /></div>
%REPEAT%<div class="patternSearchResults"><div class="twikiTopRow"><div class="twikiLeft"><a href="%SCRIPTURL{"view"}%/%WEB%/%TOPICNAME%"><b>%TOPICNAME%</b></a></div><div class="twikiRight twikiSRAuthor"> %AUTHOR%</div><div class="twikiRight twikiSRRev">%REVISION% - <a href="%SCRIPTURL{"rdiff"}%/%WEB%/%TOPICNAME%" rel='nofollow'>%TIME%</a>&nbsp;</div><br class="twikiClear" /></div><div class="twikiBottomRow"><div class="twikiSummary twikiGrayText">%TEXTHEAD%</div></div></div>%REPEAT%%TMPL:END%



%TMPL:DEF{"searchbody"}%%SPLIT%%TMPL:P{"repeatedsearchblock"}%%SPLIT%
<div class="patternSearchResultCount">%MAKETEXT{"Number of topics:"}% <b>%NTOPICS%</b></div>%TMPL:END%



%TMPL:DEF{"content"}%
%SPLIT%<div class="patternSearchString">%MAKETEXT{"Searched:"}% <b><nop>%SEARCHSTRING%</b></div><div class="patternSearchResultsBegin"></div>
%TMPL:P{"searchbody"}%%SPLIT%
%TMPL:P{"standardfooter"}%%TMPL:END%
