%TMPL:INCLUDE{"twiki.pattern"}%



%TMPL:DEF{"bodyclassname"}%patternViewPage patternPrintPage%TMPL:END%



%TMPL:DEF{"templatecustomstyle"}%
<style type="text/css" media="all">
	@import url("%PUBURLPATH%/%TWIKIWEB%/PatternSkin/print.css");
</style>
%TMPL:END%



%TMPL:DEF{"leftbar"}%%TMPL:END%
%TMPL:DEF{"topbar"}%%TMPL:END%



%TMPL:DEF{"form"}%
%META{"form"}%%TMPL:END%



%TMPL:DEF{"attachments"}%
%META{"attachments"}%%TMPL:END%



%TMPL:DEF{"topicinfo"}%<div class="patternTopicFooter"><span class="patternHomePath">%MAKETEXT{"This topic:"}% <nop>%WEB% %META{"parent" prefix=" <span class='sep'>&gt;</span> " suffix=""}%
<span class='sep'>&gt;</span> %TOPIC%</span>
<div class="patternTopicInfo patternRevInfo">%MAKETEXT{"History:"}% %REVINFO%</div>%TMPL:END%



%TMPL:DEF{"content"}%<div class="patternContent"><div class="patternTopic">
%TEXT%</div>
%TMPL:P{"form"}%%TMPL:P{"attachments"}%</div>
%TMPL:P{"topicinfo"}%%TMPL:END%



%TMPL:DEF{"standardfooter"}%%TMPL:END%



%TMPL:P{"page"}%