%TMPL:INCLUDE{"twiki"}%

%TMPL:DEF{"titleaction"}% %REVTITLE% %TMPL:END%

%TMPL:DEF{"form"}%%META{"form"}%%TMPL:END%

%TMPL:DEF{"attachments"}%%META{"attachments"}%%TMPL:END%

%TMPL:DEF{"toolbar"}%<div class="TWikiToolBar">
%INCLUDE{"%TWIKIWEB%.WebToolBar"}% <br class="TWikiClearLine" /></div>%TMPL:END%

%TMPL:DEF{"standardheader"}%<div class="TWikiTopicHeader"><span class="TWikiGrayText"><span class="left"><span class="TWikiRevInfo">Last changed: %REVDATE% by %REVUSER%</span></span><span class="right"><span class="TWikiPageNav"><a href="#PageBottom">to bottom</a></span></span></span><br class="TWikiClearLine" /></div>%TMPL:END%

%TMPL:DEF{"topicaction"}%<div class="TWikiTopicAction">%EDITTOPIC% %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/attach%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Attach image or document</a> %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?skin=print%REVARG%">Print version</a> %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?raw=on">Raw text</a> %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/oops%SCRIPTSUFFIX%/%WEB%/%TOPIC%?template=oopsmore&param1=%MAXREV%&param2=%CURRREV%">Advanced topic actions</a><br />Revisions: %REVISIONS% %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Total page history</a> %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/search%SCRIPTSUFFIX%/%WEB%/SearchResult?scope=text&amp;regex=on&amp;search=%SPACEDTOPIC%%5B%5EA-Za-z%5D">Backlinks</a></div>%TMPL:END%

%TMPL:DEF{"topicinfo"}%<div class="TWikiTopicInfo"><span class="TWikiRevInfo"><span class="TWikiGrayText">Revision: %REVINFO% <br />%META{"moved"}%</span></span></div>
<div class="TWikiTopicFooter"><span class="left"><span class="TWikiHomePath">You are here: [[%WEB%.WebHome][%WEB%]] %META{"parent" nowebhome="on" prefix=" <span class='sep'>&rarr;</span> " suffix=""}% <span class='sep'>&rarr;</span> <nop>%TOPIC% </span></span><span class="right"><span class="TWikiPageNav"><span class="TWikiGrayText"><a href="#PageTop">to top</a></span></span></span><br class="TWikiClearLine" /></div>%TMPL:END%

%TMPL:DEF{"main"}%
%TMPL:P{"topbar"}%
<div id="TWikiMiddleContainer">
%TMPL:P{"leftbar"}%
<div id="TWikiMain">
%TMPL:P{"toolbar"}%
%TMPL:P{"standardheader"}%
<div id="TWikiTopic">
%TEXT%
</div>
%TMPL:P{"form"}%
%TMPL:P{"attachments"}%
%TMPL:P{"topicaction"}%
%TMPL:P{"topicinfo"}%
%TMPL:P{"standardfooter"}%</div>
</div>
%TMPL:P{"bottombar"}%%TMPL:END%

%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%
