<!-- template: defaultsidebar.nat.tmpl -->
%TMPL:DEF{"defaultsidebar"}% %WEBSIDEBAR% 
%IFSKINSTATETHEN{release="beijing"}%
%ELSESKINSTATE%
%BROADCASTMESSAGE%
%FISKINSTATE% 
%TMPL:END%
%TMPL:DEF{"sidebar"}% %TMPL:P{"defaultsidebar"}% %TMPL:END%
