<!-- template: defaultsidebar.nat.tmpl -->
%TMPL:DEF{"defaultsidebar"}% 
%IFSKINSTATETHEN{style="Pattern"}%
<div class="natSideBarTitle">
<h1 style="background-color:%WEBBGCOLOR%">%WEB%</h1>
</div>
%$nopINCLUDE{"%WEB%.WebLeftBar"}%
</div>
%ELSESKINSTATE%
%$nopWEBSIDEBAR% 
%FISKINSTATE%
%IFSKINSTATETHEN{release="beijing"}%
%ELSESKINSTATE%
%$nopBROADCASTMESSAGE%
%FISKINSTATE% 
%TMPL:END%
%TMPL:DEF{"sidebar"}% 
%IFSKINSTATETHEN{searchbox="pos1"}%
<div class="natSearchBox natSearchBoxPos1">
%$nopTMPL:P{"searchbox"}%
</div>
%FISKINSTATE% <!-- -->
%TMPL:P{"defaultsidebar"}% 
%IFSKINSTATETHEN{searchbox="pos3"}%
<div class="natSearchBox natSearchBoxPos3">
%$nopTMPL:P{"searchbox"}%
</div>
%FISKINSTATE%
%TMPL:END%
