<!-- template: defaulttopbar.nat.tmpl -->
%TMPL:DEF{"defaulttopbar"}%
    <tr>
      <td class="natTopBar natTopLeft %IFSKINSTATE{glue="off" action="oops" then="natTopRight"}%" valign="top">
	<div class="natTopBarSizer">
	  <div class="natTopLeftContents">
	    <div class="natWebTitle">
	      <a href="%WIKILOGOURL%">%WIKITOOLNAME%</a><span class="natWebLocator">%TMPL:P{"locator"}%</span>
	    </div>
	    <div class="natWebSlogan">%SITEMAPUSETO%</div>
	  </div>
	</div>
      </td>
      <td class="natTopBar natTopRight" valign="top" style="%IFSKINSTATE{glue="off" action="oops" then="display:none"}%">
	<div class="natTopBarSizer">
	  <div class="natTopRightContents">
  %IFSKINSTATETHEN{searchbox="top"}% 
	    <div class="natSearchBox natSearchBoxTop">
  %TMPL:P{"searchbox"}%
	    </div>
  %FISKINSTATE%
	    <div class="natTopicActions">
  %TMPL:P{"topicactions"}% 
	    </div>
	  </div>
	</div>
      </td>
    </tr>
%IFSKINSTATETHEN{buttons="on"}%
    <tr>
      <td class="natWebButtons" colspan="2" align="%IFSKINSTATE{sidebar="left" then="right" else="left"}%">
	<div class="natWebButtonsContents">
	  <ul>
	    <li class="%CALC{"$IF($EXACT(%WEB%,Main),current)"}%">[[Main.WebHome][Main]]</li>
	    <li class="%CALC{"$IF($EXACT(%WEB%,User),current)"}%" style="%CALC{"$IF($EXISTS(User/WebHome),,display:none;)"}%">[[User.WebHome][User]]</li><!--
-->%FORMATLIST{"%WEBLIST{separator=","}%" exclude="Main|User|TWiki|TestCases|Sandbox" separator="$n" format="<li class=\"$percntCALC{\"$IF($EXACT(%WEB%,$1),current)\"}$percnt\">[[$1.WebHome][$1]]</li>"}%
	    <li class="%CALC{"$IF($EXACT(%WEB%,Sandbox),current)"}%">[[Sandbox.WebHome][Sandbox]]</li>
	    <li class="%CALC{"$IF($EXACT(%WEB%,%TWIKIWEB%),current)"}%">[[%TWIKIWEB%.WebHome][System]]</li>
	    <!--li class="%CALC{"$IF($EXACT(%WEB%,TestCases),current)"}%" style="%CALC{"$IF($EXISTS(TestCases/WebHome),,display:none;)"}%">[[TestCases.WebHome][TestCases]]</li-->
	  </ul>
	</div>
      </td>
    </tr>
%FISKINSTATE%
%TMPL:END%
%TMPL:DEF{"topbar"}%%TMPL:P{"defaulttopbar"}%%TMPL:END%
