<!-- template: defaultbody.nat.tmpl -->
%TMPL:DEF{"defaultbody"}% 
<table class="natPageBox" cellpadding="0" cellspacing="0" border="0" width="100%">
<tr><td class="natBoxBorderTopLeft"> </td><td class="natBoxBorderTopRight"> </td></tr>
<tr>
  <td class="natBoxBorderLeft">
    <div class="natBodyContents">
      <table class="natLayoutTable natHeaderArt" cellpadding="0" cellspacing="0" border="0" width="100%">
%TMPL:P{"topbar"}%
      %IFSKINSTATETHEN{sidebar="left|off"}%
      </table>
      <table class="natLayoutTable" cellpadding="0" cellspacing="0" border="0" width="100%">
      %FISKINSTATE%
	<tr>
	  %IFSKINSTATETHEN{sidebar="left"}%
	  <td class="natMiddle natMiddleLeft natSideBar" style="%IFSKINSTATE{glue="off" action="oops" then="display:none"}%" rowspan="2" valign="top">
	    <div class="natSideBarContents">
%$nopTMPL:P{"sidebar"}%
	    </div>
	  </td>
	  %FISKINSTATE%
	  <td class="natMiddle natMain %IFSKINSTATE{sidebar="left|off" glue="off" then="natMiddleRight"}% %IFSKINSTATE{sidebar="right|off" glue="off" then="natMiddleLeft"}% %IFSKINSTATE{glue="off" action="oops" then="natMiddleLeft natMiddleRight"}%" valign="top">
	    <div class="natMainContents"> %TMPL:P{"content"}% </div>
	  </td> 
	  %IFSKINSTATETHEN{sidebar="right"}%
	  <td class="natMiddle natMiddleRight natSideBar" style="%IFSKINSTATE{glue="off" action="oops" then="display:none"}%" rowspan="2" valign="top">
	    <div class="natSideBarContents">
%$nopTMPL:P{"sidebar"}%
	    </div>
	  </td> 
	  %FISKINSTATE%
	</tr>
	<tr>
	  <td class="natMiddle natMainFooter %IFSKINSTATE{sidebar="left|off" glue="off" then="natMiddleRight"}% %IFSKINSTATE{sidebar="right|off" glue="off" then="natMiddleLeft"}% %IFSKINSTATE{glue="off" action="oops" then="natMiddleLeft natMiddleRight"}%" valign="bottom">
	    <div class="natMainFooterContents">%TMPL:P{"contentfooter"}%</div>
	  </td>
	</tr>
      </table> 
      <div class="natBottomBar %IFSKINSTATE{sidebar="right|off" glue="off" then="natBottomLeft"}% %IFSKINSTATE{sidebar="left|off" glue="off" then="natBottomRight"}%">
	<div class="natBottomBarContents">
	  <div class="natCopyRight">%WEBCOPYRIGHT%</div>
	  <div class="natTWikiInfo">
	    <!--a href="http://TWiki.org" border="0"><img  border="0" src="%PUBURLPATH%/%TWIKIWEB%/TWikiLogos/horzTWikiPowered.gif" alt=TWiki.org"/></a><br/-->
	    Powered by <a href="http://TWiki.org">TWiki/%WIKIRELEASENAME%</a>
	    <nop>%WIKIVERSION%
	  </div>
	  <div class="natSyndicate">
	    [[%WEB%.WebRss][Syndicate this site <img src="%ICONPATH{rss-feed}%" alt="rss-feed" align="top" border="0"/>]]
	  </div>
	</div>
      </div>
    </div>
  </td>
  <td class="natBoxBorderRight"> </td>
</tr>
<tr><td class="natBoxBorderBottomLeft"> </td><td class="natBoxBorderBottomRight"> </td></tr>
</table>
%TMPL:END%
%TMPL:DEF{"body"}%%TMPL:P{"defaultbody"}%%TMPL:END%
