<!-- template: defaulttopicactions.nat.tmpl -->
%TMPL:DEF{"defaulttopicactions"}% <span class="natLogonRegister">%NATLOGON%</span>
| <a href="%SCRIPTURL%/view/%TWIKIWEB%/SiteMap" accesskey="s">Sitemap</a> %TMPL:END%
%TMPL:DEF{"topicactions"}% %TMPL:P{"defaulttopicactions"}% %TMPL:END%
