<!-- template: defaulttopicactions.nat.tmpl -->
%TMPL:DEF{"defaulttopicactions"}% <span class="natLogonRegister">%NATLOGON%</span>
| <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/SiteMap" accesskey="s">Sitemap</a> 
| <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?skin=print.nat" accesskey="p">Print</a> %TMPL:END%
%TMPL:DEF{"topicactions"}% %TMPL:P{"defaulttopicactions"}% %TMPL:END%
