%TMPL:INCLUDE{"page"}%<!-- template: edit.nat.tmpl -->
%TMPL:INCLUDE{"editbody"}%<!-- -->
%TMPL:INCLUDE{"edittopicactions"}%<!-- -->
%TMPL:INCLUDE{"editjavascript"}%<!-- -->
%TMPL:INCLUDE{"editstyles"}%<!-- -->
%TMPL:INCLUDE{"edithelp.natedit"}%<!-- -->
%TMPL:INCLUDE{"edittoolbar.natedit"}%<!-- -->
%TMPL:DEF{"bodyclass"}%natEditBody%TMPL:END%
%TMPL:DEF{"meta"}% %HTTP_EQUIV_ON_EDIT% %TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% - (%MAKETEXT{"edit"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"locator"}%<span class="natSep">&middot;</span>[[WebHome][%WEB%]]<span class="natSep">&middot;</span><b>%TOPIC%</b>%TMPL:END%
%TMPL:DEF{"contentheader"}%<div class="natBreadCrumbs">%BREADCRUMBS{"%BASEWEB%.%BASETOPIC%" exclude="%BASETOPIC%" separator="<span class='natSep'>&nbsp;&#187; </span>" footer="<span class='natSep'>&nbsp;&#187; </span> <nop>%BASETOPIC%"}%</div>%TMPL:END%
%TMPL:DEF{"content"}% <!-- -->
<form name="EditForm" action="%SCRIPTURLPATH{"save"}%/%WEB%/%TOPIC%" method="post">
%TMPL:P{"formstart"}%
%TABPANE%
%TAB{"%MAKETEXT{"Text"}%" after="$.natedit.autoMaxExpand('#topic')"}%%TMPL:P{"textarea"}%%ENDTAB%
%TMPL:P{"formfields"}%<!-- -->
%TAB{"Settings" after="fixHeightOfPane()"}% %TMPL:P{"settings"}% %ENDTAB%
%TAB{"%MAKETEXT{"Help"}%" after="fixHeightOfPane()"}% %TMPL:P{"edithelp"}% %ENDTAB%
%ENDTABPANE%
%TMPL:P{"bottomtopicactions"}%<!-- -->
%TMPL:P{"formend"}%<!-- -->
</form>%TMPL:END%

%TMPL:DEF{"DIStopicinfo"}%<!-- topicinfo -->
<literal>
<div class="natEditTopicInfo">
  <table>
  <tr class="natEditTopicTitle">
    <th>Title:</th>
    <td><input type="text" name="TopicTitle" size="80" value="%TOPICTITLE%"/></td>
  </tr>
  <tr class="natEditTopicSummary">
    <th>Summary:</th>
    <td><input type="text" name="Summary" size="80" value="%URLPARAM{"Summary" default="%FORMFIELD{"Summary"}%"}%" /></td>
  </tr>
  </table>
</div>
</literal>
<!-- //topicinfo -->%TMPL:END%

%TMPL:DEF{"textarea"}%<!-- textarea -->
%TMPL:P{"topicinfo"}%<!-- dummy -->
<textarea id="topic" class="natEditTextArea" name="text" style="width:99%" rows="22" cols="70">%TEXT%</textarea>
<!-- //textarea -->%TMPL:END%

%TMPL:DEF{"formstart"}% <!-- formstart -->
  <input type="hidden" name="action_addform" value="" />
  <input type="hidden" name="action_cancel" value="" />
  <input type="hidden" name="action_checkpoint" value="" />
  <input type="hidden" name="action_preview" value="" />
  <input type="hidden" name="action_replaceform" value="" />
  <input type="hidden" name="action_save" value="" />
  <input type="hidden" name="cmd" value="%CMD%" /> 
  <input type="hidden" name="cover" value="%URLPARAM{"cover"}%" />
  <input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
  <input type="hidden" name="templatetopic" value="%TEMPLATETOPIC%" />
  <input type="hidden" name="newtopic" value="%NEWTOPIC%" />
  <input type="hidden" name="originalrev" value="%ORIGINALREV%" />
  <input type="hidden" name="redirectto" value="%REDIRECTTO%" />
  <input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
  <input type="hidden" name="submitChangeForm" value="" /> 
  <input type="hidden" name="forcenewrevision" value="%URLPARAM{"forcenewrevision"}%" />
  <input type="hidden" name="nowysiwyg" value="%URLPARAM{"nowysiwyg"}%" />
  <input type="hidden" name="rev" value="%URLPARAM{"rev"}%" />
  <textarea rows="5" cols="22" style="display:none" id="savearea"></textarea>
<!-- //formstart -->%TMPL:END%

%TMPL:DEF{"formfields"}%%FORMFIELDS%%TMPL:END%

%TMPL:DEF{"settings"}%<!-- settings -->
<div class="natSubmitOptions">
<b><label for="parent">%MAKETEXT{"Parent topic"}%:</b></label>
<input type="text" id="parent" name="topicparent" size="40" value="%TOPICPARENT%" />
</div>%TMPL:END%

%TMPL:DEF{"formbutton"}%%FORMBUTTON{"<li class=\"natEditFormButton\"><a href=\"$url\" accesskey=\"f\" title=\"$title\"/><span>$action</span></a></li>"}%%TMPL:END%
