<!-- template: edittopicactions.nat.tmpl -->
%TMPL:DEF{"topicactions"}%
<span class="natAction">Edit</span>
| <a href="javascript:submitEditFormular('preview','preview');" accesskey="p">Preview</a> 
%IFSKINSTATETHEN{release="dakar"}% <!-- -->
| <a href="javascript:submitEditFormular('save','checkpoint');" accesskey="s">Save</a> 
| <a href="javascript:submitEditFormular('save', '');" accesskey="q">Quit</a>
%ELSESKINSTATE% <!-- -->
| <a href="javascript:submitEditFormular('save', '');" accesskey="s">Save</a>
%FISKINSTATE% <!-- -->
<br/> %FORMBUTTON{"$1 |"}%
<a href="javascript:self.location.reload();" accesskey="u">Undo</a>
| <a href="%IFSKINSTATE{release="beijing" then="%SCRIPTURLPATH%/view/%WEB%/%TOPIC%?unlock=on" else="javascript:submitEditFormular('save', 'cancel');"}%" accesskey="c">Cancel</a>
%TMPL:END%
