<!-- template: editsidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}%
---+ Help
---++ <nop>%WIKITOOLNAME%
   * <a href="javascript:launchWindow('Support','GoodStyle');">GoodStyle</a>
   * <a href="javascript:launchWindow('Support','TextFormattingRules');">TextFormatting</a> 
   * <a href="javascript:launchWindow('Support','TWikiVariables');">Variables</a>
   * <a href="javascript:launchWindow('Support','FormattedSearch');">Formatted Search</a>
   * <a href="javascript:launchWindow('Support','TWikiForms');">Form based input</a>
   * <a href="javascript:launchWindow('Support','IncludeTopicsAndWebPages');">Including</a>
---++ <a href="javascript:launchWindow('%TWIKIWEB%', 'InstalledPlugins');">Plugins</a>
<ul>
%FORMATLIST{"%ACTIVATEDPLUGINS%" join=" " format="<li> [[%TWIKIWEB%.$1Plugin][$1]] </li>" pattern="(\w+)Plugin" sort="on"}%
</ul>
---++ External
   * <a href="javascript:window.open('http://en.selfhtml.org', 'SelfHtml');">SelfHtml</a>
%TMPL:END%
