<!-- template: editsidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}%
---+ Help
---++ <nop>%WIKITOOLNAME%
   * <a href="javascript:launchWindow('%TWIKIWEB%','GoodStyle');">GoodStyle</a>
   * <a href="javascript:launchWindow('%TWIKIWEB%','TextFormattingRules');">TextFormatting</a> 
   * <a href="javascript:launchWindow('%TWIKIWEB%','TWikiVariables');">Variables</a>
   * <a href="javascript:launchWindow('%TWIKIWEB%','FormattedSearch');">Formatted Search</a>
   * <a href="javascript:launchWindow('%TWIKIWEB%','TWikiForms');">Form based input</a>
   * <a href="javascript:launchWindow('%TWIKIWEB%','IncludeTopicsAndWebPages');">Including</a>
---++ <a href="javascript:launchWindow('%TWIKIWEB%', 'InstalledPlugins');">Plugins</a>
<ul>
%FORMATLIST{"%ACTIVATEDPLUGINS%" separator=" " format="<li> [[%TWIKIWEB%.$1Plugin][$1]] </li>" pattern="(\w+)Plugin" sort="on"}%
</ul>
---++ External
   * <a href="javascript:window.open('http://en.selfhtml.org', 'SelfHtml');">SelfHtml</a>
%TMPL:END%
