%TMPL:INCLUDE{"edit"}%
<!-- template: editform.nat.tmpl -->
%TMPL:DEF{"title"}%%TOPIC% (%MAKETEXT{"edit form"}%)%TMPL:END%
%TMPL:DEF{"content"}% <!-- -->
<div class="natEdit">
<form name="EditFormular" method="post" action="%NATSCRIPTURLPATH{"save"}%/%WEB%/%TOPIC%">
  %IFSKINSTATETHEN{release="cairo"}%
    <input type="hidden" name="action" value="" />
  %ELSIFSKINSTATE{release="dakar"}%
    <input type="hidden" name="action_preview" value="" />
    <input type="hidden" name="action_save" value="" />
    <input type="hidden" name="action_checkpoint" value="" />
    <input type="hidden" name="action_addform" value="" />
    <input type="hidden" name="action_replaceform" value="" />
    <input type="hidden" name="action_cancel" value="" />
    <input type="hidden" name="settingstopic" value="%SETTINGSTOPIC%" />
    <input type="hidden" name="templatetopic" value="%TEMPLATETOPIC%" />
  %FISKINSTATE%
  <input type="hidden" name="submitChangeForm" value="" />
  <input type="hidden" name="editaction" value="form" />
  <input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
  <input type="hidden" name="originalrev" value="%ORIGINALREV%" />
  <input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
  <input type="hidden" name="cover" value="%URLPARAM{"cover"}%" />
  <input type="hidden" name="topicparent" value="%TOPICPARENT%" />
  <input type="hidden" name="cmd" value="%CMD%" />
  <textarea name="text" rows="10" cols="80" style="display:none">%TEXT%</textarea>
</div>
%FORMFIELDS%
%TMPL:P{"bottomtopicactions"}%
</form>
%TMPL:END%
