From: %WIKIWEBMASTER%
To: %EMAILTO%
Subject: %WIKITOOLNAME%.%WEB% - Automated notification of topic changes
Content-Type: text/plain; charset=%CHARSET%
Content-Transfer-Encoding: 7bit

This is an automated email from %WIKITOOLNAME%.

Review recent changes in:
  %SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/WebChanges

Subscribe / Unsubscribe in:
  %SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%NOTIFYTOPIC%

New or changed topics in the %WEB%Web, since %LASTDATE% GMT:
%TOPICLIST%
