%TMPL:DEF{"MailNotifyBody"}%
From: TWiki Administrator <%WIKIWEBMASTER%>
To: %EMAILTO%
Subject: %WIKITOOLNAME%.%WEB% - Automated notification of topic changes
Content-Type: text/plain; charset=%CHARSET%
Content-Transfer-Encoding: 7bit

This is an automated email from %WIKITOOLNAME%.

Review recent changes in:
  %SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/WebChanges

Subscribe / Unsubscribe in:
  %SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%NOTIFYTOPIC%

New or changed topics in the %WEB% web, since %LASTDATE% GMT:

%IFSKINSTATETHEN{release="dakar" glue="off"}%
%PLAIN_TEXT%
%ELSESKINSTATE%
%TOPICLIST%
%FISKINSTATE%
%TMPL:END%
%TMPL:DEF{PLAIN:middle}%- %AUTHOR%, %TIME%: %URL% 
%TMPL:END%
%TMPL:P{"MailNotifyBody"}%
