<!-- template: moveattachmentsidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}%
---+ Help
	* <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/FileAttachment" target="_blank">File Attachments</a>
	* <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/FileAttachment#Moving_Attachment_Files" target="_blank">Moving Attachments</a>
	* <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/FileAttachment#Deleting_Attachments" target="_blank">Deleting Attachments</a>
	* <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/FileAttachment#Linking_to_Attached_Files" target="_blank">Linking to Attachments</a>
	* <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/HiddenAttachment" target="_blank">Hiding Attachments</a>

---+ Notes
<div class="natNotes">
%TMPL:P{"notes"}% </div>
%TMPL:END%

