%TMPL:INCLUDE{"oops"}%
<!-- template: oopsbadpwdformat.nat.tmpl -->
%TMPL:DEF{"heading"}%Password Format Error%TMPL:END%
%TMPL:DEF{"message"}%
Incorrect format of submitted data: <b>%PARAM1%</b>

The correct format is =WikiName:&lt;encryptedpassword&gt;= (13 chars).

%TMPL:P{"goback"}%
%TMPL:END%
