%TMPL:INCLUDE{"oops"}%
<!-- template: oopsupload.nat.tmpl -->
%TMPL:DEF{"heading"}%Uploaded file "<nop>%PARAM1%" does not exist or is empty%TMPL:END%
%TMPL:DEF{"message"}%
%TMPL:P{"goback"}%
%TMPL:END%
