<!-- template: oopssidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}% 
<style type="text/css">
.natTopRight,
.natSideBar {
  display:none;
  width:0px;
}
.natTopLeft,
.natMain {
  width:100%;
}
.natMainContents {
  margin-left:auto;
  margin-right:auto;
  width:50em;
}
</style>
%TMPL:END%
