%TMPL:INCLUDE{"oops"}%
<!-- template: oopsleaseconflict.nat.tmpl -->
%TMPL:DEF{"heading"}%Conflict%TMPL:END%
%TMPL:DEF{"lease_active"}%<!-- -->
%PARAM1% is editing %WEB%.%TOPIC%.

%PARAM1% has been editing the topic for %PARAM2% and the lease is still active for 
another %PARAM3%.

It is probably OK to go ahead and edit - unless you intend to change data in a
form attached to the topic. If %PARAM1% actually _does_ save the topic while
you are editing, your changes will be merged, and nothing will be lost. Form
data cannot easily be merged though, so in this case you are recommended to
check with %PARAM1% first.

%TMPL:END%
%TMPL:DEF{"lease_old"}% <!-- -->
%PARAM1% may still be editing %WEB%.%TOPIC%.

The lease on this topic expired %PARAM2% ago.

The chances are good that %PARAM1% has simply navigated away from the edit page
without saving.

You are encouraged to go ahead and edit - unless you intend to change data in a
form attached to the topic. If %PARAM1% actually _does_ save while you are editing,
your changes will be merged, and nothing will be lost. Form data cannot easily
be merged though, so in this case you are recommended to check with %PARAM1%
first.
%TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
%{ Instantiate either lease_active or lease_old }%
%INSTANTIATE%

<ul>
  <li> To edit the topic anyway, hit 'Edit&nbsp;Anyway'. </li>
  <li> To see if they have finished their edit yet, click 'Try&nbsp;Again' </li>
  <li> If unsure, click 'Cancel'. </li>
</ul>

<table border="0"><tr>
<form action="%SCRIPTURLPATH%/edit%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post">
<td valign="top">
  <input type="hidden" name="breaklock" value="on" />
  <input type="submit" style="color:red" value="Edit Anyway" />
%QUERYPARAMS% 
</td> 
</form>
<form class="natOopsButtons" action="%SCRIPTURLPATH%/edit%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post">
<td valign="top">
  <input type="submit" style="color:blue" value="Try Again" />
%QUERYPARAMS% 
</td>
</form>
<form class="natOopsButtons" action="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%">
<td valign="top">
  <input type="submit" style="color:green" value="Cancel">
</td>
</form>
</tr></table>
%TMPL:END%
