%TMPL:INCLUDE{"oops"}%
<!-- template: oopsregrequ.nat.tmpl -->
%TMPL:DEF{"heading"}%Missing Fields%TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
Fields with a =<span class="twikiAlert">**</span>= mark are required.

%TMPL:P{"goback"}% %TMPL:END%
