%TMPL:INCLUDE{"oops"}%
<!-- template: oopstopicexists.nat.tmpl -->
%TMPL:DEF{"heading"}%The "%TOPIC%" topic already exists%TMPL:END%
%TMPL:DEF{"message"}%
Can not rename to %TOPIC% as this already exists!

%TMPL:P{"goback"}%%TMPL:END%
