%TMPL:INCLUDE{"oops"}%
<!-- template: oopsregthanks.nat.tmpl -->
%TMPL:DEF{"titleaction"}%(note)%TMPL:END%
%TMPL:DEF{"headingstyle"}%natNoteHeading%TMPL:END%
%TMPL:DEF{"heading"}%Thank you for registering%TMPL:END%
%TMPL:DEF{"message"}%
   * Welcome %WIKIUSERNAME%, take a [[%TWIKIWEB%.WelcomeGuest][first tour]] on the <nop>%WIKITOOLNAME%.
   * Take a look at the [[%TWIKIWEB%.WebHome][TWikiWeb]] to get help on the <nop>%WIKITOOLNAME%.
   * Review your [[%WIKIUSERNAME%][personal %WIKITOOLNAME% homepage]].
     Learn how to customize the <nop>%WIKITOOLNAME% to your needs.
     Suggestion: How about uploading your picture to your <nop>%WIKITOOLNAME% homepage?
   * You are also listed in the %MAINWEB%.%WIKIUSERSTOPIC% topic
   * A confirmation e-mail has been sent to %PARAM1%
%TMPL:END%

