%TMPL:INCLUDE{"oopslogonbase"}%
<!-- template: oopsaccesscreateweb.nat.tmpl -->
%TMPL:DEF{"action"}%view%TMPL:END%
%TMPL:DEF{"heading"}%Create Web Access Denied%TMPL:END%
%TMPL:DEF{"message"}%
%USERNAME% has no permission to create a new <nop><b>%WIKITOOLNAME% Web</b>.

%TMPL:P{"logon"}%

See also: %MAINWEB%.TWikiGroups, %TWIKIWEB%.TWikiAccessControl, %TWIKIWEB%.TWikiRegistration
%TMPL:END%
