<!-- template: oopsstyles.nat.tmpl -->
%TMPL:DEF{"oopsstyles"}%
<style type="text/css">
.natMain h1, .natMain h2, .natMain h3, .natMain h4, .natMain h5, .natMain h6 {
  border-bottom:0px;
}
.natWebButtons,
.natMainHeaderContents {
  display:none;
}
</style>
%TMPL:END%
%TMPL:DEF{"styles"}%
%TMPL:P{"defaultstyles"}%
%TMPL:P{"oopsstyles"}%
%TMPL:END%
