<!-- template: oopssidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}% 
<style type="text/css">
.natTopLeft,
.natMain {
  width:100%;
}
.natMainContents {
  margin-left:auto;
  margin-right:auto;
  width:55em;
}
</style>
%TMPL:END%
