%TMPL:INCLUDE{"oops"}%
<!-- template: oopslogonbase.tmpl -->
%TMPL:DEF{"onloadscript"}%onload="document.LogonFormular.username.focus()"%TMPL:END%
%TMPL:DEF{"logon"}%
<form name="LogonFormular" action="%SCRIPTURL%/natlogon%SCRIPTSUFFIX%" method="post">
<table border="0"> 
<tr> 
  <td>Login: </td>
  <td> <input type="text" size="20" name="username" /> </td>
  <td><font color="red">**</font></td>
</tr>
<tr> 
  <td> Password: </td>
  <td> <input type="password" size="20" name="password" /> </td>
  <td><font color="red">**</font></td>
</tr>
<tr>
  <td colspan="2" align="center"><p />
    <input type="submit" value="Go" />&nbsp;
    <input type="reset"  value="Clear" /> 
    <input type="button" value="Cancel" onclick="window.location.href='%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/Main/WebHome'" /> 
    <input type="hidden" name="web" value="%WEB%" />
    <input type="hidden" name="topic" value="%TOPIC%" />
    <input type="hidden" name="action" value="%TMPL:P{action}%"/>
  </td>
  <td>&nbsp;</td>
</tr>
</table> </form> %TMPL:END%

