%TMPL:INCLUDE{"oops"}%
<!-- template: oopspreview.nat.tmpl -->
%TMPL:DEF{"heading"}%%MAKETEXT{"Topic is not saved yet"}%%TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
%TMPL:P{"goback"}%
%MAKETEXT{"[_1] __Note:__ Go back and click on Cancel if you would like to cancel the changes you did." args="%I%"}% 
%TMPL:END%
