%TMPL:INCLUDE{"oops"}%
<!-- template: oopsnotwikiuser.nat.tmpl -->
%TMPL:DEF{"heading"}%You are not registered%TMPL:END%
%TMPL:DEF{"message"}%
Can't find the username <b>%PARAM1%</b>.

Make sure you spelled the User Name correctly and try again.
Remember, a %TWIKIWEB%.WikiName is case sensitive.
See %MAINWEB%.TWikiUsers for a list of existing users or register as new user in
%TWIKIWEB%.TWikiRegistration. 

%TMPL:P{"goback"}% %TMPL:END%
