%TMPL:INCLUDE{"oops"}%
<!-- template: oopsrenamenotwikiword.nat.tmpl -->
%TMPL:DEF{"heading"}%New topic name is not a <nop>WikiWord %TMPL:END%
%TMPL:DEF{"message"}%
Please chose a topic name that is a %TWIKIWEB%.WikiWord or check the _Allow non-Wiki Word_ &nbsp;box.

%TMPL:P{"goback"}% %TMPL:END%
