<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>%TMPL:P{"title"}%&nbsp;-&nbsp;<nop>%WIKITOOLNAME%</title>
<base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
<meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta name="generator" content="NatsWiki" />
<meta name="generator" content="TWiki.org" /> %TMPL:P{"meta"}%
<link rel="icon" href="%FAVICON%" type="image/x-icon" /> 
<link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
%GETSKINSTYLE%
<script type="text/javascript" charset="ISO-8859-1">
<!--
%TMPL:INCLUDE{"javascript"}%
//-->
</script>
</head>
<body class="natBody">%TMPL:P{"body"}%</body>
</html>
<!-- template: page.nat.tmpl -->
%TMPL:INCLUDE{"defaultbody"}%
%TMPL:INCLUDE{"defaultsidebar"}%
%TMPL:INCLUDE{"defaulttopicactions"}%
%TMPL:INCLUDE{"defaulttopbar"}%
