<!-- template: previewstyles.nat.tmpl -->
%TMPL:DEF{"previewstyles"}%
.natMainContents {
  background-image:url('%PUBURLPATH%/%TWIKIWEB%/NatSkin/previewbg.png');
}
%TMPL:END%
%TMPL:DEF{"styles"}%
%TMPL:P{"defaultstyles"}%
%TMPL:P{"previewstyles"}%
%TMPL:END%
