From: %WIKIWEBMASTER%
To: %FIRSTLASTNAME% <%EMAILADDRESS%>
Subject: %WIKITOOLNAME% - %MAKETEXT{"Registration for [_1] ([_2])" args="%WIKINAME%,%EMAILADDRESS%"}%
MIME-Version: 1.0
Content-Type: text/plain; charset=%CHARSET%
Content-Transfer-Encoding: 7bit

%MAKETEXT{"Thank you for registering in the [_1] collaboration platform.  Please
save this email for future reference.

Read [_2] to get a quick overview of
this collaboration platform.  To learn more, study the TWikiTutorial, which is
accessible from the same link.

Your personal [_1] topic is located at 
[_3]. 
You can customize it as you like:

   * Some people turn it into a personal portal with favorite links, what they
     work on, what help they'd like, etc.
   * Some add schedule information and vacation notice.
   * How about attaching your photo?

Submitted content:

[_4]

Note:
  * If you got this email by mistake: Somebody ([_5]) registered at
    the [_1] site using your mail address [_6]. Contact
    [_1] if this is in error.
  * You can change your password at via
    [_7]
  * If you haven't set a password yet or you want to reset it, go to
    [_8]" args="%WIKITOOLNAME%,%NATSCRIPTURL{\"view\"}%/%TWIKIWEB%/WelcomeGuest,%NATSCRIPTURL{\"view\"}%/%MAINWEB%/%WIKINAME%,%FORMDATA%,%FIRSTLASTNAME%,%EMAILADDRESS%,%NATSCRIPTURL{\"view\"}%/%TWIKIWEB%/ChangePassword%NATSCRIPTURL{\"view\"}%/%TWIKIWEB%/ResetPassword"}%
