From: %WIKIWEBMASTERNAME% <%WIKIWEBMASTER%>
To: %FIRSTLASTNAME% <%EMAILADDRESS%>
BCC: %WIKIWEBMASTER%
Subject: How to activate your %WIKITOOLNAME% registration
MIME-Version: 1.0
Content-Type: text/plain; charset=%CHARSET%
Content-Transfer-Encoding: 7bit

Thank you for registering in the %WIKITOOLNAME% collaboration platform. 
Your verification code is 

   %VERIFICATIONCODE%

You now need to verify your email address. You can do so by entering
the verification code in the form presented to you when this email was sent, or
by visiting %SCRIPTURL{"register"}%?action=verify;code=%VERIFICATIONCODE%.

Note:
If you got this email by mistake: Somebody (%FIRSTLASTNAME%) registered at the %WIKITOOLNAME% site
using your mail address %EMAILADDRESS%. Contact %WIKIWEBMASTER% if this is in error.
