From: %WIKIWEBMASTERNAME% <%WIKIWEBMASTER%>
To: %WIKIWEBMASTERNAME% <%WIKIWEBMASTER%>
Subject: %WIKITOOLNAME% - Registration for %WIKINAME% (%EMAILADDRESS%)
MIME-Version: 1.0
Content-Type: text/plain; charset=%CHARSET%
Content-Transfer-Encoding: 7bit

This is an automated email notification of a user registration at %WIKITOOLNAME%.

%WIKINAME% has been registered with email %EMAILADDRESS%.

Submitted content:

%FORMDATA%

Saved to:

%SCRIPTURL{"view"}%/%MAINWEB%/%WIKINAME%
