%TMPL:INCLUDE{"page"}% 
<!-- template: renamebase.nat.tmpl-->
<!-- -->%TMPL:INCLUDE{"renamebody"}% 
<!-- -->%TMPL:INCLUDE{"renamesidebar"}% 
<!-- -->%TMPL:INCLUDE{"renametopicactions"}% 
<!-- -->%TMPL:INCLUDE{"renamejavascript"}%
<!-- -->%TMPL:INCLUDE{"renamestyles"}%
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% (rename)%TMPL:END%
%TMPL:DEF{"onloadscript"}%document.rename.newtopic.focus();%TMPL:END%
%TMPL:DEF{"locator"}%<span class="natSep">&middot;</span>[[WebHome][%WEB%]]<span class="natSep">&middot;</span>[[%TOPIC%]]%TMPL:END%
%TMPL:DEF{"content"}%<!-- -->
<form method="POST" name="rename" action="%NATSCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%">
<!--input type="hidden" name="confirm" value="on"-->
---+ %TMPL:P{"webaction"}% Topic

*%MAKETEXT{"From:"}%* <code>%WEB%.%TOPIC%</code>

*%MAKETEXT{"To:"}%* %TMPL:P{"newweb"}% %TMPL:P{"newtopic"}% 
%TMPL:P{"buttons"}%
---++ %MAKETEXT{"Change links in topics that refer to [_1] in the [_2] Web:" args="<nop>%TOPIC%,<nop>%WEB%"}%
<div class="natSearchRenameContents">
%IFSKINSTATETHEN{release="dakar"}%
  %LOCAL_SEARCH%
%ELSESKINSTATE%
  %RESEARCH{ "%TOPIC%" web="%WEB%" noempty="on" showlock="on" nototal="on" regex="on" nosearch="on" order="modified" reverse="on" nosummary="on" showlock="on" renameview="local"}%
%FISKINSTATE%
</div>

---++ %MAKETEXT{"Change links in topics that refer to [_1].[_2] in any Web:" args="<nop>%WEB%,<nop>%TOPIC%"}%
<div class="natSearchRenameContents">
%IFSKINSTATETHEN{release="dakar"}%
  %GLOBAL_SEARCH%
%ELSESKINSTATE%
  %RESEARCH{ "%WEB%\.%TOPIC%" web="all" noempty="on" showlock="on" nototal="on" regex="on" nosearch="on" order="modified" reverse="on" nosummary="on" showlock="on" renameview="global"}%
%FISKINSTATE%
</div>

<input type="button" class="natAltButton" value='%MAKETEXT{"Clear all"}%' onClick="checkAll('rename', false);" />
</form>
%TMPL:END%
