<!-- template: renamesidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}%
---+ Help
   * <a href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%TWIKIWEB%/TWikiTopics" target="_blank">About Topics</a>
   * <a href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%TWIKIWEB%/ManagingTopics" target="_blank">Managing Topics</a>
   * <a href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%TWIKIWEB%/DeleteOrRenameATopic" target="_blank">Deleting Topics</a>
   * <a href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%TWIKIWEB%/WikiWord" target="_blank">WikiWord</a>

---+ Notes
<div class="natNotes">
<p> Get help on <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/ManagingTopics" target="_blank">Renaming and moving topics</a>.</p>
<p> It's usually best to chose a <ahref="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/WikiWord" target="_blank" >WikiWord</a> 
     for the new topic name, otherwise automatic linking may not work.  Characters not 
     allowed in topic names, such as spaces will automatically be removed. </p>
<p> Select the [[Trash.WebHome][Trash Web]] to delete the topic. </p>
<p> The checkmarked topics will be updated (another form will appear which
     will _eventually_ allow you to rename any topics that were locked) </p>
</div>
%TMPL:END%
