<!-- template: renamesidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}%<!-- -->
---+ Help
<ul>
  <li> <a href="%NATSCRIPTURLPATH{"view"}%/%TWIKIWEB%/TWikiTopics" target="_blank">About Topics</a> </li>
  <li> <a href="%NATSCRIPTURLPATH{"view"}%/%TWIKIWEB%/ManagingTopics" target="_blank">Managing Topics</a> </li>
  <li> <a href="%NATSCRIPTURLPATH{"view"}%/%TWIKIWEB%/DeleteOrRenameATopic" target="_blank">Deleting Topics</a> </li>
  <li> <a href="%NATSCRIPTURLPATH{"view"}%/%TWIKIWEB%/WikiWord" target="_blank">WikiWord</a> </li>
</ul>

---+ Notes
<div class="natNotes">
<p> Get help on <a href="%NATSCRIPTURLPATH{"view"}%/%TWIKIWEB%/ManagingTopics" target="_blank">Renaming and moving topics</a>.</p>
<p> It's usually best to chose a <a href="%NATSCRIPTURLPATH{"view"}%/%TWIKIWEB%/WikiWord" target="_blank" >WikiWord</a> 
     for the new topic name, otherwise automatic linking may not work.  Characters not 
     allowed in topic names, such as spaces will automatically be removed. </p>
<p> Select the [[Trash.WebHome][Trash]] web to delete the topic. </p>
<p> The checkmarked topics will be updated (another form will appear which
     will _eventually_ allow you to rename any topics that were locked) </p>
</div>
%TMPL:END%
