%TMPL:INCLUDE{"searchbase"}% 
<!-- template: search.nat.tmpl -->
%TMPL:DEF{"content"}% %SPLIT%<b>Search</b>: <span class="natSearchString">%SEARCHSTRING%</span> 
%SPLIT% 
%CALC{"$SET(incr, 0)"}% <!-- CALC incr = 0 -->
<table class="natSearchTable" cellpadding="0" cellspacing="0">
<tr class="natSearchTableTitle">
  <th width="50%" class="natSearchTarget">%WEB% Web</th>
  <th width="30%" class="natSearchRevision">Changed</th>
  <th width="20%" class="natSearchAuthor">Changed by</th>
</tr>
</table> %REPEAT% %CALC{"$SETM(incr, +1)"}% <!-- CALC incr++ -->
<table class="natSearchHit %CALC{"$IF($ODD($GET(incr)),natSearchHitOdd,natSearchHitEven)"}%" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th width="50%" class="natSearchTarget">
      <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%">%TOPICNAME%</a>
    </th>
    <th width="30%" class="natSearchRevision">
      <a style="white-space:pre"href="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%">%TIME% - %REVISION%</a>
    </th><th width="20%" class="natSearchAuthor">
      %AUTHOR% 
    </th>
  </tr>
  <tr>
    <td colspan="3">%TEXTHEAD%<!-- guard--></td>
  </tr> 
</table>%REPEAT% %SPLIT%<div class="natSearchTotal">Number of topics: <span>%NTOPICS%</span></div>%SPLIT%
%TMPL:END%
