<!-- template: searchbox.nat.tmpl -->
%TMPL:DEF{"searchbox"}% <form class="natSearchBox" name="SearchForm" action="%SCRIPTURLPATH%/natsearch%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post">
Search:&nbsp;<input type="text" name="search" value="%URLPARAM{search}%" />
</form>%TMPL:END%
