<!-- template: settingstopicactions.nat.tmpl -->
%TMPL:DEF{"topicactions"}%
<span class="natAction">Edit</span>
| <a href="javascript:document.SettingsFormular.submit();" accesskey="s">Save</a>
| <a href="javascript:self.location.reload();" accesskey="u">Undo</a>
| <a href="%SCRIPTURLPATH%/view/%WEB%/%TOPIC%?unlock=on" accesskey="c">Cancel</a>
%TMPL:END%



