<!-- template: viewjavascript.nat.tmpl -->
%TMPL:DEF{"viewjavascript"}%
<script type="text/javascript">
$(function() {
  if (true) {
    $(".natMainContents .twikiTable, .natMainContents .mwTable")
      .not($(".twikiTable .twikiTable, .mwTable .mwTable", this))
      .wrap("<div class='overflow'></div>");
  }
});
</script>
%TMPL:END%
%TMPL:DEF{"javascript"}%
%TMPL:P{"defaultjavascript"}%
%TMPL:P{"templatejavascript"}%
%TMPL:P{"viewjavascript"}%
%TMPL:END%
