%TMPL:INCLUDE{"page"}%
<!-- template: view.nat.tmpl -->
<!-- -->%TMPL:INCLUDE{"viewbody"}%
<!-- -->%TMPL:INCLUDE{"viewtopicactions"}%
<!-- -->%TMPL:INCLUDE{"viewsidebar"}%
<!-- -->%TMPL:INCLUDE{"viewjavascript"}%
<!-- -->%TMPL:INCLUDE{"viewstyles"}%
<!-- -->%TMPL:INCLUDE{"searchbox"}%
%TMPL:DEF{"title"}%%IFDEFINED{"%PAGETITLE%" then="$test" else="%TOPIC%"}%%TMPL:END%<!-- 
-->%TMPL:DEF{"meta"}%%HTTP_EQUIV_ON_VIEW%
%IFDEFINED{"%METAKEYWORDS%" then="<meta name=\"keywords\" content=\"$test\" />$n<meta http-equiv=\"keywords\" content=\"$test\" />"}%
%IFDEFINED{"%METAAUTHOR%" glue="off" then="<meta name=\"author\" content=\"$test\" />"}%
%IFDEFINED{"%METADESCRIPTION%" then="<meta name=\"description\" content=\"$test\" />}%%TMPL:END%<!--
-->%TMPL:DEF{"content"}%%STARTALIASAREA%%TEXT%
%META{"form"}%
%STOPALIASAREA%%TMPL:END%<!--
-->%TMPL:DEF{"contentheader"}%<div class="natBreadCrumbs">%BREADCRUMBS{separator="<span class='natSep'>&#187;</span>"}%</div>%TMPL:END%<!--
-->%TMPL:DEF{"contentfooter"}%<div class="natTopicAttachments"> %META{"attachments"}% </div>
<div class="natRevision"> %REVINFO% </div>%TMPL:END%
