%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"script"}%
<script type="text/javascript">
<!--HIDE
ns4 = (document.layers)? true:false;
ie4 = (document.all)? true:false;
dom = (document.getElementById)?true:false;

toShow=new Array();
toHide=new Array();

function initForm() {
  document.main.text.focus();
  for (i = 0; i < toShow.length; i++) {
     if(dom) {
        document.getElementById(toShow[i]).style.display="inline";
     } else if( ie4 ) {
        document.all[toShow[i]].style.display="inline";
     } else if( ns4 ) {
        document.layers[toShow[i]].style.display="inline";
     }
  }
  for ( i = 0; i < toHide.length; i++) {
    if(dom) {
        document.getElementById(toHide[i]).style.display="none";
    } else if( ie4 ) {
        document.all[toHide[i]].style.display="none";
    } else if( ns4 ) {
        document.layers[toHide[i]].style.display="none";
    }
  }
}
function checkAll( theButton, theButtonOffset, theNum, theCheck )
{
  // find button element index
  var j = 0;
  for( var i = 0; i <= document.main.length; i++ ) {
    if( theButton == document.main.elements[i] ) {
      j = i;
      break;
    }
  }
  // set/clear all checkboxes
  var last = j+theButtonOffset+theNum;
  for( i = last-theNum; i < last; i++ ) {
    document.main.elements[i].checked = theCheck;
  }
}
function launchWindow( theWeb, theTopic, theAnchor ) {
  if( ! theAnchor ) {
    theAnchor = "";
  }
  win = open( "%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/" + theWeb + "/" + theTopic + "?skin=plain.pattern" + theAnchor,
              theTopic, "titlebar=0,width=500,height=480,resizable,scrollbars");
  if( win ) {
    win.focus();
  }
  return false;
}
//STOP HIDING-->
</script> %TMPL:END%


%TMPL:DEF{"bodystart"}%
<body class="twikiNoViewPage twikiEditPage" onload="initPage()"><a name="PageTop"></a>%TMPL:END%



%TMPL:DEF{"titleaction"}%(add)%TMPL:END%



%TMPL:DEF{"titlehelp"}% %TMPL:END%


%TMPL:DEF{"webaction"}% Add Table Element to <nop>%TABLENAME% for topic : <b>%TOPIC%</b> %TMPL:END%


%TMPL:DEF{"simpleheader"}%
---+++ %HEADERTEXT%
%TMPL:END%

%TMPL:DEF{"toolbar"}%%TMPL:END%


%TMPL:DEF{"content"}%
%SHOWTABLE%
%TMPL:P{"simpleheader"}%
<div class="twikiFormHolder">
<form name="main" enctype="multipart/form-data" action="%SCRIPTURLPATH%/uploadTableRow%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post">
<input type="hidden" name="template" value="%TEMPLATE%">
<input type="hidden" name="tableName" value="%TABLENAME%">
<input type="hidden" name="name" value="%ENTRY%">
%TABLEFIELDS%
<br class="twikiClear" />
#TopicEnd
<span class="twikiRight twikiPageNav twikiGrayText"><a href="#PageTop">to&nbsp;top</a></span><br class="twikiClear" />
%HELPTEXT%
%TMPL:P{"topicaction"}%
%TMPL:P{"topicinfo"}%
</form></div>%TMPL:END%



%TMPL:DEF{"topicaction"}%<table class="twikiTopicAction">
<tr class="twikiTopicAction">
<td class="twikiCancelCol"><a id="cancel" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?unlock=on" accesskey="c">Cancel</a></td>
<td colspan="2" class="twikiSubmitCol">%ACTIONBUTTONS%</td>
</tr>
</table>
%TMPL:END%



%TMPL:DEF{"topicinfo"}%<div class="twikiTopicInfo twikiRevInfo twikiGrayText twikiMoved">%META{"moved"}%</div>%TMPL:END%



%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%