
<script language="JavaScript" type="text/javascript" src="%PLUGINPUBURL%/json.js"></script>
<script language="JavaScript" type="text/javascript" src="%PLUGINPUBURL%/AjaxRequest.js"></script>
<script language="JavaScript" type="text/javascript" src="%PLUGINPUBURL%/JSPopupPlugin.js"></script>
<script type="text/javascript">
addLoadEvent(InitJSPopups);
</script>
