<div id="popupwindow" style="margin:2px;display:none; position: absolute;z-index:100;">
<table id="popuptable" onmouseout="TWiki.JSPopupPlugin.OnMouseLeave(event, null);" style="color:white;background-color: SteelBlue;border-width:1px;border-color:Black;border-style:solid;">
<tr id="popupnoborder" ></tr>
<tr id="popupwrapper" style="padding:2px;margin:2px;background-color: Gainsboro;color:black;"></tr>
</table>
</div>
