%TMPL:INCLUDE{"attach"}%



%TMPL:DEF{"headerhelp"}% %TMPL:END%



%TMPL:DEF{"webaction"}% %MAKETEXT{"Attach file to topic [_1]" args="*%TOPIC%*"}% %TMPL:END%



%TMPL:DEF{"previousdetails"}%
---++ %MAKETEXT{"Attach new file"}%%TMPL:END%



%TMPL:DEF{"action"}%%MAKETEXT{"Attach new file"}%%TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%
<input type="submit" class="twikiSubmit" value='%MAKETEXT{"Upload file"}%' /> %MAKETEXT{"or"}% %TMPL:P{"canceltopicaction"}%
%TMPL:END%



%TMPL:P{"attach"}%
