%TMPL:INCLUDE{"twiki"}%
%TMPL:INCLUDE{"search"}%
%TMPL:DEF{"titleaction"}%(changes) %TMPL:END%
%TMPL:DEF{"searchbody"}%<br />%TMPL:P{"repeatedsearchblock"}%%TMPL:END%
%TMPL:DEF{"content"}%<div class="twikiTopic">%TMPL:P{"searchbody"}%</div>%TMPL:END%