%TMPL:DEF{"sep"}%<span class='twikiSeparator'>&nbsp;|&nbsp;</span>%TMPL:END%


%TMPL:DEF{"LOG_IN"}%%MAKETEXT{"Log In"}%%TMPL:END%
%TMPL:DEF{"LOG_OUT"}%%MAKETEXT{"Log Out"}%%TMPL:END%


%TMPL:DEF{"canceltopicaction"}%<a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%" title='%MAKETEXT{"Back to topic"}%' %MAKETEXT{"accesskey='c'"}% rel='nofollow'>%MAKETEXT{"&Cancel"}%</a>%TMPL:END%


%TMPL:DEF{"bodyclassname"}%patternNoViewPage%TMPL:END%


%TMPL:DEF{"windowtitle"}%%TMPL:P{"titleaction"}% <nop>%TOPIC% &lt; %WEB% &lt; <nop>%WIKITOOLNAME%%TMPL:END%


%TMPL:DEF{"contentwithactions"}%%TMPL:P{"content"}%%TMPL:END%