%TMPL:INCLUDE{"login"}%

%TMPL:DEF{"bodyclassname"}%patternNoViewPage%TMPL:END%

%TMPL:DEF{"pagetitle"}%%TMPL:END%

%TMPL:DEF{"usernamestep"}%<div class="twikiFormStep">
---+++ %MAKETEXT{"Username"}%

%TMPL:P{"usernamefield"}%
<p><div class="twikiGrayText">%TMPL:P{"usernamenote"}%</div><div class="twikiGrayText">%TMPL:P{"authrealm"}%</div></p>
</div><!-- /twikiFormStep-->%TMPL:END%

%TMPL:DEF{"passwordstep"}%<div class="twikiFormStep">
---+++ %MAKETEXT{"Password"}%

%TMPL:P{"passwordfield"}% %BR% %TMPL:P{"passwordnote"}%
%TMPL:P{context="can_remember_login" then="rememberbox"}%
</div><!-- /twikiFormStep-->%TMPL:END%

%TMPL:DEF{"notestep"}%<div class="twikiFormStep">
---++ %BANNER%
<p>
%TMPL:P{"note"}%
</p>
</div><!-- /twikiFormStep-->%TMPL:END%

%TMPL:DEF{"submitstep"}%<div class="twikiFormStep twikiLast">%TMPL:P{"submit"}%</div><!-- /twikiFormStep-->%TMPL:END%

%TMPL:DEF{"form"}%<div id="twikiLogin">
%TMPL:P{"formstart"}%
<div class="twikiFormSteps">%TMPL:P{"notestep"}%%TMPL:P{"usernamestep"}%%TMPL:P{"passwordstep"}%%TMPL:P{"submitstep"}%</div><!-- /twikiFormSteps-->
%TMPL:P{"formend"}%
<span class="twikiGrayText">%TMPL:P{"seealsonote"}%</span>
</div><!-- /twikiLogin-->%TMPL:END%

%TMPL:DEF{"content"}%%TMPL:P{"form"}%%TMPL:END%