%{ Templates for lease conflict messages. One DEF is selected and inserted at %INSTANTIATE }%
%TMPL:INCLUDE{"oopsleaseconflict.tmpl"}%

%TMPL:DEF{"topicaction"}%<a name="Actions"> </a><div class="patternTopicAction"><span class="patternActionButtons"> 
<form action="%SCRIPTURLPATH{"edit"}%/%WEB%/%TOPIC%" method="post">
%QUERYPARAMS% 
<input type="submit" value='%MAKETEXT{"Try Again"}%' />
</form>
%TMPL:P{"sep"}%
<form action="%SCRIPTURLPATH{"edit"}%/%WEB%/%TOPIC%" method="post">
<input type="hidden" name="breaklock" value="on" />
%QUERYPARAMS% 
<input type="submit" value='%MAKETEXT{"Edit Anyway"}%' />
</form>
%MAKETEXT{"or"}% <a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?raw=on">%MAKETEXT{"View raw text without formatting"}%</a>
%MAKETEXT{"or"}% [[%WEB%.%TOPIC%][%MAKETEXT{"View topic"}%]]</span></div>%TMPL:END%