<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="%LANG%" lang="%LANG%">
<head>
<title>%TMPL:P{"windowtitle"}%</title>
<meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
<link rel="icon" href="%FAVICON%" type="image/x-icon" />
<link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
<meta name="robots" content="noindex" />%HTTP_EQUIV_ON_VIEW%
<base href="%SCRIPTURL%/%SCRIPTNAME%/%WEB%/%TOPIC%"></base>
%TMPL:P{"javascript"}%
%TMPL:P{"styles"}%
</head>
<body class="%TMPL:P{"bodyclassname"}%"><a name="PageTop"></a>
<div id="patternScreen">
<div id="patternPageShadow">
<div id="patternPage">
%TMPL:P{"startleftbarwrapper"}%<div id="patternOuter">
<div id="patternFloatWrap">
<div id="patternMain">%TMPL:P{"topbarspacer"}%
<div id="patternMainContents">%TMPL:P{"logo"}%%TMPL:P{"content"}%
</div><!-- /patternMainContents-->
</div><!-- /patternMain-->%TMPL:P{"leftbar"}%
</div><!-- /patternFloatWrap-->
<div class="clear">&nbsp;</div>
</div><!-- /patternOuter-->%TMPL:P{"endleftbarwrapper"}%%TMPL:P{"topbar"}%%TMPL:P{"bottombar"}%
</div><!-- /patternPage-->
</div><!-- /patternPageShadow-->
</div><!-- /patternScreen-->
</body>
</html>
%TMPL:INCLUDE{"constants"}%
%TMPL:INCLUDE{"javascript"}%
%TMPL:INCLUDE{"styles"}%
