%TMPL:INCLUDE{"twiki"}%
%TMPL:INCLUDE{"search"}%



%TMPL:DEF{"titleaction"}%%MAKETEXT{"([_1] vs. [_2])" args="%REVTITLE2%, %REVTITLE1%"}% %TMPL:END%



%TMPL:DEF{"bodyclassname"}%patternNoViewPage patternDiffPage%TMPL:END%



%TMPL:DEF{"leftbar"}%%TMPL:END%



%TMPL:DEF{"repeatedsearchblock"}%%REPEAT%<div class="patternSearchResults"><div class="patternSearchResultsHeader">&nbsp;<tt><b>&lt;&lt;O&gt;&gt;</b></tt>&nbsp; %MAKETEXT{"Difference Topic"}%
      <b><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%">%TOPIC%</a></b>
      (<a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?rev=%REVTITLE1%" rel='nofollow'>%REVTITLE1%</a> - %REVINFO1%)</div>
%TEXT%</div>%REPEAT%%TMPL:END%



%TMPL:DEF{"topicaction"}%<a name="Actions"> </a><div class="patternTopicAction"><span class="patternActionButtons"> <a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%">%MAKETEXT{"View topic"}%</a>
 %TMPL:P{"sep"}% %TMPL:P{"revisions"}%
 %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH{"oops"}%/%WEB%/%TOPIC%?template=oopsmore&amp;param1=%MAXREV%&amp;param2=%CURRREV%" rel='nofollow'>%MAKETEXT{"More topic actions..."}%</a></span></div>%TMPL:END%



%TMPL:DEF{"searchbody"}%%TMPL:P{"repeatedsearchblock"}%%TMPL:END%



%TMPL:DEF{"main"}%<table id="patternColumnWrapper" cellspacing="0" cellpadding="0"><tr>
<td id="patternMain" valign="top"><div class="patternMainContents">
%TMPL:P{"simplewikilogo"}%
%TMPL:P{"content"}%
</div><!-- /patternMainContents--></td></tr></table><!-- /patternColumnWrapper-->%TMPL:END%



%TMPL:DEF{"content"}%%TMPL:P{"searchbody"}%%TMPL:P{"topicaction"}%%TMPL:P{"topicinfo"}%%TMPL:END%



%TMPL:DEF{"topicinfo"}%<div class="patternTopicInfo"><span class="patternRevInfo twikiGrayText">%TAIL%</span></div>%TMPL:END%%REPEAT%%MAKETEXT{"Revision"}% %REVTITLE% - %REVINFO%<br />%TMPL:END%