%TMPL:INCLUDE{"renamebase"}%



%TMPL:DEF{"titleaction"}%(rename - change refs) %TMPL:END%



%TMPL:DEF{"webaction"}% Change references (post rename) %TMPL:END%



%TMPL:DEF{"newtopic"}%<input type="hidden" name="newtopic" value="%NEW_TOPIC%" />%NEW_TOPIC%%TMPL:END%



%TMPL:DEF{"newweb"}%<input type="hidden" name="newweb" value="%NEW_WEB%" />%NEW_WEB%%TMPL:END%



%TMPL:DEF{"hidden"}% <input type="hidden" name="changeRefs" value="on" /> %TMPL:END%



%TMPL:DEF{"topicaction"}%<div class="twikiTopicAction">
<table>
<tr>
<td class="twikiCancelCol">[[%WEB%.%TOPIC%][Cancel]]</td>
<td class="twikiSubmitCol"><input type="submit" class="twikiSubmit" value="Change references" /></td>
<td class="twikiAddCol"></td>
</tr></table></div>%TMPL:END%



%TMPL:P{"rename"}%