%TMPL:INCLUDE{"renamebase"}%



%TMPL:DEF{"titleaction"}%(rename) %TMPL:END%



%TMPL:DEF{"webaction"}%Confirm rename or move%TMPL:END%



%TMPL:DEF{"newtopic"}%<input type="hidden" name="newtopic" value="%NEW_TOPIC%" />%NEW_TOPIC%%TMPL:END%



%TMPL:DEF{"newweb"}%<input type="hidden" name="newweb" value="%NEW_WEB%" />%NEW_WEB%%TMPL:END%



%TMPL:DEF{"topicaction"}%<div class="twikiTopicAction">
<table>
<tr>
<td class="twikiCancelCol">[[%WEB%.%TOPIC%][Cancel]]</td>
<td class="twikiSubmitCol"><input type="hidden" name="nonwikiword" value="%URLPARAM{"nonwikiword"}%" /><input type="submit" class="twikiSubmit" value="Delete" /></td>
<td class="twikiAddCol"></td>
</tr></table></div>%TMPL:END%



%TMPL:P{"rename"}%