%TMPL:INCLUDE{"renamebase"}%



%TMPL:DEF{"titleaction"}%(rename) %TMPL:END%



%TMPL:DEF{"webaction"}%Rename%TMPL:END%



%TMPL:DEF{"newtopic"}%<input name="newtopic" value="%NEW_TOPIC%" size="36" />%TMPL:END%



%TMPL:DEF{"newweb"}%<select name="newweb">%WEBLIST{"<option $marker value=$qname>$name</option>" webs="Trash,public" selection="%NEW_WEB%" separator=" "}%</select>%TMPL:END%



%TMPL:DEF{"namehelp"}%
It's usually best to choose a 
<a target="WikiWord" onclick="return launchWindow('%TWIKIWEB%','WikiWord')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/WikiWord">WikiWord</a> 
for the new topic name, otherwise automatic linking may not work. Characters not allowed in topic names, such as spaces will automatically be removed.
%TMPL:END%



%TMPL:DEF{"movewebhelp"}%You can move the topic to a different web.%TMPL:END%



%TMPL:DEF{"topicaction"}%<div class="twikiTopicAction">
<table>
<tr>
<td class="twikiCancelCol">[[%WEB%.%TOPIC%][Cancel]]</td>
<td class="twikiSubmitCol"><input type="submit" class="twikiSubmit" value="Rename/Move" /></td>
<td class="twikiAddCol"></td>
</tr></table></div>%TMPL:END%



%TMPL:P{"rename"}%