%TMPL:INCLUDE{"renamebase"}%



%TMPL:DEF{"titleaction"}%%MAKETEXT{"(rename)"}% %TMPL:END%



%TMPL:DEF{"webaction"}%%MAKETEXT{"Rename"}%%TMPL:END%



%TMPL:DEF{"changefromtitle"}%---+++ %MAKETEXT{"Change from:"}% <nop>%WEB%.%TOPIC%%TMPL:END%



%TMPL:DEF{"towebtitle"}%---+++ %MAKETEXT{"To web:"}% %TMPL:END%



%TMPL:DEF{"newweb"}%<p><select name="newweb" class="twikiSelect">%WEBLIST{"<option $marker value=$qname>$name</option>" webs="%NEW_WEB%,public" selection="%NEW_WEB%" separator=" "}%</select>%TMPL:P{"movewebhelp"}%<p>%TMPL:END%



%TMPL:DEF{"totopictitle"}%---+++ %MAKETEXT{"To topic:"}% %TMPL:END%



%TMPL:DEF{"newtopic"}%<p><input name="newtopic" class="twikiInputField" value="%NEW_TOPIC%" size="36" />%TMPL:P{"nonwikiword"}%</p>%TMPL:END%



%TMPL:DEF{"movewebhelp"}%<p class="twikiGrayText">%MAKETEXT{"You can move the topic to a different web."}%</p>%TMPL:END%



%TMPL:DEF{"updatenote"}%%MAKETEXT{"Checked topics will be updated to point to the new topic location."}%<p />%TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="twikiSubmit" value='%MAKETEXT{"Rename/Move"}%' /> %MAKETEXT{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%