%TMPL:INCLUDE{"search"}%



%TMPL:DEF{"content"}%<div class="patternBookViewList">%SPLIT%
<div class="patternSearchString">%MAKETEXT{"Searched:"}% <b><nop>%SEARCHSTRING%</b></div>
%TMPL:P{"searchbody"}%%SPLIT%%TMPL:P{"standardfooter"}%</div>%TMPL:END%



%TMPL:DEF{"searchbody"}%%SPLIT%%TMPL:P{"repeatedsearchblock"}%
%SPLIT%<div class="patternSearchResultCount">%MAKETEXT{"Number of topics:"}% <b>%NTOPICS%</b></div>%TMPL:END%



%TMPL:DEF{"repeatedsearchblock"}%<div class="patternSearchResultsHeader" style="background-color:%WEBBGCOLOR%">%MAKETEXT{"Results from [_1] web" args="<nop>%WEB%"}%</div>%REPEAT%<div class="patternSearchResults">
<div class="twikiTopRow"><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPICNAME%"><b>%TOPICNAME%</b></a> (<a href="%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPICNAME%" rel='nofollow'>%TIME%</a> - %REVISION% - %AUTHOR%)</div>
<div class="twikiBottomRow">%TEXTHEAD%</div></div>%REPEAT%%TMPL:END%