%TMPL:INCLUDE{"settings"}%


%TMPL:DEF{"titleaction"}%%MAKETEXT{"(set preferences)"}% %TMPL:END%


%TMPL:DEF{"webaction"}%%MAKETEXT{"Preferences for"}%%TMPL:END%


%TMPL:DEF{"pagetitle"}%%TMPL:P{"webaction"}% %TOPIC%%TMPL:END%


%TMPL:DEF{"saveoptions"}%%TMPL:END%
%TMPL:DEF{"sig"}%%TMPL:END%

%TMPL:DEF{"action_buttons"}%%TMPL:P{"button_save"}% %MAKETEXT{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%


%TMPL:DEF{"accesskeys_help"}%%ICON{info}% <a href="#%MAKETEXT{"Opens page in new window"}%" onclick="return launchWindow('%SYSTEMWEB%', 'AccessKeys')">%MAKETEXT{"Access keys"}%</a>: %MAKETEXT{"S = Save, C = Cancel"}%%TMPL:END%


%TMPL:DEF{"content"}%%TMPL:P{"formstart"}%
%TMPL:P{"toolbar"}%
%TMPL:P{"pagehelp"}%
%TMPL:P{"textarea"}%
%TMPL:P{"topicinfo"}%
%TMPL:P{"formend"}%%TMPL:P{"pagehelp_nojavascript"}%%TMPL:END%