%TMPL:INCLUDE{"twiki.pattern"}%


%TMPL:DEF{"bodyclassname"}%patternPlainPage%TMPL:END%



%TMPL:DEF{"form"}%
%META{"form"}%%TMPL:END%



%TMPL:DEF{"attachments"}%
%META{"attachments"}%%TMPL:END%



%TMPL:DEF{"content"}%<div class="patternContent"><div class="patternTopic">
%TEXT%</div>
%TMPL:P{"form"}%%TMPL:P{"attachments"}%</div>%TMPL:END%



%TMPL:P{"page"}%