%TMPL:INCLUDE{"page.pattern"}%
%TMPL:INCLUDE{"viewtopbar.pattern"}%
%TMPL:INCLUDE{"viewtoolbar.pattern"}%
%TMPL:INCLUDE{"viewleftbar.pattern"}%
%TMPL:INCLUDE{"viewrightbar.pattern"}%
%TMPL:INCLUDE{"viewtopicactionbuttons.pattern"}%
%TMPL:INCLUDE{"viewbottombar.pattern"}%



%TMPL:DEF{"templatescript"}%%TMPL:END%



%{ no logo because we have a top bar }%
%TMPL:DEF{"logo"}%%TMPL:END%



%TMPL:DEF{"bodyclassname"}%patternViewPage%TMPL:END%



%TMPL:DEF{"titleaction"}%%REVTITLE%%TMPL:END%



%TMPL:DEF{"topicpathseparator"}%<span class='twikiSeparator'>&nbsp;&gt;&nbsp;</span>%TMPL:END%



%TMPL:DEF{"form"}%%META{"form"}%%TMPL:END%
%TMPL:DEF{"formattop"}%%TMPL:END%
%TMPL:DEF{"formatbottom"}%%TMPL:P{"form"}%%TMPL:END%



%TMPL:DEF{"attachments"}%%META{"attachments"}%%TMPL:END%
%TMPL:DEF{"attachmentsattop"}%%TMPL:END%
%TMPL:DEF{"attachmentsatbottom"}%%TMPL:P{"attachments"}%%TMPL:END%



%TMPL:DEF{"topicpathinfo"}%<div class="patternHomePath"><span class="twikiRight">%TMPL:P{"revinfo"}%</span><span class="patternHomePathTitle">%MAKETEXT{"You are here:"}% </span> [[%MAINWEB%.%HOMETOPIC%][%WIKITOOLNAME%]]%TMPL:P{"topicpathseparator"}%<a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%HOMETOPIC%"><img src="%ICONURLPATH{web-bg-small}%" border="0" alt="" width="13" height="13" style="background-color:%WEBBGCOLOR%" /> %MAKETEXT{"[_1] Web" args="<nop>%WEB%"}%</a> %META{"parent" nowebhome="on" prefix="%TMPL:P{"topicpathseparator"}%" suffix=""}%%TMPL:P{"topicpathseparator"}%<span title="%WEB%.%TOPIC%"><nop>%TOPIC%</span><br class="twikiClear" /></div><!-- /patternHomePath-->%TMPL:END%



%TMPL:DEF{"revinfo"}% <span class="patternRevInfo">%REVINFO%</span>%TMPL:END%



%TMPL:DEF{"beforetext"}%<div class="twikiBeforeText"></div>%TMPL:END%
%TMPL:DEF{"aftertext"}%<div class="twikiAfterText"></div>%TMPL:END%



%TMPL:DEF{"content"}%%TMPL:P{"toolbar"}%
%TMPL:P{"topicpathinfo"}%
%TMPL:P{"formattop"}%%TMPL:P{"attachmentsattop"}%<div class="patternContent">%TMPL:P{"beforetext"}%%TMPL:P{"textcontent"}%
%TMPL:P{"aftertext"}%%TMPL:P{"formatbottom"}%%TMPL:P{"attachmentsatbottom"}%</div><!-- /patternContent-->
%TMPL:P{"topicaction"}%%TMPL:P{"topicinfo"}%%TMPL:END%



%TMPL:DEF{"textcontent"}%<div class="patternTopic">%BROADCASTMESSAGE% %TEXT%</div><!-- /patternTopic-->%TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%%TMPL:P{"activatable_raw_edit"}%%TMPL:P{"sep"}%%TMPL:P{context="WysiwygPluginEnabled" then="activatable_edit_wysiwyg"}%%TMPL:P{context="WysiwygPluginEnabled" then="sep"}%%TMPL:P{"activatable_attach"}%%TMPL:P{"sep"}%%TMPL:P{"printable"}%%TMPL:P{"sep"}%%TMPL:P{"raw"}%%TMPL:P{"sep"}%%TMPL:P{"backlinks"}%%TMPL:P{"sep"}%%TMPL:P{"revisions"}%%TMPL:P{"sep"}%%TMPL:P{"activatable_more"}%%TMPL:END%



%TMPL:DEF{"topicinfo"}%<div class="patternMoved">%META{"moved"}%</div><!-- /patternMoved-->%TMPL:END%