%TMPL:INCLUDE{"twiki"}%



%TMPL:DEF{"templatescript"}%%TMPL:END%



%TMPL:DEF{"bodyclassname"}%patternViewPage%TMPL:END%



%TMPL:DEF{"titleaction"}%%REVTITLE%%TMPL:END%



%TMPL:DEF{"form"}%%META{"form"}%%TMPL:END%



%TMPL:DEF{"attachments"}%%META{"attachments"}%%TMPL:END%


%TMPL:DEF{"create_topic"}%%_{"Cr&eate"}%%TMPL:END%
%TMPL:DEF{"edit_topic"}%%_{"&Edit"}%%TMPL:END%



%TMPL:DEF{"leftbar"}%<td id="patternLeftBar" valign="top">
<div class="patternLeftBarContents">
%INCLUDE{"%WEB%.WebLeftBar"}%</div><!-- /patternLeftBarContents--></td><!-- /patternLeftBar-->%TMPL:END%



%TMPL:DEF{"inactive_edit"}%<span class="patternButton"><a href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" rel="nofollow" title='%_{"View topic"}%'>%_{"View topic"}%</a></span>%TMPL:P{"sep"}%<span class="patternButton"><strike>%_{"Edit"}%</strike></span>%TMPL:END%

%TMPL:DEF{"editraw"}%<span class="patternButton"><a href="%SCRIPTURL%/edit%SCRIPTSUFFIX%/%WEB%/%TOPIC%?t=%GMTIME{"$epoch"}%" rel="nofollow" title='%_{"Edit this topic text"}%' accesskey="E">%TMPL:P{context="new_topic" then="create_topic" else="edit_topic"}%</a></span>%TMPL:END%
%TMPL:DEF{"activatable_raw_edit"}%%TMPL:P{context="inactive" then="inactive_edit" else="editrawnowysiwyg"}%%TMPL:END%

%TMPL:DEF{"editrawwysiwyg"}%%TMPL:P{"sep"}%%TMPL:P{"editraw"}%%TMPL:END%
%TMPL:DEF{"editrawnowysiwyg"}%%TMPL:P{"editraw"}%%TMPL:END%

%TMPL:DEF{"wysiwyg"}%<span class="patternButton"><a href="%SCRIPTURL%/edit%SCRIPTSUFFIX%/%WEB%/%TOPIC%?skin=kupu" rel="nofollow" title='%_{"Edit this topic text"}%'>%_{"&Compose"}%</a></span>%TMPL:END%
%TMPL:DEF{"activatable_wysiwyg_edit_if_available"}%%TMPL:P{context="WysiwygPluginEnabled" then="wysiwyg"}%%TMPL:END%
%TMPL:DEF{"activatable_wysiwyg_edit"}%%TMPL:P{context="inactive" else="activatable_wysiwyg_edit_if_available"}%%TMPL:END%

%TMPL:DEF{"activatable_combo_edit"}%%TMPL:P{"activatable_raw_edit"}%%TMPL:P{"sep"}%%TMPL:P{"activatable_wysiwyg_edit"}%%TMPL:END%

%TMPL:DEF{"activatable_switchable_edit"}%%TMPL:P{context="WysiwygPluginEnabled" then="wysiwyg" else="activatable_raw_edit"}%%TMPL:END%




%TMPL:DEF{"active_attach"}%<a href="%SCRIPTURLPATH%/attach%SCRIPTSUFFIX%/%WEB%/%TOPIC%" accesskey="A" title="%_{"Attach an image or document to this topic"}%" rel="nofollow">%_{"&Attach"}%</a>%TMPL:END%
%TMPL:DEF{"inactive_attach"}%<strike>%_{"Attach"}%</strike>%TMPL:END%
%TMPL:DEF{"activatable_attach"}%%TMPL:P{context="inactive" then="inactive_attach" else="active_attach"}%%TMPL:END%


%TMPL:DEF{"active_more"}%<a href="%SCRIPTURLPATH%/oops%SCRIPTSUFFIX%/%WEB%/%TOPIC%?template=oopsmore&param1=%MAXREV%&param2=%CURRREV%" title='%_{"Delete or rename this topic; set parent topic; view and compare revisions"}%' accesskey="M" rel="nofollow">%_{"&More topic actions"}%</a>%TMPL:END%
%TMPL:DEF{"inactive_more"}%<span class="patternButton"><strike>%_{"More topic actions..."}%</strike></span>%TMPL:END%
%TMPL:DEF{"activatable_more"}%%TMPL:P{context="inactive" then="inactive_more" else="active_more"}%%TMPL:END%

%TMPL:DEF{toolbar_buttons}%<div class="patternToolBarButtons">%TMPL:P{"activatable_switchable_edit"}%<span class="patternButton">%TMPL:P{"activatable_attach"}%</span><span class="patternButton">%TMPL:P{"printable"}%</span></div>%TMPL:END%

%TMPL:DEF{"toolbar"}%<div class="patternTop">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td class="patternHomePath"><span class="patternHomePathTitle">%_{"You are here"}%: </span>[[%MAINWEB%.%HOMETOPIC%][%WIKITOOLNAME%]] <span class="twikiSeparator">&gt;</span> <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%HOMETOPIC%"><img src="%ICONPATH{web-bg-small}%" border="0" alt="" width="13" height="13" style="background-color:%WEBBGCOLOR%" /> <nop>%MAKETEXT{"[_1] Web" args="%WEB%"}%</a> %META{"parent" nowebhome="on" prefix=" <span class=\"twikiSeparator\">&gt;</span> " suffix=""}% <span class="twikiSeparator">&gt;</span> <span title="%WEB%.%TOPIC%"><nop>%TOPIC%</span></td>
<td class="patternRevInfo"><span class="patternRevision">%REVINFO%</span></td></tr>
<tr>
<td class="patternToolBar" colspan="2">
%TMPL:P{"toolbar_buttons"}%
</td>
</tr>
</table>
</div>
<div class="patternToolBarBottom"></div>
%TMPL:END%



%TMPL:DEF{"main"}%%TMPL:P{"topbar"}%<table id="patternColumnWrapper" cellspacing="0" cellpadding="0"><tr>
%TMPL:P{"leftbar"}%
<td id="patternMain" valign="top"><div class="patternMainContents">%BROADCASTMESSAGE%%TMPL:P{"toolbar"}%
%TMPL:P{"content"}%
</div><!-- /patternMainContents--></td></tr></table><!-- /patternColumnWrapper-->%TMPL:P{"bottombar"}%%TMPL:END%



%TMPL:DEF{"content"}%<div class="twikiHidden"><hr /></div><a name="Content"> </a><div class="twikiHidden"> %_{"Start of topic"}% | <a href="#Actions">%_{"Skip to actions"}%</a><hr /></div>
<div class="patternContent"><div class="patternTopic">%TEXT%
#TopicEnd
</div><div class="twikiHidden"><hr />%_{"End of topic"}%<br /><a href="#Actions">%_{"Skip to actions"}%</a> | <a href="#PageTop">%_{"Back to top"}%</a><hr /></div>
%TMPL:P{"form"}%%TMPL:P{"attachments"}%</div>
%TMPL:P{"topicaction"}%
%TMPL:P{"topicinfo"}%%TMPL:END%

%TMPL:DEF{"printable"}%<a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?skin=print.pattern,pattern%REVARG%" title="%_{"Printable version of this topic"}%" accesskey="P" rel="nofollow">%_{"&Printable"}%</a>%TMPL:END%

%TMPL:DEF{"viewraw"}%<a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?raw=on%REVARG%" title="%_{"View raw text without formatting"}%" accesskey="R" rel="nofollow">%_{"Raw View"}%</a>%TMPL:END%

%TMPL:DEF{"raw"}%%TMPL:P{"viewraw"}%%TMPL:P{context="WysiwygPluginEnabled" then="editrawwysiwyg"}%%TMPL:END%

%TMPL:DEF{"backlinks"}%%_{"Backlinks"}%: <a href="%SCRIPTURLPATH%/oops%SCRIPTSUFFIX%/%WEB%/%TOPIC%?template=backlinksweb" title="%_{"Search the <nop>%WEB% Web for topics that link to here"}%" accesskey="W">%_{"&Web"}%</a>, <a href="%SCRIPTURLPATH%/oops%SCRIPTSUFFIX%/%WEB%/%TOPIC%?template=backlinksallwebs" title="%_{"Search all webs for topics that link to here"}%" accesskey="L">%_{"A&ll Webs"}%</a>%TMPL:END%

%TMPL:DEF{"topicactionbuttons"}%%TMPL:P{"activatable_switchable_edit"}%%TMPL:P{"sep"}%%TMPL:P{"activatable_attach"}%%TMPL:P{"sep"}%%TMPL:P{"printable"}%%TMPL:P{"sep"}%%TMPL:P{"raw"}%%TMPL:P{"sep"}%%TMPL:P{"backlinks"}%%TMPL:P{"sep"}%%TMPL:P{"revisions"}%%TMPL:P{"sep"}%%TMPL:P{"activatable_more"}%%TMPL:END%



%TMPL:DEF{"topicinfo"}%<div class="patternMoved twikiGrayText">%META{"moved"}%</div><!-- /patternMoved-->%TMPL:END%



%TMPL:P{"page"}%