%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"script"}%
<script type="text/javascript">
<!--HIDE
ns4 = (document.layers)? true:false;
ie4 = (document.all)? true:false;
dom = (document.getElementById)?true:false;

toShow=new Array();
toHide=new Array();

function initForm() {
  document.main.text.focus();
  for (i = 0; i < toShow.length; i++) {
     if(dom) {
        document.getElementById(toShow[i]).style.display="inline";
     } else if( ie4 ) {
        document.all[toShow[i]].style.display="inline";
     } else if( ns4 ) {
        document.layers[toShow[i]].style.display="inline";
     }
  }
  for ( i = 0; i < toHide.length; i++) {
    if(dom) {
        document.getElementById(toHide[i]).style.display="none";
    } else if( ie4 ) {
        document.all[toHide[i]].style.display="none";
    } else if( ns4 ) {
        document.layers[toHide[i]].style.display="none";
    }
  }
}
function checkAll( theButton, theButtonOffset, theNum, theCheck )
{
  // find button element index
  var j = 0;
  for( var i = 0; i <= document.main.length; i++ ) {
    if( theButton == document.main.elements[i] ) {
      j = i;
      break;
    }
  }
  // set/clear all checkboxes
  var last = j+theButtonOffset+theNum;
  for( i = last-theNum; i < last; i++ ) {
    document.main.elements[i].checked = theCheck;
  }
}
function launchWindow( theWeb, theTopic, theAnchor ) {
  if( ! theAnchor ) {
    theAnchor = "";
  }
  win = open( "%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/" + theWeb + "/" + theTopic + "?skin=plain" + theAnchor,
              theTopic, "titlebar=0,width=500,height=480,resizable,scrollbars");
  if( win ) {
    win.focus();
  }
  return false;
}
//STOP HIDING-->
</script>%TMPL:END%

%TMPL:DEF{"footernote"}%
<div class="TWikiFooterNote">
&nbsp; &nbsp;
</td><td valign="top">
&nbsp; &nbsp;
<input type="checkbox" name="unlock" %RELEASEEDITLOCKCHECKBOX% /> Release edit lock
<font size="-1">(<a target="UnlockTopic" onclick="return launchWindow('%TWIKIWEB%','UnlockTopic')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/UnlockTopic">help</a>)</font> <br />
&nbsp; &nbsp;
<input type="checkbox" name="dontnotify" %DONTNOTIFYCHECKBOX% /> Minor changes, don't notify
<font size="-1">(<a target="DontNotify" onclick="return launchWindow('%TWIKIWEB%','DontNotify')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/DontNotify">help</a>)</font>
<font color="#333333" size="-1">
%INCLUDE{"%TWIKIWEB%.WikiSyntaxSummary"}%
</font>
 </div>%TMPL:END%
 
%TMPL:DEF{"topicaction"}%
	<input type="submit" class="twikiSubmit" name="action" value="Cancel" id="cancel" />%TMPL:P{"sep"}%
	<input type="submit" class="twikiSubmit" name="action" value="Checkpoint" id="checkpoint" />
	<input type="submit" class="twikiSubmit" name="action" value="QuietSave" id="quietsave" />
    <input type="submit" class="twikiSubmit" name="action" value="Save" id="save" />%TMPL:P{"sep"}% 
	<input type="submit" class="twikiSubmit" name="action" value="Preview" id="preview" />%TMPL:END%
%TMPL:DEF{"titleaction"}%(edit) %TMPL:END%
%TMPL:DEF{"titlehelp"}% %TMPL:END%
%TMPL:DEF{"webaction"}%Change topic%TMPL:END%
%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
<body bgcolor="#ffffff" onload="initForm()">
#PageTop
<form name="main" action="%SCRIPTURLPATH%/save%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post">
%TMPL:P{"simpleheader"}%
<textarea name="text" wrap="virtual" rows="%EDITBOXHEIGHT%" cols="%EDITBOXWIDTH%" style="%EDITBOXSTYLE%" onkeydown="if(window.event.keyCode==27) return false;">%TEXT%</textarea><br />
<input type="hidden" name="skin" value="classicWC" />
<input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
<input type="hidden" name="topicparent" value="%TOPICPARENT%" />
<input type="hidden" name="cmd" value="%CMD%" />
See below for help in editing this page.
<table border="0" cellpadding="2" cellspacing="0">
 <tr>
  <td><b>-- <nop>%WIKIUSERNAME% - %DATE%</b></td>
  <td> &nbsp;&nbsp; <code>&lt;==</code> Your signature for easy copy and paste (triple click to select)</td>
 </tr>
</table>
<p />
Summary of changes:
<input type="hidden" name="t"   value="%URLPARAM{"t"}%" />
<font size="-1">(<a target="RevComment" onclick="return launchWindow('%TWIKIWEB%','RevComment')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/RevComment">help</a>)</font> <br />
<input class="twikiEditComment" type="text" size="%EDITBOXWIDTH%" style="%EDITBOXSTYLE%" name="comment">
%FORMFIELDS%
%TMPL:P{"standardfooter"}%
</form>
#PageBottom
</body>
</html>
