<li id="addform" ><a href="javascript:submitEditForm('save', 'addform');" accesskey="f" /><span>%MAKETEXT{"Add form"}%</span></a></li>
<script type="text/javascript">
$(function() {
  $("#addform").insertBefore("#cancel");
});
</script>
