/* View mode */
.editTable {
	padding-bottom:1em;
}
/* Edit mode */
.editTableInput,
.editTableTextarea {
	font-family:monospace;
}
.editTableActionButton {
	margin:0 2px 2px 0;
	cursor:pointer; cursor:hand;
}
td.editTableActionCell {
	vertical-align:middle;
}
.editTableActionCell a:hover {
	background:none;
}
.editTableActionSelectedCell {
	background-color:#006699;
}
.twikiTableEven textarea,
.twikiTableEven .editTableTextarea,
.twikiTableEven input {
	background-color:#f5f5f5;
}
.twikiTableOdd textarea,
.twikiTableOdd .editTableTextarea,
.twikiTableOdd input {
	background-color:#ffffff;
}
.editTableCalendarButton {
	margin:0 2px;
}