.formPluginNotification {
	background-color:#fff3d8;
	padding:0 .25em;
}
.formPluginNotification,
.formPluginNotification code,
div.formPluginNotification a:link,
div.formPluginNotification a:visited {
	color:#EE3312;
}
div.formPluginNotification {
	padding:.6em 20px; /* side padding same as foswikiFormStep (assuming PatternSkin) */
	margin:1em 0;
	border:1px solid #ffc23c;
	background-image:url(error.gif);
	background-repeat:no-repeat;
	background-position:20px .7em;
}
div.formPluginNotification ul {
	margin:0 0 .25em 30px;
	padding:0;
	list-style:none;
}
div.formPluginNotification a:link,
div.formPluginNotification a:visited {
	text-decoration:underline;
}
fieldset.formPluginGroup {
	display:inline;
	vertical-align:middle;
	border:none;
	padding:0 3em 0 0;
	margin:0;
}
fieldset.formPluginGroupWithHint {
	border-right:1px solid #ccc;
}
.formPluginError input,
.formPluginError .formPluginGroup {
	background-color:#ffc23c;
}
.formPluginHint {
	color:#777;
	margin:0 0 0 .2em;
}
.formPluginMandatory {
	color:#EE3312;
	margin:0 0 0 .2em;
}
