/* header art variation */
.natHeaderArt {
  background-image:url(BlueFieldBar.jpg); 
  background-repeat:no-repeat;
  background-position:top left;
}
.natTopBarSizer {
  height:140px;
  max-height:140px;
}

.natSearchBoxTop input {
  background:#293768;
  color:white;
  border:1px solid white;
}

.natSearchBox,
.natWebButtons,
.natWebButtons a,
.natWebTitle,
.natWebTitle a,
.natAction,
.natWebSlogan,
.natTopBar,
.natTopBar a {
  color:white;
}
