/* header art variation */
.natHeaderArt {
  /*background-color: #2474BD;*/
  border:1px solid white; /* IE fix */
  background-image:url(BlueTechCherryBar.jpg); 
  background-repeat:no-repeat;
  background-position:top center;
}

.natTopBarSizer {
  height:140px;
  max-height:140px;
}

.natSearchBoxTop {
  color:white;
}
.natSearchBoxTop input {
  background:#2474BD;
  color:white;
  border:0px;
}

.natWebButtons,
.natWebButtons a,
.natWebTitle,
.natWebTitle a,
.natAction,
.natWebSlogan,
.natTopBar,
.natTopBar a {
  color:white;
}
