/* variation to switch on the web buttons for clean */
@import url('BaseButtons.css');

.natWebButtons {
  border-bottom:1px #aaaaaa dotted;
}
.natTopBar {
  border-bottom:0px;
  height:100px;
}
.natWebButtonsContents {
  margin-left:20px;
  margin-right:10px;
  padding:5px 0px 10px 2px;
  font-size:x-small;
  font-family:arial,sans-serif;
}

.natWebButtons ul li {
  padding-right:10px;
}
.natWebButtons ul li a {
  padding:5px 0px;
  font-weight:normal;
  font-weight:bold;
}
.natWebButtons ul li.current a:hover,
.natWebButtons ul li a:hover {
  text-decoration: none;
  border-bottom:5px solid #aaaaaa;
}

.natWebButtons ul li.current a {
  text-decoration: none;
  border-bottom:5px solid #aaaaaa;
}

