/* thin variant for clean */
@import url("BaseThin.css");

.natTopLeft {
  border-left:1px #aaaaaa solid;
}
.natTopRight {
  border-right:1px #aaaaaa solid;
}
.natMiddleLeft {
  border-left:1px #aaaaaa solid;
}
.natMiddleRight {
  border-right:1px #aaaaaa solid;
}
.natSideBar,
.natMainFooter {
  border-bottom:1px #aaaaaa solid;
}
.natBottomBar {
  background:#e5e5e5;
}
