/* border variation for georgia blue */
@import url('BaseBorder.css');

.natTopLeft,
.natMiddleLeft {
  border-left:1px solid #aaaaaa;
}
.natTopRight, 
.natMiddleRight {
  border-right:1px solid #aaaaaa;
}
.natSideBar,
.natMainFooter {
  border-bottom:1px solid #aaaaaa;
}
.natBottomBarContents {
  background:#efefef;
}
