/* variation to switch on the web buttons for georgia blue */
@import url('BaseButtons.css');

.natWebButtons {
  padding-left:15px;
  padding-right:30px;
  background:#336699;
}
.natWebButtonsContents {
  padding:0px 5px 10px;
  font-size:x-small;
  font-family:verdana,arial,sans-serif;
  font-weight:bold;
}
.natWebButtons ul li {
  padding-right:10px;
}
.natWebButtons ul li a {
  padding:5px 0px;
  color:#99ccff;
}
.natWebButtons ul li.current a:hover,
.natWebButtons ul li a:hover {
  text-decoration: none;
  border-bottom:5px solid #996666;
}

.natWebButtons ul li.current a {
  text-decoration: none;
  border-bottom:5px solid #99cc66;
}

