/* header art variation */
.natHeaderArt {
  background-image:url(PlasticLoveBar.jpg); 
  background-repeat:no-repeat;
  background-position:top left;
}
.natTopBarSizer {
  height:140px;
  max-height:200px;
}
.natSearchBoxTop input {
  background:white;
  color:black;
  border:1px solid black;
}
.natTopRightContents a:hover {
  color:white;
  background:#FE1C70;
  text-decoration:none;
}
.natTopRightContents {
  color:white;
}
.natSearchBox,
.natAction,
.natWebSlogan,
.natTopBar,
.natTopBar a {
  color:black;
}
.natWebSlogan,
.natWebLocator {
  display:none;
}
.natWebTitle,
.natWebTitle a {
  color:#FE1C70;
}
.natWebSlogan {
  color:#010569;
  color:white;
  font-weight:bold;
}
.natWebTitle {
  text-decoration:underline;
}

/* web buttons */
.natWebButtons {
  padding-left:10px;
}
.natWebButtonsContents {
  padding:5px 10px 5px;
}
.natWebButtons ul li a {
  margin:0px;
  padding:2px 5px;
  border-bottom:0px !important;
  border:1px solid transparent;
}
.natWebButtons ul li.current a:hover {
  background:white;
  color:#FE1C70;
}
.natWebButtons ul li.current a {
  background:white;
  color:black;
}
.natWebButtons ul li a:hover {
  background:#FE1C70;
  color:black;
}

/* forms */
.natTopicEditForm,
.natTopicForm,
.twikiPageForm th,
.natTopicForm td {
  border-top:2px solid #FE1C70;
  border-bottom:2px solid #FE1C70;
}
.natTopicEditForm table th a,
.natTopicEditForm th,
.natTopicForm table th a,
.natTopicForm th {
  background:transparent;
}
.natTopicEditForm,
.natTopicEditForm .twikiTable,
.natTopicForm,
.natTopicForm .twikiTable {
  background:#fafafa;
}
.natTopicForm,
.natTopicEditForm {
  padding:5px;
}

.natTopicEditForm th,
.natTopicEditForm td,
.natTopicForm th,
.twikiPageForm th,
.natTopicForm td {
  background:transparent;
  border:0px;
}

.natTopicForm select,
.twikiPageForm select,
.twikiPageForm table textarea,
.twikiPageForm table input,
.natTopicForm table textarea,
.natTopicForm table input {
  border:0px;
  border:1px solid #666666;
}
