/* header art variation */
.natHeaderArt {
  background:white;
  background-image:url(PlasticLoveBar.jpg); 
  background-repeat:no-repeat;
  background-position:top left;
}
.natTopBarSizer {
  height:140px;
  max-height:200px;
}
.natSearchBoxTop input {
  background:white;
  color:black;
  border:1px solid black;
}
.natTopRightContents a:hover {
  color:white;
  background:#FE1C70;
  text-decoration:none;
}
.natTopRightContents {
  color:white;
}
.natSearchBox,
.natWebButtons,
.natWebButtons a,
.natAction,
.natWebSlogan,
.natTopBar,
.natTopBar a {
  color:black;
}
.natWebSlogan,
.natWebLocator {
  display:none;
}
.natWebTitle,
.natWebTitle a {
  color:#FE1C70;
}
.natWebSlogan {
  color:#010569;
  color:white;
  font-weight:bold;
}
.natWebTitle {
  text-decoration:underline;
}
