/* variation to switch on the web buttons for sea green */
@import url('BaseButtons.css');

.natTopBar {
  padding-bottom:2em;
  border-bottom:0px;
}
.natWebButtons {
  padding-left:0px;
  padding-right:0px;
  background: #99CC66;
  border-bottom: 2px solid #6699CC;
}
.natWebButtonsContents {
  font-size:small;
  font-family:'Trebuchet MS', arial, sans-serif;
  padding:0px 0px 0px 20px;
}
.natWebButtons ul li {
  padding-right:10px;
}
.natWebButtons ul li a {
  padding:5px 10px;
  color:white;
  font-weight:bold;
}
.natWebButtons ul li a:hover {
  text-decoration: none;
  background:#669966;
  color:white;
}

.natWebButtons ul li.current a:hover {
  background:#447744;
}
.natWebButtons ul li.current a {
  text-decoration: none;
  background:#669966;
  color:#99CC66;
  color:white;
}
