html body {
	margin:0;
	padding:0;
	background-color:#8D929A;
}
#patternScreen {
	margin:0 6% 8px 6%;
	padding:0 0 .25em 0;
}
#patternPageShadow {
	padding:7px;
}
#patternLeftBar {
	margin-top:2em;
	margin-left:2em;
}
#patternBottomBar {
	border:none;
}
.patternBottomBarContents, 
.patternBottomBarContents a:link,
.patternBottomBarContents a:visited {
	color:#ccc;
}