/*	-----------------------------------------------------------
	COLOR
	Appearance: text colors, background colors, border colors
	-----------------------------------------------------------	*/
	
/*	----------------------------------------------------------------------------
	CONSTANTS
	
	Logical groupings
	----------------------------------------
	G_Text_on_background_BG												#fff
	G_Text_on_background_T												#000
	
	G_Link_normal_T														#06c
	G_Link_normal_BG													(not defined)
	G_Link_action_button (same as G_Link_hover_BG)						#D6000F
	G_Link_hover_T														#FBF7E8
	G_Link_hover_BG														#D6000F
	
	G_Disabled_BO														#e0e0e0
	G_Disabled_T														#ccc
	G_Disabled_BG														#f5f5f5
	
	Text colors
	----------------------------------------
	T1 text color														#000
	T5 header color														#a00
	T6 code text, left bar text											#7A4707
	T7 muted (dark gray) text											#666
	T8 grayed out text													#8E9195
	T9 alert (red)														#f00
	T9_m muted alert (dark red)											#900
	T10 'new' (green)													#049804
	T11 button text color, header (dark gray)							#333
	T12 .patternTopicAction .twikiSeparator								#aaa
	
	Background colors
	----------------------------------------
	BG1	(white)															#fff
	BG3	table header background											#efefef
	BG4 active form field (not implemented yet)							#ffc
	BG5 info (very light blue) (placeholder for background image)		#ECF4FB
	BG6	topic action row (light yellow)									#FBF7E8
	BG7 h1, h2, etc header (very light yellow)							#FDFAF1
	BG8 sorted table column accent background							#ccc
	BG9 attachment, form (light yellow)									#FEFBF3
	BG10 'new' (light green)											#ECFADC
	BG11 diff header (dark gray) (same as T8)							#8E9195
	BG12 submit button (dark yellow)									#FED764
	BG13 edit form, form steps (light blue)								#F6FAFD
	BG14 left bar (lighter blue)										#F9FCFE
	
	Border colors
	----------------------------------------
	BO1	form (light gray)												#efefef
	BO2 submit button (blue) ('active')									#88B6CF
	BO3	info (light blue)												#D5E6F3
	BO4 hr line, bottom of h2, attachment table, form (brown)			#E2DCC8
	BO5 header h3..h6 bottom (75% of BO4)								#E9E4D2
	BO6 textarea, input and select (darker gray)						#aaa
	BO7 main layout elements (neutral tone)								#ccc
	BO8 disabled, sup (light neutral tone)								#ddd
	BO9 alert															#f00
	BO10 .twikiInputField, .twikiSelect									#aaa #ddd #ddd #aaa
	BO11 .twikiSubmit, .twikiButton										#ddd #aaa #aaa #ddd
	BO11_a .twikiSubmit, .twikiButton (active)							#999 #ccc #ccc #999

	------------------------------------------------------------------------- */

/* LAYOUT ELEMENTS */

#patternTopBar {
	background-color:#fff; /*G_Text_on_background_BG*/
	border-color:#ccc; /*BO7*/
}
#patternMain { /* don't set a background here; use patternOuter */ }
#patternOuter {
	background-color:#fff; /*G_Text_on_background_BG*/ /*** Sets background of center col***/
	border-color:#ccc; /*BO7*/
}
#patternLeftBar, #patternLeftBarContents { /* don't set a background here; use patternWrapper */ }
#patternWrapper {
	background-color:#F6FAFD; /*BG13*/
}
#patternBottomBar {
	background-color:#fff; /*G_Text_on_background_BG*/
	border-color:#ccc; /*BO7*/
}
#patternBottomBarContents,
#patternBottomBarContents a:link,
#patternBottomBarContents a:visited {
	color:#8E9195;	/*T8*/
}

/* GENERAL HTML ELEMENTS */

html body {
	background-color:#fff; /*G_Text_on_background_BG*/
	color:#000; /*G_Text_on_background_T*/
}
/* be kind to netscape 4 that doesn't understand inheritance */
body, p, li, ul, ol, dl, dt, dd, acronym, h1, h2, h3, h4, h5, h6 {
	background-color:transparent;
}
hr {
	color:#ccc; /*BO7*/
	background-color:#ccc; /*BO7*/
}
pre, code, tt {
	color:#7A4707; /*T6*/
}
h1, h2, h3, h4, h5, h6 {
	color:#a00; /*T5*/
}
h1 a:link,
h1 a:visited {
	color:#a00; /*T5*/
}
h1 a:hover {
	color:#FBF7E8; /*G_Link_hover_T*/
}
h2 {
	background-color:#FDFAF1; /*BG7*/
	border-color:#E2DCC8; /*BO4*/
}
h3, h4, h5, h6 {
	border-color:#E9E4D2; /*BO5*/
}
/* to override old Render.pm coded font color style */
.twikiNewLink font {
	color:inherit;
}
.twikiNewLink a:link sup,
.twikiNewLink a:visited sup {
	color:#666; /*T7*/
	border-color:#ddd; /*BO8*/
}
.twikiNewLink a:hover sup {
	background-color:#D6000F; /*G_Link_hover_BG*/
	color:#FBF7E8; /*G_Link_hover_T*/
	border-color:#D6000F; /*G_Link_hover_BG*/ /* (part of bg) */
}
.twikiNewLink {
	border-color:#ddd; /*BO8*/
}
:link:focus,
:visited:focus,
:link,
:visited,
:link:active,
:visited:active {
	color:#06c; /*G_Link_normal_T*/
	background-color:transparent;
}
:link:hover,
:visited:hover {
	color:#FBF7E8; /*G_Link_hover_T*/
	background-color:#D6000F; /*G_Link_hover_BG*/
}
:link:hover img,
:visited:hover img {
	background-color:transparent;
}
/* fix for hover over transparent logo: */
#patternTopBar :link:hover img,
#patternTopBar :visited:hover img {
	background:#fff; /*G_Text_on_background_BG*/
}
.patternTopic a:visited {
	color:#666; /*T7*/
}
.patternTopic a:hover {
	color:#FBF7E8; /*G_Link_hover_T*/
}

/* Form elements */

textarea,
input,
select {
	border-color:#aaa; /*BO6*/
	color:#000; /*G_Text_on_background_T*/
}
.twikiSubmit,
.twikiButton {
	border-color:#ddd #aaa #aaa #ddd; /*BO11*/
	color:#333; /*T11*/
	background-color:#fff; /*BG1*/
}
.twikiSubmit:active,
.twikiButton:active {
	border-color:#999 #ccc #ccc #999; /*BO11_a*/
	color:#000; /*T1*/
}
.twikiSubmitDisabled,
.twikiSubmitDisabled:active {
	border-color:#e0e0e0; /*G_Disabled_BO*/
	color:#ccc; /*G_Disabled_T*/
	background-color:#f5f5f5; /*G_Disabled_BG*/
}
.twikiInputField,
.twikiSelect {
	border-color:#aaa #ddd #ddd #aaa; /*BO10*/
	color:#000; /*G_Text_on_background_T*/
	background-color:#fff; /*G_Text_on_background_BG*/
}
.twikiInputFieldDisabled {
	color:#666; /*T7*/
}

/*	-----------------------------------------------------------
	Plugin elements
	-----------------------------------------------------------	*/

/* TablePlugin */
.twikiTable,
.twikiTable td,
.twikiTable th {
	border-color:#ccc; /*BO8*/
}
.twikiTable th a:link,
.twikiTable th a:visited,
.twikiTable th a font {
	color:#06c; /*G_Link_normal_T*/
}
.twikiTable th a:hover,
.twikiTable th a:hover font {
	background-color:transparent;
	color:#D6000F; /*G_Link_hover_BG*/
	border-color:#D6000F; /*G_Link_hover_BG*/
}

/* TablePlugin - sorting of table columns */
.patternTopic th.twikiSortedAscendingCol,
.patternTopic th.twikiSortedDescendingCol {
	background-color:#ccc; /*BG8*/
}
th.twikiSortedAscendingCol a:link,
th.twikiSortedAscendingCol a:link font,
th.twikiSortedAscendingCol a:visited,
th.twikiSortedAscendingCol a:visited font,
th.twikiSortedDescendingCol a:link,
th.twikiSortedDescendingCol a:link font,
th.twikiSortedDescendingCol a:visited,
th.twikiSortedDescendingCol a:visited font {
	border-color:#666; /*T7*/
}
th.twikiSortedAscendingCol a:hover,
th.twikiSortedAscendingCol a:hover font,
th.twikiSortedDescendingCol a:hover,
th.twikiSortedDescendingCol a:hover font {
	border-color:#D6000F; /*G_Link_hover_BG*/
}

/* TwistyContrib */
.twistyPlaceholder {
	color:#8E9195; /*T8*/
}
.twistyTrigger a:link,
.twistyTrigger a:visited {
	color:#06c; /*G_Link_normal_T*/
}
.twistyTrigger a:hover,
a:hover.twistyTrigger {
	color:#FBF7E8; /*G_Link_hover_T*/
}

/* TipsContrib */
.tipsOfTheDay {
	background-color:#ECF4FB; /*BG5*/
}
.patternTopic .tipsOfTheDayHeader {
	color:#333; /*T11*/
}
/* TipsContrib - in left bar */
#patternLeftBar .tipsOfTheDay a:link,
#patternLeftBar .tipsOfTheDay a:visited {
	color:#a00; /*T5*/
}
#patternLeftBar .tipsOfTheDay a:hover {
	color:#FBF7E8; /*G_Link_hover_T*/
}

/* RevCommentPlugin */
.revComment .patternTopicAction {
	background-color:#FEFBF3; /*BG9*/
}

/*	-----------------------------------------------------------
	TWiki styles
	-----------------------------------------------------------	*/

.twikiGrayText {
	color:#8E9195; /*T8*/
}
.twikiGrayText a:link,
.twikiGrayText a:visited {
	color:#8E9195; /*T8*/
}
.twikiGrayText a:hover {
	color:#FBF7E8; /*G_Link_hover_T*/
}

table.twikiFormTable th.twikiFormTableHRow,
table.twikiFormTable td.twikiFormTableRow {
	color:#666; /*T7*/
}
.twikiEditForm {
	color:#000; /*G_Text_on_background_T*/
}
.twikiEditForm .twikiFormTable th,
.twikiEditForm .twikiFormTable td {
	border-color:#ddd; /*BO8*/
}
.twikiEditForm .twikiFormTable td  {
	background-color:#F6FAFD; /*BG13*/
}
.twikiEditForm .twikiFormTable th {
	background-color:#ECF4FB; /*BG5*/
}
.patternContent .twikiAttachments,
.patternContent .twikiForm {
	background-color:#FEFBF3; /*BG9*/
	border-color:#E2DCC8; /*BO4*/
}
.twikiAttachments table,
table.twikiFormTable {
	border-color:#ccc; /*BO7*/
	background-color:#fff; /*G_Text_on_background_BG*/
}
.twikiAttachments table {
	background-color:#fff; /*G_Text_on_background_BG*/
}
.twikiAttachments td, 
.twikiAttachments th {
	border-color:#ccc; /*BO7*/
}
.twikiAttachments th/*,
table.twikiFormTable th.twikiFormTableHRow*/ {
	background-color:#fff; /*G_Text_on_background_BG*/
}
.twikiAttachments td {
	background-color:#fff; /*G_Text_on_background_BG*/
}
.twikiAttachments th a:link,
.twikiAttachments th a:visited,
table.twikiFormTable th.twikiFormTableHRow a:link,
table.twikiFormTable th.twikiFormTableHRow a:visited {
	color:#06c; /*G_Link_normal_T*/
}
.twikiAttachments th font,
table.twikiFormTable th.twikiFormTableHRow font {
	color:#06c; /*G_Link_normal_T*/
}
.twikiAttachments th a:hover,
table.twikiFormTable th.twikiFormTableHRow a:hover {
	border-color:#06c; /*G_Link_normal_T*/
	background-color:transparent;
}
.twikiAttachments th.twikiSortedAscendingCol,
.twikiAttachments th.twikiSortedDescendingCol {
	background-color:#efefef; /*BG3*/
}
.twikiFormSteps {
	background-color:#F6FAFD; /*BG13*/
	border-color:#E2DCC8; /*BO4*/
}
.twikiFormStep {
	border-color:#E2DCC8; /*BO4*/
}
.twikiFormStep h3,
.twikiFormStep h4 {
	background-color:transparent;
}
.twikiToc .twikiTocTitle {
	color:#666; /*T7*/
}
.twikiBroadcastMessage {
	background-color:yellow;
}
.twikiBroadcastMessage b,
.twikiBroadcastMessage strong {
	color:#f00; /*T9*/
}
.twikiAlert,
.twikiAlert code {
	color:#f00; /*T9*/
}
.twikiEmulatedLink {
	color:#06c; /*G_Link_normal_T*/
}
.twikiPageForm table {
	border-color:#ddd; /*BO8*/
	background:#fff; /*G_Text_on_background_BG*/
}
.twikiPageForm hr {
	border-color:#efefef; /*BO1*/
	background-color:#efefef; /*BO1*/
	color:#efefef; /*BO1*/
}
.twikiHelp {
	background-color:#ECF4FB; /*BG5*/
	border-color:#D5E6F3; /*BO3*/
}
.twikiAccessKey {
	color:inherit;
	border-color:#8E9195; /*T8*/
}
a:link .twikiAccessKey,
a:visited .twikiAccessKey,
a:hover .twikiAccessKey {
	color:inherit;
}


/*	-----------------------------------------------------------
	Pattern skin specific elements
	-----------------------------------------------------------	*/
#patternPage {
	background-color:#fff; /*G_Text_on_background_BG*/
}
/* Left bar */
#patternLeftBarContents {
	color:#666; /*T7*/
}
#patternLeftBarContents .patternWebIndicator {
	color:#000; /*T1*/
}
#patternLeftBarContents .patternWebIndicator a:link,
#patternLeftBarContents .patternWebIndicator a:visited {
	color:#000; /*T1*/
}
#patternLeftBarContents .patternWebIndicator a:hover {
	color:#FBF7E8; /*G_Link_hover_T*/
}
#patternLeftBarContents hr {
	color:#E2DCC8; /*BO4*/
	background-color:#E2DCC8; /*BO4*/
}
#patternLeftBarContents a:link,
#patternLeftBarContents a:visited {
	color:#7A4707; /*T6*/
}
#patternLeftBarContents a:hover {
	color:#FBF7E8; /*G_Link_hover_T*/
}
#patternLeftBarContents b,
#patternLeftBarContents strong {
	color:#333; /*T11*/
}
#patternLeftBarContents .patternChangeLanguage {
	color:#8E9195; /*T8*/
}
#patternLeftBarContents .patternLeftBarPersonal {
	border-color:#D5E6F3; /*BO3*/
}
#patternLeftBarContents .patternLeftBarPersonal a:link,
#patternLeftBarContents .patternLeftBarPersonal a:visited {
	color:#06c; /*G_Link_normal_T*/
}
#patternLeftBarContents .patternLeftBarPersonal a:hover {
	color:#FBF7E8; /*G_Link_hover_T*/
	background-color:#D6000F; /*G_Link_hover_BG*/
}
.patternSeparator {
	font-family:monospace;
}
.patternTopicActions {
	border-color:#E2DCC8; /*BO4*/
}
.patternTopicAction {
	color:#666; /*T7*/
	border-color:#E2DCC8; /*BO4*/
	background-color:#FBF7E8; /*BG6*/
}
.patternTopicAction s,
.patternTopicAction strike {
	color:#ccc; /*G_Disabled_T*/
}
.patternTopicAction .twikiSeparator {
	color:#aaa; /*T12*/
}
.patternActionButtons a:link,
.patternActionButtons a:visited {
	color:#D6000F; /*G_Link_action_button*/
}
.patternActionButtons a:hover {
	color:#FBF7E8; /*G_Link_hover_T*/
}
.patternTopicAction .twikiAccessKey {
	color:#D6000F; /*G_Link_action_button*/
	border-color:#D6000F; /*G_Link_action_button*/
}
.patternTopicAction label {
	color:#000; /*T1*/
}
.patternHelpCol {
	color:#8E9195; /*T8*/
}
.patternFormFieldDefaultColor {
	/* input fields default text color (no user input) */
	color:#8E9195; /*T8*/
}

.patternToolBar .patternButton s,
.patternToolBar .patternButton strike,
.patternToolBar .patternButton a:link,
.patternToolBar .patternButton a:visited {
	border-color:#E2DCC8; /*BO4*/
	background-color:#fff; /*BG1*/
}
.patternToolBar .patternButton a:link,
.patternToolBar .patternButton a:visited {
	color:#666; /*T7*/
}
.patternToolBar .patternButton s,
.patternToolBar .patternButton strike {
	color:#ccc; /*G_Disabled_T*/
	border-color:#e0e0e0; /*G_Disabled_BO*/
}
.patternToolBar .patternButton a:hover {
	background-color:#D6000F; /*G_Link_hover_BG*/
	color:#FBF7E8; /*G_Link_hover_T*/
	border-color:#D6000F; /*G_Link_action_button*/
}
.patternToolBar .patternButton img {
	background-color:transparent;
}	
.patternToolBarBottom {
	border-color:#E2DCC8; /*BO4*/
}
.patternToolBar a:link .twikiAccessKey,
.patternToolBar a:visited .twikiAccessKey {
	color:inherit;
	border-color:#666; /*T7*/
}
.patternToolBar a:hover .twikiAccessKey {
	background-color:transparent;
	color:inherit;
}

.patternRevInfo,
.patternRevInfo a:link,
.patternRevInfo a:visited {
	color:#8E9195; /*T8*/
}
.patternRevInfo a:hover {
	color:#FBF7E8; /*G_Link_hover_T*/
}

.patternMoved,
.patternMoved a:link,
.patternMoved a:visited {
	color:#8E9195; /*T8*/
}
.patternMoved a:hover {
	color:#FBF7E8; /*G_Link_hover_T*/
}
.patternSaveHelp {
	background-color:#fff; /*G_Text_on_background_BG*/
}

/* WebSearch, WebSearchAdvanced */
table#twikiSearchTable th,
table#twikiSearchTable td {
	background-color:#fff; /*BG1*/
	border-color:#ddd; /*BO8*/
} 
table#twikiSearchTable th {
	color:#8E9195; /*T8*/
}
table#twikiSearchTable td.first {
	background-color:#efefef; /*BG3*/
}

/*	-----------------------------------------------------------
	Search results
	styles and overridden styles used in search.pattern.tmpl
	-----------------------------------------------------------	*/

h3.patternSearchResultsHeader,
h4.patternSearchResultsHeader {
	background-color:#FEFBF3; /*BG9*/
	border-color:#ccc; /*BO7*/
}
h4.patternSearchResultsHeader {
	color:#000; /*G_Text_on_background_T*/
}
.patternNoViewPage h4.patternSearchResultsHeader {
	color:#a00; /*T5*/
}
.patternSearchResult .twikiBottomRow {
	border-color:#ddd; /*BO8*/
}
.patternSearchResult .twikiAlert {
	color:#f00; /*T9*/
}
.patternSearchResult .twikiSummary .twikiAlert {
	color:#900; /*T9_m*/
}
.patternSearchResult .twikiNew {
	background-color:#ECFADC; /*BG10*/
	border-color:#049804; /*T10*/
	color:#049804; /*T10*/
}
.patternViewPage .patternSearchResultsBegin {
	border-color:#ddd; /*BO8*/
}

/* Search results in book view format */

.patternBookView .twikiTopRow {
	background-color:transparent; /* set to WEBBGCOLOR in css.pattern.tmpl */
	color:#666; /*T7*/
}
.patternBookView .twikiBottomRow {
	border-color:#ddd; /*BO8*/
}
.patternBookView .patternSearchResultCount {
	color:#8E9195; /*T8*/
}

/* oopsmore.pattern.tmpl */

table.patternDiffOptions img {
	border-color:#ccc; /*BO7*/
}

/* edit.pattern.tmpl */

.patternEditPage textarea#topic {
	background-color:#fff; /*G_Text_on_background_BG*/
	color:#000; /*G_Text_on_background_T*/
}
.twikiChangeFormButton .twikiButton,
.twikiChangeFormButtonHolder .twikiButton { /* looks like a link */
	color:#06c; /*G_Link_normal_T*/
	background:none;
}
.patternSig input {
	color:#8E9195; /*T8*/
	background-color:#fff; /*G_Text_on_background_BG*/
}

/* preview.pattern.tmpl */

.patternPreviewArea {
	border-color:#f00; /*BO9*/
	background-color:#fff; /*G_Text_on_background_BG*/
}

/* rdiff.pattern.tmpl */

.patternDiff {
	border-color:#ccc; /*BO7*/
}
.patternDiff h4.patternSearchResultsHeader {
	background-color:#ccc; /*BG8*/
}
tr.twikiDiffDebug td {
	border-color:#ddd; /*BO8*/
}
.patternDiffPage .twikiDiffTable th {
	background-color:#efefef; /*BG3*/
}
tr.twikiDiffDebug .twikiDiffChangedText,
tr.twikiDiffDebug .twikiDiffChangedText {
	background:#9f9; /* green - do not change */
}
/* Deleted */
tr.twikiDiffDebug .twikiDiffDeletedMarker,
tr.twikiDiffDebug .twikiDiffDeletedText {
	background-color:#f99; /* red - do not change */
}
/* Added */
tr.twikiDiffDebug .twikiDiffAddedMarker,
tr.twikiDiffDebug .twikiDiffAddedText {
	background-color:#ccf; /* violet - do not change */
}
/* Unchanged */
tr.twikiDiffDebug .twikiDiffUnchangedText {
	color:#8E9195; /*T8*/
}
/* Headers */
.twikiDiffChangedHeader,
.twikiDiffDeletedHeader,
.twikiDiffAddedHeader {
	background-color:#ccc; /*BG8*/
}
/* Unchanged */
.twikiDiffUnchangedTextContents { }
.twikiDiffLineNumberHeader {
	background-color:#efefef; /*BG3*/
}