/* Content */
/* show url for links */
a:link:after,
a:visited:after {
	content: " (" attr(href) ") ";
	font-weight:normal;
	font-size:85%; /*S3*/
}
/* ... except for bits of the gui */
.patternRevInfo a:link:after,
.patternRevInfo a:visited:after,
#patternBottomBar a:link:after,
#patternBottomBar a:visited:after,
.twikiAttachments a:link:after,
.twikiAttachments a:visited:after,
.twikiForm a:link:after,
.twikiForm a:visited:after,
.twikiTable a:link:after,
.twikiTable a:visited:after,
table a:link:after,
table a:visited:after {
	content:"";
}
.patternHomePath img,
.patternHomePathTitle {
	display:none;
}

/* Layout */

#patternScreen,
#patternPageShadow, 
#patternPage {
	margin:0;
	padding:0;
	top:0;
}
.patternPrintPage #patternScreen {
	padding:1cm;
	width:21cm;
}
body html {
	margin:0;
	padding:0;
}
#patternMain {
	padding-bottom:1em;
	width:100%;
}

/* Style */

/* hide bits of the gui */
.patternTopicAction,
td.patternToolBar,
#patternLeftBar {
	display:none;
}

pre,
html>body pre {
	overflow:visible;
}
.patternTopicFooter {
	font-size:94%;
	margin:1em 0;
}
.patternBottomBar {
	margin-left:3%;
	margin-right:3%;
}

/* Colors */
body {
	background-color:#fff;
}
#patternBottomBar {
	background:#fff;
	color:#000;
}
h2 {
	background-color:transparent;
}
.patternContent .twikiAttachments,
.patternContent .twikiForm {
	background:#fff;
}

/* define custom print styles here */


