<form method="post" action="%SCRIPTURLPATH%/%SUBMITCOMMAND%%SCRIPTSUFFIX%/%WEB%/%TOPIC%%SUBMITCMDOPT%" enctype="application/x-www-form-urlencoded">
<h1>Action %UID% in %WEB%.%TOPIC%</h1>
%EDITFIELDS%
<textarea name="text" wrap="virtual" rows="%EBH%" cols="%EBW%">%TEXT%</textarea>
%HIDDENFIELDS%
<br/>Don't forget - if you change something, do it in 
<a target="GoodStyle" onclick="return launchWindow('%TWIKIWEB%','GoodStyle')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/GoodStyle">GoodStyle</a>
and follow the
<a target="TextFormattingRules" onclick="return launchWindow('%TWIKIWEB%','TextFormattingRules')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/TextFormattingRules">TextFormattingRules</a>.
<br /> <b>-- <nop>%WIKIUSERNAME% - %DATE% &lt;br /&gt;</b> &nbsp;&nbsp;<code>&lt;==</code> 
This is your signature for easy copy & paste operation
<br />
<input type="submit" value=" &nbsp; %SUBMITCMDNAME% Changes &nbsp; " %SUBMITSCRIPT% />
<a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?unlock=on" %CANCELSCRIPT%>Cancel</a> edit
</form>
