%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops)%TMPL:END%
%TMPL:DEF{"webaction"}% *Attention * %TMPL:END%
%TMPL:DEF{"heading"}%Duplicate files in uploaded archive <code>%PARAM1%</code>%TMPL:END%
%TMPL:DEF{"message"}%
Directories in archives are ignored. Also ensure that filenames would not become the same after having spaces removed or being lowercased.
%TMPL:END%
%TMPL:DEF{"topication"}% %TMPL:END%
%TMPL:P{"oops"}%