

/* HTML elements */



html body {

	margin: 0;

	padding: 0;

	line-height: 1.3em;

	font-family: "Lucida Grande", verdana, lucida, helvetica, sans-serif;

	background-color: transparent;

	font-size: x-small;

	voice-family: "\"}\""; 

	voice-family: inherit;

	font-size: small;

}

html>body {

	font-size: small;	

}

/* be kind to netscape 4 that doesn't understand inheritance */

body, p, li, ul, ol, dl, dt, dd, acronym, h1, h2, h3, h4, h5, h6 {

	background-color: transparent;

}



h1, h2, h3, h4, h5, h6 {

	font-family: "Lucida Grande", helvetica, lucida, verdana, sans-serif;

	line-height: 104%;

	margin: 0 0 0.1em 0;

	padding: 0;

	color: #3B77BC;

	font-weight: bold;

}

h1 { font-size: 200%; }

h2 { font-size: 160%; }

h3 { font-size: 145%; }

h4 { font-size: 125%; }

h5 { font-size: 110%; }

h6 { font-size: 100%; }



p {

	margin: 1em 0 1.1em 0;

}



:link:focus, :visited:focus, :link, :visited, :link:active, :visited:active {

	text-decoration:none;

	color:#2c57c2;

	background-color: transparent;

}

:link:hover, :visited:hover {

	text-decoration:underline;

	background-color: #daeaff;

}



a:link img, a:visited img, a:hover img, a:active img { 

	background-color: transparent;

	display: block;

}



table {

	border-collapse: collapse;

}

th {

	vertical-align: middle;

}

th.sortedAscending a:link,

th.sortedAscending a:visited {

	border-top: 1px solid #ccc;

}

th.sortedAscending a:hover,

th.sortedAscending a:hover {

	text-decoration: none;

	border-top: 0;

	border-bottom: 1px solid #ccc;

}

th.sortedDescending a:link,

th.sortedDescending a:visited,

th.sortedDescending a:link,

th.sortedDescending a:visited {

	border-bottom: 1px solid #ccc;

}

th.sortedDescending a:hover,

th.sortedDescending a:hover {

	text-decoration: none;

	border-bottom: 0;

	border-top: 1px solid #ccc;

}



strong, b {

	font-weight: bold;

}



form { 

	display: inline;

	margin: 0;

	padding: 0;

}



pre, code {

	font-size: 100%;

}



/* LAYOUT BLOCKS */



#TWikiMain {

	margin: 0 20px 0 220px;

	/*

	position: absolute;

	top: 50px;

	left: 200px;

	padding: 0 20px 0 20px;

	*/

}



#TWikiTopic {

	background-color: transparent;

	margin: 1em 0 3em 0;

}

#TWikiTopic a:link {

	text-decoration: underline;

}

#TWikiTopic a:visited {

	text-decoration: underline;

	color: purple;

}



#TWikiTopBar {

	height: 60px;

	background-color: white;

	border-bottom: 1px solid #a9b2be;

}



#TWikiLeftBar {

	position: absolute;

	left: 0;

	top: 61px;

	/*

	position: relative;

	float: left;

	*/

	margin: 0;

	padding: 0;

	width: 200px;

	

	background-color: #f2f2f2;

	font-size: 90%;

	line-height: 130%;

	color: #666;

}



#TWikiLeftBar .TWikiNavigation {

	padding: 0;

	margin: 1em 0 1.8em 16px;

}

#TWikiLeftBar .TWikiNavigation ul {

	padding: 0;

	margin: 0;

}

#TWikiLeftBar .TWikiNavigation li {

	display: block;

	list-style: none;

	width: 100%;

}

#TWikiLeftBar .TWikiNavigation li a {

	display: block;	

	width: 100%;

}

html>body .TWikiNavigation li a {

	width: auto;

}



#TWikiBottomBar {

	border-top: 1px solid #ddd;

	font-size: 90%;

	line-height: 140%;

	padding-bottom: 1em;

	margin: 0 20px 0.5em 0;

}



/* CONTENT ELEMENTS */



.TWikiTopBarMainContents {

	margin: 0 1em 2em 0;

}

.TWikiBottomBarMainContents {

	margin: 0.25em 0 0 220px; /* align with TWikiMain content */

	color: #a9b2be;

}

.TWikiAttachments,

.TWikiForm {

	background-color: #e2e2e7;

	padding: 2em 2em 2em 2em;

	border-top: 1px solid #a9b2be;

}

.TWikiAttachments table,

.TWikiForm table {

	font-size: 90%;

	background-color: white;

	border-collapse: collapse;

	border-spacing: 0px;

	border: none;

	padding: 0;

}

.TWikiAttachments table {

	width: 100%;

}

.TWikiAttachments th, .TWikiAttachments td,

.TWikiForm th, .TWikiForm td {	

	border-bottom: 1px solid #a2a6a9;

	line-height: 1.4em;

}

.TWikiAttachments th,

.TWikiForm th {

	padding: 2px 6px 2px 6px;

	background-color: #6b7f93;

	text-align: middle;

	height: 2.4em;

	border-left: 1px solid white;

}

.TWikiAttachments th.first,

.TWikiForm th.first {

	border-left: none;

}

.TWikiAttachments th.sortedAscending, .TWikiAttachments th.sortedDescending,

.TWikiForm th.sortedAscending, .TWikiForm th.sortedDescending {

	background-color: #345;

}

.TWikiAttachments th img,

.TWikiForm th img {

	display: none;

}

.TWikiAttachments th a:link,

.TWikiAttachments th a:visited,

.TWikiForm th a:link,

.TWikiForm th a:visited {

	color: white;

	text-decoration: none;

}

.TWikiAttachments th a:hover,

.TWikiForm th a:hover {

	text-decoration: underline;

	background-color: transparent;

}

.TWikiAttachments th.sortedAscending a:hover,

.TWikiAttachments th.sortedDescending a:hover,

.TWikiForm th.sortedAscending a:hover,

.TWikiForm th.sortedDescending a:hover {

	text-decoration: none;

	background-color: transparent;

}

.TWikiAttachments td,

.TWikiForm td {

	padding: 2px 6px 2px 6px;

	background-color: white;

	height: 1.4em;

	text-align: left;

	vertical-align: top;

}

.TWikiAttachments p,

.TWikiForm p {

	display: none;

}



.TWikiTopicAction {

	display: block;

	font-size: 90%;

	color: white;

	font-weight: normal;

	background-color: #a9b2be;

	padding: 0.6em 2em 0.7em 2em;

}

.TWikiTopicAction a {

	border-bottom: 1px solid #ccc;

	text-decoration: none;

	font-weight: bold;

	color: white;

}

.TWikiTopicAction a:hover { 

	border-bottom: 1px solid white;

	text-decoration: none;

	color: white;

	background-color: transparent;

}

.TWikiTopicAction a:active {

	color: white;

}



.TWikiTopicAction .separator {

	color: white;

}



.TWikiTopicInfo {

	margin: 0.5em 0 0 0;

	font-size: 90%;

	color: #a9b2be;

}

.TWikiTopicInfo em,

.TWikiTopicInfo i {

	font-style: normal;

}



.TWikiHomePath {

	display: block;

	margin-top: 1em;

	color: #000;

}

.TWikiHomePath .sep {

	font-family: Arial,Helvetica, "Franklin Gothic Medium", "Lucida Sans", Arial, sans-serif;

}

.TWikiHomePath a:hover {

	text-decoration: underline;

}







.TWikiToolBar {

	border-bottom: 1px solid #a9b2be;

	background-color: #e2e2e7;

	font-size: 90%;

	padding: 0.25em 1em 0.25em 2em;

	height: 1.8em;

	color: #666;

	font-weight: normal;

}

.TWikiToolBar input {

	margin: 0.1em 0 0.1em 0;

	width: 10em;

	height: 1.2em;

	font-size: 100%;

	font-family: "Lucida Grande", verdana, lucida, helvetica, sans-serif;

	border-width: 1px;

	vertical-align: middle;

}

.TWikiToolBar .inputButton {

	margin-left: 3px;

	padding: 0;

	height: 18px;

	width: 18px;

	vertical-align: middle;

}

.TWikiToolsLeft {

	float: left;

	position: relative;

	margin-top: 0.25em;

	color: #666;

}

.TWikiToolsLeft .sep {

	font-family: Arial,Helvetica, "Franklin Gothic Medium", "Lucida Sans", Arial, sans-serif;

}

.TWikiToolsLeft a:hover {

	text-decoration: underline;

}



.TWikiToolsRight {

	position: relative;

	float: right;

	display: inline;

	margin: 0;

}

.TWikiButton {

	margin: 0 0.25em 0 0.25em;

}

.TWikiButton a:link, .TWikiButton a:visited {

	color: white;

	padding: 0.2em 0.7em 0.2em 0.7em;

	background-color: #a9b2be;

	text-decoration: none;

}

.TWikiButton a:hover {

	text-decoration: none;

	background-color: #daeaff;

	color: #2c57c2;

}

.TWikiPageNav {

	display: block;

	margin: 0.5em 0 0.5em 0;

	text-align: right;

	font-size: 95%;

}

.TWikiPageNav a:link, .TWikiPageNav a:visited {

	font-weight: bold;

	color: #a9b2be;

}

.TWikiPageNav a:hover {

	color: #2347d7;

}

  

/* OTHER STYLES */



.TWikiAlert {

	color: red;

}

.apart {

	color: green;

}





.TWikiToc {

	display: block;

	font-size: 95%;

	line-height: 1.3em;

	margin: 1em 0 2em 0;

	padding: 0.3em 0 0.6em 0;

	border-top: 1px solid;

	border-bottom: 1px solid;

	border-color: #e2e2e2;

	color: #666;

}



.TWikiToc ul {

	list-style: outside;

	padding: 0 0 0 0.5em;

	margin: 0;

	list-style-image: url(/twiki/pub/skins/pattern/img/arrow_down.gif);

}

.TWikiToc li {

	margin-left: 2em;

}

.TWikiToc a {

	display: block;	

	width: 100%;

}

html>body .TWikiToc a {

	width: auto;

}

.TWikiToc a:hover {

	text-decoration: underline;

}

.TWikiToc .title {

	margin: 0;

	padding: 0;

	font-weight: bold;

}





/* handy: */

/* color names */

/* aqua, black, blue, fuchsia, gray, green, lime, maroon, navy, olive, purple, red, silver, teal, white, and yellow */