.twistyHidden { display:none; }
.twistyVisible {} /* reserved */
.twistyMakeVisible { display:none; } /* initial state, and is set to visible with javascript */
.twistyMakeHidden {} /* reserved */

.twistyTransparent { visibility:hidden; }
.twistyOpaque {} /* reserved */
.twistyMakeOpaque { visibility:hidden; } /* initial state, and is set to visible with javascript */
.twistyMakeTransparent {} /* reserved */

.twistyPlaceholder { /* color to be implemented by skin */ }
.twistyRememberSetting { /* behavior class */ }
