
/*	-----------------------------------------------------------
	LAYOUT
	positioning of page elements
	-----------------------------------------------------------	*/

html body {
	margin:0;
	padding:0;
}
.twikiLeft {
	float:left;
	position:relative;
}
.twikiRight {
	position:relative;
	float:right;
	display:inline;
	margin:0;
	text-align:right;
}
.twikiClear {
	/* to clean up floats */
	margin:0;
	padding:0;
	height:0;
	line-height:0px;
	clear:both;
	display:block;
}
.twikiHidden {
	display:none;
}


/*	---------------------------------------------------------------------------------------
	CONSTANTS
	
	Sizes
	----------------------------------------
	C1 left bar width																13em
	C2 top bar height																64px
	---------------------------------------------------------------------------------------	*/

/*	-----------------------------------------------------------
	Positioning of layout blocks
	-----------------------------------------------------------	*/

#patternScreen {
}
#patternPageShadow {
}
#patternPage {
}
#patternColumnWrapper {
	width:100%;
}
#patternLeftBar,
.patternLeftBarContents {
	width:13em; /*C1*/
}
#patternTopBar,
#patternTopBar table.patternTopBarContents {
	height:64px; /*C2*/
}

/*	-----------------------------------------------------------
	Pages that are not view
	-----------------------------------------------------------	*/

.patternNoViewPage #patternPage {
	margin-left:3%;
	margin-right:3%;
	/* padding in style.css */
}

/* Plain */

.patternPlainPage #patternPage {
	margin-left:0px;
	margin-right:0px;
	/* padding in style.css */
}


