%TMPL:INCLUDE{"attach"}%



%TMPL:DEF{"headerhelp"}% %TMPL:END%



%TMPL:DEF{"webaction"}% %_{"Attach file to topic [_1]", "*%TOPIC%*"}% %TMPL:END%



%TMPL:DEF{"previousdetails"}%
---++ %_{"Attach new file"}%%TMPL:END%



%TMPL:DEF{"action"}%%_{"Attach new file"}%%TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%
<input type="submit" class="twikiSubmit" value='%_{"Upload file"}%' /> %_{"or"}% %TMPL:P{"canceltopicaction"}%
%TMPL:END%



%TMPL:P{"attach"}%
