<p>
<table cellpadding="0" border="0" cellspacing="4">
<tr bgcolor="#99CCCC">
  <th>
Version:
  </th><th>
Action:
  </th><th>

Date:
  </th><th>
Who:
  </th><th>
Comment:
  </th>
</tr>%REPEAT%<TwkNextItem>
<tr>
  <td valign="top">
%FILEVERSION%
  </td><td valign="top">
<a href="%SCRIPTURLPATH%/viewfile%SCRIPTSUFFIX%/%WEB%/%TOPIC%?filename=%FILENAME%">view</a>
  </td><td valign="top" align="right">
%VERSIONDATE%
  </td><td valign="top">
%VERSIONUPDATER%
  </td><td valign="top">
%FILECOMMENT%
  </td>
</tr>%REPEAT%<TwkNextItem>
<tr>
  <td valign="top">
  </td><td valign="top">
<TwkAction><a href="%SCRIPTURLPATH%/attach%SCRIPTSUFFIX%/%WEB%/%TOPIC%">add</a><TwkAction>
  </td><td valign="top" align="right">
  </td><td valign="top">
  </td><td valign="top">
  </td><td valign="top">
  </td>
</tr>
</table>
