%TMPL:INCLUDE{"attach"}%



%TMPL:DEF{"headerhelp"}% %TMPL:END%



%TMPL:DEF{"webaction"}% Attach file to topic <b>%TOPIC%</b> %TMPL:END%



%TMPL:DEF{"previousdetails"}%
---++ Attach new file%TMPL:END%



%TMPL:DEF{"action"}%Attach new file%TMPL:END%



%TMPL:DEF{"topicaction"}%<div class="patternTopicAction">
<table>
<tr>
<td class="patternCancelCol">%TMPL:P{"canceltopicaction"}%</td>
<td class="patternSubmitCol"><input type="submit" class="twikiSubmit" value="Upload file" /></td>
<td class="patternAddCol">&nbsp;</td>
</tr>
</table>
</div>%TMPL:END%



%TMPL:P{"attach"}%