%TMPL:INCLUDE{"twiki"}%



%TMPL:DEF{"script"}%
<script type="text/javascript">
//<![CDATA[
	function initForm() {
	   document.main.filepath.focus();
	}
	function launchWindow( theWeb, theTopic ) {
	  win = open("%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/" + theWeb + "/" + theTopic + "?skin=plain", theTopic, "titlebar=0,width=500,height=480,resizable,scrollbars");
	  if( win ) {
		win.focus();
	  }
	  return false;
	}
	
	function init () {
		initTwist();
		initForm();
	}
	/* Twist functions: */
	
	function removeClass(element, classname) {
		var classes = getClassList(element);
		var index = indexOf(classname,classes);
		if (index >= 0) {
			classes.splice(index,1);
			setClassList(element,classes);
		}
	}

	function addClass(element, classname) {
		var classes = getClassList(element);
		if (indexOf(classname, classes)<0) {
			classes[classes.length]=classname;
			setClassList(element,classes);
		}
	}

	function replaceClass(element, oldclass, newclass) {
		removeClass(element,oldclass);
		addClass(element,newclass);
	}

	function getClassList(element) {
		if (element.classes) return element.classes; // cached in element property
		if (element.className && element.className!="") {
			element.classes = element.className.split(' ');
			return element.classes;
		}
		return [];
	}

	function setClassList(element, classlist) {
		element.className=classlist.join(' ');
	}

	function indexOf(element,array) {
		for (var i = 0; i < array.length; i++) {
			if (array[i]==element) {
				return i;
			}
        }
		return -1;
	}
	
	function getElementsByClassName(className) {
	
		var elements = [];
		var allObjects = (document.all) ? document.all : document.getElementsByTagName("*");
		for (var i = 0; i < allObjects.length; i++) {
			if (allObjects.item(i).className.indexOf(className) != -1)
				elements.push(allObjects.item(i));
		}
		return elements;
	}

	function initTwist () {
        var makeHiddenElements =
            getElementsByClassName('twikiTwistMakeHidden');
        var i;
		for (i = 0; i < makeHiddenElements.length; i++) {
			replaceClass(makeHiddenElements[i], 'twikiTwistMakeHidden', 'twikiTwistHidden');
		}
		
        var makeVisibleElements =
            getElementsByClassName('twikiTwistMakeVisible');
		for (i = 0; i < makeVisibleElements.length; i++) {
			removeClass(makeVisibleElements[i], 'twikiTwistMakeVisible');
		}
	}
	
	function twist(id) {
		var showControl = document.getElementById(id+'show');
		var hideControl = document.getElementById(id+'hide');
		var toggleElem = document.getElementById(id+'toggle');
		if (!toggleElem.twisted) {
			addClass(showControl, 'twikiTwistHidden');
			removeClass(hideControl, 'twikiTwistHidden');
			removeClass(toggleElem, 'twikiTwistHidden');
			toggleElem.twisted = 1;
		} else {
			removeClass(showControl, 'twikiTwistHidden');
			addClass(hideControl, 'twikiTwistHidden');
			addClass(toggleElem, 'twikiTwistHidden');
			toggleElem.twisted = 0;
		}
	}
//]]>
</script> %TMPL:END%



%TMPL:DEF{"templatecustomstyle"}%
<style type="text/css" media="all">
	.twikiTwistHidden { display:none; }
	.twikiTwistPlaceholder { /* defined in style.css*/ }
	.twikiTwistMakeVisible { display:none; }
</style>
<script type="text/javascript">
//<![CDATA[
document.write("<style type='text/css'>");
document.write(".twikiTwistMakeHidden {display:none;}");
document.write("<\/style>");
//]]>
</script>%TMPL:END%



%TMPL:DEF{"bodystart"}%
<body class="patternNoViewPage patternAttachPage" onload="init()"><a name="PageTop"></a><div class="patternPage">%TMPL:END%



%TMPL:DEF{"titleaction"}%%_{"(attach)"}% %TMPL:END%



%TMPL:DEF{"simpleheader"}%
---+ %_{"Attach image or document on [_1]", "%TOPIC%"}% %TMPL:END%



%TMPL:DEF{"toolbar"}%<div class="patternTop">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td class="patternToolBar">
<span id="helpshow" class="twikiTwistMakeVisible"><a href="#" onclick="twist('help'); return false;">%_{"Show help"}%</a></span><span id="helphide" class="twikiTwistHidden twikiTwistMakeVisible"><a href="#" onclick="twist('help'); return false;">%_{"Hide help"}%</a></span>
</td>
</tr>
</table>
</div>
<div class="patternToolBarBottom"></div>
%TMPL:END%



%TMPL:DEF{"notes"}%
   * %_{"*Help:* Please see %TWIKIWEB%.FileAttachment for more information about attaching files."}%
   * %_{"*Bug:* Internet Explorer 4.0 or earlier: If you get an \"Internal Server Error\" message when you upload a file, you need to try again. It should work the second time."}% %TMPL:END%



%TMPL:DEF{"existingattachments"}%
%META{"attachments" all="on" title="<h2>%_{"Existing attachments"}%</h2>"}%
%TMPL:END%



%TMPL:DEF{"changepropertiesaction"}%%TMPL:END%



%TMPL:DEF{"content"}%
<form name="main" enctype="multipart/form-data" action="%SCRIPTURLPATH%/upload%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%" method="post">
%TMPL:P{"simpleheader"}%
%TMPL:P{"toolbar"}%
<div id="helptoggle" class="twikiHelp twikiTwistHidden">
%TMPL:P{"notes"}%
%TMPL:P{"extranotes"}%</div>
<div>
%TMPL:P{"previousdetails"}%
<div class="patternVersatileTable">
<table width="100%">%TMPL:P{"previous"}% 
	<tr>
		<th class="patternMainCol">
			%_{"Local file"}%
		</th>
		<td class="patternMainCol">
			<input type="hidden" name="filename" value="%FILENAME%" /><input type="file" name="filepath" value="%FILEPATH%" size="30" /> 
		</td>
		<td class="patternHelpCol patternMainCol">
%_{"Upload up to %ATTACHFILESIZELIMIT% KB."}%
		</td>
	</tr>
	<tr>
		<th>
			%_{"Comment"}%
		</th>
		<td>
			<input class="comment" type="text" name="filecomment" value="%FILECOMMENT%" maxlength="256" size="50" /> 
		</td>
		<td class="patternHelpCol"></td>
	</tr>
	<tr>
		<th>
			%_{"Link"}%
		</th>
		<td>
			<input type="checkbox" class="twikiCheckbox" id="createlink" name="createlink" %ATTACHLINKBOX% /><label for="createlink">%_{"Create a link to the attached file"}%</label>
		</td>
		<td class="patternHelpCol">
%_{"Images will be displayed, for other attachments a link will be created."}%
		</td>
	</tr>
	<tr>
		<th>
			%_{"Hide file"}%
		</th>
		<td>
			<input type="checkbox" class="twikiCheckbox" id="hidefile" name="hidefile" %HIDEFILE% /><label for="hidefile">%_{"Do not show attachment in table"}%</label>
		</td>
		<td class="patternHelpCol">%_{"Attachments will not be shown in topic view page."}%</td>
	</tr>
	%TMPL:P{"changepropertiesaction"}%
</table>
</div>
%TMPL:P{"topicaction"}%</form>
<div class="twikiHelp twikiTwistMakeHidden">
%TMPL:P{"notes"}%
%TMPL:P{"extranotes"}%
</div>
</div>
%TMPL:P{"existingattachments"}%
%TMPL:P{"standardfooter"}%%TMPL:END%



%TMPL:DEF{"attach"}%
%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%
%TMPL:END%
