%TMPL:INCLUDE{"attach"}%



%TMPL:DEF{"headerhelp"}% %TMPL:END%



%TMPL:DEF{"webaction"}% %_{"Attach file to topic [_1]", "*%TOPIC%*"}% %TMPL:END%



%TMPL:DEF{"previousdetails"}%
---++ %_{"Attach new file"}%%TMPL:END%



%TMPL:DEF{"action"}%%_{"Attach new file"}%%TMPL:END%



%TMPL:DEF{"topicaction"}%<div class="patternTopicAction">
<table>
<tr>
<td class="patternCancelCol">%TMPL:P{"canceltopicaction"}%</td>
<td class="patternSubmitCol"><input type="submit" class="twikiSubmit" value='%_{"Upload file"}%' /></td>
<td class="patternAddCol">&nbsp;</td>
</tr>
</table>
</div>%TMPL:END%



%TMPL:P{"attach"}%
