%TMPL:INCLUDE{"attach"}%
%TMPL:DEF{"headerhelp"}% %TMPL:END%
%TMPL:DEF{"webaction"}% Update attachment *%FILENAME%* on *%TOPIC%* %TMPL:END%
%TMPL:DEF{"simpleheader"}%
---+ Update image or document on %TOPIC%
%TMPL:END%
%TMPL:DEF{"previousdetails"}%
---++ Update file %FILENAME%
%ATTACHTABLE% %TMPL:END%
%TMPL:DEF{"previous"}%
  <tr>
  <td class="title old">Previous upload</td>
  <td class="old">
   <code>%FILEPATH%</code> %TMPL:P{"fileuser"}%
  </td>
  <td class="help old">Select a new local file to update this attachment.</td>
 </tr>%TMPL:END%

%TMPL:DEF{"extranotes"}%
<div class="twikiNotes">
   * *Properties:* The comment and visibility (i.e. is attachment hidden) can be changed without 
     uploading a file by pressing "Change Properties"; see <a target="HiddenAttachment" onClick="return launchWindow('%TWIKIWEB%','HiddenAttachment')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/HiddenAttachment">HiddenAttachment</a>
   * *Change comment:* If you use _Change Properties_ to change a comment, the comment shown in 
     the topic will change, but the comment shown against the attachment history will be the 
     comment when the file was uploaded.
   * *Local file:* If you select a different file in _Local file:_, it is this that will be 
     updated or added.
</div>%TMPL:END%

%TMPL:DEF{"topicaction"}%<div class="twikiTopicAction">
<table>
<tr>
<td class="twikiCancelCol">[[%WEB%.%TOPIC%][Cancel]]</td>
<td class="twikiSubmitCol"><input type="submit" class="twikiSubmit" value="Upload file" /><input type="submit" class="twikiSubmit" name="changeproperties" value="Change properties" /></td>
<td class="twikiAddCol"><a href="%SCRIPTURLPATH%/rename%SCRIPTSUFFIX%/%WEB%/%TOPIC%?attachment=%FILENAME%">Move&nbsp;attachment</a></td>
</tr>
</table>
</div>%TMPL:END%


%TMPL:DEF{"fileuser"}%(%FILEUSER%)%TMPL:END%
%TMPL:P{"attach"}%
