%TMPL:INCLUDE{"backlinks"}%



%TMPL:DEF{"titleaction"}%%MAKETEXT{"(backlinks in all Webs)"}% %TMPL:END%



%TMPL:DEF{"content"}%<div class="patternTopic"><div class="patternSearchResults">
<div class="patternSearchString"><b>%MAKETEXT{"Backlinks to [_1] in all Webs" args="%TOPIC%"}%</b>&nbsp;&nbsp;<a class="twikiSmall" href="%SCRIPTURL{"oops"}%/%WEB%/%TOPIC%?template=backlinksweb" title='%MAKETEXT{"Search all webs for topics that link to here"}%' accesskey="w">%MAKETEXT{"Search [_1] &Web only" args="<nop>%WEB%"}%</a></div>
%TMPL:P{"searchweb"}%
%TMPL:P{"searchallwebs"}%
</div></div>%TMPL:END%