%TMPL:INCLUDE{"backlinks"}%



%TMPL:DEF{"titleaction"}%%_{"(backlinks in [_1] Web)", "%WEB%"}% %TMPL:END%



%TMPL:DEF{"content"}%<div class="patternTopic"><div class="patternSearchResults">
<div class="patternSearchString"><b>%_{"Backlinks to [_1] in [_2] Web", "%TOPIC", "<nop>%WEB%"}%</b>&nbsp;&nbsp;<a class="twikiSmall" href="%SCRIPTURLPATH%/oops%SCRIPTSUFFIX%/%WEB%/%TOPIC%?template=backlinksallwebs" title='%_{"Search all webs for topics that link to here"}%' accesskey="l">%_{"Search a&ll webs"}%</a></div>
%TMPL:P{"searchweb"}%
</div></div>%TMPL:END%


