%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}% (change form) %TMPL:END%
%TMPL:DEF{"webaction"}%  %TMPL:END%
%TMPL:DEF{"topicaction"}% <INPUT type="submit" name="submit" value=" &nbsp; Change form &nbsp; ">
      %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?unlock=on">Cancel</a> change form FIXME %TMPL:END%

<HTML>
<HEAD>
  <TITLE> %WIKITOOLNAME% . %WEB% . %TOPIC% (edit)</TITLE>
  <META NAME="ROBOTS" CONTENT="NOINDEX"> %HTTP_EQUIV_ON_EDIT%
</HEAD>
<BODY bgcolor="#ffffff">


%TMPL:P{"standardheader"}%

---++ Choose a new form template

Notes:
   * <font color="red">Existing form data is lost! (still available in old version)</font>
   * Any change you made to topic before coming to this page are preserved.
<br>

<FORM name="main" action="%SCRIPTURLPATH%/edit%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post">
<table border="0" cellspacing="0" cellpadding="0">
   <tr><th>Possible form templates:</th><td></td></tr>
   <tr><td></td><td>
   %FORMLIST%
   </td></tr>
</table>

<input type="hidden" name="text" value="%TEXT%">
<input type="hidden" name="parent" value="%PARENT%">


%TMPL:P{"standardfooter"}%

</FORM>

</BODY></HTML>
