<HEAD>
  <TITLE> %WIKITOOLNAME% Change classification %WEB%.%TOPIC% </TITLE>
  <META NAME="ROBOTS" CONTENT="NOINDEX">
</HEAD>

<BODY bgcolor="#ffffff">
%HEADER{action="(Change classification)", description="" }%

<FORM method="POST" name="changeclassification" action="%SCRIPTURLPATH%/classification%SCRIPTSUFFIX%/%WEB%/%TOPIC%">

<select name="classification">
%CLASSIFICATIONS%
</select>

<input type="submit" value="Select/change classification">
</FORM>

%FOOTER%

</BODY>