%{ This is a default template }%

%TMPL:DEF{"twikistyle"}%%TMPL:P{"twikibase"}%
%TMPL:P{"defaultstyle"}%
%TMPL:P{"iespecificstyle"}%
%TMPL:P{"templatestyle"}%%TMPL:END%


%TMPL:DEF{"twikibase"}%<style type="text/css" media="all">
@import url('%PUBURL%/%SYSTEMWEB%/TWikiTemplates/base.css');
</style>%TMPL:END%


%TMPL:DEF{"defaultstyle"}%<style type="text/css" media="all">
@import url('%PUBURL%/%SYSTEMWEB%/TWikiTemplates/default.css');
</style>%TMPL:END%


%TMPL:DEF{"iespecificstyle"}%<!--[if IE]><style type="text/css" media="screen">
pre {
	overflow-x:auto;
	padding-bottom:expression(this.scrollWidth > this.offsetWidth ? 16 : 0);
}
</style>
<![endif]-->
<!--[if lte IE 6]> 
<style type="text/css">
#patternLeftBar {
	position:relative; /* IE 5.5 needs this or the contents won't show outside the parent container on print. IE 6.0 needs it only during printable copy! */
}
</style><![endif]-->%TMPL:END%