%{ This is a default template }%

%TMPL:DEF{"twikistyle"}%%TMPL:P{"twikibase"}%
%TMPL:P{"defaultstyle"}%
%TMPL:P{"iespecificstyle"}%
%TMPL:P{"javascriptaffectedstyle"}%
%TMPL:P{"templatestyle"}%%TMPL:END%


%TMPL:DEF{"twikibase"}%<style type="text/css" media="all">
@import url('%PUBURL%/%SYSTEMWEB%/TWikiTemplates/base.css');
</style>%TMPL:END%


%TMPL:DEF{"defaultstyle"}%<style type="text/css" media="all">
@import url('%PUBURL%/%SYSTEMWEB%/TWikiTemplates/default.css');
</style>%TMPL:END%


%TMPL:DEF{"iespecificstyle"}%<!--[if IE]><style type="text/css" media="screen">
pre {
	overflow-x:auto;
	padding-bottom:expression(this.scrollWidth > this.offsetWidth ? 16 : 0);
}
</style>
<![endif]-->%TMPL:END%


%TMPL:DEF{"javascriptaffectedstyle"}%<script type="text/javascript">
// <![CDATA[
var styleText = '<style type="text/css" media="all">.twikiMakeVisible{display:inline;}.twikiMakeVisibleInline{display:inline;}.twikiMakeVisibleBlock{display:block;}.twikiMakeHidden{display:none;}<\/style>';
document.write(styleText);
// ]]>
</script>%TMPL:END%