<table border="1" cellpadding="1" bgcolor="gainsboro" style="border-color:black">
<tr>
<td title="Bold"><a href="javascript:surround('*');"            class="editButton">&nbsp;&nbsp; *B* &nbsp;&nbsp;</a></td>
<td title="Italic"><a href="javascript:surround('_');"            class="editButton">&nbsp;&nbsp; _I_ &nbsp;&nbsp;</a></td>
<td title="Format as code"><a href="javascript:surround('=');"            class="editButton">&nbsp;&nbsp; =C= &nbsp;&nbsp;</a></td>
<td title="Bullet"><a href="javascript:insertStartLine('   * ');" class="editButton">&nbsp;&nbsp;<b>*</b>&nbsp;&nbsp;</a></td>
<td title="Bullet to left, heading down one"><a href="javascript:toLeft()"                  class="editButton">&nbsp;&nbsp;<b>&lt;</b>&nbsp;&nbsp;</a></td>
<td title="Bullet to right, heading up one"><a href="javascript:toRight()"                 class="editButton">&nbsp;&nbsp;<b>&gt;</b>&nbsp;&nbsp;</a></td>
<td title="Add signature to start of line"><a href="javascript:insertStartLine('sig');"   class="editButton"><i>&nbsp;&nbsp;Signature&nbsp;&nbsp;</i></a></td>
<td><select name="variables" onchange="javascript:insertVariable(this.options [this.selectedIndex].value);this.options [0].selected = true;" class="editDropdown">
<option value="">Variables ...</option>
<option value="DRAWING">%<nop>DRAWING%</option>
<option value="INCLUDE">%<nop>INCLUDE%</option>
<option value="GMTIME">%<nop>GMTIME%</option>
<option value="TOC">%<nop>TOC%</option>
<option value="SEARCH">%<nop>SEARCH%</option>
</select></td>
<td title="Headings, horizontal rule, ...">
  <select name="other" onchange="insertStartLine(this.options [this.selectedIndex].value);this.options [0].selected = true" class="editDropdown">
	<option value="">Other ...</option>
	<option value="---+ ">h1</option>
	<option value="---++ ">h2</option>
	<option value="---+++ ">h3</option>
	<option value="---++++ ">h4</option>
	<option value="--- ">hr</option>
  </select>
</td>
<td>
  <select name="topic" onchange="insert(this.options [this.selectedIndex].value);this.options [0].selected = true" class="editDropdown">
    <option value="">Topic ...</option>
    %TOPICLIST{"<option value=$name>$name</option>"}%
  </select>
</td>
</tr>
</table>
