<style>
A.editButton:link {
   text-decoration:none;
   color:black;
   font-size:9pt
}

A.editButton:visited {
   text-decoration:none;
   color:black;
   font-size:9pt
}

.editDropdown {
   background-color:ivory;
   font-size:7pt
}

</style>

<script language="JavaScript">

function inTextarea() {

    return( document.all.text.caretPos != null );
}


// Put extra text around selection
function surround( extra ) {

   if( extra == "" || ! inTextarea() )
      return;

   var selection;
   selection = document.selection.createRange ();

   if( selection != null && selection.text != "") {
	var selText;
	selText = selection.text;

	if( selText.charAt( selText.length - 1 ) == " " ) {
	    selText = selText.substring(0, (selText.length - 1 ) );
	    selection.text = extra + selText + extra + " ";
	} else {
	    selection.text = extra + selText + extra;
	}

	selection.parentElement().focus();
   }
}


function insertStartLine( text )
{
   if( text == "" || ! inTextarea() )
      return;

   if( text == "sig" ) {
      // Done here to avoid being turned into an href
      text = "-- %WIKIUSERNAME%" + " - %DATE%<br>";
   }

   var range;
      range = document.all.text.createTextRange();

   if( range != null ) {
      range.moveToPoint(range.offsetLeft, document.all.text.caretPos.offsetTop);
      range.text = text;
      range.parentElement().focus();
   }
}

// insert at cursor
function insert( text )
{
   if (text == "" || ! inTextarea() )
      return( false );

   document.all.text.caretPos.text = text;
   document.all.text.caretPos.parentElement().focus();
}

function insertVariable( variable )
{
    if( variable == "" || ! inTextarea() )
       return;

    extra = "";
    if( variable == "DRAWING" ) {
       name = prompt( "Name of drawing (optional)", "" );
       if( ! name ) return;
       if( name.length > 0 ) {
          extra = '{"' + name + '"}';
       }
    } else if( variable == "INCLUDE" ) {
       // Could change to pop up window
       name = prompt( "Name of topic to include (leave blank to add later)", "" );
       if( ! name ) return;
       if( name.length == 0 ) {
          name = "topic";
       }
       extra = '{"' + name + '"}';
    } else if( variable == "GMTIME" ) {
       format = prompt( "Current date/time, optional format using ($seconds, $minutes, $hours, $day, $month, $mo, $year, $ye)", "" );
       if( ! format ) return;
       if( format.length > 0 ) {
          extra = '{"' + format + '"}';
       }
    } else if( variable == "SEARCH" ) {
       what = prompt( "Common options, delete/alter as required", 'search="searchterm" web="all or webname" nosearch="on" regex="on"' );
       if( ! what ) return;
       extra = '{' + what + '}';
    }
    insert( "%" + variable + extra + "%" );
}

function sub( range, old, newt )
{
   res = 1;
   var r = range;
   len = old.length;
   r.moveEnd( "character", len );
   if( r.text.substr( 0, len ) == old ) {
      r.text = newt + r.text.substr( len );
      res = 0;
   }

   return res;
}

function toRight()
{
    if( ! inTextarea() )
       return;

	var range;
	range = document.all.text.createTextRange();

	text = "";

	if( range != null ) {
	   range.moveToPoint(range.offsetLeft, document.all.text.caretPos.offsetTop);

	   again = sub( range, "   * ", "      * " );
	   if( again ) again = sub( range, "      * ", "         * " );
	   if( again ) again = sub( range, "---+ ", "---++ " );
	   if( again ) again = sub( range, "---++ ", "---+++ " );
    }
}


// move bullet heading etc to left
function toLeft()
{
    if( ! inTextarea() )
       return;

	var range;
	range = document.all.text.createTextRange();

	text = "";

	if( range != null ) {
	   range.moveToPoint( range.offsetLeft, document.all.text.caretPos.offsetTop );
	   again = sub( range, "      * ", "   * " );
	   if( again ) again = sub( range, "         * ", "      * " );
	   if( again ) again = sub( range, "---+++ ", "---++ " );
	   if( again ) again = sub( range, "---++ ", "---+ " );
    }
}


// always need to know where cursor (caret) position is
function storeCaret(textarea)
{
   if (textarea.createTextRange) textarea.caretPos =
      document.selection.createRange().duplicate();
}

</script>

