%{ This is a default template }%%TMPL:INCLUDE{"edit"}%

%TMPL:DEF{"focus"}%%TMPL:END%
%TMPL:DEF{"titleaction"}%%MAKETEXT{"(edit form)"}% %TMPL:END%
%TMPL:DEF{"pagetitle"}%<nop>%TOPIC% %MAKETEXT{"(edit form)"}%%TMPL:END%
%TMPL:DEF{"footernote"}% %TMPL:END%

%TMPL:DEF{"content"}%%TMPL:P{"formstart"}%%TMPL:P{"formatbottom"}%
%TMPL:P{"topicinfo"}%
%TMPL:P{"formend"}%%TMPL:END%