%TMPL:DEF{"changeform"}%<input type="submit" name="action" value="Replace form..." class="twikiChangeFormButton twikiSubmit" />%TMPL:END%

%TMPL:DEF{"mandatory"}%<span class="twikiAlert">*</span> indicates mandatory fields %TMPL:END%

%TMPL:DEF{"repeatedformrows"}% %REPEAT%
<tr><th bgcolor="#99CCCC" align="right">%ROWTITLE%%ROWEXTRA%</th><td align="left">%ROWVALUE%</td></tr>%REPEAT%<td><th bgcolor="#99CCCC" align="left" colspan="2"><div class="twikiChangeFormButton">%ROWVALUE%</div></th></tr>%REPEAT% %TMPL:END%

%TMPL:DEF{"formtail"}% %TMPL:P{context="mandatoryfields" then="mandatory"}% %TMPL:END%

<div class="twikiForm twikiEditForm"><table><tr><th bgcolor="#99CCCC" colspan="2">%FORMTITLE% %TMPL:P{"changeform"}%</th></tr>%TMPL:P{"repeatedformrows"}%</table></div> %TMPL:P{"formtail"}%



