%{ These templates define the form attached at the bottom of a viewed page. }%

%{ Header definition }%
%TMPL:DEF{FORM:display:header}%
<table border='1'><tr><th class='twikiFirstCol' colspan='2'>
[[%A_TITLE%]]
</th></tr>
%TMPL:END%

%{ Each row }%
%TMPL:DEF{FORM:display:row}%
<tr valign='top'><td align='right'>%A_TITLE%</td><td>
%A_VALUE%
</td></tr>
%TMPL:END%

%{ Footer }%
%TMPL:DEF{FORM:display:footer}%
</table>
%TMPL:END%
