<script type="text/javascript" src="%PUBURL%/%TWIKIWEB%/TwistyContrib/twist.js"></script>
<script type="text/javascript">
//<![CDATA[
	// DON'T overwrite existing onload handlers
	// http://simon.incutio.com/archive/2004/05/26/addLoadEvent
	function addLoadEvent(func){
		var oldonload = window.onload;
		if (typeof window.onload != 'function') {
			window.onload = function() {
			    func();
            }
		} else {
			window.onload = function() {
				oldonload();
				func();
			}
		}
	}
    
   	function initPage() { }

 	addLoadEvent(initPage);
 	
 	/**
 	clears default form field value
 	*/
 	function clearDefaultandCSS(el) {
		if (el.defaultValue==el.value) el.value = "";
		// If Dynamic Style is supported, clear the style
		//if (el.style) el.style.cssText = "";
		removeClass(el, "patternFormFieldDefaultColor"); /* removeClass is included in TwistyContrib/twist.js */
	}
	function setDefaultText(el, text) {
		el.value = el.text;
	}

//]]>
</script>