%{ include the base template, so undefined strings default to English }%
%TMPL:INCLUDE{"language.tmpl"}%

%TMPL:DEF{"i18n:edit"}%Editieren%TMPL:END%
%TMPL:DEF{"i18n:Tab-edit"}%<span class="patternAccessKey">E</span>ditieren%TMPL:END%
%TMPL:DEF{"i18n:AccessKey-edit"}%e%TMPL:END%
%TMPL:DEF{"i18n:Tooltip-edit"}%Dieses Topic editieren%TMPL:END%

%TMPL:DEF{"i18n:Tab-create"}%Erz<span class="patternAccessKey">e</span>ugen%TMPL:END%

%TMPL:DEF{"i18n:attach"}%Anhang%TMPL:END%
%TMPL:DEF{"i18n:Tab-attach"}%<span class="patternAccessKey">A</span>nhang%TMPL:END%
%TMPL:DEF{"i18n:AccessKey-attach"}%a%TMPL:END%
%TMPL:DEF{"i18n:Tooltip-attach"}%Bilder oder Dokumente an dieses Topic h&auml;ngen%TMPL:END%

%TMPL:DEF{"i18n:Tab-printable"}%<span class="patternAccessKey">D</span>ruckansicht%TMPL:END%
%TMPL:DEF{"i18n:AccessKey-printable"}%d%TMPL:END%
%TMPL:DEF{"i18n:Tooltip-printable"}%Druckansicht f&uuml;r dieses Topic anzeigen%TMPL:END%

%TMPL:DEF{"i18n:more_topic_actions"}%Mehr Topic-Funktionen...%TMPL:END%
%TMPL:DEF{"i18n:Tab-more_topic_actions"}%<span class="patternAccessKey">M</span>ehr Topic-Funktionen%TMPL:END%
%TMPL:DEF{"i18n:AccessKey-more_topic_actions"}%m%TMPL:END%
%TMPL:DEF{"i18n:Tooltip-more_topic_actions"}%Topics l&ouml;schen oder umbenennen; Vater-Topic setzen; Revisionen anzeigen und vergleichen%TMPL:END%

%TMPL:DEF{"i18n:Tab-raw_view"}%<span class="patternAccessKey">R</span>ohtext%TMPL:END%
%TMPL:DEF{"i18n:AccessKey-raw_view"}%r%TMPL:END%
%TMPL:DEF{"i18n:Tooltip-raw_view"}%Rohtext ohne Formatierung%TMPL:END%

%TMPL:DEF{"i18n:backlinks"}%Querverweise%TMPL:END%
%TMPL:DEF{"i18n:Tab-backlinks_current_web"}%<span class="patternAccessKey">W</span>eb%TMPL:END%
%TMPL:DEF{"i18n:AccessKey-backlinks_current_web"}%w%TMPL:END%
%TMPL:DEF{"i18n:Tooltip-backlinks_current_web"}%<nop>%WEB% Web nach Verweisen auf dieses Topic durchsuchen%TMPL:END%

%TMPL:DEF{"i18n:Tab-backlinks_all_webs"}%A<span class="patternAccessKey">l</span>le Webs%TMPL:END%
%TMPL:DEF{"i18n:AccessKey-backlinks_all_webs"}%l%TMPL:END%
%TMPL:DEF{"i18n:Tooltip-backlinks_all_webs"}%Alle Webs nach Verweisen auf dieses Topic durchsuchen%TMPL:END%

%TMPL:DEF{"i18n:version"}%Version%TMPL:END%
%TMPL:DEF{"i18n:Tab-topic_history"}%<span class="patternAccessKey">H</span>istorie%TMPL:END%
%TMPL:DEF{"i18n:AccessKey-topic_history"}%h%TMPL:END%
%TMPL:DEF{"i18n:Tooltip-topic_history"}%Totale &Auml;nderungshistorie von diesem Topic anzeigen%TMPL:END%

%TMPL:DEF{"i18n:start_of_topic"}%Topic Anfang%TMPL:END%
%TMPL:DEF{"i18n:end_of_topic"}%Topic Ende%TMPL:END%
%TMPL:DEF{"i18n:skip_to_actions"}%Zu den Funktionen%TMPL:END%
%TMPL:DEF{"i18n:back_to_top"}%Zum Anfang%TMPL:END%
%TMPL:DEF{"i18n:you_are_here"}%Sie sind hier%TMPL:END%

