%TMPL:DEF{"i18n:edit"}%Edit%TMPL:END%
%TMPL:DEF{"i18n:Tab-edit"}%<span class="patternAccessKey">E</span>dit%TMPL:END%
%TMPL:DEF{"i18n:AccessKey-edit"}%e%TMPL:END%
%TMPL:DEF{"i18n:Tooltip-edit"}%Edit this topic text%TMPL:END%

%TMPL:DEF{"i18n:Tab-create"}%Cr<span class="patternAccessKey">e</span>ate%TMPL:END%

%TMPL:DEF{"i18n:attach"}%Attach%TMPL:END%
%TMPL:DEF{"i18n:Tab-attach"}%<span class="patternAccessKey">A</span>ttach%TMPL:END%
%TMPL:DEF{"i18n:AccessKey-attach"}%a%TMPL:END%
%TMPL:DEF{"i18n:Tooltip-attach"}%Attach an image or document to this topic%TMPL:END%

%TMPL:DEF{"i18n:Tab-printable"}%<span class="patternAccessKey">P</span>rintable%TMPL:END%
%TMPL:DEF{"i18n:AccessKey-printable"}%p%TMPL:END%
%TMPL:DEF{"i18n:Tooltip-printable"}%View printable version of this topic%TMPL:END%

%TMPL:DEF{"i18n:more_topic_actions"}%More topic actions...%TMPL:END%
%TMPL:DEF{"i18n:Tab-more_topic_actions"}%<span class="patternAccessKey">M</span>ore topic actions%TMPL:END%
%TMPL:DEF{"i18n:AccessKey-more_topic_actions"}%m%TMPL:END%
%TMPL:DEF{"i18n:Tooltip-more_topic_actions"}%Delete or rename this topic; set parent topic; view and compare revisions%TMPL:END%

%TMPL:DEF{"i18n:Tab-raw_view"}%<span class="patternAccessKey">R</span>aw text%TMPL:END%
%TMPL:DEF{"i18n:AccessKey-raw_view"}%r%TMPL:END%
%TMPL:DEF{"i18n:Tooltip-raw_view"}%View raw text without formatting%TMPL:END%


%TMPL:DEF{"i18n:backlinks"}%Backlinks%TMPL:END%
%TMPL:DEF{"i18n:Tab-backlinks_current_web"}%<span class="patternAccessKey">W</span>eb%TMPL:END%
%TMPL:DEF{"i18n:AccessKey-backlinks_current_web"}%w%TMPL:END%
%TMPL:DEF{"i18n:Tooltip-backlinks_current_web"}%Search the <nop>%WEB% Web for topics that link to here%TMPL:END%

%TMPL:DEF{"i18n:Tab-backlinks_all_webs"}%A<span class="patternAccessKey">l</span>l webs%TMPL:END%
%TMPL:DEF{"i18n:AccessKey-backlinks_all_webs"}%l%TMPL:END%
%TMPL:DEF{"i18n:Tooltip-backlinks_all_webs"}%Search all webs for topics that link to here%TMPL:END%

%TMPL:DEF{"i18n:version"}%Version%TMPL:END%
%TMPL:DEF{"i18n:Tab-topic_history"}%<span class="patternAccessKey">H</span>istory%TMPL:END%
%TMPL:DEF{"i18n:AccessKey-topic_history"}%h%TMPL:END%
%TMPL:DEF{"i18n:Tooltip-topic_history"}%View total topic history%TMPL:END%

%TMPL:DEF{"i18n:start_of_topic"}%Start of topic%TMPL:END%
%TMPL:DEF{"i18n:end_of_topic"}%End of topic%TMPL:END%
%TMPL:DEF{"i18n:skip_to_actions"}%Skip to actions%TMPL:END%
%TMPL:DEF{"i18n:back_to_top"}%Back to top%TMPL:END%
%TMPL:DEF{"i18n:you_are_here"}%You are here%TMPL:END%


