%TMPL:INCLUDE{"login"}%

%TMPL:DEF{"webaction"}%Sudo TWiki User Authentication %TMPL:END%
%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:DEF{"LOG_IN_BANNER"}%<h3>Please enter the TWiki admin password</h3>%TMPL:END%
%TMPL:DEF{"LOGGED_IN_BANNER"}% %MAINWEB%.%WIKINAME% is currently logged in%TMPL:END%
%TMPL:DEF{"NEW_USER_NOTE"}%Enter a new username and password to change identity%TMPL:END%
%TMPL:DEF{"UNRECOGNISED_USER"}%Unrecognised user and/or password.%TMPL:END%

%TMPL:DEF{"usernamefield"}%<input class="twikiInputField" type="text" size="40" name="username" value="%TWIKIADMINLOGIN%" />%TMPL:END%

%TMPL:DEF{"usernamenote"}%%TMPL:END%

%TMPL:DEF{"passwordnote"}%%TMPL:END%

%TMPL:DEF{"authrealm"}%%MAKETEXT{"Enter the TWiki Administrator user or login as set in configure."}%%TMPL:END%