From: %WIKIWEBMASTERNAME% <%WIKIWEBMASTER%>
To: %FIRSTLASTNAME% <%EMAILADDRESS%>
Subject: TWiki password reset for %WIKINAME%

Dear %WIKINAME%

%INTRODUCTION%

Login name "%LOGINNAME%"
Your password has been changed to "%PASSWORD%". 

Please visit %SCRIPTURL%/view%SCRIPTSUFFIX%/%TWIKIWEB%/ChangePassword?username=%LOGINNAME%&oldpassword=%PASSWORD%
to change your password to something more memorable for you.

If you have any questions, please contact %WIKIWEBMASTER%.

