%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}% %_{"(change language)"}% %TMPL:END%
%TMPL:DEF{"webaction"}%%TMPL:END%
%TMPL:DEF{"heading"}%%_{"Change language"}%%TMPL:END%
%TMPL:DEF{"topicaction"}% <a name="Actions"> </a><div class="patternTopicAction"><span class="patternActionButtons"> [[%WEB%.%TOPIC%][%_{"OK"}%]]</span></div>  %TMPL:END%

%TMPL:DEF{"message"}%

%SESSION_VARIABLE{"LANGUAGE" set="%URLPARAM{language}%"}%

%_{"Your language will be changed to [_1] from the next screen. You will be redirected to there right now. If you aren't, ~[~[[_2]~]~[click here~]~] to proceed.", "*%SESSION_VARIABLE{LANGUAGE}%*", "%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%"}%

<script type="text/javascript">
window.location.href = '%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%';
</script>

%TMPL:END%
%TMPL:P{"oops"}%
