%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops, web doesn't exist)%TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%The "%WEB%" web does not exist%TMPL:END%
%TMPL:DEF{"message"}%
  Please chose only webs that do exist. Contact %WIKIWEBMASTER% if you need a new web for your group. %TMPL:END%
%TMPL:DEF{"topicaction"}% [[%MAINWEB%.%HOMETOPIC%][OK]] %TMPL:END%
%TMPL:P{"oops"}%
