%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops) %TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%No such Login %TMPL:END%
%TMPL:DEF{"message"}%
Can't find the username <b>%PARAM1%</b>.

Please make sure you spelled the %TWIKIWEB%.LoginName correctly and try again. If you get stuck, please mail %WIKIWEBMASTER%.

See %MAINWEB%.TWikiUsers for a list of existing users or register as new user in
%TWIKIWEB%.TWikiRegistration. %TMPL:END%
%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:P{"oops"}%
