%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(note)%TMPL:END%
%TMPL:DEF{"webaction"}% *Note* %TMPL:END%
%TMPL:DEF{"heading"}%Thank you for registering%TMPL:END%
%TMPL:DEF{"message"}%

Your activation code has been sent to %PARAM1%.  Either click on the 
link in your email or enter the code in the box below to activate your membership.
(This code is of the form "YourName.xxxx") 

<form action="%SCRIPTURL%/register%SCRIPTSUFFIX%" method=get>
<input type="hidden" name="action" value="verify" size="20">
<input type="text" name="code" size="20">
<input type="submit" value=" Submit ">
</form>

%TMPL:END%

%TMPL:DEF{"topicaction"}% %MAINWEB%.%HOMETOPIC% %TMPL:END%

%TMPL:P{"oops"}%
