%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops) %TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Form Definition %PARAM1%.<nop>%PARAM2% missing%TMPL:END%
%TMPL:DEF{"message"}%
See %TWIKIWEB%.TWikiForms for information about Form Definitions.

This could be for several reasons:

---++ 1. Form definition missing

   * The form should be defined in the topic %PARAM1%.%PARAM2%
   * If this topic is missing create it, otherwise check it for errors.

---++ 2. The topic is in an old format

   * Click on [[%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?raw=debug][Debug topic text]].
      * There should be a line that includes =META:FORM=, look for name="%PARAM1%.%PARAM2%" (or name="%PARAM2%")
      * If this line isn't present see _upgrade_ section below

---++ 3. Topic can not be upgraded from old style category table

This requires the form definition to be present.

This can be automatically upgraded by:

   * Creating a suitable Form Definition topic
   * Adding a =WEBFORMS= variable in WebPreferences

You will probably have to ask your administrator, %WIKIWEBMASTER%, to do this. %TMPL:END%
%TMPL:DEF{"topicaction"}% 
  [[%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?raw=debug][View meta topic text]] %TMPL:END%
%TMPL:P{"oops"}%
