%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops new topic has invalid chars)%TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%New topic name has invalid characters in it %TMPL:END%
%TMPL:DEF{"message"}%
Please go back in your browser and chose a valid topic name %TMPL:END%
%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:P{"oops"}%
