%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops) %TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Access Denied%TMPL:END%
%TMPL:DEF{"message"}%
Access check on <nop>%WEB%.<nop>%TOPIC% failed;
%PARAM1% %PARAM2%.

Contact 
<a href="mailto:%WIKIWEBMASTER%?subject=%PARAM1%&#32;access&#32;denied&#32;for&#32;'%WEB%.%TOPIC%'">%WIKIWEBMASTER%</a>
if you have any questions.

__Related topics:__ %MAINWEB%.TWikiGroups, %TWIKIWEB%.TWikiAccessControl %TMPL:END%
%TMPL:DEF{"topicaction"}% [[%MAINWEB%.%HOMETOPIC%][OK]] %TMPL:END%
%TMPL:P{"oops"}%
