%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops) %TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Topic <nop>%TOPIC% does not exist%TMPL:END%
%TMPL:DEF{"message"}%
You cannot %PARAM1% a non-existant topic. Please
create the topic first.
 %TMPL:END%
%TMPL:DEF{"topicaction"}% [[%WEB%.%HOMETOPIC%][Cancel]] %TMPL:P{"sep"}%
[[%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%][View]] %TMPL:P{"sep"}%
[[%SCRIPTURL%/edit%SCRIPTSUFFIX%/%WEB%/%TOPIC%?t=%SERVERTIME{"$year$mo$day$min$sec"}%][Create]] %TMPL:END%
%TMPL:P{"oops"}%
