<HTML>
<HEAD>
    <TITLE> %WIKITOOLNAME% . %WEB% . %TOPIC% (oops)</TITLE>
</HEAD>
<BODY bgcolor="#ffffff">
<BASE href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%">
<TABLE width="100%" border="0" cellpadding="3" cellspacing="0">
  <TR>
    <TD BGCOLOR="%WEBBGCOLOR%" rowspan="2" valign="top" width="1%">
      <A href="%WIKIHOMEURL%"><IMG src="%PUBURLPATH%/wikiHome.gif" border="0"></A>
    </TD>
    <TD>
      <B>%WIKITOOLNAME% . %WEB% . </B><FONT size="+2"><B>%TOPIC%</B> (oops)</FONT>
    </TD>
  </TR>
  <TR BGCOLOR="%WEBBGCOLOR%">
    <TD COLSPAN="2">
      Attention
    </TD>
  </TR>
</TABLE>
<H1>You are already registered</H1>
Can't register twice, the username %PARAM1% is already registered. <p>
Please contact 
<A href="mailto:%WIKIWEBMASTER%?subject=TWikiRegistration Question">%WIKIWEBMASTER%</A>
if you have any questions. <p>
<TABLE width="100%" border="0" cellpadding="3" cellspacing="0">
  <TR BGCOLOR="%WEBBGCOLOR%">
    <TD valign="top">
      Topic <B>%TOPIC%</B> . { }
    </TD>
  </TR>
</TABLE>
</BODY>
