%{ Inline alerts, embedded in rendered text. One DEF is selected and inserted at %INSTANTIATE% }%
%TMPL:DEF{"access_denied"}%      %MAKETEXT{"No permission to view [_1]" args="%PARAM1%"}% %TMPL:END%
%TMPL:DEF{"no_such_attachment"}% %MAKETEXT{"Error: File attachment at [_1],[_2] does not exist" args="%PARAM1%, %PARAM2%"}% %TMPL:END%
%TMPL:DEF{"bad_protocol"}%       %MAKETEXT{"Error: Unsupported protocol. (Must be 'http://domain/...')"}% %TMPL:END%
%TMPL:DEF{"bad_content"}%   %MAKETEXT{"Error: Unsupported content type: [_1] (Must be =text/html=, =text/plain= or =text/css=)" args="%PARAM1%"}% %TMPL:END%
%TMPL:DEF{"no_such_topic"}%      %MAKETEXT{"Warning: Can't find topic [_1]" args="<nop>%PARAM1%"}% %TMPL:END%
%TMPL:DEF{"already_included"}%   %MAKETEXT{"Warning: Can't INCLUDE [_1] repeatedly, topic is already included. [_2]" args="<nop>%PARAM1%.<nop>%PARAM2%, %PARAM3%"}% %TMPL:END%
%TMPL:DEF{"generic"}%            %PARAM1% %PARAM2% %PARAM3% %PARAM4%<br /> %TMPL:END%
%TMPL:DEF{"missing_user"}%       %MAKETEXT{"The entry for user [_1] was missing in the password system." args="%PARAM1%"}%<br /> %TMPL:END%
%TMPL:DEF{"notwikiuser"}%        %MAKETEXT{"Can't find user [_1]" args="%PARAM1%"}%<br /> %TMPL:END%
%TMPL:DEF{"no_email_for"}%       %MAKETEXT{"Can't get an email address for [_1] (required for password reset)" args="%PARAM1%"}%<br /> %TMPL:END%
%TMPL:DEF{"new_sys_pass"}%       %MAKETEXT{"A new *system-generated* password for login name [_1] (wikiname [_2]) has been sent to [_3]" args="%PARAM1%, %MAINWEB%.%PARAM2%, %PARAM3%"}%<br /> %TMPL:END%
%TMPL:DEF{"geturl_failed"}%      %MAKETEXT{"Failed to include URL [_1]" args="%PARAM1%"}%%TMPL:END%
<span class='twikiAlert'> %INSTANTIATE% </span>
