<!-- Templates for lease conflict messages. One DEF is selected and inserted at %INSTANTIATE -->
%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops) %TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Conflict%TMPL:END%
%TMPL:DEF{"topicaction"}%%TMPL:END%
%TMPL:DEF{"active"}%
They have been editing for %PARAM2% and their lease is still active for another %PARAM3%.
%TMPL:END%
%TMPL:DEF{"old"}%
Their lease on this topic expired %PARAM2% ago.

The chances are good that they simply navigated away from the edit page without saving.
%TMPL:END%
%TMPL:DEF{"message"}%
%PARAM1% is editing %WEB%.%TOPIC%.

%INSTANTIATE%

It is probably OK to go ahead and edit, unless you intend to change the form attached to the topic. If they _do_ save while you are editing, your changes will be merged with theirs. Form data cannot easily be merged, so in this case you are recommended to check with them first.

To see if they have finished their edit yet, click 'Try Again'.

To edit the topic anyway, hit 'Edit Anyway'.
%TMPL:END%
%TMPL:DEF{"topicaction"}%
[[%WEB%.%TOPIC%][View topic]] %TMPL:P{"sep"}%
<form name="edit_anyway" action="%SCRIPTURL%/edit%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post">
<input type="hidden" name="breaklock" value="" />%QUERYPARAMS% 
<a href="%SCRIPTURL%/edit%SCRIPTSUFFIX%/%WEB%/%TOPIC%" class="twikiLink" onclick="document.edit_anyway.submit()"> Try Again </a>%TMPL:P{"sep"}%<a href="%SCRIPTURL%/edit%SCRIPTSUFFIX%/%WEB%/%TOPIC%" class="twikiLink" onclick="document.edit_anyway.breaklock.value='on';document.edit_anyway.submit()"> Edit Anyway </a></form> %TMPL:END%

%TMPL:P{"oops"}%
