%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%%_{"(oops)"}% %TMPL:END%
%TMPL:DEF{"webaction"}% *%_{"Attention"}%* %TMPL:END%
%TMPL:DEF{"heading"}%%_{"Either you need to register or the authentication failed"}%%TMPL:END%
%TMPL:DEF{"message"}%
%_{"To edit topics on this [_1] collaborative web, you must be registered as a user.", "<nop>%WIKITOOLNAME%"}%

---+++ %_{"If you expected to be logged in at this point:"}%

   * %_{"Did you type in your login name and password correctly? Remember, both are case sensitive."}%
   * %_{"If you want to try again, go back in your browser and hit edit again."}%
   * %_{"Registered users can ~[~[[_1]~]~[change passwords~]~] and ~[~[[_2]~]~[reset passwords~]~].", "%TWIKIWEB%.ChangePasswords", "%TWIKIWEB%.ResetPasswords"}%
   * __%_{"Note:"}%__ %_{"You can also login anonymously as user *TWikiGuest* with password *guest*."}%

---+++ %_{"To register as a new user:"}%

   * %_{"Simply fill out the [_1] form. It only takes a minute.", "*[[%TWIKIWEB%.TWikiRegistration][TWikiRegistration]]*"}% %TMPL:END%
%TMPL:DEF{"topicaction"}%
  [[%WEB%.%TOPIC%][%_{"OK"}%]] %TMPL:P{"sep"}%
  [[%TWIKIWEB%.TWikiRegistration][%_{"Register"}%]] %TMPL:END%
%TMPL:P{"oops"}%
