%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops) %TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Administration error%TMPL:END%
%TMPL:DEF{"topicaction"}% [[%WEB%.%TOPIC%][OK]] %TMPL:END%
%TMPL:DEF{"missing_action"}%
---++ Missing action command
Please go back in your browser and try again.
%TMPL:END%
%TMPL:DEF{"unrecognized_action"}%
---++ Unrecognized action command %PARAM1%
Please go back in your browser and try again.
%TMPL:END%
%TMPL:DEF{"notwikiuser"}%
---++ Can't find user %PARAM1%
Please make sure you spelled the %TWIKIWEB%.LoginName correctly and try again. If you get stuck, please mail %WIKIWEBMASTER%.

See %MAINWEB%.TWikiUsers for a list of existing users or register as new user in
%TWIKIWEB%.TWikiRegistration. %TMPL:END%
%TMPL:DEF{"in_a_group"}%
---++ %PARAM1% is in at least one group and cannot be removed

Remove the user from the group(s) %PARAM2% first.
%TMPL:END%
%TMPL:DEF{"move_err"}%
---++ Attachment move failed
During move of attachment %PARAM3% to <nop>%PARAM1%.<nop>%PARAM2% an error was found. Please notify your %WIKITOOLNAME% administrator.

%PARAM4%
%TMPL:END%
%TMPL:DEF{"topic_exists"}%
---++ Rename failed
Cannot rename %TOPIC% to <nop>%PARAM1%.<nop>%PARAM2% because it already exists.

Please go _back_ in browser and try a new name
%TMPL:END%
%TMPL:DEF{"rename_not_wikiword"}%
---++ New topic name "<nop>%PARAM1%" is not a %TWIKIWEB%.WikiWord
Please go back in your browser and chose a topic name that is a %TWIKIWEB%.WikiWord or check the allow non-Wiki Word box
%TMPL:END%
%TMPL:DEF{"rename_err"}%
During rename of topic <nop>%WEB%.<nop>%TOPIC% to <nop>%PARAM2%.<nop>%PARAM3% an error (%PARAM1%) was found. Please notify your %WIKITOOLNAME%
administrator.
%TMPL:END%
%TMPL:DEF{"wrong_password"}%
---++ Incorrect Password
The password you entered in the *old password* field is incorrect.

Please go back in your browser and try again.
%TMPL:END%
%TMPL:DEF{"web_missing"}%
---++ Name of new web is missing
Please go back in your browser and try again. %TMPL:END%
%TMPL:DEF{"invalid_web_name"}%
---++ "%PARAM1%" is an invalid name for a new web
You are recommended to choose short names, preferably less than 10 characters,
starting with an upper-case alphabetic character and using only alphanumeric
characters. If you want to create a template web (a web just used as a base
to create new webs) choose a name that starts with an underscore and has only
alphanumeric characters.

Please go back in your browser and try again.
%TMPL:END%
%TMPL:DEF{"web_exists"}%
---++ Cannot create web "%PARAM1%" because it already exists
Please go back in your browser and try again.
%TMPL:END%
%TMPL:DEF{"base_web_missing"}%
---++ Base web %PARAM1% is missing or does not exist
Please go back in your browser and try again.
%TMPL:END%
%TMPL:DEF{"invalid_web_color"}%
---++ Color =%PARAM1%= has an invalid format
A color starts with a # sign, followed by 6 hexadecimal
numbers, e.g. =#FFFF00=.

Pick one of the %TWIKIWEB%.StandardColors.

You can also use the names of the standard HTML colors (black, silver, gray,
white, maroon, red, purple, fuchsia, green, lime, olive, yellow, navy, blue, teal, or aqua)

Please go back in your browser and try again.
%TMPL:END%
%TMPL:DEF{"web_creation_error"}%
---++ Could not create the new web %PARAM1%
%PARAM2%
%TMPL:END%
%TMPL:DEF{"message"}%
%INSTANTIATE%
%TMPL:END%
%TMPL:P{"oops"}%
