%TMPL:INCLUDE{"oopssaveerr.tmpl"}%



%TMPL:DEF{"topicaction"}%<a name="Actions"> </a><div class="patternTopicAction"><span class="patternActionButtons">[[%WEB%.%TOPIC%][%_{"OK"}%]]</span></div>%TMPL:END%