%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(note) %TMPL:END%
%TMPL:DEF{"webaction"}% *Note* %TMPL:END%
%TMPL:DEF{"heading"}%Your TWiki password has been changed%TMPL:END%
%TMPL:DEF{"message"}%

A new *system-generated* password has been sent to *%PARAM1%* along with instructions on how to change it.
%TMPL:END%
%TMPL:DEF{"topicaction"}% [[%WEB%.%TOPIC%][OK]] %TMPL:END%

