%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops)%TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Invalid Activation Code%TMPL:END%
%TMPL:DEF{"message"}%
The activation code ==%PARAM1%== is invalid.  Please try again.

<form action="%SCRIPTURL%/register%SCRIPTSUFFIX%" method=get>
<input type="hidden" name="action" value="verify" size="20">
<input type="text" name="code" size="20">
<input type="submit" value=" Submit ">
</form>

Please contact 
<a href="mailto:%WIKIWEBMASTER%">%WIKIWEBMASTER%</a>
if you have any questions. %TMPL:END%

%TMPL:DEF{"topicaction"}% [[%WEB%.WebHome][OK]] %TMPL:END%
%TMPL:P{"oops"}%


