%TMPL:INCLUDE{"oopsaccessdenied.tmpl"}%



%TMPL:DEF{"topicaction"}%<a name="Actions"> </a><div class="patternTopicAction"><span class="patternActionButtons"> [[%TOPIC%][%_{"OK"}%]]</span></div>%TMPL:END%