%{ Templates for access denied messages. One DEF is selected and inserted at %INSTANTIATE }%
%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops) %TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Access Denied%TMPL:END%
%TMPL:DEF{"topicaction"}% [[%MAINWEB%.%HOMETOPIC%][OK]] %TMPL:END%
%TMPL:DEF{"topic_access"}%
Access check on <nop>%WEB%.<nop>%TOPIC% failed;
%PARAM1% %PARAM2%.

Contact 
<a href="mailto:%WIKIWEBMASTER%?subject=%PARAM1%&#32;access&#32;denied&#32;for&#32;'%WEB%.%TOPIC%'">%WIKIWEBMASTER%</a>
if you have any questions.

__Related topics:__ %MAINWEB%.TWikiGroups, %TWIKIWEB%.TWikiAccessControl %TMPL:END%
%TMPL:DEF{"only_group"}%
Only members of the %PARAM1% are allowed to perform this action.

Contact
<a href="mailto:%WIKIWEBMASTER%?subject=Access&#32;Denieds&#32;fors&#32;'%WEB%.%TOPIC%',s&#32;needs&#32;'%PARAM1%'">%WIKIWEBMASTER%</a>
if you have any questions.

__Related topics:__ %MAINWEB%.TWikiGroups, %TWIKIWEB%.TWikiAccessControl
%TMPL:END%
%TMPL:DEF{"no_such_web"}%
---++ The "%WEB%" web does not exist
A %TWIKIWEB%.TWikiSite is divided into webs; each one represents one
subject, one area of collaboration. You are trying to '%PARAM1%' in a web
that does not exist.

---+++ If you came here by clicking on a question mark link
<blockquote>
A link to a topic located in another web is written like *Otherweb.<nop>TopicName*.
Make sure that the name of the web is not spelt wrongly on the previous page; fix the link if necessary.
</blockquote>

---+++ If you would like to create this web
You can [[%SCRIPTURL%/view%SCRIPTSUFFIX%/%TWIKIWEB%/ManagingWebs?newweb=%WEB%&amp;newtopic=%TOPIC%#CreateNewWeb][create a new web]] if you have permission. Contact %WIKIWEBMASTER% if you have any questions.
%TMPL:END%
%TMPL:DEF{"no_such_topic"}%
---++ "%WEB%.%TOPIC%" topic does not exist
You are trying to %PARAM1% a topic that does not exist.

---++ If you want to create the topic
[[%SCRIPTURL%/edit%SCRIPTSUFFIX%/%WEB%/%TOPIC%?t=%SERVERTIME{"$year$mo$day$min$sec"}%][Click here]].

Contact %WIKIWEBMASTER% if you have any questions.
%TMPL:END%
%TMPL:DEF{"message"}%
%INSTANTIATE%
%TMPL:END%
%TMPL:P{"oops"}%
