%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(note) %TMPL:END%
%TMPL:DEF{"webaction"}% *Note* %TMPL:END%
%TMPL:DEF{"heading"}%Your TWiki password has been changed%TMPL:END%
%TMPL:DEF{"message"}%

A new *system-generated* password has been sent to *%PARAM1%*.

Please proceed to [[%SCRIPTURL%/view%SCRIPTSUFFIX%/%TWIKIWEB%.ChangePassword?username=%PARAM2%][ChangePassword]] to change it to something memorable.

%TMPL:END%
%TMPL:DEF{"topicaction"}% [[%SCRIPTURL%/view%SCRIPTSUFFIX%/%TWIKIWEB%.ChangePassword?username=%PARAM2%][OK]] %TMPL:END%

%TMPL:P{"oops"}%
