%{ This is a default template }%%TMPL:INCLUDE{"edit"}%


%TMPL:DEF{"templatestyle"}%<style type="text/css" media="all">
%IF{ "defined PREVIEWBGIMAGE and $ PREVIEWBGIMAGE != ''" then='.twikiPreviewArea { background-image:url("%PREVIEWBGIMAGE%"); }'}%</style>%TMPL:END%


%TMPL:DEF{"pagetitle"}%<nop>%TOPIC% (%MAKETEXT{"preview"}%) %BR%<span class="twikiAlert">%MAKETEXT{"Do not forget to save your changes"}%%TMPL:END%

%TMPL:DEF{"titleaction"}%(%MAKETEXT{"preview"}%) %TMPL:END%

%TMPL:DEF{"webaction"}%%TMPL:END%


%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="twikiSubmit" value="Save Changes" /> %MAKETEXT{"or"}% <a href="#" onclick="history.go(-1); return false;">%MAKETEXT{"Go back"}%</a> %FORMFIELDS% %TMPL:END%


%TMPL:DEF{"content"}%%TMPL:P{"formstart"}%
<div class="twikiPreviewArea">
%TEXT%
%META{"form"}%
</div><!--/twikiPreviewArea-->
%TMPL:P{"topicinfo"}%
%TMPL:P{"formend"}%%TMPL:END%