%TMPL:INCLUDE{"twiki"}%



%TMPL:DEF{"script"}%
<script type="text/javascript">
<!--HIDE
function initPage() { }
function launchWindow( theWeb, theTopic ) {
	var win = open("%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/" + theWeb + "/" + theTopic + "?skin=plain", theTopic, "titlebar=0,width=500,height=480,resizable,scrollbars");
  if( win ) {
    win.focus();
  }
  return false;
}
//STOP HIDING-->
</script>%TMPL:END%



%TMPL:DEF{"templatecustomstyle"}%
<style type="text/css" media="all">
.patternPreviewPage .patternMain {
	background-image:url(%PREVIEWBGIMAGE%);
}
</style>%TMPL:END%



%TMPL:DEF{"simpleheader"}%
---+ <nop>%TOPIC% (preview)
%BR%%TMPL:END%



%TMPL:DEF{"bodystart"}%
<body class="patternNoViewPage patternPreviewPage" onload="initPage()"><a name="PageTop"></a><div class="patternPage">%TMPL:END%



%TMPL:DEF{"titleaction"}%(preview) %TMPL:END%



%TMPL:DEF{"topicaction"}%<table class="patternTopicAction">
<tr class="patternTopicActionHelp twikiGrayText">
<td colspan="3" class="patternTopicActionHelp twikiGrayText"></td>
</tr>
<tr class="patternTopicActionSecondary">
<td class="patternCancelCol"></td>
<td class="patternSubmitCol"><div class="patternSubmitOptions">
   <input type="checkbox" class="twikiCheckbox" id="dontnotify" name="dontnotify" %DONTNOTIFYCHECKBOX% /><label for="dontnotify">Minor changes, don't notify</label>&nbsp;&nbsp;<a target="DontNotify" onclick="return launchWindow('%TWIKIWEB%','DontNotify')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/DontNotify" rel='nofollow'>help</a><br />
   <input type="checkbox" class="twikiCheckbox" id="forcenewrevision" name="forcenewrevision" %FORCENEWREVISIONCHECKBOX% /><label for="forcenewrevision">Force new revision</label>&nbsp;&nbsp;<a target="ForceNewRevision" onclick="return launchWindow('%TWIKIWEB%','ForceNewRevision')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/ForceNewRevision" rel='nofollow'>help</a></div></td>
<td class="patternAddCol"></td>
</tr>
<tr class="patternTopicAction">
<td class="patternCancelCol"><input type="submit" class="twikiSubmit" value="Discard" name="action_cancel" /></td>
<td class="patternSubmitCol"><input type="submit" class="twikiSubmit" value="Save Changes" />%FORMFIELDS%</td>
<td class="patternAddCol"></td>
</tr>
</table>%TMPL:END%



%TMPL:DEF{"content"}%
%TMPL:P{"simpleheader"}%
<div class="twikiHelp">
<span class="twikiAlert"><b>Do not forget</b></span> to save your changes.
<ul>
  <li> To <b>save</b> changes: Press the [Save Changes] button.</li>
  <li> To make <b>more changes</b>: Go back in your browser.</li>
  <li> To <b>cancel</b> and discard any changes: Press the [Discard] button.</li>
</ul>
</div>
<div class="patternPreviewArea">
<div class="patternTopic">
%TEXT%
</div>
%META{"form"}%
%META{"attachments"}%
</div>
<form name="main" action="%SCRIPTURLPATH%/save%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post">
<input type="hidden" name="originalrev" value="%URLPARAM{"originalrev"}%" />
<input type="hidden" name="text" value="%HIDDENTEXT%" />
<input type="hidden" name="cmd" value="%CMD%" />
<input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
<input type="hidden" name="topicparent" value="%TOPICPARENT%" />
%TMPL:P{"topicaction"}%
</form>%TMPL:END%



%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%