<HTML>
<HEAD>
  <TITLE> %WIKITOOLNAME% . %WEB% . %TOPIC% (preview)</TITLE>
  <BASE href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%"> <META NAME="ROBOTS" CONTENT="NOINDEX"> %HTTP_EQUIV_ON_PREVIEW%
</HEAD>
<BODY bgcolor="#ffffff">
<TABLE width="100%" border="0" cellpadding="3" cellspacing="0">
  <TR>
    <TD BGCOLOR="%WEBBGCOLOR%" rowspan="2" valign="top" width="1%">
      <A href="%WIKIHOMEURL%"><IMG src="%PUBURLPATH%/wikiHome.gif" border="0"></A>
    </TD>
    <TD>
      <B>%WIKITOOLNAME% . %WEB% . </B><FONT size="+2"><B>%TOPIC%</B> (preview)</FONT>
    </TD><TD>
      <FONT SIZE=-2>
      <UL>
      <LI> To <B>save</B> changes: Press the [Save Changes] button.
      <LI> To make <B>more changes</B>: Go back in your browser.
      <LI> To <B>cancel</B>: Go back twice.
      </UL>
      </FONT>
    </TD>
  </TR>
  <TR BGCOLOR="%WEBBGCOLOR%">
    <TD colspan="2">
      <B><FONT COLOR="#FF0000"> Note: </FONT></B>
      This is a preview. <B><FONT COLOR="#FF0000"> Do not forget </FONT></B> to save your changes.
    </TD>
  </TR>
</TABLE>
<BR>
%TEXT%
<BR clear=all>
<TABLE width="100%" border="0" cellpadding="3" cellspacing="0">
<FORM name="main" action="%SCRIPTURLPATH%/save%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post">
  <TR BGCOLOR="%WEBBGCOLOR%">
    <TD valign="top">
      Topic <B>%TOPIC%</B> . {
      <INPUT type="hidden" name="text" value="%HIDDENTEXT%">
      <INPUT type="hidden" name="cmd" value="%CMD%">
      <INPUT type="submit" value=" Save Changes "> &nbsp; &nbsp;
      <INPUT type="checkbox" name="unlock"> unlock topic
      <font size="-1">(<a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/UnlockTopic">help</a>)</font>
      }
    </TD>
  </TR>
</FORM>
</TABLE>
%WEBCOPYRIGHT%
</BODY></HTML>
