<HTML>
<HEAD>
  <TITLE> %WIKITOOLNAME% . %WEB% . %TOPIC% (preview)</TITLE>
  <BASE href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%"> <META NAME="ROBOTS" CONTENT="NOINDEX"> %HTTP_EQUIV_ON_PREVIEW%
</HEAD>
<SCRIPT LANGUAGE="JavaScript">
<!--HIDE
function launchWindow( theWeb, theTopic ) {
  win = open("%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/" + theWeb + "/" + theTopic + "?skin=plain", theTopic, "titlebar=0,width=500,height=480,resizable,scrollbars");
  if( win ) {
    win.focus();
  }
  return false;
}
//STOP HIDING-->
</SCRIPT>
<BODY bgcolor="#ffffff" background="%PREVIEWBGIMAGE%">
<TABLE width="100%" border="0" cellpadding="3" cellspacing="0">
  <TR>
    <TD BGCOLOR="%WEBBGCOLOR%" rowspan="2" valign="top" width="1%">
      <A href="%WIKIHOMEURL%"><IMG src="%PUBURLPATH%/wikiHome.gif" border="0"></A>
    </TD>
    <TD>
      <B>%WIKITOOLNAME% . %WEB% . </B><FONT size="+2"><B>%TOPIC%</B> (preview)</FONT>
    </TD><TD>
      <FONT SIZE=-2>
      <UL>
      <LI> To <B>save</B> changes: Press the [Save Changes] button.
      <LI> To make <B>more changes</B>: Go back in your browser.
      <LI> To <B>cancel</B>: Go back twice.
      </UL>
      </FONT>
    </TD>
  </TR>
  <TR BGCOLOR="%WEBBGCOLOR%">
    <TD colspan="2">
      <B><FONT COLOR="#FF0000"> Note: </FONT></B>
      This is a preview. <B><FONT COLOR="#FF0000"> Do not forget </FONT></B> to save your changes.
    </TD>
  </TR>
</TABLE>
<BR>
Parent: %META{"parent"}%
%TEXT%
%META{"form"}%
%META{"attachments"}%
<BR clear=all>
<FORM name="main" action="%SCRIPTURLPATH%/save%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post">
<TABLE width="100%" border="0" cellpadding="3" cellspacing="0">
  <TR BGCOLOR="%WEBBGCOLOR%">
    <TD valign="top">
      Topic <B>%TOPIC%</B> . {
        <INPUT type="hidden" name="text" value="%HIDDENTEXT%">
        <INPUT type="hidden" name="cmd" value="%CMD%">
        <INPUT type="hidden" name="formtemplate" value="%FORMTEMPLATE%">
        <INPUT type="hidden" name="parent" value="%TOPICPARENT%">
        <INPUT type="submit" value=" Save Changes ">%FORMFIELDS% }
    </TD>
  </TR>
</TABLE>
<TABLE width="100%" border="0" cellpadding="3" cellspacing="0">
  <TR>
    <TD bgcolor="%WEBBGCOLOR%">
      &nbsp; &nbsp;
    </TD><TD valign="top">
      &nbsp; &nbsp;
      <INPUT type="checkbox" name="unlock" %RELEASEEDITLOCKCHECKBOX%> Release edit lock
      <font size="-1">(<a target="UnlockTopic" onClick="return launchWindow('%TWIKIWEB%','UnlockTopic')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/UnlockTopic">help</a>)</font> <br>
      &nbsp; &nbsp;
      <INPUT type="checkbox" name="dontnotify"> Minor change, don't notify
      <font size="-1">(<a target=DontNotify" onClick="return launchWindow('%TWIKIWEB%','DontNotify')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/DontNotify">help</a>)</font>
    </TD><TD width="50%" valign="top">
      %WEBCOPYRIGHT%
    </TD>
  </TR>
</TABLE>
</FORM>
</BODY></HTML>
