From: %WIKIWEBMASTER%
To: %WIKIWEBMASTER%
Subject: %WIKITOOLNAME% - Registration %WIKINAME%
MIME-Version: 1.0
Content-Type: text/plain; charset=us-ascii
Content-Transfer-Encoding: 7bit

This is an automated email notification of user registration in %WIKITOOLNAME%.
URL: %SCRIPTURL%/view/%MAINWEB%/%WIKINAME%

   * WikiName: %WIKINAME%
   * Name: %FIRSTLASTNAME%
   * E-mail: %EMAILADDRESS%
   * Company name: %COMPANYNAME%
   * Company URL: %COMPANYURL%
   * Country: %COUNTRYNAME%
   * Hear from: %HEARFROM%
   * Comments: 
%COMMENTTEXT%
