   * Name: %FIRSTLASTNAME%
   * E-mail: %EMAILADDRESS%
   * Company name: %COMPANYNAME%
   * Company URL: %COMPANYURL%
   * Country: %COUNTRYNAME%
   * Hear from: %HEARFROM%
   * Comments: %COMMENTTEXT%

Related topic: TWikiUsers has a list of other TWiki users.
