From: %WIKIWEBMASTERNAME% <%WIKIWEBMASTER%>
To: %WIKIWEBMASTERNAME% <%WIKIWEBMASTER%>
Subject: %_{"[_1] - Registration for [_2] ([_3])", "%WIKITOOLNAME%", "%WIKINAME%", "%EMAILADDRESS%"}%
MIME-Version: 1.0
Content-Type: text/plain; charset=%CHARSET%
Content-Transfer-Encoding: 7bit

%_{"This is an automated email notification of user registration in [_1].", "%WIKITOOLNAME%"}%

%_{"[_1] has been registered with email [_2]", "%WIKINAME%", "%EMAILADDRESS%"}%

%_{"Submitted content:"}%

%FORMDATA%

%_{"Saved to:"}%

%SCRIPTURL{"view"}%/%MAINWEB%/%WIKINAME%