From: %WIKIWEBMASTER%
To: %EMAILADDRESS%
BCC: %WIKIWEBMASTER%
Subject: %WIKITOOLNAME% - Registration for %WIKINAME%
MIME-Version: 1.0
Content-Type: text/plain; charset=us-ascii
Content-Transfer-Encoding: 7bit

This is an automated email notification of user registration in %WIKITOOLNAME%.

Thank you for registering in the %WIKITOOLNAME% collaboration tool. Please 
save this email for future reference. Your personal TWiki topic is at
%SCRIPTURL%/view%SCRIPTSUFFIX%/%MAINWEB%/%WIKINAME%

   * WikiName: %WIKINAME%
   * Password: %PASSWORD%
   * Name: %FIRSTLASTNAME%
   * E-mail: %EMAILADDRESS%
   * Company name: %COMPANYNAME%
   * Company URL: %COMPANYURL%
   * Country: %COUNTRYNAME%
   * Hear from: %HEARFROM%
   * Comments: 
%COMMENTTEXT%


Note:
In case you got this email by mistake: Somebody (%FIRSTLASTNAME%)
registered  at the %WIKITOOLNAME% site using your mail address 
%EMAILADDRESS% . Contact %WIKIWEBMASTER% if needed.
