%TMPL:INCLUDE{"renamewebbase"}%



%TMPL:DEF{"titleaction"}%%_{"(rename)"}% %TMPL:END%



%TMPL:DEF{"webaction"}%%_{"Rename"}%%TMPL:END%



%TMPL:DEF{"newsubweb"}%<input name="newsubweb" value="%NEW_SUBWEB%" size="36" />%TMPL:END%



%TMPL:DEF{"newparentweb"}%<select name="newparentweb"><option value=""></option>%WEBLIST{"<option $marker value=$qname>$name</option>" webs="%TRASHWEB%,public" selection="%NEW_PARENTWEB%" separator=" "}%</select>%TMPL:END%



%TMPL:DEF{"namehelp"}%
%_{"It's usually best to choose a <a target='WikiWord' onclick=\"return launchWindow('%TWIKIWEB%','WikiWord')\" href='[_1]' rel='nofollow'>WikiWord</a> for the new web name, otherwise automatic linking may not work. Characters not allowed in web names, such as spaces will automatically be removed.", "%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/WikiWord"}%
%TMPL:END%



%TMPL:DEF{"movewebhelp"}%%_{"You can rename this web to a different web name."}% <br />%_{"Move this web to the Trash web to delete it (for example, rename it to [_1]).", "%TRASHWEB%/%WEB%"}% %TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="twikiSubmit" value='%_{"Rename/Move"}%' /> %_{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%



%TMPL:P{"renameweb"}%
