%TMPL:INCLUDE{"twiki"}%



%TMPL:DEF{"script"}%
<script type="text/javascript">
<!--HIDE
	function initPage() { }
	function launchWindow( theWeb, theTopic ) {
		win = open("%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/" + theWeb + "/" + theTopic + "?skin=plain", theTopic, "titlebar=0,width=500,height=480,resizable,scrollbars");
		if( win ) {
			win.focus();
		}
		return false;
	}
	function checkAll( theCheck ) {
		// find button element index
		var j = 0;
		for( var i = 0; i < document.rename.length; i++ ) {
			if( document.rename.elements[i].name.match( "referring_topics" ) ) {
				document.rename.elements[i].checked = theCheck;
			}
		}
	}
//STOP HIDING-->
</script>%TMPL:END%



%TMPL:DEF{"bodystart"}%
<body class="patternNoViewPage patternRenamePage" onload="initPage()"><a name="PageTop"></a><div class="patternPage">%TMPL:END%



%TMPL:DEF{"allownonwikiword"}%<input type="checkbox" class="twikiCheckbox" id="nonwikiword" name="nonwikiword" %NONWIKIWORDFLAG% /><label for="nonwikiword">Allow non <nop>WikiWord for the new topic name</label>%TMPL:END%

%TMPL:DEF{"simpleheader"}%
---+ %TMPL:P{"webaction"}% %TOPIC% %TMPL:END%


%TMPL:DEF{"content"}%
<form method="post" name="rename" action="%SCRIPTURLPATH%/rename%SCRIPTSUFFIX%/%WEB%/%TOPIC%">
%TMPL:P{"simpleheader"}%
<div class="patternVersatileTable">
<table>
<tr>
<th>Change from:</th>
<td class="patternOldCol"><b><nop>%WEB%.%TOPIC%</b></td>
<td class="patternOldCol patternHelpCol"></td>
</tr>
<tr>
<th>To web:</th>
<td class="patternMainCol">%TMPL:P{"newweb"}%</td>
<td class="patternMainCol patternHelpCol">%TMPL:P{"movewebhelp"}%</td>
</tr>
<tr>
<th>Topic name:</th>
<td class="patternMainCol">%TMPL:P{"newtopic"}%</td>
<td class="patternMainCol patternHelpCol">%TMPL:P{"namehelp"}%</td>
</tr>
<tr>
<th></th>
<td class="patternMainCol">%TMPL:P{"allownonwikiword"}%</td>
<td class="patternMainCol patternHelpCol"></td>
</tr>
</table>
</div>

<div class="patternSearchResults"><div class="patternSearchResultsHeader">Change links in topics that refer to %TOPIC% in the <nop>%WEB% Web:</div>%LOCAL_SEARCH%</div>

<div class="patternSearchResults"><div class="patternSearchResultsHeader">Change links in topics that refer to [[%WEB%.%TOPIC%]] in any Web:</div>%GLOBAL_SEARCH%</div>
<div class="patternTopicActionSecondary">
<table>
<tr>
<td><input type="button" class="twikiButton" value="Select all" onclick="checkAll(true);" /><input type="button" class="twikiButton" value="Clear all" onclick="checkAll(false);" /> checkboxes of referenced topics</td>
</tr></table></div>
<div class="twikiHelp">
*Note:*
   * Get help on
     <a target="ManagingTopics" onclick="return launchWindow('%TWIKIWEB%','ManagingTopics')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/ManagingTopics" rel='nofollow'>Renaming and moving topics</a>.
   * Select the %TRASHWEB% Web to delete the topic.
   * The checkmarked topics will be updated (another form will appear which will _eventually_ allow you to rename any topics that were locked)
</div>
%TMPL:P{"topicaction"}%
%TMPL:P{"hidden"}%
</form>
%TMPL:END%



%TMPL:DEF{"rename"}%
%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%
%TMPL:END%
