%TMPL:INCLUDE{"renamebase"}%
%TMPL:DEF{"titleaction"}%(rename - choose params)%TMPL:END%
%TMPL:DEF{"webaction"}% &nbsp; %TMPL:END%
%TMPL:DEF{"newtopic"}%<input name="newtopic" value="%TOPIC%" />%TMPL:END%
%TMPL:DEF{"newweb"}% 
  <select name="newweb">
  %WEBLIST{"<option $marker value=$qname>$name</option>" webs="Trash,public" selection="%WEB%"}%
  </select> %TMPL:END%
%TMPL:DEF{"topicaction"}%<input type="submit" value="Rename/Move" />%TMPL:END%
%TMPL:P{"rename"}%
