%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"script"}%
 <script type="text/javascript">
 <!--HIDE
  function launchWindow( theWeb, theTopic ) {
    win = open("%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/" + theWeb + "/" + theTopic + "?skin=plain", theTopic, "titlebar=0,width=500,height=480,resizable,scrollbars");
    if( win ) {
      win.focus();
    }
    return false;
 }
 function checkAll( theCheck )
 {
   // find button element index
   var j = 0;
   for( var i = 0; i < document.renameweb.length; i++ ) {
     if( document.renameweb.elements[i].name.match( "referring_topics" ) ) {
       document.renameweb.elements[i].checked = theCheck;
     }
   }
 }
 //STOP HIDING-->
 </script>%TMPL:END%

%TMPL:DEF{"content"}%
<form method="post" name="renameweb" action="%SCRIPTURLPATH%/renameweb%SCRIPTSUFFIX%/%WEB%">
%TMPL:P{"simpleheader"}%
---+ %TMPL:P{"webaction"}% <code>%WEB%</code>

| |  *Web:* ||
|  *From:* |    <nop>%NEW_PARENTWEB%. |%NEW_SUBWEB%   |
|  *To:* |  %TMPL:P{"newparentweb"}%. |%TMPL:P{"newsubweb"}%  |
%TMPL:P{"notes"}%

---++ Notices:

%RENAMEWEB_NOTICES%

---++ Change links in topics that refer to <nop>%WEB%.Topicname in the <nop>%WEB% Web:

%LOCAL_SEARCH%

---++ Change links in topics that refer to <nop>%WEB% in any Web:

%GLOBAL_SEARCH%

<input type="button" value="Select all" onclick="checkAll(true);" />
<input type="button" value="Clear" onclick="checkAll(false);" /> checkboxes of referenced topics

__Note:__
   * Get help on
     <a target="ManagingWebs" onclick="return launchWindow('%TWIKIWEB%','ManagingWebs')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/ManagingWebs" rel='nofollow'>Renaming and moving webs</a>.
   * Select the %TRASHWEB% Web to delete the topic.
   * The checkmarked topics will be updated. 
%TMPL:P{"topicinfo"}%%TMPL:P{"hidden"}%
</form>%TMPL:END%

%TMPL:DEF{"renameweb"}%
%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%
%TMPL:END%
