%TMPL:INCLUDE{"renamebase"}%



%TMPL:DEF{"titleaction"}%%_{"(rename)"}% %TMPL:END%



%TMPL:DEF{"webaction"}%%_{"Confirm rename or move"}%%TMPL:END%



%TMPL:DEF{"newtopic"}%<input type="hidden" name="newtopic" value="%NEW_TOPIC%" />%NEW_TOPIC%%TMPL:END%



%TMPL:DEF{"newweb"}%<input type="hidden" name="newweb" value="%NEW_WEB%" />%NEW_WEB%%TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%<input type="hidden" name="nonwikiword" value="%URLPARAM{"nonwikiword"}%" /><input type="submit" class="twikiSubmit" value='%_{"Delete"}%' /> %_{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%



%TMPL:P{"rename"}%
