%TMPL:INCLUDE{"renamewebbase"}%



%TMPL:DEF{"titleaction"}%%_{"(delete)"}% %TMPL:END%



%TMPL:DEF{"webaction"}%%_{"Delete"}%%TMPL:END%



%TMPL:DEF{"newsubweb"}%<input name="newsubweb" value="%NEW_SUBWEB%" size="36" />%TMPL:END%



%TMPL:DEF{"newparentweb"}%<select name="newparentweb">%WEBLIST{"<option $marker value=$qname>$name</option>" webs="%NEW_PARENTWEB%,public" selection="%NEW_PARENTWEB%" separator=" "}%</select>%TMPL:END%



%TMPL:DEF{"namehelp"}%
%_{"This name has been chosen so it doesn't conflict with any other topics already in the [_1] web.", "%NEW_WEB%"}%
%TMPL:END%



%TMPL:DEF{"movewebhelp"}%%_{"Deleted topics will be moved to the [_1] web", "%NEW_WEB%"}%%TMPL:END%



%TMPL:DEF{"hidden"}% 
<script type="text/javascript">
<!-- hide
checkAll(false)
// stop hiding -->
</script> %TMPL:END%



%TMPL:DEF{"topicaction"}%<div class="patternTopicAction">
<table>
<tr>
<td class="patternCancelCol">%TMPL:P{"canceltopicaction"}%</td>
<td class="patternSubmitCol"><input type="submit" class="twikiSubmit" value='%_{"Delete"}%' /></td>
<td class="patternAddCol"></td>
</tr></table></div>%TMPL:END%



%TMPL:P{"renameweb"}%
