%TMPL:INCLUDE{"twiki"}%



%TMPL:DEF{"templatescript"}%
<script type="text/javascript">
//<![CDATA[
	var pageElem = document.renameweb;
//]]>
</script>
<script type="text/javascript" src="%PUBURL%/%TWIKIWEB%/TWikiJavascripts/twiki_renamebase.js"></script>
%TMPL:END%



%TMPL:DEF{"bodyclassname"}%patternNoViewPage patternRenamePage%TMPL:END%



%TMPL:DEF{"allownonwikiword"}%<input type="checkbox" class="twikiCheckbox" id="nonwikiword" name="nonwikiword" %NONWIKIWORDFLAG% /><label for="nonwikiword">%_{"Allow non <nop>WikiWord for the new topic name"}%</label>%TMPL:END%

%TMPL:DEF{"simpleheader"}%
---+ %TMPL:P{"webaction"}% %TOPIC% %TMPL:END%


%TMPL:DEF{"content"}%
<form method="post" name="renameweb" action="%SCRIPTURLPATH%/rename%SCRIPTSUFFIX%/%WEB%">
<input type="hidden" name="action" value="renameweb" />
<input type="hidden" name="confirm" value="getlock" />
%TMPL:P{"simpleheader"}%
<div class="patternVersatileTable">
<table>
<tr>
<th width="20%">%_{"Change from:"}%</th>
<td class="patternOldCol" colspan="2"><b><nop>%WEB%</b></td>
<td class="patternOldCol patternHelpCol"></td>
</tr>
<tr>
<th>%_{"New web name:"}%</th>
<td class="patternMainCol">%TMPL:P{"newsubweb"}%</td>
<td class="patternMainCol patternHelpCol" colspan="2">%TMPL:P{"movewebhelp"}%</td>
</tr>
<tr %SUBWEBSENABLE%>
<th>%_{"New parent web:<br>(subwebs must be enabled)"}%</th>
<td class="patternMainCol">%TMPL:P{"newparentweb"}%</td>
<td class="patternMainCol patternHelpCol" colspan="2"></td>
</tr>
</table>
</div>

<div class="patternSearchResults"><div class="patternSearchResultsHeader">%_{"Notices:"}%</div>
*%_{"Topics which are currently being edited by other users in the [_1] Web:", "<nop>%WEB%"}%*
%MOVE_LOCKED%

*%_{"Topics which refer to this web and are are currently being edited by other users:"}%* %REF_LOCKED%

*%_{"Topics which refer to this web that you do not have permission to change:"}%*
%REF_DENIED%
</div>

<div class="patternSearchResults"><div class="patternSearchResultsHeader">%_{"Change links in topics that refer to [_1] in the [_2] Web:", "%WEB%", "<nop>%WEB%"}%</div>%LOCAL_SEARCH%</div>

<div class="patternSearchResults"><div class="patternSearchResultsHeader">%_{"Change links in topics that refer to [_1] in any Web:", "%WEB%"}%</div>%GLOBAL_SEARCH%</div>
<div class="patternTopicActionSecondary">
<table>
<tr>
<td><input type="button" class="twikiButton" value='%_{"Select all"}%' onclick="checkAll(true);" />&nbsp;<input type="button" class="twikiButton" value='%_{"Clear all"}%' onclick="checkAll(false);" /> %_{"checkboxes of referenced topics"}%</td>
</tr></table></div>
<div class="twikiHelp">
*%_{"Note:"}%*
   * %_{"<a target='ManagingWebs' onclick=\"return launchWindow('%TWIKIWEB%','ManagingWebs')\" href='[_1]' rel='nofollow'>Get help on managing webs</a>", "%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/ManagingWebs"}%
   * %_{"The checkmarked topics will be updated"}%
</div>
%TMPL:P{"topicaction"}%
</form>
%TMPL:END%



%TMPL:DEF{"renameweb"}%
%TMPL:P{"page"}%
%TMPL:END%
