%TMPL:INCLUDE{"renamebase"}%



%TMPL:DEF{"titleaction"}%%_{"(rename)"}% %TMPL:END%



%TMPL:DEF{"webaction"}%%_{"Rename"}%%TMPL:END%



%TMPL:DEF{"newtopic"}%<input name="newtopic" value="%NEW_TOPIC%" size="36" />%TMPL:END%



%TMPL:DEF{"newweb"}%<select name="newweb">%WEBLIST{"<option $marker value=$qname>$name</option>" webs="%TRASHWEB%,public" selection="%NEW_WEB%" separator=" "}%</select>%TMPL:END%



%TMPL:DEF{"namehelp"}%
%_{"It's usually best to choose a <a target='WikiWord' onclick=\"return launchWindow('%TWIKIWEB%','WikiWord')\" href='[_1]' rel='nofollow'>WikiWord</a> for the new topic name, otherwise automatic linking may not work. Characters not allowed in topic names, such as spaces will automatically be removed.", "%SCRIPTURL{"view"}%/%TWIKIWEB%/WikiWord"}%
%TMPL:END%



%TMPL:DEF{"movewebhelp"}%%_{"You can move the topic to a different web."}%%TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%<input type="submit" class="twikiSubmit" value='%_{"Rename/Move"}%' /> %_{"or"}% %TMPL:P{"canceltopicaction"}%%TMPL:END%



%TMPL:P{"rename"}