%TMPL:INCLUDE{"view"}%
%TMPL:DEF{"titleaction"}%(search results) %TMPL:END%



%TMPL:DEF{"webaction"}% %WEBTOPICLIST% %TMPL:END%



%TMPL:DEF{"topicaction"}% %TMPL:END%



%TMPL:DEF{"bodystart"}%<body class="patternSearchResultsPage" onload="initPage()"><a name="PageTop"></a><div class="twikiPage">%TMPL:END%



%TMPL:DEF{"repeatedsearchblock"}%<div class="patternSearchResultsHeader" style="background-color:%WEBBGCOLOR%"><span class="twikiLeft">Results from <nop>%WEB% web</span><span class="twikiRight">retrieved at %DISPLAYTIME{"$hour:$min"}% GMT</span><br class="twikiClear" /></div>%REPEAT%<div class="patternSearchResults">
<div class="twikiTopRow"><div class="twikiLeft">
<a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%"><b>%TOPICNAME%</b></a></div>
<div class="twikiRight twikiSRAuthor">
%AUTHOR%
</div>
<div class="twikiRight twikiSRRev">
%REVISION% - <a href="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%" rel='nofollow'>%TIME%</a>&nbsp;</div><br class="twikiClear" /></div>
<div class="twikiBottomRow">
<div class="twikiSummary twikiGrayText">%TEXTHEAD%</div></div></div>%REPEAT%%TMPL:END%



%TMPL:DEF{"searchbody"}%%SPLIT%%TMPL:P{"repeatedsearchblock"}%%SPLIT%
<div class="patternSearchResultCount">Number of topics: <b>%NTOPICS%</b></div>%TMPL:END%



%TMPL:DEF{"content"}%
%SPLIT%<div class="patternSearchString">Searched: <b><nop>%SEARCHSTRING%</b></div><div class="patternSearchResultsBegin"></div>
%TMPL:P{"searchbody"}%%SPLIT%%TMPL:P{"standardfooter"}%%TMPL:END%



%TMPL:DEF{"standardfooter"}%
<div class="patternTopicFooter"></div>
#PageBottom %TMPL:END%



%TMPL:DEF{"main"}%%TMPL:P{"topbar"}%<div class="patternMiddleContainer">%TMPL:P{"leftbar"}%<div class="patternMain">
%TMPL:P{"content"}%
</div></div>%TMPL:P{"bottombar"}%%TMPL:END%
