<HTML>
<HEAD>
  <TITLE> %WIKITOOLNAME% . %WEB% . BookView </TITLE>
  <BASE href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/main"> <META NAME="ROBOTS" CONTENT="NOINDEX"> %HTTP_EQUIV_ON_VIEW%
</HEAD>
<BODY bgcolor="#ffffff">
<TABLE width="100%" border="0" cellpadding="3" cellspacing="0">
<FORM name="main" action="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/">
  <TR>
    <TD BGCOLOR="%WEBBGCOLOR%" rowspan="2" valign="top" width="1%">
      <A href="%WIKIHOMEURL%"><IMG src="%PUBURLPATH%/wikiHome.gif" border="0"></A>
    </TD>
    <TD>
      <B>%WIKITOOLNAME% . %WEB% . </B><FONT size="+2"><B>BookView</B></FONT>
    </TD><TD ALIGN="right">
      %WIKIWEBLIST%
    </TD>
  </TR>
  <TR BGCOLOR="%WEBBGCOLOR%">
    <TD COLSPAN="2">
      %WEBTOPICLIST%
    </TD>
  </TR>
</FORM>
</TABLE>
%SPLIT%<BR>
Search: <B> %SEARCHSTRING% </B>
<P>
%SPLIT%<TABLE width="100%" border="0" cellpadding="0" cellspacing="4">
<TR>
  <TD width="60%">
    <B>Topics in %WEB% web:</B>
  </TD><TD width="20%">
    <B>Changed:</B> GMT
  </TD><TD width="20%">
    <B>Changed by:</B>
  </TD>
</TR>
</TABLE>
%REPEAT%<TABLE width="100%" border="0" cellspacing="0" cellpadding="0">
<TR bgcolor="%WEBBGCOLOR%">
  <TD width="60%">
    <H1><A HREF="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%">%TOPICNAME%</A>&nbsp;</H1>
  </TD><TD width="20%">
    <A HREF="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%">%TIME%</A>&nbsp;
  </TD><TD width="20%">
    %AUTHOR%
  </TD>
</TR></TABLE>
<P>
%TEXTHEAD%
<P>&nbsp;<P>
<HR>
%REPEAT%<BR clear=all>
<P>%SPLIT%Number of topics: <B>%NTOPICS%</B>
<P>%SPLIT%
<TABLE width="100%" border="0" cellpadding="3" cellspacing="0">
  <TR BGCOLOR="%WEBBGCOLOR%">
    <TD valign="top">
      Topic <B>BookView</B> . { }
    </TD>
  </TR>
</TABLE>
%WEBCOPYRIGHT%
</TABLE>
</BODY></HTML>
