%TMPL:INCLUDE{"twiki"}%



%TMPL:DEF{"titleaction"}%
(search result)%TMPL:END%



%TMPL:DEF{"titleaction"}%(search result) %TMPL:END%



%TMPL:DEF{"webaction"}% %WEBTOPICLIST% %TMPL:END%



%TMPL:DEF{"topicaction"}% %TMPL:END%




%TMPL:DEF{"content"}%
<form name="main" action="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%">
%TMPL:P{"standardheader"}%
</form>
%SPLIT%
Search:
---++ <nop>%SEARCHSTRING%
<br />
%SPLIT%
<div class="twikiSearchResults"><div class="twikiSearchResultsHeader" style="background-color:%WEBBGCOLOR%">Results from %WEB% Web</div>
%REPEAT%
<div class="twikiSearchResultItem">
<a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%"><b>%TOPICNAME%</b></a>

</div>


<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td width="50%">
    <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%"><b>%TOPICNAME%</b></a>
    <b><font color="red">%LOCKED%</font></b>
  </td><td width="30%">
    <a href="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%">%TIME%</a> - %REVISION%
  </td><td width="20%">
    %AUTHOR%
  </td>
</tr>
<tr>
  <td colspan="2">
    %TEXTHEAD%
  </td><td width="20%">
    &nbsp;
  </td>
</tr></table>
%REPEAT%</div><br clear="all" />
<p />%SPLIT%Number of topics: <b>%NTOPICS%</b>
<p />%SPLIT%
%TMPL:P{"standardfooter"}%
%TMPL:END%



%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%