%TMPL:INCLUDE{"twiki"}%



%TMPL:DEF{"script"}%
<script type="text/javascript">
<!--HIDE
ns4 = (document.layers)? true:false;
ie4 = (document.all)? true:false;
dom = (document.getElementById)?true:false;

toShow=new Array();
toHide=new Array();

function initForm() {
  document.main.text.focus();
  for (i = 0; i < toShow.length; i++) {
     if(dom) {
        document.getElementById(toShow[i]).style.display="inline";
     } else if( ie4 ) {
        document.all[toShow[i]].style.display="inline";
     } else if( ns4 ) {
        document.layers[toShow[i]].style.display="inline";
     }
  }
  for ( i = 0; i < toHide.length; i++) {
    if(dom) {
        document.getElementById(toHide[i]).style.display="none";
    } else if( ie4 ) {
        document.all[toHide[i]].style.display="none";
    } else if( ns4 ) {
        document.layers[toHide[i]].style.display="none";
    }
  }
}
	function launchWindow( theWeb, theTopic ) {
		win = open("%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/" + theWeb + "/" + theTopic + "?skin=plain", theTopic, "titlebar=0,width=500,height=480,resizable,scrollbars");
		if( win ) {
			win.focus();
		}
		return false;
	}
//STOP HIDING-->
</script> %TMPL:END%



%TMPL:DEF{"bodystart"}%
<body class="patternNoViewPage" onload="initForm()"><a name="PageTop"></a><div class="patternPage">%TMPL:END%

%TMPL:DEF{"titleaction"}%%_{"(set preferences)"}% %TMPL:END%



%TMPL:DEF{"webaction"}%%_{"Preferences for"}%%TMPL:END%


%TMPL:DEF{"simpleheader"}%
---+ %TMPL:P{"webaction"}% %TOPIC% %TMPL:END%


%TMPL:DEF{"topicactionbuttons"}%
<input type="submit" class="twikiSubmit" value='%_{"Update"}%' /> %_{"or"}% %TMPL:P{"canceltopicaction"}%
%TMPL:END%


%TMPL:DEF{"content"}%
%TMPL:P{"simpleheader"}%<div class="patternFormHolder"><form method="post" name="saveSettings" action="%SCRIPTURLPATH%/manage/%WEB%/%TOPIC%">

<div class="twikiEditTextarea">
<input type="hidden" name="action" value="saveSettings" />
<input type="hidden" name="originalrev" value="%ORIGINALREV%" />
<textarea id='topic' name='text' wrap='virtual' rows='%EDITBOXHEIGHT%' cols='%EDITBOXWIDTH%' style='%EDITBOXSTYLE%' onKeyDown='if(window.event.keyCode==27)return false;'>
%TEXT%
</textarea>
</div>
<div class="twikiHelp">
*%_{"Note:"}%*
   * %_{"Get help on <a target='TWikiVariables' onclick=\"return launchWindow('%TWIKIWEB%','TWikiVariables')\" href='[_1]' rel='nofollow'>Setting topic preferences</a>.", "%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/TWikiVariables"}%
   * %_{"Each preference has the syntax"}% <br />
     %_{"~[multiple of 3 spaces~] * ~[space~] Set ~[space~] VARIABLENAME ~[space~] = ~[value~]"}%
</div>
%TMPL:P{"topicaction"}%
%TMPL:P{"hidden"}%
</form></div>
%TMPL:END%



%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%
