%TMPL:INCLUDE{"twiki"}%



%TMPL:DEF{"templatescript"}%
<script type="text/javascript" src="%PUBURL%/%TWIKIWEB%/PatternSkin/twiki_edit.js"></script>
%TMPL:END%



%TMPL:DEF{"bodystart"}%<body class="patternNoViewPage" onload="initForm()"><a name="PageTop"></a><div class="patternPage">%TMPL:END%



%TMPL:DEF{"titleaction"}%%_{"(set preferences)"}% %TMPL:END%



%TMPL:DEF{"webaction"}%%_{"Preferences for"}%%TMPL:END%



%TMPL:DEF{"simpleheader"}%
---+ %TMPL:P{"webaction"}% %TOPIC% %TMPL:END%



%TMPL:DEF{"topicactionbuttons"}%
<input type="submit" class="twikiSubmit" value='%_{"Update"}%' /> %_{"or"}% %TMPL:P{"canceltopicaction"}%
%TMPL:END%



%TMPL:DEF{"content"}%
%TMPL:P{"simpleheader"}%
<div class="patternFormHolder">
<form method="post" name="main" action="%SCRIPTURLPATH%/manage%SCRIPTSUFFIX%/%WEB%/%TOPIC%">
<div class="twikiEditTextarea">
<input type="hidden" name="action" value="saveSettings" />
<input type="hidden" name="originalrev" value="%ORIGINALREV%" />
<textarea id='topic' name='text' rows='%EDITBOXHEIGHT%' cols='%EDITBOXWIDTH%' style='%EDITBOXSTYLE%' onkeydown='handleKeyDown(event)'>
%TEXT%
</textarea>
</div>
%TMPL:P{"topicaction"}%
<div class="twikiHelp">
*%_{"Note:"}%*
   * %_{"Get help on <a target='TWikiVariables' onclick=\"return launchWindow('%TWIKIWEB%','TWikiVariables')\" href='[_1]' rel='nofollow'>Setting topic preferences</a>.", "%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/TWikiVariables"}%
   * %_{"Each preference has the syntax"}% <br />
     %_{"~[multiple of 3 spaces~] * ~[space~] Set ~[space~] VARIABLENAME ~[space~] = ~[value~]"}%
</div>
%TMPL:P{"hidden"}%
</form></div>
%TMPL:END%



%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%
