%TMPL:DEF{"sep"}%<span class="separator">|</span>%TMPL:END%

%TMPL:DEF{"htmldoctype"}%
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> %TMPL:END%

%TMPL:DEF{"script"}%
<script type="text/javascript">
//<![CDATA[
	function initPage() { }
//]]>
</script>
%TMPL:END%

%TMPL:DEF{"twikistyle"}%
<style type="text/css" media="all">
		/* This will be removed later, as all css will be read from topics: */
		@import url("%PUBURL%/skins/pattern/base.css");
		
		/* Default TWiki layout */
		@import url("%RELATIVETOPICPATH{%TWIKILAYOUTTOPIC%}%?skin=text&amp;contenttype=text/css");
		/* Default TWiki style */
		@import url("%RELATIVETOPICPATH{%TWIKISTYLETOPIC%}%?skin=text&amp;contenttype=text/css");
</style>
%TMPL:END%
%TMPL:DEF{"topicstyle"}%
<style type="text/css" media="all">
		/* Custom overriding layout */
		@import url("%RELATIVETOPICPATH{%LAYOUTTOPIC%}%?skin=text&amp;contenttype=text/css");
		/* Custom overriding style */
		@import url("%RELATIVETOPICPATH{%STYLETOPIC%}%?skin=text&amp;contenttype=text/css");
</style>
%TMPL:END%

%TMPL:DEF{"head"}%
<head>
<title>%TMPL:P{"titleaction"}%%TOPIC% &laquo; %WEB% &laquo; %WIKITOOLNAME%</title>
<meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
<meta name="robots" content="noindex" />
%HTTP_EQUIV_ON_VIEW%
<base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
%TMPL:P{"twikistyle"}%
%TMPL:P{"topicstyle"}%
%TMPL:P{"script"}%
</head> %TMPL:END%

%TMPL:DEF{"titleaction"}% %TMPL:END%

%TMPL:DEF{"webaction"}% %WEBTOPICLIST% %TMPL:END%

%TMPL:DEF{"topbar"}%<span class="hidden"><a href="#Content">Skip to topic</a> | <a href="#PageBottom">Skip to bottom</a><hr /></span><div id="TWikiTopBar"><div class="TWikiTopBarMainContents" style="display: none">%INCLUDE{"%TWIKIWEB%.WebTopBar"}%</div><br class="TWikiClearLine" /></div>%TMPL:END%

%TMPL:DEF{"leftbar"}%<div id="TWikiLeftBar"><div class="TWikiLeftBarContents">
%INCLUDE{"%TWIKIWEB%.WebLeftBar"}%</div></div>%TMPL:END%

%TMPL:DEF{"bottombar"}%<div id="TWikiBottomBar"><div class="TWikiBottomBarMainContents"><span class="TWikiGrayText">%INCLUDE{"%TWIKIWEB%.WebBottomBar"}%</span></div></div>%TMPL:END%

%TMPL:DEF{"bodystart"}%
<body id="viewpage" onload="initPage()"><a name="PageTop"></a>%TMPL:END%

%TMPL:DEF{"attachments"}%%TMPL:END%

%TMPL:DEF{"standardheader"}%%TMPL:END%

%TMPL:DEF{"standardfooter"}%
#PageBottom
%TMPL:END%

%TMPL:DEF{"bodyend"}%
</body></html> %TMPL:END%

%TMPL:P{"----------------------------------------------------------------------------"}%

%TMPL:DEF{"main"}%
%TMPL:P{"topbar"}%
%TMPL:P{"sidebar"}%
<div id="TWikiMain">
<div id="TWikiTopic">
%TMPL:P{"webaction"}%
<p>
---+ %TMPL:P{"heading"}%
<p>
%TMPL:P{"message"}%
</div>
%TMPL:P{"topicaction"}%
%TMPL:P{"standardfooter"}%
</div>
%TMPL:END%

%TMPL:DEF{"oops"}%
%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%
%TMPL:END%
