%{ Internationalisable Messages/constructs }%
%TMPL:DEF{"sep"}%<span class="twikiSeparator">|</span>%TMPL:END%
%TMPL:DEF{"LOG_IN"}%Log In%TMPL:END%
%TMPL:DEF{"LOG_OUT"}%Log Out%TMPL:END%
 


%TMPL:DEF{"titlesep"}%&lt;%TMPL:END%



%TMPL:DEF{"canceltopicaction"}%<a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" title="Back to topic" accesskey="c" rel='nofollow'><span class="twikiAccessKey">C</span>ancel</a>%TMPL:END%



%TMPL:DEF{"htmldoctype"}%
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">%TMPL:END%



%TMPL:DEF{"script"}%
<script type="text/javascript">
<!--
function initPage() { }
//-->
</script>%TMPL:END%



%TMPL:DEF{"twikistyle"}%
<style type="text/css" media="all">
	@import url("%TWIKILAYOUTURL%");
	@import url("%TWIKISTYLEURL%");
</style>
<script type="text/javascript">
<!--
/* Use javascript to check if style urls are valid (non-empty) */
document.write("<style type='text/css'>");
/* Custom overriding layout per web or per topic */
if ("%USERLAYOUTURL%".split("?")[0].length && "%USERLAYOUTURL%".split("USERLAYOUTURL")[0].length) {
	document.write('@import url("%USERLAYOUTURL%");'); 
}
/* Custom overriding style per web or per topic */
if ("%USERSTYLEURL%".split("?")[0].length && "%USERSTYLEURL%".split("USERSTYLEURL")[0].length) {
	document.write('@import url("%USERSTYLEURL%");'); 
}
document.write("<\/style>");
//-->
</script>
<style type="text/css" media="all">
	/* Styles that are set using variables */
	.twikiToc li {
		list-style-image:url(%PUBURL%/%TWIKIWEB%/PatternSkin/i_arrow_down.gif);
	}	        
	.twikiWebIndicator {
		background-color:%WEBBGCOLOR%;
	}
</style>%TMPL:END%



%TMPL:DEF{"windowtitle"}%<title>%TMPL:P{"titleaction"}%%TOPIC% %TMPL:P{"titlesep"}% %WEB% %TMPL:P{"titlesep"}% %WIKITOOLNAME%</title>%TMPL:END%



%TMPL:DEF{"head"}%
<head>
%TMPL:P{"windowtitle"}%
<meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
<link rel="icon" href="%FAVICON%" type="image/x-icon" /> <link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
<meta name="robots" content="noindex" />
%HTTP_EQUIV_ON_VIEW%
<base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
%TMPL:P{"script"}%
%TMPL:P{"twikistyle"}%
%TMPL:P{"templatecustomstyle"}%
</head>%TMPL:END%



%TMPL:DEF{"templatecustomstyle"}%<style type="text/css" media="all"></style>%TMPL:END%



%TMPL:DEF{"titleaction"}% %TMPL:END%



%TMPL:DEF{"webaction"}%%TMPL:END%



%TMPL:DEF{"topbar"}%<div class="twikiHidden"><a href="#Content">Skip to topic</a> | <a href="#PageBottom">Skip to bottom</a><hr /></div><div class="twikiTopBar"><div class="twikiTopBarContents"> %INCLUDE{"%TWIKIWEB%.WebTopBar"}%</div></div>%TMPL:END%



%TMPL:DEF{"leftbar"}%<div class="twikiLeftBar"><div class="twikiWebIndicator"><a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%HOMETOPIC%">%WEB%</a></div>
<div class="twikiLeftBarContents">
%INCLUDE{"%WEB%.WebLeftBar"}%</div></div>%TMPL:END%



%TMPL:DEF{"bottombar"}%<div class="twikiBottomBar"><div class="twikiBottomBarContents"><span class="twikiGrayText">%INCLUDE{"%TWIKIWEB%.WebBottomBar"}%</span></div></div>%TMPL:END%



%TMPL:DEF{"bodystart"}%
<body class="twikiNoViewPage" onload="initPage()"><a name="PageTop"></a><div class="twikiPage">%TMPL:END%



%TMPL:DEF{"attachments"}%%TMPL:END%



%TMPL:DEF{"standardheader"}%%TMPL:END%



%TMPL:DEF{"standardfooter"}%
#PageBottom %TMPL:END%



%TMPL:DEF{"bodyend"}%</div></body></html>%TMPL:END%



%TMPL:DEF{"main"}%<div class="twikiMiddleContainer"><div class="twikiMain">
%TMPL:P{"content"}%
%TMPL:P{"standardfooter"}%</div></div>%TMPL:END%



%TMPL:DEF{"content"}%<div class="twikiTopic">
---+ %TMPL:P{"heading"}%
---+++ <span class="twikiAlert">%TMPL:P{"webaction"}%</span>
%BR%
%TMPL:P{"message"}%
</div>
<div class="twikiTopicAction">
<table>
<tr>
<td>%TMPL:P{"topicaction"}%</td>
</tr></table></div>%TMPL:END%



%TMPL:DEF{"oops"}%
%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%
%TMPL:END%
