%{ Internationalisable Messages/constructs }%
%TMPL:DEF{"sep"}%<span class="twikiSeparator">&nbsp;|&nbsp;</span>%TMPL:END%
%TMPL:DEF{"titlesep"}%&lt;%TMPL:END%



%TMPL:DEF{"LOG_IN"}%%ICON{key}% %_{"Log In"}%%TMPL:END%
%TMPL:DEF{"LOG_OUT"}%%ICON{logout}% %_{"Log Out"}%%TMPL:END%



%TMPL:DEF{"canceltopicaction"}%<a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" title='%_{"Back to topic"}%' accesskey='C' rel='nofollow'>%_{"&Cancel"}%</a>%TMPL:END%



%TMPL:DEF{"htmldoctype"}%
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">%TMPL:END%



%TMPL:DEF{"script"}%
<script type="text/javascript" src="%PUBURL%/%TWIKIWEB%/TwistyContrib/twist.js"></script>
<script type="text/javascript">
//<![CDATA[
	// DON'T overwrite existing onload handlers
	// http://simon.incutio.com/archive/2004/05/26/addLoadEvent
	function addLoadEvent(func){
		var oldonload = window.onload;
		if (typeof window.onload != 'function') {
			window.onload = function() {
			    func();
            }
		} else {
			window.onload = function() {
				oldonload();
				func();
			}
		}
	}
    
   	function initPage() { }

 	addLoadEvent(initPage);    

//]]>
</script>%TMPL:END%



%TMPL:DEF{"twikistyle"}%
<!-- Link to stylesheets in case javascript is off. -->
<link id="twikiLayoutCss" rel="stylesheet" type="text/css" href="%TWIKILAYOUTURL%" media="all" />
<link id="twikiStyleCss" rel="stylesheet" type="text/css" href="%TWIKISTYLEURL%" media="all" />
<link id="twikiColorsCss" rel="stylesheet" type="text/css" href="%TWIKICOLORSURL%" media="all" />
<!-- But if javascript is on, disable the links. -->
<script type="text/javascript">
   if (document.getElementById) {
      document.getElementById("twikiLayoutCss").disabled = true;
      document.getElementById("twikiStyleCss").disabled = true;
      document.getElementById("twikiColorsCss").disabled = true;
   }
</script>
<style type="text/css" media="all">
/* Twisty */
@import url("%PUBURL%/%TWIKIWEB%/TwistyContrib/twist.css");
</style>
<script type="text/javascript">
<!--
/* Use javascript to check if style urls are valid (non-empty) */
document.write('<style type="text/css" media="all">');
/* Default TWiki layout */
if ("%TWIKILAYOUTURL%".split("?")[0].length && "%TWIKILAYOUTURL%".split("TWIKILAYOUTURL")[0].length) {
	document.write('@import url("%TWIKILAYOUTURL%");'); 
}
/* Default TWiki style */
if ("%TWIKISTYLEURL%".split("?")[0].length && "%TWIKISTYLEURL%".split("TWIKISTYLEURL")[0].length) {
	document.write('@import url("%TWIKISTYLEURL%");'); 
}
/* Default TWiki colors */
if ("%TWIKICOLORSURL%".split("?")[0].length && "%TWIKICOLORSURL%".split("TWIKICOLORSURL")[0].length) {
	document.write('@import url("%TWIKICOLORSURL%");'); 
}
document.write('<\/style>');
//-->
</script>
<style type="text/css" media="all">
	/* Styles that are set using variables */
	.twikiToc li {
		list-style-image:url("%PUBURL%/%TWIKIWEB%/PatternSkin/i_arrow_down.gif");
	}	        
	.patternWebIndicator {
		background-color:%WEBBGCOLOR%;
	}
	/* toolbar button background */
	/*
	.patternToolBar .patternButton s,
	.patternToolBar .patternButton strike,
	.patternToolBar .patternButton a:link,
	.patternToolBar .patternButton a:visited {
		background:url("%PUBURL%/%TWIKIWEB%/PatternSkin/button_yellow_bg.gif");
	}
	.patternToolBar .patternButton a:hover {
		background:none;
		background-color:#D6000F;
	}
	.patternToolBar .patternButton s,
	.patternToolBar .patternButton strike {
		background:none;
	}
	*/
	.patternLeftBarPersonal,
	.tipsOfTheDay,
	.twikiHelp,
	.patternAccessKeyInfo {
		background:url("%PUBURL%/%TWIKIWEB%/PatternSkin/info_bg.gif");
	}
	.patternMain {
		background:url("%PUBURL%/%TWIKIWEB%/PatternSkin/page_bg.gif") #fff repeat-x;
	}
	.patternPrintPage .patternMain {
		background:#fff;
	}
	.twikiPageForm table {
		background-image:url("%PUBURL%/%TWIKIWEB%/PatternSkin/twikiPageForm_bg.gif");
	}
	.patternTopic .twikiTable th {
		background-image:url("%PUBURL%/%TWIKIWEB%/PatternSkin/twikiTable_header_bg.gif");
	}
	.patternLeftBarPersonal li {
		background-image:url("%PUBURL%/%TWIKIWEB%/PatternSkin/bullet-blue.gif");
	}
</style>
<script type="text/javascript">
<!--
/* Use javascript to check if style urls are valid (non-empty) */
document.write('<style type="text/css" media="all">');
/* Custom overriding layout per web or per topic */
if ("%USERLAYOUTURL%".split("?")[0].length && "%USERLAYOUTURL%".split("USERLAYOUTURL")[0].length) {
	document.write('@import url("%USERLAYOUTURL%");'); 
}
/* Custom overriding style per web or per topic */
if ("%USERSTYLEURL%".split("?")[0].length && "%USERSTYLEURL%".split("USERSTYLEURL")[0].length) {
	document.write('@import url("%USERSTYLEURL%");'); 
}
/* Custom overriding style per web or per topic */
if ("%USERCOLORSURL%".split("?")[0].length && "%USERCOLORSURL%".split("USERCOLORSURL")[0].length) {
	document.write('@import url("%USERCOLORSURL%");'); 
}
document.write('<\/style>');
//-->
</script>
%TMPL:END%



%TMPL:DEF{"windowtitle"}%<title>%TMPL:P{"titleaction"}%<nop>%TOPIC% %TMPL:P{"titlesep"}% %WEB% %TMPL:P{"titlesep"}% <nop>%WIKITOOLNAME%</title>%TMPL:END%



%TMPL:DEF{"head"}%
<head>
%TMPL:P{"windowtitle"}%
<meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
<link rel="icon" href="%FAVICON%" type="image/x-icon" /> <link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
<meta name="robots" content="noindex" />
%HTTP_EQUIV_ON_VIEW%
<base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
%TMPL:P{"script"}%
%TMPL:P{"twikistyle"}%
%TMPL:P{"templatecustomstyle"}%
</head>%TMPL:END%



%TMPL:DEF{"templatecustomstyle"}%<style type="text/css" media="all"></style>%TMPL:END%



%TMPL:DEF{"titleaction"}% %TMPL:END%



%TMPL:DEF{"webaction"}%%TMPL:END%



%TMPL:DEF{"topbar"}%<div class="twikiHidden"><a href="#Content">%_{"Skip to topic"}%</a> | <a href="#PageBottom">%_{"Skip to bottom"}%</a><hr /></div><div class="patternTopBar"><div class="patternTopBarContents"> %INCLUDE{"%TWIKIWEB%.WebTopBar"}%</div></div>%TMPL:END%



%TMPL:DEF{"leftbar"}%<div class="patternLeftBar">%INCLUDE{"%IF{"context can_login" then="%TWIKIWEB%.WebLeftBarLogin"}%" warn="off"}%
<div class="patternLeftBarContents">
%INCLUDE{"%WEB%.WebLeftBar"}%
</div></div>%TMPL:END%



%TMPL:DEF{"bottombar"}%<div class="patternBottomBar"><div class="patternBottomBarContents twikiGrayText">%INCLUDE{"%TWIKIWEB%.WebBottomBar"}%</div></div>%TMPL:END%



%TMPL:DEF{"bodystart"}%
<body class="patternNoViewPage"><a name="PageTop"></a><div class="patternPage">%TMPL:END%



%TMPL:DEF{"attachments"}%%TMPL:END%



%TMPL:DEF{"standardheader"}%%TMPL:END%



%TMPL:DEF{"standardfooter"}%
#PageBottom %TMPL:END%



%TMPL:DEF{"topicaction"}%%TMPL:P{"topicactionbar"}%%TMPL:END%



%TMPL:DEF{"topicactionbar"}%<a name="Actions"> </a><div class="patternTopicAction"><span class="patternActionButtons"> %TMPL:P{"topicactionbuttons"}%</span></div>%TMPL:END%



%TMPL:DEF{"bodyend"}%</div></body></html>%TMPL:END%



%TMPL:DEF{"main"}%<div class="patternMiddleContainer"><div class="patternMain">
%TMPL:P{"content"}%
%TMPL:P{"standardfooter"}%</div></div>%TMPL:END%



%TMPL:DEF{"content"}%<div class="patternTopic">
---+ %TMPL:P{"heading"}%
---+++ <span class="twikiAlert">%TMPL:P{"webaction"}%</span>
%TMPL:P{"message"}%
</div>
%TMPL:P{"topicaction"}%
%TMPL:END%



%TMPL:DEF{"oops"}%
%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%
%TMPL:END%
