%TMPL:INCLUDE{"twiki.pattern"}%



%TMPL:DEF{"bodystart"}%<body class="patternViewPage patternPrintPage">%TMPL:END%



%TMPL:DEF{"form"}%
<!--%TABLE{tableborder="0" cellpadding="0" cellspacing="0"}%-->
%META{"form"}%%TMPL:END%



%TMPL:DEF{"attachments"}%
<!--%TABLE{tableborder="0" cellpadding="0" cellspacing="0"}%-->
%META{"attachments"}%%TMPL:END%



%TMPL:DEF{"main"}%<div class="patternMiddleContainer"><div class="patternMain">%TMPL:P{"content"}%
%TMPL:P{"standardfooter"}%</div></div>%TMPL:P{"bottombar"}%%TMPL:END%



%TMPL:DEF{"topicinfo"}%<div class="patternTopicInfo"><span class="patternRevInfo twikiGrayText">Revision: %REVINFO%</span></div>%TMPL:END%



%TMPL:DEF{"content"}%<div class="patternTopic">
%TEXT%</div>
%TMPL:P{"form"}%%TMPL:P{"attachments"}%
%TMPL:P{"topicinfo"}%%TMPL:END%



%TMPL:DEF{"standardfooter"}%
<div class="patternTopicFooter"><span class="twikiLeft"><span class="patternHomePath">This topic: <nop>%WEB% %META{"parent" prefix=" <span class='sep'>&gt;</span> " suffix=""}%
<span class='sep'>&gt;</span> %TOPIC% </span></span></div>%TMPL:END%



%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%