<html>
<head>
  <title>%WIKITOOLNAME% . %WEB% . %TOPIC%</title>
  <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%"> <meta name="ROBOTS" content="NOINDEX"> %HTTP_EQUIV_ON_VIEW%
</head>
<body bgcolor="#ffffff">
%TEXT%
</body>
</html>
