<HTML>
<HEAD>
  <TITLE> %WIKITOOLNAME% . %WEB% . %TOPIC% %REVTITLE% </TITLE>
  <BASE href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%"> <META NAME="ROBOTS" CONTENT="NOINDEX"> %HTTP_EQUIV_ON_VIEW%
</HEAD>
<BODY bgcolor="#ffffff">
<FORM name="main" action="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/">
<TABLE width="100%" border="0" cellpadding="3" cellspacing="0">
  <TR>
    <TD BGCOLOR="%WEBBGCOLOR%" rowspan="2" valign="top" width="1%">
      <A href="%WIKIHOMEURL%"><IMG src="%PUBURLPATH%/wikiHome.gif" border="0"></A>
    </TD>
    <TD>
      <B>%WIKITOOLNAME% . %WEB% . </B><FONT size="+2"><B>%TOPIC%</B> %REVTITLE%</FONT>
    </TD><TD ALIGN="right">
      %WIKIWEBLIST%
    </TD>
  </TR>
  <TR BGCOLOR="%WEBBGCOLOR%">
    <TD COLSPAN="2">
      %WEBTOPICLIST%
    </TD>
  </TR>
</TABLE>
</FORM>
%TEXT%
<BR clear=all><P>
<TABLE width="100%" border="0" cellpadding="3" cellspacing="0">
  <TR BGCOLOR="%WEBBGCOLOR%">
    <TD valign="top">
      Topic <B>%TOPIC%</B> . {
        %EDITTOPIC%
      | <A href="%SCRIPTURLPATH%/rename%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Rename/move</A>
      | <A href="%SCRIPTURLPATH%/search%SCRIPTSUFFIX%/%WEB%/?scope=text&web=all&amp;regex=on&amp;search=%SPACEDTOPIC%%5B%5EA-Za-z%5D">Ref-By</A>
      | <A href="%SCRIPTURLPATH%/attach%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Attach</A>
      | <A href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?skin=print">Print</A>
      | <A href="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Diffs</A>
        %REVISIONS% }
    </TD>
  </TR>
</TABLE>
<TABLE width="100%" border="0" cellpadding="3" cellspacing="0">
  <TR>
    <TD valign="top">
      Revision %REVINFO%
    </TD>
    <TD width="40%" valign="top">
      %WEBCOPYRIGHT%
    </TD>
  </TR>
</TABLE>
</BODY></HTML>
