%TMPL:INCLUDE{"twiki.pattern"}%



%TMPL:DEF{"bodystart"}%<body class="patternViewPage patternPrintPage">%TMPL:END%



%TMPL:DEF{"form"}%
%META{"form"}%%TMPL:END%



%TMPL:DEF{"attachments"}%
%META{"attachments"}%%TMPL:END%



%TMPL:DEF{"main"}%<div class="patternMiddleContainer"><div class="patternMain">%TMPL:P{"content"}%
%TMPL:P{"standardfooter"}%</div>%TMPL:P{"bottombar"}%</div>%TMPL:END%



%TMPL:DEF{"topicinfo"}%<div class="patternTopicFooter"><span class="patternHomePath">%_{"This topic:"}% <nop>%WEB% %META{"parent" prefix=" <span class='sep'>&gt;</span> " suffix=""}%
<span class='sep'>&gt;</span> %TOPIC%</span>
<div class="patternTopicInfo patternRevInfo twikiGrayText">%_{"History:"}% %REVINFO%</div>%TMPL:END%



%TMPL:DEF{"content"}%<div class="patternContent"><div class="patternTopic">
%TEXT%</div>
%TMPL:P{"form"}%%TMPL:P{"attachments"}%</div>
%TMPL:P{"topicinfo"}%%TMPL:END%



%TMPL:DEF{"standardfooter"}%%TMPL:END%



%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%
