<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US" lang="en_US">
<head>
<title>%PUBLISHWEB{"nicetopic"}%</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
</head>
<body>
<div style="background-color: #e0e0e5; padding: 5px;">
This is a demo skin located at twiki/templates/view.website.tmpl. Modify to match the look of your website.
</div>
%TEXT%
<div style="background-color: #e0e0e5; padding: 5px;">
Copyright %SERVERTIME{$year}% Example Inc.
</div>
</body>
</html>
