<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="language" content="en" />
  <meta name="robots" content="index, follow" />
  <meta name="title=" content="%FORMFIELD{ "Title" topic="%BASETOPIC%" }%" />
  <meta name="description=" content="%FORMFIELD{ "Description" topic="%BASETOPIC%" }%" />
  <meta name="keywords=" content="%FORMFIELD{ "Keywords" topic="%BASETOPIC%" }%" />
  <title>%FORMFIELD{ "Title" topic="%BASETOPIC%" }%</title>
</head>
<body>
<div style="background-color: #e0e0e5; padding: 5px; float:right; text-align: right;">
%PUBLISHTOPLINKS% <br />
You are here: %PUBLISHWEB{"breadcrumb"}% %PUBLISHWEB{"nicetopic"}%
</div>
<div style="background-color: #e0e0e5; padding: 5px; height: 40px">
%PUBLISHLOGO%
Unstyled demo skin located at twiki/templates/view.demo_website.tmpl.
</div>
%TEXT%
<div style="background-color: #e0e0e5; padding: 5px;">
%PUBLISHBOTTOMLINKS%
</div>
<div style="background-color: #f0f0f5; padding: 5px; text-align: center;">
%PUBLISHCOPYRIGHT%
</div>
</body>
</html>
