%TMPL:DEF{"skills:searchresults:repeated:userstart"}%
<tr>
%TMPL:END%

%TMPL:DEF{"skills:searchresults:repeated:user"}%
<td>%SKILLUSER%</td>
%TMPL:END%

%TMPL:DEF{"skills:searchresults:repeated:rating"}%
<td %RATINGDEF%>%RATING%</td>
%TMPL:END%

%TMPL:DEF{"skills:searchresults:repeated:commentlink"}%
%COMMENTLINK%
%TMPL:END%

%TMPL:DEF{"skills:searchresults:repeated:comment"}%
<td>%TMPL:P{"skills:searchresults:repeated:commentlink"}%</td>
%TMPL:END%

%TMPL:DEF{"skills:searchresults:repeated:userend"}%
</tr>
%TMPL:END%

%TMPL:DEF{"skills:searchresults:repeated"}%
%SPLIT%%TMPL:P{"skills:searchresults:repeated:userstart"}%%SPLIT%%TMPL:P{"skills:searchresults:repeated:user"}%%SPLIT%%TMPL:P{"skills:searchresults:repeated:rating"}%%SPLIT%%TMPL:P{"skills:searchresults:repeated:comment"}%%SPLIT%%TMPL:P{"skills:searchresults:repeated:userend"}%%SPLIT%
%TMPL:END%

%TMPL:P{"skills:searchresults:repeated"}%