%TMPL:DEF{"skills:ratinghead1"}%Ancient<br />Knowledge%TMPL:END%
%TMPL:DEF{"skills:ratinghead2"}%Working<br />Knowledge%TMPL:END%
%TMPL:DEF{"skills:ratinghead3"}%Expert%TMPL:END%
%TMPL:DEF{"skills:ratinghead4"}%Guru%TMPL:END%
%TMPL:DEF{"skills:ratinghead0"}%None%TMPL:END%

%TMPL:DEF{"skills:ratingselect1"}%%RATINGSELECT{1}%%TMPL:END%
%TMPL:DEF{"skills:ratingselect2"}%%RATINGSELECT{2}%%TMPL:END%
%TMPL:DEF{"skills:ratingselect3"}%%RATINGSELECT{3}%%TMPL:END%
%TMPL:DEF{"skills:ratingselect4"}%%RATINGSELECT{4}%%TMPL:END%
%TMPL:DEF{"skills:ratingselect0"}%%RATINGSELECT{0}%%TMPL:END%

%TMPL:DEF{"skills:categoryselect"}%%CATEGORYSELECT%%TMPL:END%