%TMPL:INCLUDE{"skills"}%

%TMPL:DEF{"skills:searchresults:head"}%
<a href="%SCRIPTURL{view}%/%TWIKIWEB%/SkillsPlugin">Search Skills</a>
%TMPL:END%

%TMPL:DEF{"skills:searchresults:summary"}%
(Category: <em>%SEARCHCATEGORY%</em>; Skill: <em>%SEARCHSKILL%</em>; Matches: <em>%SEARCHMATCES%</em>)
%TMPL:END%

<!-- SKILLSPLUGIN - SEARCH SKILLS RESULTS -->
<table id='skillsTable' class='skillsTable' cellpadding="2px" syle="margin:7px 0;">
<tr>
<th class='skillsHeading' colspan='6'>%TMPL:P{"skills:searchresults:head"}%</th>
</tr>
<tr>
<td style="padding-left:120px;"></td><td class='skillsRatingHeader'>%TMPL:P{"skills:ratinghead1"}%</td><td class='skillsRatingHeader'>%TMPL:P{"skills:ratinghead2"}%</td><td class='skillsRatingHeader'>%TMPL:P{"skills:ratinghead3"}%</td><td class='skillsRatingHeader'>%TMPL:P{"skills:ratinghead4"}%</td><td>&nbsp;</td>
</tr>
<tr><th colspan="6">Search Results... %TMPL:P{"skills:searchresults:summary"}%</th></tr>
<noautolink>
%REPEAT%
</noautolink>
</table>