%TMPL:DEF{"skills:browseview:head"}%
<a href='%SCRIPTURL{view}%/%MAINWEB%/%WIKINAME%'>%WIKINAME%'s Skills</a>
%TMPL:END%

%TMPL:DEF{"skills:browseview:repeated:category"}%
<tr class='skillsContent'><th colspan='6'>%SKILLTWISTY% %CATEGORY%</th></tr>
%TMPL:END%

%TMPL:DEF{"skills:browseview:repeated:skillcontainerstart"}%
<tbody %SKILLCONTDEF%>
%TMPL:END%

%TMPL:DEF{"skills:browseview:repeated:skillstart"}%
<tr>
%TMPL:END%

%TMPL:DEF{"skills:browseview:repeated:skill"}%
<td>%SKILLICON% %SKILL%</td>
%TMPL:END%

%TMPL:DEF{"skills:browseview:repeated:rating"}%
<td %RATINGDEF%>%RATING%</td>
%TMPL:END%

%TMPL:DEF{"skills:browseview:repeated:commentlink"}%
%COMMENTLINK%
%TMPL:END%
%TMPL:DEF{"skills:browseview:repeated:commentout"}%
%COMMENTOUT%
%TMPL:END%

%TMPL:DEF{"skills:browseview:repeated:comment"}%
<td>%TMPL:P{"skills:browseview:repeated:commentlink"}%</td>
%TMPL:END%

%TMPL:DEF{"skills:browseview:repeated:skillend"}%
</tr>
%TMPL:END%

%TMPL:DEF{"skills:browseview:repeated:skillcontainerend"}%
</tbody>
%TMPL:END%

%TMPL:DEF{"skills:browseview:repeated"}%
%SPLIT%%TMPL:P{"skills:userview:repeated:category"}%%SPLIT%%TMPL:P{"skills:userview:repeated:skillcontainerstart"}%%SPLIT%%TMPL:P{"skills:userview:repeated:skillstart"}%%SPLIT%%TMPL:P{"skills:userview:repeated:skill"}%%SPLIT%%TMPL:P{"skills:userview:repeated:rating"}%%SPLIT%%TMPL:P{"skills:userview:repeated:comment"}%%SPLIT%%TMPL:P{"skills:userview:repeated:skillend"}%%SPLIT%%TMPL:P{"skills:userview:repeated:skillcontainerend"}%%SPLIT%
%TMPL:END%

%TMPL:P{"skills:browseview:repeated"}%