%TMPL:INCLUDE{"oops"}%



%TMPL:DEF{"titleaction"}%%MAKETEXT{"(oops)"}% %TMPL:END%
%TMPL:DEF{"webaction"}% *%MAKETEXT{"Attention"}%* %TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Error"}%%TMPL:END%
%TMPL:DEF{"topicaction"}%%TMPL:END%



%TMPL:DEF{"pagetitle"}%<h1 class="patternTemplateTitle">%TMPL:P{"heading"}%</h1>%TMPL:END%



%TMPL:DEF{"message"}%
%PARAM1%
%TMPL:END%
%TMPL:DEF{"topicaction"}%
  %PARAM2% %TMPL:END%
