BODY {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px; LINE-HEIGHT: 1px; MARGIN-RIGHT: 0px; FONT-FAMILY: Arial, Times New Roman; BACKGROUND-COLOR: #555555
}
.divSpace {
	FONT-SIZE: 1pt; LINE-HEIGHT: 1px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffffff
}
.divSpace2 {
	FONT-SIZE: 1pt; LINE-HEIGHT: 1px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #606070
}
.titleText {
	FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(bg_silver3dd.gif); COLOR: #ffffff; FONT-FAMILY: Verdana,Arial; BACKGROUND-COLOR: #606070
}
.titleTxt2 {
	FONT-SIZE: 7pt; COLOR: #daa520; FONT-FAMILY: Verdana,Arial; BACKGROUND-COLOR: #333333
}
.titleTxt2s {
	FONT-SIZE: 7pt; COLOR: #ca9510; FONT-FAMILY: BankGothic Md BT,Verdana,Arial,Arial; BACKGROUND-COLOR: #333333
}
.msExpTxt {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #0000cc; LINE-HEIGHT: 25px; FONT-STYLE: italic; FONT-FAMILY: Verdana,Arial
}
.inputText {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; OVERFLOW: hidden; BORDER-LEFT: #bbbbbb 1px solid; WIDTH: 200px; BORDER-BOTTOM: #bbbbbb 1px solid; FONT-FAMILY: Courier New; HEIGHT: 70px; BACKGROUND-COLOR: #c5bd8e
}
.inputTxt2 {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 1px solid; FONT-SIZE: 10pt; BORDER-LEFT: #bbbbbb 1px solid; WIDTH: 215px; BORDER-BOTTOM: #bbbbbb 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #c5bd8e
}
.inputButt {
	BORDER-RIGHT: #555555 1px outset; BORDER-TOP: #555555 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #555555 1px outset; WIDTH: 40px; COLOR: #cccccc; BORDER-BOTTOM: #555555 1px outset; FONT-FAMILY: verdana; BACKGROUND-COLOR: #767293
}
.inputButtExe {
	BORDER-RIGHT: #555555 1px outset; BORDER-TOP: #555555 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #555555 1px outset; WIDTH: 40px; COLOR: #cccccc; BORDER-BOTTOM: #555555 1px outset; FONT-FAMILY: verdana; BACKGROUND-COLOR: #6672ac
}
.inputButts {
	BORDER-RIGHT: #555555 1px outset; BORDER-TOP: #555555 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #555555 1px outset; WIDTH: 40px; COLOR: #bbbbbb; BORDER-BOTTOM: #555555 1px outset; FONT-FAMILY: verdana; HEIGHT: 22px; BACKGROUND-COLOR: #767293
}
.inputButt2 {
	BORDER-RIGHT: #555555 1px outset; BORDER-TOP: #555555 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BORDER-LEFT: #555555 1px outset; WIDTH: 40px; COLOR: #cccccc; BORDER-BOTTOM: #555555 1px outset; FONT-FAMILY: verdana; HEIGHT: 22px; BACKGROUND-COLOR: #a96070
}
.inputButt3 {
	BORDER-RIGHT: #555555 1px outset; BORDER-TOP: #555555 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #555555 1px outset; WIDTH: 40px; COLOR: #cccccc; BORDER-BOTTOM: #555555 1px outset; FONT-FAMILY: Times New Roman; HEIGHT: 22px; BACKGROUND-COLOR: #767293
}
.inputButt4 {
	BORDER-RIGHT: #7c7c7c 1px outset; BORDER-TOP: #7c7c7c 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BORDER-LEFT: #7c7c7c 1px outset; WIDTH: 40px; COLOR: #aaaaaa; BORDER-BOTTOM: #7c7c7c 1px outset; FONT-FAMILY: verdana; HEIGHT: 20px; BACKGROUND-COLOR: #334455
}
.inputButt4s {
	BORDER-RIGHT: #7c7c7c 1px outset; BORDER-TOP: #7c7c7c 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 7pt; BORDER-LEFT: #7c7c7c 1px outset; WIDTH: 40px; COLOR: #aaaaaa; BORDER-BOTTOM: #7c7c7c 1px outset; FONT-FAMILY: verdana; HEIGHT: 20px; BACKGROUND-COLOR: #334455
}
.butt_hex {
	BORDER-RIGHT: #555555 1px outset; BORDER-TOP: #555555 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #555555 1px outset; WIDTH: 32px; COLOR: #bbbbbb; BORDER-BOTTOM: #555555 1px outset; FONT-FAMILY: verdana; HEIGHT: 17px; BACKGROUND-COLOR: #cc7700
}
.butt_pwr {
	BORDER-RIGHT: #555555 1px outset; BORDER-TOP: #555555 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #555555 1px outset; WIDTH: 40px; COLOR: #cccccc; BORDER-BOTTOM: #555555 1px outset; FONT-FAMILY: verdana; HEIGHT: 20px; BACKGROUND-COLOR: #cc7700
}
.butt_mode {
	BORDER-RIGHT: #555555 1px outset; BORDER-TOP: #555555 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #555555 1px outset; WIDTH: 32px; COLOR: #aaaaaa; BORDER-BOTTOM: #555555 1px outset; FONT-FAMILY: verdana; HEIGHT: 18px; BACKGROUND-COLOR: #5082b3
}
.butt_drg {
	BORDER-RIGHT: #555555 1px outset; BORDER-TOP: #555555 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #555555 1px outset; WIDTH: 32px; COLOR: #cceecc; BORDER-BOTTOM: #555555 1px outset; FONT-FAMILY: verdana; HEIGHT: 18px; BACKGROUND-COLOR: #509283
}
.butt_beep {
	BORDER-RIGHT: #7c7c7c 1px outset; BORDER-TOP: #7c7c7c 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 7pt; BORDER-LEFT: #7c7c7c 1px outset; WIDTH: 32px; COLOR: #aaaaaa; BORDER-BOTTOM: #7c7c7c 1px outset; FONT-FAMILY: verdana; HEIGHT: 18px; BACKGROUND-COLOR: #334455
}
.tbl_title {
	BORDER-RIGHT: #555555 1px outset; BORDER-TOP: #555555 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BORDER-LEFT: #555555 1px outset; COLOR: #f0f0f0; BORDER-BOTTOM: #555555 1px outset; FONT-STYLE: normal; FONT-FAMILY: verdana; HEIGHT: 31px; BACKGROUND-COLOR: #666670
}
.tbl_txt_br {
	BORDER-RIGHT: #555555 1px outset; BORDER-TOP: #555555 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #555555 1px outset; COLOR: #333333; BORDER-BOTTOM: #555555 1px outset; FONT-FAMILY: verdana; HEIGHT: 18px; BACKGROUND-COLOR: #f0f0f0
}
.tbl_txt_dk {
	BORDER-RIGHT: #555555 1px outset; BORDER-TOP: #555555 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #555555 1px outset; COLOR: #333399; BORDER-BOTTOM: #555555 1px outset; FONT-FAMILY: verdana; HEIGHT: 18px; BACKGROUND-COLOR: #e0e0e0
}
.tbl_Butt {
	BORDER-RIGHT: #555555 1px outset; BORDER-TOP: #555555 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BORDER-LEFT: #555555 1px outset; WIDTH: 40px; COLOR: #cccccc; BORDER-BOTTOM: #555555 1px outset; FONT-FAMILY: verdana; HEIGHT: 20px; BACKGROUND-COLOR: #767293
}
.tbl_butt2 {
	BORDER-RIGHT: #555555 1px outset; BORDER-TOP: #555555 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BORDER-LEFT: #555555 1px outset; WIDTH: 40px; COLOR: #cccccc; BORDER-BOTTOM: #555555 1px outset; FONT-FAMILY: verdana; HEIGHT: 20px; BACKGROUND-COLOR: #a96070
}
.tbl_butt3 {
	BORDER-RIGHT: #555555 1px outset; BORDER-TOP: #555555 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BORDER-LEFT: #555555 1px outset; WIDTH: 40px; COLOR: #cccccc; BORDER-BOTTOM: #555555 1px outset; FONT-FAMILY: Times New Roman; HEIGHT: 20px; BACKGROUND-COLOR: #767293
}
.tbl_Exe {
	BORDER-RIGHT: #555555 1px outset; BORDER-TOP: #555555 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BORDER-LEFT: #555555 1px outset; WIDTH: 40px; COLOR: #cccccc; BORDER-BOTTOM: #555555 1px outset; FONT-FAMILY: verdana; HEIGHT: 20px; BACKGROUND-COLOR: #6672ac
}
.butt_popup {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; WIDTH: 265px; COLOR: #cceecc; FONT-FAMILY: verdana; HEIGHT: 22px; BACKGROUND-COLOR: #999999
}
.butt_test {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; WIDTH: 140px; COLOR: #cceecc; FONT-FAMILY: verdana; HEIGHT: 22px; BACKGROUND-COLOR: #999999
}
A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #6666ff; FONT-FAMILY: verdana,arial,helvetica; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #6666ff; FONT-FAMILY: verdana,arial,helvetica; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #6666ff; FONT-FAMILY: verdana,arial,helvetica; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #cc7700; FONT-FAMILY: verdana,arial,helvetica; TEXT-DECORATION: none
}
