
/*	-----------------------------------------------------------
	LAYOUT
	positioning of page elements
	-----------------------------------------------------------	*/

/*	---------------------------------------------------------------------------------------
	CONSTANTS
	
	Sizes
	----------------------------------------
	C1 left bar width																16%
	C2 right bar width (currently not used)											0%
	C3 top bar height																60px

	---------------------------------------------------------------------------------------	*/
	
.twikiLeft {
	float:left;
	position:relative;
}
.twikiRight {
	position:relative;
	float:right;
	display:inline;
	margin:0;
	text-align:right;
}
.twikiClear {
	/* to clean up floats */
	margin:0;
	padding:0;
	height:0;
	line-height:0px;
	clear:both;
	display:block;
}
.twikiHidden {
	display:none;
}

/*	-----------------------------------------------------------
	Positioning of layout blocks
	-----------------------------------------------------------	*/

.patternMiddleContainer {
	float:left;
	display:inline; /* IE doubles the margins on floats, this takes care of the problem */
	width:100%;
	margin-left:-0px; /*C2*/
}
.patternLeftBar {
	position:absolute;
	left:0;
	margin-left:0px; /*C2*/
}
.patternLeftBarContents /* needed for Explorer 5.0 */ {
	width:100%;
}

/* setting the height of the top bar */
.patternLeftBar {
	top:60px; /*C3*/
}
.patternTopBar {
	height:60px; /*C3*/
}

/* setting the width of the left bar */
.patternLeftBar {
	width:16%; /*C1*/
}
.patternMain {
	margin:0 0 0 16%;
}

/*	-----------------------------------------------------------
	Pages that are not view
	-----------------------------------------------------------	*/
	
.patternNoViewPage .patternMain {
	margin-left:3%;
	margin-right:3%;
	/* padding in style.css */
}

/* Print */

.patternPrintPage .patternMain {
	margin-left:5%;
	margin-right:5%;
}

/* Plain */

.patternPlainPage .patternMain {
	margin-left:0px;
	margin-right:0px;
	/* padding in style.css */
}
