
/*	-----------------------------------------------------------
	LAYOUT
	positioning of page elements
	-----------------------------------------------------------	*/

.twikiLeft {
	float:left;
	position:relative;
}
.twikiRight {
	position:relative;
	float:right;
	display:inline;
	margin:0;
	text-align:right;
}
.twikiClear {
	/* to clean up floats */
	margin:0;
	padding:0;
	height:1px;
	line-height:1%;
	clear:both;
	display:block;
}
.twikiHidden {
	display:none;
}

/*	-----------------------------------------------------------
	Positioning of layout blocks
	-----------------------------------------------------------	*/

.twikiMiddleContainer {}
.twikiLeftBar {
	position:absolute;
	left:0;
	margin:0;
	padding:0;
}

/* setting the height of the top bar */

.twikiMiddleContainer {}
.twikiLeftBar {
	top:60px;
}
.twikiTopBar {
	height:60px;
}

/* positioning the left bar (width:13em) */

.twikiLeftBar,
.twikiLeftBarContents /* needed for Explorer 5.0 */ {
	width:13em;
}
.twikiMain {
	margin-left:13em;
}
.twikiBottomBar {
	margin:0 0 0 13.5em; /* add small margin for content offset */
}

/*	-----------------------------------------------------------
	Pages that are not view
	-----------------------------------------------------------	*/
	
.twikiNoViewPage .twikiMain {
	margin-left:8em;
	margin-right:8em;
	/* padding in style.css */
}
.twikiEditPage .twikiMain {
	margin-left:6em;
	margin-right:6em;
}

/* Print */

.twikiPrintPage .twikiMain {
	margin-left:0;
	margin-right:0;
	padding:0 0 0 2em;
	border-width:1px;
	border-color:#ddd #fff #ddd #ddd;
}
.twikiPrintPage .twikiBottomBar {
	margin-left:1em;
	margin-right:0;
	padding:0;
}
.twikiPrintPage .twikiBottomBarContents {
	padding-left:1em;
}

/* Plain */

.twikiPlainPage .twikiMain {
	margin-left:0px;
	margin-right:0px;
	/* padding in style.css */
}