/* Content */
/* show url for links */
a:link:after,
a:visited:after {
	content: " (" attr(href) ") ";
	font-size:85%; /*S3*/
}
/* ... except for bits of the gui */
.patternHomePath a:link:after,
.patternHomePath a:visited:after,
.patternRevInfo a:link:after,
.patternRevInfo a:visited:after,
#patternBottomBar a:link:after,
#patternBottomBar a:visited:after,
.twikiAttachments a:link:after,
.twikiAttachments a:visited:after,
.twikiForm a:link:after,
.twikiForm a:visited:after {
	content:"";
}
.patternHomePath img,
.patternHomePathTitle {
	display:none;
}

/* Layout */
#patternScreen,
#patternPageShadow, 
#patternPage {
	margin:0;
	padding:0;
	top:0;
}
.patternPrintPage #patternScreen {
	padding:1cm;
	width:21cm;
}
body html {
	background:#fff;
}
.patternMainContents {
	margin:0;
	padding:0;
	left:0;
}
/* hide bits of the gui */
.patternTopicAction,
td.patternToolBar,
#patternLeftBar,
#patternTopBar {
	display:none;
	width:0;
}
#patternMain {
	width:100%;
}

/* Style */
#patternColumnWrapper {
	padding:0;
	border:none;
}
h2, h3,	h4,	h5 {
	border:none;
}
#patternBottomBar {
	margin:1em 0 0 0;
}
.patternBottomBarContents {
	padding:0;
	margin-left:0;
	margin-right:0;
}
.patternTopicFooter {
	margin:2em 0 2em 0;
	font-size:94%; /*S2*/
}
.patternTop {
	border:0;
}

/* Colors */
body {
	background-color:#fff;
}
#patternBottomBar {
	background:#fff;
	color:#000;
}
h2 {
	background-color:transparent;
}
.patternContent .twikiAttachments,
.patternContent .twikiForm {
	background:#fff;
}


/* define custom print styles here */


