
/*	-----------------------------------------------------------
	STYLE
	Appearance:margins, fonts, colors
	-----------------------------------------------------------	*/
	

/*	---------------------------------------------------------------------------------------
	CONSTANTS
	C1	link color	 																#0054C0
	C2	hover link background color 												#E07C05 
	C3	link label hover color														#fff
	C4	topic action background; left bar top thick border							#666
	C5	color H2, code text															#a00
	C6	grayed out text																#8490A1
	C7	page, legend background color												#f7f7f7
	C8	h2 background color															#F3EDE7
	C9	neutral table bg gray that should work on light and dark backgrounds		#999
	C10	line-height																	1.4em
	C11	small font size																85%
	C12	horizontal bar padding (h2, patternTop)										10px
	C13	light gray background														#eee
	C14 light yellow background of action buttons									#FCF5DF
	C15 somewhat smaller font size													94%
	C16 dark yellow lines															#FCD582
	---------------------------------------------------------------------------------------	*/

/*	-----------------------------------------------------------
	General elements
	-----------------------------------------------------------	*/
	
/* HTML elements */
html body {
	line-height:1.4em; /*C10*/
	font-family:"Lucida Grande", verdana, arial, sans-serif;
	background-color:#f7f7f7; /*C7*/
	color:#000;
	margin:0;
	padding:0;
	font-size:x-small;
	voice-family:"\"}\""; 
	voice-family:inherit;
	font-size:small;
}
html>body {
	font-size:small;	
}

/* be kind to netscape 4 that doesn't understand inheritance */
body, p, li, ul, ol, dl, dt, dd, acronym, h1, h2, h3, h4, h5, h6 {
	background-color:transparent;
}
p {
	margin:1em 0 0 0;
}
table {
	border-collapse:separate;
}
th {
	line-height:1.15em;
	padding:.3em;
	/* don't define more or you'll override TablePlugin settings */
}
strong, b {
	font-weight:bold;
}
hr {
	color:#ccc;
	background-color:#ccc;
	height:1px;
	border:none;
}
pre, code, tt {
	font-size:100%;
	line-height:1.4em; /*C10*/
	color:#800;
}
pre {
	margin-top:1em;
	margin-bottom:1em;
}
ol li, ul li {
	line-height:1.4em; /*C10*/
}
	
/* Text */
h1, h2, h3, h4, h5, h6 {
	font-family:"Lucida Grande", arial, verdana, sans-serif;
	line-height:104%;
	padding:0;
	margin:1em 0 .1em 0;
}
h1 {
	font-size:195%;
	color:#DE5D07;
	margin:0 0 .5em 0;
}
.patternNoViewPage h1 {
	font-size:140%; /* almost as big as h2 in topic */
}
h2, h3, h4, h5, h6 {color:#a00;} /*C5*/
h2 { font-size:135%;}
h3 { font-size:130%;}
h4 { font-size:125%;}
h5 { font-size:110%;}
h6 { font-size:100%;}
h2 {
	display:block;
	background-color:#F3EDE7; /*C8*/
	padding:.2em 5px; /*C12*/
	margin:1em -5px .35em -5px; /*C12*/
	height:auto;
}

/* Links */
/* somehow the twikiNewLink style have to be before the general link styles */
.twikiNewLink a:link sup,
.twikiNewLink a:visited sup {
	vertical-align:baseline;
	font-size:100%;
	background-color:#FFC0CB;
	text-decoration:none;
}
/*
.twikiNewLink a:hover sup,
.twikiNewLink a:visited:hover sup {
	color:#fff;
	background-color:#DE5D07;
}
*/
.twikiNewLink {
	border-bottom:1px solid #FFC0CB;
}
/* to override old Render.pm coded font color style */
.twikiNewLink font {
	color:inherit;
}
:link:focus,
:visited:focus,
:link,
:visited,
:link:active,
:visited:active {
	text-decoration:underline;
	color:#0054C0; /*C1*/;
	background-color:transparent;
}
:link:hover,
:visited:hover {
	text-decoration:none;
	color:#FCF5DF; /*C14*/
	background-color:#E07C05; /*C2*/
}
.patternTopic a:visited {
	color:#595959;
}
.patternTopic a:hover {
	color:#FCF5DF; /*C14*/
}

.twikiGrayText a:link,
.twikiGrayText a:visited {
	color:#8490A1; /*C6*/
}
.twikiGrayText a:hover {
	color:#FCF5DF; /*C14*/
}
img {
	vertical-align:text-bottom;
}

/* Forms */
form { 
	display:inline;
	margin:0;
	padding:0;
}
textarea,
input,
select {
	font-size:100%;
	vertical-align:middle;
	border-width:1px;
	border-color:#ccc;
	padding:1px;
}
textarea {
	font-family:"Lucida Grande", verdana, arial, sans-serif;
}
fieldset {
}
legend {
}
label {
	vertical-align:middle;
}

/*	-----------------------------------------------------------
	TWiki styles
	-----------------------------------------------------------	*/

/* Inline tables */
.twikiTable {
    border-collapse: collapse;
}
.twikiTable td,
.twikiTable th {
    border:1px solid #ccc;
    margin: 0;
    padding: 5px;
}

/* sorting of table columns */
/* not yet finalized for tables in topic text */
th.twikiSortedAscendingCol a:link,
th.twikiSortedAscendingCol a:visited {
	border-top:1px solid #999; /*C9*/
}
th.twikiSortedAscendingCol a:hover {
	text-decoration:none;
	border-top:0;
	border-bottom:1px dotted #999; /*C9*/
}
th.twikiSortedDescendingCol a:link,
th.twikiSortedDescendingCol a:visited {
	border-bottom:1px solid #999; /*C9*/
	text-decoration:none;
}
th.twikiSortedDescendingCol a:hover {
	text-decoration:none;
	border-bottom:0;
	border-top:1px dotted #999; /*C9*/
}

/**	----------------------------------
*	Attachments table, form
*	---------------------------------- */

.twikiAttachments,
.twikiForm {
	margin:2em 0;
	font-size:94%; /*C15*/
	color:#666;
}
.patternViewPage .twikiAttachments,
.patternViewPage .twikiForm,
.patternPreviewPage .twikiAttachments,
.patternPreviewPage .twikiForm {
	background-color:#FDF9EC;
	padding:20px;
	border-top:1px solid #ccc;
	margin-top:0;
	margin-bottom:0em;
}
.twikiAttachments p { /* fix for extra generated <p> */
	display:none;
}
.twikiAttachments table,
.twikiForm table {
	border-collapse:collapse;
	padding:0px;
	border-spacing:0px;
	empty-cells:show;
	border:0px;
	font-size:95%;
	color:#666;
	background-color:#fff;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
}
.twikiAttachments table {
	background-color:#fff;
	line-height:1.4em;
	width:auto;
	voice-family: "\"}\""; /* hide the following for Explorer 5.x */
	voice-family:inherit;
	width:100%;
}
.twikiAttachments th,
.twikiForm th,
.twikiAttachments th,
.twikiForm th {
	padding:.2em .6em;
	height:2.5em;
	border-color:#ccc;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#fff;
	vertical-align:middle;
}
.twikiAttachments th.twikiFirstCol,
.twikiForm th.twikiFirstCol {
	border-left:none;
	width:0px;
}
/* don't show any of those ugly sort icons */
.twikiAttachments th img,
.twikiAttachments th a:link img,
.twikiAttachments th a:visited img {
	display:none;
}
.twikiAttachments td,
.twikiForm td {
	border:0px;
	border-bottom:1px solid #ccc;
	padding:.2em .6em;
	background-color:#fff;
	height:1.4em;
	text-align:left;
	vertical-align:top;
}
.twikiForm th.twikiFirstCol,
.twikiForm td.twikiFirstCol {
	border-left:none;
}
.twikiAttachments th.twikiFirstCol,
.twikiAttachments td.twikiFirstCol {
	border-left:none;
	width:26px;
	text-align:center;
}
.twikiAttachments th a:link,
.twikiAttachments th a:visited,
.twikiForm th a:link,
.twikiForm th a:visited {
	color:#0054C0; /*C1*/
	border-color:#345;
	text-decoration:none;
}
.twikiAttachments th font,
.twikiForm th font {
	color:#0054C0; /*C1*/
}
.twikiAttachments th a:hover,
.twikiForm th a:hover {
	text-decoration:none;
	border-bottom:1px solid #345;
	background-color:transparent;
}
.twikiAttachments td a:link,
.twikiAttachments td a:visited,
.twikiForm td a:link,
.twikiForm td a:visited {
	font-weight: normal;
}
.twikiAttachments th.twikiSortedAscendingCol,
.twikiAttachments th.twikiSortedDescendingCol {
	background-color:#f0f0f0;
}
.twikiAttachments th.twikiSortedAscendingCol a:link,
.twikiAttachments th.twikiSortedAscendingCol a:visited,
.twikiAttachments th.twikiSortedDescendingCol a:link,
.twikiAttachments th.twikiSortedDescendingCol a:visited {
	color:#345;
}
.twikiAttachments th.twikiSortedAscendingCol a:hover,
.twikiAttachments th.twikiSortedDescendingCol a:hover {
	background-color:transparent;
}

.twikiBroadcastMessage b,
.twikiBroadcastMessage strong {
	color:#f00;
}
.twikiAlert {
	color:#f00;
}
.twikiGrayText {
	color:#8490A1; /*C6*/
}
.twikiSmall {
	font-size:85%; /*C11*/
}
.twikiNew { }
.twikiSummary {
	font-size:85%; /*C11*/
}
.twikiEmulatedLink {
	color:#0054C0; /*C1*/
	text-decoration:underline;
}
.twikiPageForm {
	margin:.5em 0 1.5em 0;
	padding:.5em 1em;
	border:1px solid #aaa;
}
.twikiPageForm table,
.twikiPageForm th,
.twikiPageForm td {
	border:0;
}
.twikiButton, 
.twikiSubmit {
	border-width:1px;
	vertical-align:middle;
}
.twikiButton {
	border-color:#ccc;
	background-color:#e6e6e6;
}
.twikiSubmit {
	border-color:#88B6CF;
	background-color:#CADDED;
}
.twikiCheckbox,
.twikiRadioButton {
	border:none;
	background-color:transparent;
	vertical-align:middle;
}
.twikiHelp {
	background-color:#ECF2F9;
	padding:1em;
	font-size:94%; /*C15*/
	margin:0;
}
.twikiHelp ul {
	margin-top:0;
	margin-bottom:0;
}
.twikiAccessKey {
	text-decoration:none;
	border-bottom:1px solid #8490A1; /*C6*/
}
a:hover .twikiAccessKey {
	text-decoration:none;
	border:none;
	color:inherit;
}


/*	-----------------------------------------------------------
	Other styles
	-----------------------------------------------------------	*/

.patternSeparator {
	font-family:monospace;
}
.twikiAccessKey {
	color:inherit;
	text-decoration:none;
	border-bottom:1px solid #8490A1; /*C6*/
}
a:link .twikiAccessKey {
	color:inherit;
}
a:hover .twikiAccessKey {
	text-decoration:none;
	border-bottom:none;
}

.patternTopicAction {
	font-size:94%; /*C15*/
	line-height:1.5em;
	color:#8490A1; /*C6*/
	background-color:#FCF5DF; /*C14*/
	margin:0 0 1.5em 0;
	padding:.5em 2em;
	border-top:1px solid #FCD582; /*C16*/
	border-bottom:1px solid #FCD582; /*C16*/
}
.patternTopicAction .patternActionButtons {}
.patternTopicAction .patternActionButtons a:link,
.patternTopicAction .patternActionButtons a:visited {
	text-decoration:none;
	padding:1px 1px 2px 1px;
	color:#E07C05; /*C2*/
}
.patternTopicAction .patternActionButtons a:hover {
	color:#FCF5DF; /*C14*/
}
.patternTopicAction .twikiAccessKey {
	border-color:#E07C05; /*C2*/
}

.patternTopicAction label {
	color:#000;
}
.patternTopicAction .patternSaveOptions {
	margin-bottom:.5em;
}
.patternTopicAction .patternSaveOptions .patternSaveOptionsContents {
	padding:.2em 0;
}
.patternMoved {
	font-size:94%; /*C15*/
	margin-bottom:1em;
}
.patternHelpCol {
	color:#8490A1; /*C6*/
}

/*	-----------------------------------------------------------
	Pattern skin specific elements
	-----------------------------------------------------------	*/
.patternWebIndicator {
	background-color:#aaa;
}
.patternMiddleContainer {}
.patternMain {
	padding:0 1.5em 1em 2em;
	background-color:#fff;
	border-width:1px;
	border-style:solid;
	border-color:#ddd #ddd #ddd #ddd;
}
.patternNoViewPage .patternMain {
	padding-top:2em;
	padding-bottom:2em;
}

/* Top bar */

.patternTopBar {
	background-color:transparent;
}
.patternTopBarContents {
	margin:0;
	padding:5px 2em 5px 1em; /* right padding same as .patternViewPage .patternMain */
}
.patternTopBarContents .patternSearchBox td {
	height:50px;
	vertical-align:middle;
	color:#8490A1; /*C6*/
	font-size:94%; /*C15*/
}

/* Left bar */
.patternLeftBar {
	border-top:1px solid #ccc;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	color:#800;
	overflow:hidden;
	background-color:#FBFAF8;
}
.patternLeftBar ul {
	padding:0;
	margin:0;
	list-style:none;
}
.patternLeftBar li {
	padding-left:0;
}
.patternLeftBar a:link,
.patternLeftBar a:visited {
	text-decoration:none;
}
.patternLeftBar .patternLeftBarContents {
	font-size:94%; /*C15*/
	font-weight:normal;
	margin:0;
	padding:0 0 1.7em 1em;
	width:auto;
}
.patternLeftBarPersonal {
	margin:-.5em -1px -.5em -1em;
	padding:.5em 0 .5em 1em;
	background-color:#ECF2F9;
	border-bottom:1px solid #ccc;
}

/* Bottom bar */
.patternBottomBar {
	padding-bottom:1em;
}
.patternBottomBarContents {
	padding:.5em 2.5em 1.5em .25em;
	font-size:94%; /*C15*/
	color:#8490A1;	/*C6*/
}

/* table used in various places */
.patternVersatileTable table {
	width:auto;
	padding:0px;
	border-spacing:0px;
	border-collapse:collapse;
	empty-cells:show;
	border:1px solid #ccc;
	margin:1em 0 2em 0;
	font-size:94%; /*C15*/
}
.patternVersatileTable th,
.patternVersatileTable td {
	vertical-align:middle;
	border:0px;
	border-top:1px solid #ccc;
	padding:10px 1em 10px 1.25em;
}
.patternVersatileTable td {
	background-color:#f2f2f2;
}
.patternVersatileTable th {
	background-color:#e2e2e2;
}
.patternVersatileTable .patternMainCol {
	background-color:#fff;
}
.patternVersatileTable .patternOldCol {
	background-color:#E9E9E9;
}
.patternVersatileTable input {
	background-color:#fff;
}
.patternVersatileTable input.twikiCheckbox {
	background-color:transparent;
}


/* Topic text */
.patternTopic {
	padding:0 0 1.5em 0;
}

.patternTop {
	font-size:94%; /*C15*/
	padding:0.25em 0;
	height:1.5em;
}
.patternHomePath,
.patternRevInfo {
	color:#8490A1; /*C6*/
}
.patternHomePath {
	color:#000;
}
.patternRevInfo {
	color:#999;
}
.patternRevInfo a:link,
.patternRevInfo a:visited {
	color:#999;
}
.patternRevInfo a:hover {
	color:#FCF5DF; /*C14*/
}

/* Tool bar at top of topic */
.patternToolBar {
	font-size:94%; /*C15*/
	padding:.75em 0 .25em 0;
}
.patternViewPage .patternToolBar {
	border-top:1px solid #ccc;
}
.patternToolBar ul {
	margin:0;
	padding:0;
	list-style:none;
	float:right;
}
.patternToolBar li {
	display:inline;
	list-style-type:none;
	margin:0;
	padding:0;
}
.patternToolBar .patternButton,
.patternToolBar .patternNoTab {
	padding:1px 0 3px 0;
}
.patternToolBar .patternButton {
	margin-left:-1px;
	float:left;
	margin-top:-1px; /* to account for the 1px border - makes it aligned with non-button text */
}
.patternToolBar .patternButton s,
.patternToolBar .patternButton strike,
.patternToolBar .patternButton a:link,
.patternToolBar .patternButton a:visited {
	position:relative;
	background-color:#FCF5DF; /*C14*/
	border:1px solid #FCD582; /*C16*/
	padding:.2em .6em;
}
.patternToolBar .patternButton s,
.patternToolBar .patternButton strike {
	color:#ccc;
	border-color:#e0e0e0;
	background-color:#fff;
	text-decoration:none;
}
.patternToolBar .patternButton a:link,
.patternToolBar .patternButton a:visited {
	color:#E07C05; /*C2*/
	text-decoration:none;
}
.patternToolBar .patternButton a:hover {
	background-color:#E07C05; /*C2*/
	border-color:#E07C05; /*C2*/
	color:#FCF5DF; /*C14*/
}
.patternToolBar .patternButton a:hover {
	text-decoration:none;
}
.patternToolBar a:link .twikiAccessKey,
.patternToolBar a:visited .twikiAccessKey {
	color:inherit;
	border-color:#E07C05; /*C2*/
}
.patternToolBar a:hover .twikiAccessKey {
	background-color:transparent;
	color:inherit;
}


/* Edit page */

.twikiChangeFormButtonHolder {
	margin:1em 0;
	float:right;
}
.twikiChangeFormButton {
	font-family:"Lucida Grande", verdana, arial, sans-serif;
	padding:0;
	margin:0;
	color:#0054C0; /*C1*/
	font-size:94%; /*C15*/
	background-color:transparent;
	border:none;
	text-decoration:underline;
}
.patternSig {
	margin-top:.25em;
}
.patternSig input {
	color:#8490A1; /*C6*/
}
.patternAccessKeyInfo {
	margin-top:1.5em;
}

/* Preview page */

.patternPreviewPage .patternPreviewArea {
	background-color:#fff;
	border:1px solid #f00;
	margin:0em -.5em 2em -.5em;
	padding:.5em;
}

/* Attach page */

.patternAttachPage .patternVersatileTable table {
	width:auto;
	voice-family: "\"}\""; /* hide the following for Explorer 5.x */
	voice-family:inherit;
	width:100%;	
}
.patternAttachPage .patternVersatileTable th {
	text-align:right;
}

/* Rename page */

.patternRenamePage .patternVersatileTable th {
	text-align:right;
	width:10%;
}

/* WebSearchAdvanced */
table#twikiSearchTable th,
table#twikiSearchTable td {padding:.5em; background-color:white;}
table#twikiSearchTable th {width:15%; text-align:left; color:#666;}
table#twikiSearchTable td {width:85%;}
table#twikiSearchTable td.first {padding-top:1em; background-color:#eee;}

/*	-----------------------------------------------------------
	Search results
	styles and overridden styles used in search.pattern.tmpl
	-----------------------------------------------------------	*/
	
.patternSearchResultsPage {}
.patternSearchResults {}

.patternSearchResultsHeader {
	padding:.25em 10px .15em 10px;
	margin:0 -10px .25em -10px;
	font-weight:bold;
	background-color:#F3EDE7; /*C8*/
	border-bottom:1px solid #ccc;
	height:1.5em; /* or WIN/IE wont draw the backgound */
}
.patternSearchString {
	margin:1em 0 1.5em 0;
}
.patternSearchResults table {
	width:auto;
	voice-family: "\"}\""; /* hide the following for Explorer 5.x */
	voice-family:inherit;
	width:100%;
}
.patternSearchResults .twikiTopRow {
	padding-top:.2em;
}
.patternSearchResults .twikiBottomRow {
	padding-bottom:.25em;
	border-bottom:1px solid #ddd;
}
.patternSearchResults .twikiAlert {
	color:#f00;
	font-weight:bold;
}
.patternSearchResults .twikiSummary .twikiAlert {
	color:#900; /*C5*/
	font-weight:normal;
}
.patternSearchResults .twikiNew {
	background-color:green;
	color:#fff;
	font-size:85%; /*C11*/
	padding:1px;
	font-weight:bold;
}
.patternSearchResultsPage .twikiHelp {
	background-color:#FFC0CB;
	display:block;
	width:auto;
	margin:.5em 0;
}
.patternSearchResults .twikiSRAuthor {
	width:15%;
	text-align:left;
}
.patternSearchResults .twikiSRRev {
	width:30%;
	text-align:left;
}
.patternSearchResultCount {
	margin:.25em 0 1.5em 0;
	font-size:95%;
}
.patternViewPage .patternSearchResultsBegin { /* for changes template with noheader="on" */
	height:1px;
	border-bottom:1px solid #ddd;
}

/* Search results in book view format */

.patternBookViewList .patternSearchResultsHeader {
	margin-bottom:1em;
}
.patternBookViewList .twikiTopRow {
	padding:.2em 10px;
	margin:2.5em -10px .15em -10px;
	background-color:#666; /*C4*/
	color:#ccc;
}
.patternBookViewList .twikiTopRow a:link, 
.patternBookViewList .twikiTopRow a:visited {
	color:#fff;
}
.patternBookViewList .twikiTopRow a:hover {
	color:#0054C0; /*C1*/;
}
.patternBookViewList .twikiBottomRow {
	font-size:100%;
	padding:1em 0;
	border-color:#ddd;
}
.patternBookViewList .twikiBottomRow {
	width:auto;
}
.patternBookViewList .patternSearchResultCount {
	color:#666; /*C4*/
}

