
/*	-----------------------------------------------------------
	STYLE
	Appearance: margins, fonts, colors
	-----------------------------------------------------------	*/
	

/*	---------------------------------------------------------------------------------------
	CONSTANTS
	C1	link color	 																#0054C0
	C2	hover link background color 												#b4d5ff
	C3	link label hover color														#0029A3
	C4	topic action background; left bar top thick border							#666
	C5	color H2, code text															#900
	C6	grayed out text																#8490A1
	C7	page, legend background color												#f7f7f7
	C8	h2 background color															#F3EDE7
	C9	neutral table bg gray that should work on light and dark backgrounds		#999
	C10	line-height																	1.4em
	C11	small font size																85%
	C12	horizontal bar padding (h2, patternTop)										10px
	C13	light gray background														#eee
	---------------------------------------------------------------------------------------	*/

/*	-----------------------------------------------------------
	General elements
	-----------------------------------------------------------	*/
	
/* HTML elements */
html body {
	line-height:1.4em; /*C10*/
	font-family:"Lucida Grande", verdana, lucida, helvetica, sans-serif;
	background-color:#f7f7f7; /*C7*/
	color:#000;
	margin:0;
	padding:0;
	font-size:x-small;
	voice-family:"\"}\""; 
	voice-family:inherit;
	font-size:small;
}
html>body {
	font-size:small;	
}

/* be kind to netscape 4 that doesn't understand inheritance */
body, p, li, ul, ol, dl, dt, dd, acronym, h1, h2, h3, h4, h5, h6 {
	background-color:transparent;
}
p {
	margin:1em 0 0 0;
}
table {
	border-collapse:separate;
}
th {
	line-height:1.15em;
	padding:0.3em;
	/* don't define more or you'll override TablePlugin settings */
}
strong, b {
	font-weight:bold;
}
hr {
	color:#ccc;
	background-color:#ccc;
	height:1px;
	border:none;
}
pre, code, tt {
	font-size:100%;
	line-height:1.4em;
	color:#800;
}
pre {
	margin-top:1em;
	margin-bottom:1em;
}
ol li, ul li {
	line-height:1.4em; /*C10*/
}
	
/* Text */
h1, h2, h3, h4, h5, h6 {
	font-family:"Lucida Grande", helvetica, lucida, verdana, sans-serif;
	line-height:104%;
	padding:0;
	margin:1em 0 0.1em 0;
}
h1 {
	font-size:210%;
	color:#e24628;
	margin:0 0 0.5em 0;
}
h2, h3, h4, h5, h6 {color:#900;} /*C5*/
h2 {
	font-size:145%;
	display:block;
	background-color:#F3EDE7; /*C8*/
	padding:0.2em 10px;
	margin:1em -10px 0.35em -10px;
	height:auto;
}
h3 { font-size:140%;}
h4 { font-size:125%;}
h5 { font-size:110%;}
h6 { font-size:95%;}

/* Links */
/* somehow the twikiNewLink style have to be before the general link styles */
.twikiNewLink a:link sup,
.twikiNewLink a:visited sup {
	vertical-align:baseline;
	font-size:100%;
	background-color:#FFC0CB;
	text-decoration:none;
}
.twikiNewLink a:hover sup,
.twikiNewLink a:visited:hover sup {
	color:#0029A3; /*C3*/
	background-color:#b4d5ff; /*C2*/
}
.twikiNewLink {
	border-bottom:1px solid #FFC0CB;
}
/* to override old Render.pm coded font color style */
.twikiNewLink font {
	color:inherit;
}
:link:focus,
:visited:focus,
:link,
:visited,
:link:active,
:visited:active {
	text-decoration:underline;
	color:#0054C0; /*C1*/;
	background-color:transparent;
}
:link:hover,
:visited:hover {
	text-decoration:underline;
	color:#0029A3; /*C3*/
	background-color:#b4d5ff; /*C2*/
}
.twikiGrayText a:link,
.twikiGrayText a:visited {
	color:#8490A1; /*C6*/
	text-decoration:underline;
}
.twikiGrayText a:hover {
	color:#0029A3; /*C3*/
}

/* sorting of table columns */
/* not yet finalized for tables in topic text */
th.twikiSortedAscendingCol a:link,
th.twikiSortedAscendingCol a:visited {
	border-top:1px solid #999; /*C9*/
}
th.twikiSortedAscendingCol a:hover {
	text-decoration:none;
	border-top:0;
	border-bottom:1px dotted #999; /*C9*/
}
th.twikiSortedDescendingCol a:link,
th.twikiSortedDescendingCol a:visited {
	border-bottom:1px solid #999; /*C9*/
	text-decoration:none;
}
th.twikiSortedDescendingCol a:hover {
	text-decoration:none;
	border-bottom:0;
	border-top:1px dotted #999; /*C9*/
}

img {
	vertical-align:text-bottom;
}

/* Forms */
form { 
	display:inline;
	margin:0;
	padding:0;
}
textarea,
input,
select {
	border-width:1px;
	border-color:#ccc;
	background-color:#FBF9F7;
	font-family:"Lucida Grande", verdana, lucida, helvetica, sans-serif;
	font-size:100%;
}
fieldset {
}
legend {
}
label {
}

/*	-----------------------------------------------------------
	TWiki specific elements
	-----------------------------------------------------------	*/

.patternMiddleContainer {}
.patternMain {
	padding:0 3.5em 1em 3.5em;
	background-color:#fff;
	border-width:1px;
	border-style:solid;
	border-color:#ddd #ddd #ddd #ddd;
}

/* Top bar */

.patternTopBar {
	background-color:transparent;
}
.patternTopBar ul li a:link,
.patternTopBar ul li a:visited {
	padding:0.25em 0.85em;
	text-decoration:none;
	float:left;
	color:#fff;
	font-weight:bold;
	background-color:transparent/*#98A2B0*/;
	margin-right:1px;
}
.patternTopBar ul li a:hover {
	color:#0029A3; /*C3*/
	background-color:#b4d5ff; /*C2*/
	text-decoration:underline;
}
.patternTopBarContents {
	margin:0;
	padding:5px 2em 5px 1em; /* right padding same as .patternViewPage .patternMain */
}
.patternTopBarContents p {
	display:inline;
}

/* Left bar */
.patternLeftBar {
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	color:#800;
	overflow:hidden;
	line-height:1.5em;
	background-color:#FBFAF8;
}
.patternLeftBar a:link,
.patternLeftBar a:visited {
	text-decoration:none;
	padding-bottom:1px; /* to account for hover border */
	border-bottom:0px;
}
.patternLeftBar a:hover,
.patternLeftBar a:visited:hover,
.patternLeftBar a:active {
	text-decoration:none;
	color:#0029A3; /*C3*/
	padding-bottom:0;
	border-bottom:1px solid #0054C0; /*C1*/
}
.patternWebIndicator {
	color:black;
	font-size:95%;
	font-weight:bold;
	text-align:center;
	line-height:104%;
	display:block;
	background-color:#efefef; /* color variable WEBBGGCOLOR is set in twiki.pattern.tmpl */
	padding:10px 0;
	margin:0;
}
.patternWebIndicator ul,
.patternWebIndicator li {
	margin:0;
	padding:0;
}
.patternLeftBar .patternWebIndicator a {
	height:2em;
}
.patternLeftBar .patternWebIndicator a:link,
.patternLeftBar .patternWebIndicator a:visited {
	color:black;
	text-decoration:none;
	border-bottom:0px;
}
.patternLeftBar .patternWebIndicator a:hover,
.patternLeftBar .patternWebIndicator a:active {
	color:black;
	text-decoration:underline;
	border-bottom:0px;
	padding-bottom:1px;
	background-color:transparent;
}
.patternLeftBar .patternLeftBarContents {
	font-size:95%;
	font-weight:normal;
	margin:0;
	padding:1em 0 1.7em 1em;
	width:auto;
	border-top:3px solid #666; /*C4*/
}
.patternLeftBar ul {
	padding:0;
	margin:0;
}
.patternLeftBar li {
	display:block;
	list-style:none;
	width:100%;
}
.patternLeftBar li a {
	display:block;
	width:98%;
	padding-right:2%;
}
html>body .patternLeftBar li a {
	width:auto;
}
.patternLeftBar hr {
	color:#eee;
	background-color:#ddd;
	height:1px;
	border:none;
}
.patternLeftBarPersonal {
	margin:-0.5em -1px -0.5em -1em;
	padding:0.25em 0 0.5em 1em;
	background-color:#DFEDFD;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.patternLeftBarPersonal p {
	margin:0;
}
.patternLeftBarPersonal a:visited {
	color:#666;
}

/* Bottom bar */
.patternBottomBar {
	padding-bottom:1em;
}
.patternBottomBarContents {
	padding:0.5em 2.5em 1.5em 0.5em;
	font-size:90%;
	line-height:140%;
	color:#8490A1;	/*C6*/
}

/* Topic text */
.patternTopic {
	padding:1em 0 1.5em 0;
	background-color:transparent;
}
.patternTopic pre {
	overflow-x:auto;
    overflow-y:visible;
    padding-bottom:1.5em;
    width:100%;
}
.patternTopic>pre { /* hide from IE */
	padding-bottom:0.25em;
	/*\*/ overflow:auto !important; /* */ overflow:scroll; /* for Mac Safari */
}
.patternTopic pre,
.patternTopic code,
.patternTopic tt {
	color:#7A4707;
}
.patternTopic table {
	width:auto;
}
.patternTopic table th a:link,
.patternTopic table th a:visited {
	text-decoration:none;
}
.patternTopic table th a:link.twikiLink,
.patternTopic table th a:link font {
	color:#b4d5ff; /*C2*/
}
.patternTopic table th a:visited.twikiLink,
.patternTopic table th a:visited font {
	color:#aaa;
}
.patternTopic table th a:hover.twikiLink,
.patternTopic table th a:hover font {
	color:#0029A3; /*C3*/
}
.patternTopic a:link {
	text-decoration:underline;
}
.patternTopic a:visited {
	text-decoration:underline;
	color:#595959;
}
.patternTopic h1 a:link,
.patternTopic h1 a:visited,
.patternTopic h2 a:link,
.patternTopic h2 a:visited {
	text-decoration:none;
	color:#0054C0; /*C1*/
	border:none;
	font-weight:bold;
}
.patternTopic a:hover {
	color:#0029A3; /*C3*/
}
.patternTopic ul,
.patternTopic ol {
	margin-top:0;
}

/**	----------------------------------
*	Attachments table, form
*	---------------------------------- */

.twikiAttachments,
.twikiForm {
	margin:2em 0;
}
.twikiAttachments p { /* fix for extra <p> */
	display:none;
}
.twikiAttachments table,
.twikiForm table {
	border-collapse:collapse;
	padding:0px;
	border-spacing:0px;
	empty-cells:show;
	border:0px;
	font-size:95%;
	color:#666;
	background-color:#fff;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
}
.twikiAttachments table {
	background-color:#fff;
	line-height:1.4em;
	width:auto;
	voice-family: "\"}\""; /* hide the following for Explorer 5.x */
	voice-family:inherit;
	width:100%;
}
.twikiAttachments th,
.twikiForm th,
.twikiAttachments th,
.twikiForm th {
	padding:0.2em 0.6em;
	height:2.5em;
	border-color:#ccc;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#fff;
	vertical-align:middle;
}
.twikiAttachments th.twikiFirstCol,
.twikiForm th.twikiFirstCol {
	border-left:none;
	width:0px;
}
/* don't show any of those ugly sort icons */
.twikiAttachments th img,
.twikiAttachments th a:link img,
.twikiAttachments th a:visited img {
	display:none;
}
.twikiAttachments td,
.twikiForm td {
	border:0px;
	border-bottom:1px solid #ccc;
	padding:0.2em 0.6em;
	background-color:#fff;
	height:1.4em;
	text-align:left;
	vertical-align:top;
}
/*
.twikiAttachments td {
   white-space:nowrap;
}
*/
.twikiForm th.twikiFirstCol,
.twikiForm td.twikiFirstCol {
	border-left:none;
}
.twikiAttachments th.twikiFirstCol,
.twikiAttachments td.twikiFirstCol {
	border-left:none;
	width:26px;
	text-align:center;
}
/* don't do this; it makes multi-row table data disappear
.twikiAttachments p,
.twikiForm p {
   display:none;
}*/
.twikiAttachments th a:link,
.twikiAttachments th a:visited,
.twikiForm th a:link,
.twikiForm th a:visited {
	color:#0054C0; /*C1*/
	border-color:#345;
	text-decoration:none;
}
.twikiAttachments th font,
.twikiForm th font {
	color:#0054C0; /*C1*/
}
.twikiAttachments th a:hover,
.twikiForm th a:hover {
	text-decoration:underline;
	background-color:transparent;
	border-color:#345;
}
.twikiAttachments td a:link,
.twikiAttachments td a:visited,
.twikiForm td a:link,
.twikiForm td a:visited {
	font-weight: normal;
}
.twikiAttachments th.twikiSortedAscendingCol,
.twikiAttachments th.twikiSortedDescendingCol {
	background-color:#f0f0f0;
}
.twikiAttachments th.twikiSortedAscendingCol a:link,
.twikiAttachments th.twikiSortedAscendingCol a:visited,
.twikiAttachments th.twikiSortedDescendingCol a:link,
.twikiAttachments th.twikiSortedDescendingCol a:visited {
	color:#345;
}
.twikiAttachments th.twikiSortedAscendingCol a:hover,
.twikiAttachments th.twikiSortedDescendingCol a:hover {
	background-color:transparent;
}

/* patternTopicAction: actions buttons at bottom of page */

.patternTopicAction {
	font-size:95%;
	line-height:1.5em;
	color:#8490A1; /*C6*/
	background-color:#fff;
	margin:0 0 1.5em 0;
	padding:0.5em 2em 0.6em 2em;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.patternTopicAction .patternActionButtons a:link,
.patternTopicAction .patternActionButtons a:visited {
	text-decoration:none;
}
.patternTopicAction .patternActionButtons a:hover {
	text-decoration:underline;
}
.patternTopicAction label {
	color:#000;
}
.patternTopicAction button {
	vertical-align:middle;
}
.patternTopicAction .patternSaveOptions {
	margin-bottom:0.5em;
}
.patternTopicAction .patternSaveOptions .patternSaveOptionsContents {
	padding:0.2em 0;
}

/**	----------------------------------
*	TOC
*	---------------------------------- */

.twikiToc {
	display:block;
	font-size:95%;
	line-height:1.6em;
	margin:1em 0 2em 0;
	padding:0.3em 0 0.6em 0;
	border-top:1px solid;
	border-bottom:1px solid;
	border-color:#ddd;
}

.twikiToc ul {
	list-style:outside;
	padding:0 0 0 0.5em;
	margin:0;
	/* list style image ref in twiki.pattern.tmpl */
	/*list-style-image:url(/twiki/pub/TWiki/PatternSkin/i_arrow_down.gif);*/
}
.twikiToc li {
	margin-left:2em;
}
.twikiToc .twikiTocTitle {
	margin:0;
	padding:0;
	font-weight:bold;
	color:#666;
}
.twikiToc a:link,
.twikiToc a:visited {
	text-decoration:none;
	color:#0054C0; /*C1*/;
	border:0;
}
.twikiToc a:hover {
	text-decoration:underline;
}
.twikiToc li a {
	display:block;	
	width:100%;
}
html>body .twikiToc li a {
	width:auto;
}

/* Topic info */
.patternTopicInfo {
	margin:0.5em 0 0 0;
}

/* Footer */
.patternTopicFooter {
	display:block;
	margin-top:1em;
	padding-bottom:2em;
}

.patternTop {
	background-color:#fff;
	padding:.2em 10px 0 10px;
	margin:0 -10px 0 -10px;
	font-size:90%;
}
.patternHomePath,
.patternRevInfo {
	color:#8490A1; /*C6*/
}
.patternHomePath a:link,
.patternHomePath a:visited,
.patternRevInfo a:link,
.patternRevInfo a:visited {
	color:#8490A1; /*C6*/
	text-decoration:underline;
}
.patternHomePath a:hover,
.patternRevInfo a:hover {
	color:#0029A3; /*C3*/
}

/* Tool bar at top of topic */
.patternToolBar {
	margin:0.5em 0 0 0;
}
.patternToolBar ul {
	margin:0;
	padding:0 0 0 1em;
	list-style:none;
}
.patternToolBar li {
	display:inline;
	list-style-type:none;
	margin:0;
	padding:0;
}
.patternToolBar .patternTab,
.patternToolBar .patternNoTab {
	position:relative;
	padding:2px .75em;
	border-bottom:none;
	z-index:0;
}
.patternToolBar .patternTab {
	float:left;
	border:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#fff;
	margin:0 4px -1px 0;
}
.patternToolBar .patternNoTab {
	/* assuming a right float position */
	border:1px solid white;
	margin:0 0 -1px 0;
	padding:1px 0 0 .5em;
}
.patternToolBar .patternTab a:link,
.patternToolBar .patternTab a:visited {
	color:#8490A1; /*C6*/
	text-decoration:none;
	z-index:0;
}
.patternToolBar .patternTab a:hover {
	color:#0054C0; /*C1*/
	border-bottom:none;
	text-decoration:none;
	z-index:3;
}
.patternToolBar .patternTabSelected {
	color:#000;
	background-color:#fff;
	border-bottom:1px solid #fff;
	z-index:3;
}
.patternToolBar .patternTabHover {
	color:#0054C0; /*C1*/
	background-color:#fff;
	border-bottom:1px solid #fff;
	z-index:3;
}
.patternToolBar .patternTabHover a:link,
.patternToolBar .patternTabHover a:visited {
	color:#0054C0; /*C1*/
	background-color:transparent;
}
.patternToolBar .patternTabHover a:hover {
	background-color:transparent;
}
.patternToolBarBottom {
	border-top:1px solid #ccc;
	margin:0 0 0.5em 0;
}
.patternToolBar .patternAccessKey {
	border:0;
}
.patternToolBar a:link .patternAccessKey,
.patternToolBar a:visited .patternAccessKey {
	color:inherit;
}
.patternToolBar a:hover .patternAccessKey {
	background-color:transparent;
	color:inherit;
}

/* Moved message */
.patternMoved {
	font-size:90%;
	margin-bottom:1em;
}

/* search box */
.patternSearchBox {
	color:#8490A1; /*C6*/
}
.patternSearchBox td {
	height:50px;
	vertical-align:middle;
	background-color:transparent;
	text-align:right;
}
.patternSearchBox input {
	border:1px solid #ccc;
}

/* table used in various places */
.patternVersatileTable table {
	width:auto;
	padding:0px;
	border-spacing:0px;
	border-collapse:collapse;
	empty-cells:show;
	border:0px;
	border:1px solid #ccc;
	margin-top:1em;
	font-size:95%;
}
.patternVersatileTable th,
.patternVersatileTable td {
	vertical-align:top;
	border:0px;
	border-top:1px solid #ccc;
}
.patternVersatileTable td {
	padding:0.2em 0.5em;
	background-color:#F5F7FD;
}
.patternVersatileTable th {
	padding:0.5em 0.5em;
	vertical-align:top;
	font-weight:bold;
	background-color:#DFEDFD;
}
.patternVersatileTable .patternMainCol {
	background-color:#fff;
}
.patternVersatileTable .patternOldCol {
	background-color:#E9E9E9;
}
.patternVersatileTable input {
	background-color:#fff;
}
.patternVersatileTable input.twikiCheckbox {
	background-color:transparent;
}

/*	-----------------------------------------------------------
	Other styles
	-----------------------------------------------------------	*/

.patternSeparator {
	font-family:Arial,sans-serif;
}
.twikiHelp {
	background-color:#F2EFEB;
	padding:1em;
	font-size:100%;
	margin:0;
}
.twikiHelp ul {
	margin-top:0;
	margin-bottom:0;
}
.twikiButton,
.twikiSubmit {
	font-size:95%;
	border-width:1px;
	vertical-align:middle;
	margin:0 0.15em;
}
.twikiButton {
	border-color:#ccc;
	background-color:#e6e6e6;
}
.twikiSubmit {
	border-color:#88B6CF;
	background-color:#CADDED;
}
.twikiCheckbox,
.twikiRadioButton {
	border:none;
	background-color:transparent;
	vertical-align:middle;
}
.patternTopic .twikiSubmit { /* topic submit button */
	background-color:#E8F1F9;
}
.patternSecondary { }
.patternTertiary {
	background-color:#B9D6FA;
}
.patternCancel { /* cancel button */
	background-color:#eee;
}
.twikiBroadcastMessage {
	background-color:#ff0;
	color:black;
	padding:0.2em 10px;
	margin:0 -10px 0.5em -10px;
}
.twikiBroadcastMessage b,
.twikiBroadcastMessage strong {
	color:#f00;
}
.twikiAlert {
	color:#f00;
}
.twikiGrayText,
.patternHelpCol {
	color:#8490A1; /*C6*/
}
.patternHelpCol a:link,
.patternHelpCol a:visited {
	color:#8490A1; /*C6*/
	text-decoration:underline;
}
.patternHelpCol a:hover {
	color:#0029A3; /*C3*/
}
.twikiSmall {
	font-size:85%; /*C11*/
}
.twikiNew { }
.twikiSummary {
	font-size:85%; /*C11*/
	line-height:1.3em;
}
.patternAccessKey {
	text-decoration:none;
	border-bottom:1px solid #8490A1; /*C6*/
}
a:hover .patternAccessKey {
	text-decoration:none;
	border-bottom:none;
}
.twikiEmulatedLink {
	color:#0054C0; /*C1*/
	text-decoration:underline;
}
.twikiPageForm {
	margin:0.5em 0 1.5em 0;
	padding:0.5em 1em;
	border:1px solid #aaa;
	background-color:#EBEDF2;
}
.twikiPageForm table,
.twikiPageForm th,
.twikiPageForm td {
	border:0;
}

/*	-----------------------------------------------------------
	Search results
	styles and overridden styles used in search.pattern.tmpl
	-----------------------------------------------------------	*/
	
.patternSearchResultsPage {}
.patternSearchResults {}

.patternSearchResultsHeader {
	padding:0.25em 10px 0.15em 10px;
	margin:0 -10px 0.25em -10px;
	font-weight:bold;
	background-color:#F3EDE7; /*C8*/
	border-bottom:1px solid #ccc;
	height:1.5em; /* or WIN/IE wont draw the backgound */
}
.patternSearchString {
	margin:1em 0 1.5em 0;
}
.patternSearchResults table {
	width:auto;
	voice-family: "\"}\""; /* hide the following for Explorer 5.x */
	voice-family:inherit;
	width:100%;
}
.patternSearchResults .twikiTopRow {
	padding-top:0.2em;
}
.patternSearchResults .twikiBottomRow {
	padding-bottom:0.25em;
	border-bottom:1px solid #ddd;
}
.patternSearchResults .twikiAlert {
	color:#f00;
	font-weight:bold;
}
.patternSearchResults .twikiSummary .twikiAlert {
	color:#900; /*C5*/
	font-weight:normal;
}
.patternSearchResults .twikiNew {
	background-color:green;
	color:#fff;
	font-size:85%; /*C11*/
	padding:1px;
	font-weight:bold;
}
.patternSearchResultsPage .twikiHelp {
	background-color:#FFC0CB;
	display:block;
	width:auto;
	margin:0.5em 0;
}
.patternSearchResults .twikiSRAuthor {
	width:15%;
	text-align:left;
}
.patternSearchResults .twikiSRRev {
	width:30%;
	text-align:left;
}
.patternSearchResultCount {
	margin:0.25em 0 2.5em 0;
	font-size:95%;
}
.patternViewPage .patternSearchResultsBegin { /* for changes template with noheader="on" */
	height:1px;
	border-bottom:1px solid #ddd;
}

/* Search results in book view format */

.patternBookViewList .patternSearchResultsHeader {
	margin-bottom:1em;
}
.patternBookViewList .twikiTopRow {
	padding:0.2em 10px;
	margin:2.5em -10px 0.15em -10px;
	background-color:#666; /*C4*/
	color:#ccc;
}
.patternBookViewList .twikiTopRow a:link, 
.patternBookViewList .twikiTopRow a:visited {
	color:#fff;
}
.patternBookViewList .twikiTopRow a:hover {
	color:#0054C0; /*C1*/;
}
.patternBookViewList .twikiBottomRow {
	font-size:100%;
	padding:1em 0;
	border-color:#ddd;
}
.patternBookViewList .twikiBottomRow {
	width:auto;
}
.patternBookViewList .patternSearchResultCount {
	color:#666; /*C4*/
}


/*	-----------------------------------------------------------
	View
	styles and overridden styles used in twiki.pattern.tmpl and view.pattern.tmpl
	-----------------------------------------------------------	*/

.patternViewPage .patternMain {
	padding-right:2em;
}
.patternViewPage .twikiAttachments,
.patternViewPage .twikiForm,
.patternPreviewPage .twikiAttachments,
.patternPreviewPage .twikiForm {
	background-color:#f1f1f1;
	padding:2em;
	border-top:1px solid #bbb;
	margin-top:0;
	margin-bottom:0em;
}

/*	-----------------------------------------------------------
	Pages that are not view
	-----------------------------------------------------------	*/

.patternNoViewPage .patternMain {
	padding:2em 3em 2em 3em;
}
.patternNoViewPage h1 {
	font-size:170%; /* as big as h2 in topic */
}
.patternNoViewPage .patternMain {
	border-top:0px;
}

/*	-----------------------------------------------------------
	Edit
	styles and overridden styles used in edit.pattern.tmpl
	-----------------------------------------------------------	*/

.patternEditPage .patternFormHolder { /* constrains the width of the textarea */
	width:auto;
	voice-family: "\"}\""; /* hide the following for Explorer 5.x */
	voice-family:inherit;
	width:100%;
}
.twikiEditTextarea {
	margin:.5em 0 0.25em 0;
}
.twikiChangeFormButtonHolder {
	margin:1em 0;
}
.twikiChangeFormButton {
	padding:0;
	margin:0;
	color:#777;
	background-color:#e8e8e8;
}
.twikiEditForm th {
	background-color:#e8e8e8;
	padding-left:1em;
	vertical-align:middle;
}

.patternEditPage .twikiEditForm input,
.patternEditPage .twikiEditForm select {
	font-size:100%;
}

/*	-----------------------------------------------------------
	Preview
	styles and overridden styles used in preview.pattern.tmpl
	-----------------------------------------------------------	*/
	
.patternPreviewPage .patternMain {
	background-color:transparent;
}
.patternPreviewPage .patternTopic {
	padding-top:1.5em;
}
.patternPreviewPage .patternPreviewArea {
	background-color:#fff;
	border:1px solid #666; /*C4*/
	margin:1em -2em 0 -2em;
	padding:0 2em 1em 2em;
}
.patternPreviewPage .twikiHelp ul {
	margin-top:0;
}
.patternPreviewPage .patternTopic h1 {
	font-size:210%; /* restore original size */
}
	
/*	-----------------------------------------------------------
	Attach
	styles and overridden styles used in attach.pattern.tmpl
	-----------------------------------------------------------	*/

.patternAttachPage .patternVersatileTable table {
	width:auto;
	voice-family: "\"}\""; /* hide the following for Explorer 5.x */
	voice-family:inherit;
	width:100%;	
}
.patternAttachPage .patternVersatileTable th,
.patternAttachPage .patternVersatileTable td {
	padding:10px 1em 10px 1.25em;
}
.patternAttachPage .patternVersatileTable th {
	text-align:left;
	width:12em;
	padding-left:1em;
}
.patternAttachPage .patternVersatileTable td.patternHelpCol {
	width:17em;
}
.patternAttachPage .patternTopicAction {
	margin:0 0 1em 0;
}
.patternAttachPage .twikiHelp {
	margin:2em 0 3em 0;
}
.patternAttachPage .twikiHelp ul {
	padding:0;
	margin:1em 0 0 0;
}
.patternAttachPage .twikiHelp ul li {
	list-style:none;
	line-height:150%;
}
.patternAttachPage .patternPrevious .twikiAttachments table {
	width:auto;
	color:black;
}
.patternAttachPage .patternTopic {
	padding-bottom:0;
}

/*	-----------------------------------------------------------
	ChangeForm
	styles and overridden styles used in attach.pattern.tmpl
	-----------------------------------------------------------	*/

.patternChangeFormPage .patternVersatileTable table {
	width:auto;
}
.patternChangeFormPage .patternVersatileTable th {
	text-align:left;
	padding:0.25em 1em;
}
.patternChangeFormPage .patternVersatileTable td {
	padding:1em;
}
.patternChangeFormPage .patternVersatileTable ul {
	margin:0;
	padding:0;
}
.patternChangeFormPage .patternVersatileTable li {
	list-style:inside;
	margin:0;
	padding:0;
}

/*	-----------------------------------------------------------
	Rename
	styles and overridden styles used in rename.pattern.tmpl
	-----------------------------------------------------------	*/
	
.patternRenamePage .patternVersatileTable {
	margin-bottom:3em;
}
.patternRenamePage .patternVersatileTable table {
	width:auto;
	voice-family: "\"}\""; /* hide the following for Explorer 5.x */
	voice-family:inherit;
	width:100%;	
}
.patternRenamePage .patternVersatileTable th {
	text-align:right;
	padding-left:2em;
}
.patternRenamePage .patternVersatileTable td {
	padding:0.5em 0.5em;
}
.patternRenamePage .patternVersatileTable .patternHelpCol {
	width:22em;
}
.patternRenamePage .patternVersatileTable th.lastRow,
.patternRenamePage .patternVersatileTable td.lastRow {
	border-top:none;
}
.patternRenamePage .twikiHelp {
	margin:1em 0 1em 0;
	padding:0.25em 0 0.5em 0;
}
.patternRenamePage .patternTopicActionSecondary {
	margin:1.5em 0;
}

/*	-----------------------------------------------------------
	Diff
	styles and overridden styles used in rdiff.pattern.tmpl
	-----------------------------------------------------------	*/

.patternDiffPage table {
	width:auto;
}
.patternDiffPage .patternSearchResultsHeader {
	border-bottom:0;
}
.patternDiffPage .patternSearchResults {
	padding-bottom:3em;
}
.patternDiffPage .twikiDiffTable th,
.patternDiffPage .twikiDiffTable td {
	padding:0.1em;
}

/* Deleted */
.patternDiffPage .twikiDiffDeletedHeader {
	background-color:#FF3000;
	color:#fff;
	padding-left:1em;
}
.patternDiffPage .twikiDiffDeletedMarker {
	background-color:#FF3000;
}
.patternDiffPage .twikiDiffDeletedText {
	background-color:#FFEAE5;
}

/* Added */
.patternDiffPage .twikiDiffAddedHeader {
	background-color:#3DB234;
	color:#fff;
	padding-left:1em;
}
.patternDiffPage .twikiDiffAddedMarker {
	background-color:#3DB234;
}
.patternDiffPage .twikiDiffAddedText {
	background-color:#EBF7EA;
}

/* Changed */
.patternDiffPage th.twikiDiffChangedHeader,
.patternDiffPage td.twikiDiffChangedHeader {
	background-color:#98A2B0;
	color:#fff;
	padding-left:1em;
	text-align:center;
}
.patternDiffPage .twikiDiffChangedText {}

/* Unchanged */
.patternDiffPage .twikiDiffUnchangedText {}
.patternDiffPage .twikiDiffUnchangedTextContents { }
.patternDiffPage .twikiDiffLineNumberHeader {
	margin:2em 0;
	background-color:#ddd;
}

/*	-----------------------------------------------------------
	Print
	styles and overridden styles used in print.pattern.tmpl
	-----------------------------------------------------------	*/
	
.patternPrintPage .patternMain {
	border-left:0;
	border-top:0;
	padding-top:2em;
}
.patternPrintPage h2 {
	border-bottom:1px solid #900; /*C5*/
}
.patternPrintPage .twikiAttachments,
.patternPrintPage .twikiForm {
	background-color:#ddd;
}

/*	-----------------------------------------------------------
	Plain
	styles and overridden styles used in plain.pattern.tmpl
	-----------------------------------------------------------	*/
	
.patternPlainPage .patternMain {
	padding-top:2.5em;
	padding-bottom:2em;
}
