
/*	-----------------------------------------------------------
	STYLE
	Appearance:margins, fonts, colors
	-----------------------------------------------------------	*/
	

/*	---------------------------------------------------------------------------------------
	CONSTANTS
	C1	link color	 																#06c
	C2	red hover link background color 											#D6000F 
	C3	link label hover color														#FCF5DF
	C4	beige border color															#E2DCC8
	C5	header color																#a00
	C6	grayed out text																#8E9195
	C7	
	C8	dark gray text																#666
	C9	neutral table bg gray that should work on light and dark backgrounds		#8E9195
	C10	line-height																	1.4em
	C11	small font size																85%
	C12	horizontal bar padding (h2, patternTop)										10px
	C13	light gray background														#eee
	C14 light yellow background of action buttons									#FCF5DF
	C15 somewhat smaller font size													94%
	C16 
	C17 text color																	#000
	C18	neutral gray; hr, borders of table, textarea, input, select					#ccc
	C19	
	C20	
	C21	
	C22	light yellow; attachment, form background									#FEFBF3
	C23	white; attachment, form table background									#fff
	---------------------------------------------------------------------------------------	*/

/*	-----------------------------------------------------------
	General elements
	-----------------------------------------------------------	*/
	
/* HTML elements */
html body {
	line-height:1.4em; /*C10*/
	font-family:"Lucida Grande", verdana, arial, sans-serif;
	background-color:#fff;
	color:#000; /*C17*/
	margin:0;
	padding:0;
	font-size:x-small;
	voice-family:"\"}\""; 
	voice-family:inherit;
	font-size:small;
}
html>body {
	font-size:small;	
}

/* be kind to netscape 4 that doesn't understand inheritance */
body, p, li, ul, ol, dl, dt, dd, acronym, h1, h2, h3, h4, h5, h6 {
	background-color:transparent;
}
p {
	margin:1em 0 0 0;
}
table {
	border-collapse:separate;
}
th {
	line-height:1.15em;
	/* don't define more or you'll override TablePlugin settings */
}
strong, b {
	font-weight:bold;
}
hr {
	color:#ccc; /*C18*/
	background-color:#ccc; /*C18*/
	height:1px;
	border:none;
}
pre, code, tt {
	font-size:100%;
	line-height:1.4em; /*C10*/
	color:#7A4707;
}
/* put overflow pre in a scroll area */
pre {
	overflow-x:auto;
    overflow-y:visible;
    padding-bottom:1.5em;
    width:100%;
}
html>body pre { /* hide from IE */
	padding-bottom:0;
	/*\*/ overflow:auto !important; /* */ overflow:scroll; width:auto; /* for Mac Safari */
}
ol li, ul li {
	line-height:1.4em; /*C10*/
}
	
/* Text */
h1, h2, h3, h4, h5, h6 {
	font-family:"Lucida Grande", arial, verdana, sans-serif;
	line-height:104%;
	padding:0;
	margin:1em 0 .1em 0;
	color:#a00; /*H5*/
}
h1 {
	font-size:200%;
	margin:0 0 .5em 0;
}
h1 a:link,
h1 a:visited {
	color:#a00; /*H5*/
}
.patternNoViewPage h1 {
	font-size:160%;
}
h2 { font-size:135%;}
h3 { font-size:125%;}
h4 { font-size:118%;}
h5 { font-size:110%;}
h6 { font-size:100%;}
.patternTopic h2 {
	display:block;
	font-weight:600;
	border-bottom:1px solid #E2DCC8; /*C4*/
	/* give h2 a background color for easy scanning: */
	background-color:#FBFAF7;
	padding:.2em 5px;
	margin:1em -5px .35em -5px;
	height:auto;
}

/* Links */
/* somehow the twikiNewLink style have to be before the general link styles */
.twikiNewLink a:link sup,
.twikiNewLink a:visited sup {
	vertical-align:baseline;
	font-size:100%;
	background-color:#fff;
	padding:0 2px;
	text-decoration:none;
	color:#666;
	border:1px solid #E2DCC8;
}
.twikiNewLink a:hover sup {
	background-color:#D6000F; /*C2*/
	color:#FCF5DF; /*C3*/
	border-color:#D6000F; /*C2*/
}
.twikiNewLink {
	border-bottom:1px dotted #D6000F;
}
/* to override old Render.pm coded font color style */
.twikiNewLink font {
	color:inherit;
}
:link:focus,
:visited:focus,
:link,
:visited,
:link:active,
:visited:active {
	text-decoration:underline;
	color:#06c; /*C1*/;
	background-color:transparent;
}
:link:hover,
:visited:hover {
	text-decoration:none;
	color:#FCF5DF; /*C3*/
	background-color:#D6000F; /*C2*/
}
:link img,
:visited img,
:link:hover img,
:visited:hover img {
	background-color:transparent;
}
.patternTopic a:visited {
	color:#666; /*C8*/
}
.patternTopic a:hover {
	color:#FCF5DF; /*C3*/
}

.twikiGrayText a:link,
.twikiGrayText a:visited {
	color:#8E9195; /*C6*/
}
.twikiGrayText a:hover {
	color:#FCF5DF; /*C3*/
}
img {
	vertical-align:text-bottom;
}

/* Forms */
form { 
	display:inline;
	margin:0;
	padding:0;
}
textarea,
input,
select {
	font-size:100%;
	vertical-align:middle;
	border-width:1px;
	border-color:#ccc; /*C18*/
	background-color:#FEFBF3; /*C22*/
	padding:1px;
}
textarea {
	font-family:"Lucida Grande", verdana, arial, sans-serif;
}
fieldset {
}
legend {
}
label {
	vertical-align:middle;
}

/*	-----------------------------------------------------------
	TWiki styles
	-----------------------------------------------------------	*/

/* Inline tables */
.twikiTable {
    border-collapse: collapse;
    border:1px solid #ddd;
}
.twikiTable td,
.twikiTable th {
	border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}
.twikiTable th {
    padding:.4em .5em;
}
.twikiTable td {
    padding:.25em .5em;
}
.twikiTable th a:link,
.twikiTable th a:visited,
.twikiTable th a font {
	color:#06c; /*C1*/
}
.twikiTable th a:hover,
.twikiTable th a:hover font {
	color:#FCF5DF; /*C3*/
	background-color:#D6000F; /*C2*/
}

/* sorting of table columns */
/* not yet finalized for tables in topic text */
th.twikiSortedAscendingCol a:link,
th.twikiSortedAscendingCol a:visited {
	border-top:1px solid #8E9195; /*C9*/
}
th.twikiSortedAscendingCol a:hover {
	text-decoration:none;
	border-top:0;
	border-bottom:1px dotted #8E9195; /*C9*/
}
th.twikiSortedDescendingCol a:link,
th.twikiSortedDescendingCol a:visited {
	border-bottom:1px solid #8E9195; /*C9*/
	text-decoration:none;
}
th.twikiSortedDescendingCol a:hover {
	text-decoration:none;
	border-bottom:0;
	border-top:1px dotted #8E9195; /*C9*/
}

/**	----------------------------------
*	Attachments table, form
*	---------------------------------- */

.twikiAttachments,
.twikiForm {
	margin:1em 0;
	font-size:94%; /*C15*/
	color:#666; /*C8*/
}
.patternEditPage .twikiForm {
	color:#000;
}
.patternContent .twikiAttachments,
.patternContent .twikiForm {
	margin:2em 0;
	background-color:#FEFBF3; /*C22*/
	padding:20px;
	border-top:1px solid #E2DCC8; /*C4*/
	border-bottom:1px solid #E2DCC8; /*C4*/
	margin:0 0 -1px 0;
}
.twikiAttachments p { /* fix for extra generated <p> */
	display:none;
}
.twikiAttachments table,
.twikiForm table {
	border-collapse:collapse;
	padding:0px;
	border-spacing:0px;
	empty-cells:show;
	border:0px;
	font-size:94%; /*C15*/
	background-color:#fff; /*C23*/
	border-top:1px solid #ccc; /*C18*/
	border-right:1px solid #ccc; /*C18*/
	border-left:1px solid #ccc; /*C18*/
}
.twikiAttachments table {
	background-color:#fff; /*C23*/
	line-height:1.4em; /*C10*/
	width:auto;
	voice-family: "\"}\""; /* hide the following for Explorer 5.x */
	voice-family:inherit;
	width:100%;
}
.twikiAttachments th,
.twikiForm th,
.twikiAttachments th,
.twikiForm th {
	padding:.2em .6em;
	height:2.5em;
	border-color:#ccc; /*C18*/
	border-left:1px solid #ccc; /*C18*/
	border-bottom:1px solid #ccc; /*C18*/
	background-color:#fff; /*C23*/
	vertical-align:middle;
}
.twikiAttachments th.twikiFirstCol,
.twikiForm th.twikiFirstCol {
	border-left:none;
	width:0px;
}
/* don't show any of those ugly sort icons */
.twikiAttachments th img,
.twikiAttachments th a:link img,
.twikiAttachments th a:visited img {
	display:none;
}
.twikiAttachments td,
.twikiForm td {
	border:0px;
	border-bottom:1px solid #ccc; /*C18*/
	padding:.2em .6em;
	background-color:#fff; /*C23*/
	height:1.4em;
	text-align:left;
	vertical-align:top;
}
.twikiForm th.twikiFirstCol,
.twikiForm td.twikiFirstCol {
	border-left:none;
}
.twikiAttachments th.twikiFirstCol,
.twikiAttachments td.twikiFirstCol {
	border-left:none;
	width:26px;
	text-align:center;
}
.twikiAttachments th a:link,
.twikiAttachments th a:visited,
.twikiForm th a:link,
.twikiForm th a:visited {
	color:#06c; /*C1*/
	border-color:#06c;
	text-decoration:none;
}
.twikiAttachments th font,
.twikiForm th font {
	color:#06c; /*C1*/
}
.twikiAttachments th a:hover,
.twikiForm th a:hover {
	text-decoration:none;
	border-bottom:1px solid #06c;
	background-color:transparent;
}
.twikiAttachments td a:link,
.twikiAttachments td a:visited,
.twikiForm td a:link,
.twikiForm td a:visited {
	font-weight: normal;
}
.twikiAttachments th.twikiSortedAscendingCol,
.twikiAttachments th.twikiSortedDescendingCol {
	background-color:#f0f0f0;
}
.twikiAttachments th.twikiSortedAscendingCol a:link,
.twikiAttachments th.twikiSortedAscendingCol a:visited,
.twikiAttachments th.twikiSortedDescendingCol a:link,
.twikiAttachments th.twikiSortedDescendingCol a:visited {
	color:#06c;
}
.twikiAttachments th.twikiSortedAscendingCol a:hover,
.twikiAttachments th.twikiSortedDescendingCol a:hover {
	background-color:transparent;
}
.twikiForm table table,
.twikiForm table table th,
.twikiForm table table td {
	border:none;
}

/**	----------------------------------
*	TOC
*	---------------------------------- */

.twikiToc {
	margin:1em 0;
	padding:.3em 0 .6em 0;
}
.twikiToc ul {
	list-style:outside;
	padding:0 0 0 .5em;
	margin:0;
	/* list style image ref in twiki.pattern.tmpl */
	/*list-style-image:url(/twiki/pub/TWiki/PatternSkin/i_arrow_down.gif);*/
}
.twikiToc li {
	margin-left:1em;
}
.twikiToc .twikiTocTitle {
	margin:0;
	padding:0;
	font-weight:bold;
	color:#666; /*C8*/
}

.twikiBroadcastMessage b,
.twikiBroadcastMessage strong {
	color:#f00;
}
.twikiAlert {
	color:#f00;
}
.twikiGrayText {
	color:#8E9195; /*C6*/
}
.twikiSmall {
	font-size:85%; /*C11*/
}
.twikiNew { }
.twikiSummary {
	font-size:85%; /*C11*/
}
.twikiEmulatedLink {
	color:#06c; /*C1*/
	text-decoration:underline;
}
.twikiPageForm table {
	width:100%;
	border:1px solid #ddd;
	background:#fff;
	margin:0 0 2em 0;
}
.twikiPageForm th,
.twikiPageForm td {
	border:0;
	padding:.15em;
}
.twikiPageForm th {
	color:#8E9195; /*C6*/
}
.twikiPageForm td {}
.twikiPageForm th.last,
.twikiPageForm td.last {
	border-bottom:0;
}
.twikiPageForm td.first {
	padding-top:1em;
	background:#e6e6e6;
}
.twikiPageForm hr {
	border-color:#e6e6e6;
	background-color:#e6e6e6;
	color:#e6e6e6;
}
.twikiButton, 
.twikiSubmit {
	border-width:1px;
	vertical-align:middle;
}
.twikiButton {
	border-color:#ccc; /*C18*/
	background-color:#e6e6e6;
}
.twikiSubmit {
	border-color:#88B6CF;
	background-color:#CADDED;
}
.twikiCheckbox,
.twikiRadioButton {
	border:none;
	background-color:transparent;
	vertical-align:middle;
}
.twikiHelp {
	background-color:#E9F2F9;
	padding:1em;
	margin:.5em 0 1em 0;
	border-top:1px solid #DAEAF5;
	border-bottom:1px solid #DAEAF5;
}
.twikiHelp ul,
.twikiHelp li {
	margin-top:0;
	margin-bottom:0;
}
.twikiAccessKey {
	text-decoration:none;
	border-bottom:1px solid #8E9195; /*C6*/
}
a:hover .twikiAccessKey {
	text-decoration:none;
	border:none;
	color:inherit;
}
.twikiTwistPlaceholder {
	color:#8E9195; /*C6*/
}

/*	-----------------------------------------------------------
	Other styles
	-----------------------------------------------------------	*/

.patternSeparator {
	font-family:monospace;
}
.twikiAccessKey {
	color:inherit;
	text-decoration:none;
	border-bottom:1px solid #8E9195; /*C6*/
}
a:link .twikiAccessKey {
	color:inherit;
}
a:hover .twikiAccessKey {
	text-decoration:none;
	border-bottom:none;
}

.patternTopicAction {
	font-size:94%; /*C15*/
	line-height:1.5em;
	color:#666; /*C8*/
	margin:0 0 3em 0;
	background-color:#FBF7E8;
	padding:.5em 2em;
	border-top:1px solid #E2DCC8; /*C4*/
	border-bottom:1px solid #E2DCC8; /*C4*/
}
.patternTopicAction .twikiSeparator {
	color:#aaa;
}
.patternActionButtons a:link,
.patternActionButtons a:visited {
	text-decoration:none;
	padding:1px 1px 2px 1px;
	color:#D6000F; /*C2*/
}
.patternActionButtons a:hover {
	color:#FCF5DF; /*C3*/
}
.patternTopicAction .twikiAccessKey {
	border-color:#C75305;
}

.patternTopicAction label {
	color:#000; /*C17*/
}
.patternTopicAction .patternSaveOptions {
	margin-bottom:.5em;
}
.patternTopicAction .patternSaveOptions .patternSaveOptionsContents {
	padding:.2em 0;
}
.patternMoved {
	font-size:94%; /*C15*/
	margin-bottom:1em;
}
.patternHelpCol {
	color:#8E9195; /*C6*/
}

/*	-----------------------------------------------------------
	Pattern skin specific elements
	-----------------------------------------------------------	*/
.patternWebIndicator {
	background-color:#aaa;
}
.patternPage {}
.patternMiddleContainer {}
.patternMain {
	padding:0 1.5em 1em 2em;
	background-color:#fff;
	border-width:1px;
	border-style:solid;
	border-color:#E2DCC8 #E2DCC8 #E2DCC8 #E2DCC8; /*C4*/
}
.patternNoViewPage .patternMain {
	padding-top:2em;
	padding-bottom:2em;
}

/* Top bar */

.patternTopBar {
	background-color:transparent;
}
.patternTopBarContents {
	margin:0;
	padding:5px 2em 5px 1em; /* right padding same as .patternViewPage .patternMain */
}
.patternTopBarContents .patternSearchBox td {
	height:50px;
	vertical-align:middle;
	color:#8E9195; /*C6*/
	font-size:94%; /*C15*/
}

/* Left bar */
.patternLeftBar {
	border-right:1px solid #E2DCC8; /*C4*/
	border-bottom:1px solid #E2DCC8; /*C4*/
	color:#555;
	overflow:hidden;
	background-color:transparent;
}
.patternLeftBar hr {
	color:#E2DCC8; /*C4*/
	background-color:#E2DCC8; /*C4*/
}
.patternLeftBar a:link,
.patternLeftBar a:visited {
	color:#7A4707;
	text-decoration:none;
}
.patternLeftBar a:hover {
	color:#fff;
}
.patternLeftBar b,
.patternLeftBar strong {
	color:#333;
}
.patternLeftBar ul {
	padding:0;
	margin:0;
	list-style:none;
}
.patternLeftBar li {
	padding-left:0;
}
.patternLeftBar .patternLeftBarContents {
	font-size:94%; /*C15*/
	font-weight:normal;
	margin:0;
	padding:0 0 1.7em 1em;
	width:auto;
}
.patternLeftBar .patternLanguageOption {
	border-top:1px solid #E2DCC8; /*C4*/
	padding:.25em 0 .25em 1em;
	font-size:94%; /*C15*/
}
.patternLeftBarPersonal {
	margin:-1px -1px -.5em -1em;
	padding:.25em 0 .25em 1em;
	background-color:transparent;
	border-top:1px solid #DAEAF5;
	border-bottom:1px solid #DAEAF5;
}
.patternLeftBarPersonal a:link,
.patternLeftBarPersonal a:visited {
	color:#06c; /*C1*/;
}
.patternLeftBarPersonal a:hover {
	text-decoration:none;
	color:#FCF5DF; /*C3*/
	background-color:#D6000F; /*C2*/
}

/* Bottom bar */
.patternBottomBar {
	padding-bottom:1em;
}
.patternBottomBarContents {
	padding:.5em 2.5em 1.5em .25em;
	font-size:94%; /*C15*/
	color:#8E9195;	/*C6*/
}

/* table used in various places */
.patternVersatileTable table {
	width:auto;
	padding:0px;
	border-spacing:0px;
	border-collapse:collapse;
	empty-cells:show;
	border:1px solid #ccc;
	margin:1em 0;
	font-size:94%; /*C15*/
}
.patternVersatileTable th,
.patternVersatileTable td {
	vertical-align:middle;
	border:0px;
	border-top:1px solid #ccc; /*C18*/
	padding:10px 1em 10px 1.25em;
}
.patternVersatileTable td {
	background-color:#fff;
}
.patternVersatileTable th {
	background-color:#eee; /*C13*/
}
.patternVersatileTable td.patternMainCol {
	background-color:#E6F5D3;
}
.patternVersatileTable th.patternMainCol {
	background-color:#E6F5D3;
}
.patternVersatileTable th.patternOldCol,
.patternVersatileTable td.patternOldCol {
	background-color:#fff;
	color:#000;
}
.patternVersatileTable input {
	background-color:#fff;
}
.patternVersatileTable input.twikiCheckbox {
	background-color:transparent;
}


/* Topic text */
.patternTopic {
	padding:0 0 1.5em 0;
}

.patternTop {
	font-size:94%; /*C15*/
	color:#8E9195; /*C6*/
}
.patternTop table {
	border:none;
	width:100%;
}
.patternTop td {
	vertical-align:middle;
}
.patternTop .patternHomePath,
.patternTop .patternRevInfo {
	padding:.25em .5em .25em 0;
	color:#8E9195; /*C6*/
	line-height:1.25em;
}
.patternTop .patternHomePath {
	color:#000; /*C17*/
	text-align:left;
	width:auto;
}
.patternTop .patternRevInfo {
	color:#8E9195; /*C6*/
	float:right;
	text-align:right;
}
.patternTop .patternRevInfo a:link,
.patternTop .patternRevInfo a:visited {
	color:#8E9195; /*C6*/
}
.patternTop .patternRevInfo a:hover {
	color:#FCF5DF; /*C3*/
}
/* Button tool bar */
.patternToolBar {
	padding:.25em .5em 0 .5em;
	line-height:100%;
}
td.patternToolBar {
	vertical-align:bottom;
}
.patternToolBar a:link,
.patternToolBar a:visited {
	text-decoration:none;
}
.patternToolBarButtons {
	float:right;
}
.patternToolBarButtons .twikiSeparator {
	display:none;
}
.patternToolBar .patternButton {
	float:left;
}
.patternToolBar .patternButton s,
.patternToolBar .patternButton strike,
.patternToolBar .patternButton a:link,
.patternToolBar .patternButton a:visited {
	display:block;
	margin:0 0 -1px 4px;
	border:1px solid #E2DCC8; /*C4*/
	background-color:#fff;
	position:relative;
	z-index:0;
	padding:.35em .6em;
}
.patternToolBar .patternButton a:link,
.patternToolBar .patternButton a:visited {
	color:#666; /*C8*/
	text-decoration:none;
}
.patternToolBar .patternButton s,
.patternToolBar .patternButton strike {
	color:#ccc; /*C18*/
	border-color:#e0e0e0;
	background-color:#fff;
	text-decoration:none;
}
.patternToolBar .patternButton a:hover {
	background-color:#D6000F; /*C2*/
	color:#fff;
	text-decoration:none;
	border-color:#D6000F; /*C2*/
	z-index:3;
}
.patternToolBarBottom {
	position:relative;
	border-top:1px solid #E2DCC8; /*C4*/
	margin:0 0 .5em 0;
	z-index:2;
}
.patternToolBar a:link .twikiAccessKey,
.patternToolBar a:visited .twikiAccessKey {
	color:inherit;
	border-color:#666; /*C8*/
}
.patternToolBar a:hover .twikiAccessKey {
	background-color:transparent;
	color:inherit;
}

/* Edit page */

.twikiChangeFormButtonHolder {
	margin:1em 0;
	float:right;
}
.patternFormHolder { /* constrains the textarea */
	width:100%;
}
.patternEditPage textarea#topic {
	background-color:#fff;
}
.twikiChangeFormButton {
	font-family:"Lucida Grande", verdana, arial, sans-serif;
	padding:0;
	margin:0;
	color:#06c; /*C1*/
	font-size:94%; /*C15*/
	background-color:transparent;
	border:none;
	text-decoration:underline;
}
.patternSig {
	margin-top:.25em;
}
.patternSig input {
	color:#8E9195; /*C6*/
	background-color:#fff;
}
.patternAccessKeyInfo {
	margin-top:1em;
	color:#666; /*C8*/
	background-color:#ECF2F9;
	padding:.25em .5em;
	border-top:1px solid #B5D5EC;
	border-bottom:1px solid #B5D5EC;
}
.patternAccessKeyInfo a:link,
.patternAccessKeyInfo a:visited {
	color:06c; /*C1*/
	text-decoration:underline;
}

/* Preview page */

.patternPreviewArea {
	background-color:#fff;
	border:1px solid #f00;
	margin:0em -.5em 2em -.5em;
	padding:.5em;
}

/* Attach page */

.patternAttachPage .patternVersatileTable table {
	margin-bottom:0;
	width:auto;
	voice-family: "\"}\""; /* hide the following for Explorer 5.x */
	voice-family:inherit;
	width:100%;	
}
.patternAttachPage .patternVersatileTable th {
	text-align:right;
}
.patternPrevious {
	margin:1em 0;
}
#moveattachment {
	font-size:94%; /*C15*/
}
.patternPrevious table {
	width:auto;
}

/* Rename page */

.patternRenamePage .patternVersatileTable th {
	text-align:right;
	width:10%;
}

/* WebSearchAdvanced */
table#twikiSearchTable {background:none;} 
table#twikiSearchTable th,
table#twikiSearchTable td {padding:.5em; background-color:white;}
table#twikiSearchTable th {width:15%; text-align:left; color:#8E9195; /*C6*/}
table#twikiSearchTable td {width:85%;}
table#twikiSearchTable td.first {padding-top:1em; background-color:#e6e6e6;}

/*	-----------------------------------------------------------
	Search results
	styles and overridden styles used in search.pattern.tmpl
	-----------------------------------------------------------	*/
	
.patternSearchResultsPage {}
.patternSearchResults {}

.patternSearchResultsHeader {
	padding:.25em 10px .15em 10px;
	margin:0 -10px .25em -10px;
	font-weight:bold;
	background-color:#FEFBF3; /*C22*/
	border-bottom:1px solid #ccc; /*C18*/
	height:1.5em; /* or WIN/IE wont draw the backgound */
}
.patternSearchString {
	margin:1em 0 1.5em 0;
}
.patternSearchResults table {
	width:auto;
	voice-family: "\"}\""; /* hide the following for Explorer 5.x */
	voice-family:inherit;
	width:100%;
}
.patternSearchResults .twikiTopRow {
	padding-top:.2em;
}
.patternSearchResults .twikiBottomRow {
	padding-bottom:.25em;
	border-bottom:1px solid #ddd;
}
.patternSearchResults .twikiAlert {
	color:#f00;
	font-weight:bold;
}
.patternSearchResults .twikiSummary .twikiAlert {
	color:#900; /*C5*/
	font-weight:normal;
}
.patternSearchResults .twikiNew {
	background-color:#E6F5D3;
	border:1px solid #049804;
	color:#049804;
	font-size:85%; /*C11*/
	padding:0 1px;
	font-weight:bold;
}
.patternSearchResultsPage .twikiHelp {
	display:block;
	width:auto;
	margin:.25em 0;
}
.patternSearchResults .twikiSRAuthor {
	width:15%;
	text-align:left;
}
.patternSearchResults .twikiSRRev {
	width:30%;
	text-align:left;
}
.patternSearchResultCount {
	margin:.25em 0 1.5em 0;
	font-size:94%; /*C15*/
}
.patternViewPage .patternSearchResultsBegin { /* for changes template with noheader="on" */
	height:1px;
	border-bottom:1px solid #ddd;
}

/* Search results in book view format */

.patternBookViewList .patternSearchResultsHeader {
	margin-bottom:1em;
}
.patternBookViewList .twikiTopRow {
	padding:.2em 10px;
	margin:2.5em -10px .15em -10px;
	background-color:#8E9195; /*C6*/
	color:#ccc; /*C18*/
}
.patternBookViewList .twikiTopRow a:link, 
.patternBookViewList .twikiTopRow a:visited {
	color:#fff;
}
.patternBookViewList .twikiTopRow a:hover {
	color:#06c; /*C1*/;
}
.patternBookViewList .twikiBottomRow {
	font-size:100%;
	padding:1em 0;
	border-color:#ddd;
}
.patternBookViewList .twikiBottomRow {
	width:auto;
}
.patternBookViewList .patternSearchResultCount {
	color:#8E9195; /*C6*/
}

/* Print */

.patternPrintPage {
	/*font-size: 12pt;*/
}
.patternPrintPage .patternMain {
	padding:1em 2em 0 2em;
	border-width:1px;
	border-color:#fff #ddd #ddd #ddd;
}
.patternPrintPage .patternBottomBarContents {
	padding-left:1em;
}
.patternPrintPage .patternTopicFooter {
	margin:2em 0 2em 0;
	font-size:94%;
}
.patternPrintPage .patternContent .twikiAttachments,
.patternPrintPage .patternContent .twikiForm {
	background:#fff;
}

