/* ImagePlugin css styles */
.imageFrame,
.imageFloat {
  font-size: 94%;
  overflow: hidden;
}
.imageFrame {
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.imageFrame .imageHref {
  border: 1px solid #ccc;
  display:block;
  overflow: hidden;
}
.imageSimple {
  overflow:auto;
}
.imageFloat_right {
  clear:both;
  float:right;
  margin:10px 0 10px 10px;
}
.imageFloat_left {
  clear:both;
  float:left;
  margin:10px 10px 10px 0px;
}
.imageFloat_center {
  text-align:center;
  margin:10px auto;
  clear:both;
}
.imageFloat_none {
  margin:10px;
}
.imageCaption {
  text-align: left;
  line-height: 1.4em;
  padding: .3em 0 .1em 0;
}
.imageMagnify {
  float:right;
}
.imageMagnify image {
  border:0px;
  margin:0 1px;
}

/* debug 
.imageFloat, .imageFrame, .imageFloat_left, .imageFloat_right, .imageFloat_center,
.imageFloat_none, .imageLink, .imageCaption, .imageMagnify, .imagePlain
.imageFloat image, .imageMagnify image, .imageClear
{
  border:1px solid red;
}
*/
