%TMPL:INCLUDE{"formplugin"}%

%{ this is the default header for FormPlugin, using the TWiki Javascript and CSS files }%

%TMPL:DEF{formplugin:header}%<style type="text/css" media="all">
@import url("%PUBURL%/%SYSTEMWEB%/FormPlugin/formplugin.css");
</style>
%TMPL:END%
