<style type="text/css" media="all">
	.twikiNewLink {
		color:%NEWTOPICFONTCOLOR%;
		background-color:%NEWTOPICBGCOLOR%;
	}
	.twikiTable {
		border-collapse:collapse;
	}
	.twikiTable td,
	.twikiTable th {
		border:thin solid black;
		margin:0px;
	}
	/* to hide Twisty elements: */
	.twistyHidden { display:none; }
	.twistyMakeVisible { display:none; }
</style>