From: %WIKIWEBMASTERNAME% <%WIKIWEBMASTER%>
To: %FIRSTLASTNAME% <%EMAILADDRESS%>
Subject: %_{"TWiki password reset for [_1]", "%WIKINAME%"}%

%_{"Dear [_1]", "%WIKINAME%"}%

%INTRODUCTION%

%_{"Login name [_1]", "\"%LOGINNAME%\""}%
%_{"Your password has been changed to [_1].", "\"%PASSWORD%\""}% 

%_{"Please visit [_1] to change your password to something more memorable for you.", "%SCRIPTURL{"view"}%/%TWIKIWEB%/ChangePassword?username=%LOGINNAME%;oldpassword=%PASSWORD%"}%

%_{"If you have any questions, please contact [_1].", "%WIKIWEBMASTER%"}%
