%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}% %TMPL:END%
%TMPL:DEF{"webaction"}%%TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Attention"}%%TMPL:END%
%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:DEF{"remove_user_done"}%
---+++ %MAKETEXT{"User Account [_1] Deleted", "%PARAM1%"}%
%MAKETEXT{"Your user name has been removed from the Authentication System."}%

%MAKETEXT{"Your user topic has not been renamed. Please email [_1] to request this.", "<a href='mailto:%WIKIWEBMASTER%?subject=%WIKITOOLNAME%&#32;Delete&#32;User&amp;body=%PARAM1%'>%WIKIWEBMASTER%</a>"}%
%TMPL:END%
%TMPL:DEF{"created_web"}%
---+++ %MAKETEXT{"The new web has been created"}%
%MAKETEXT{"And populated with topics from the base web"}%

%MAKETEXT{"Would you like to go to:"}%
	* %MAKETEXT{"[_1] to start working on the new web", "%HOMETOPIC%"}%
	* %MAKETEXT{"[_1] to customize the web specific preferences", "%WEBPREFSTOPIC%"}%
	* %MAKETEXT{"[_1] to create another web", "%TWIKIWEB%.ManagingWebs"}%
	* %MAKETEXT{"[_1] home", "[[%MAINWEB%.%HOMETOPIC%][%WIKITOOLNAME%]]"}%
%TMPL:END%
%TMPL:DEF{"merge_notice"}%
---+++ %MAKETEXT{"Topic was merged"}%
%MAKETEXT{"Rev [_1] was saved by [_2], while you were still editing.", "%PARAM1%", "%PARAM2%"}%

%MAKETEXT{"Those changes have been merged with yours to create Rev [_1]. Text fields will have been merged, but other data such as form fields may have overwritten the other users changes. Please inspect the topic to make sure it is OK, especially if you made any changes to form fields.", "%PARAM3%"}%

%MAKETEXT{"You can see the differences ~[~[[_1]~]~[here~]~].", "%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPIC%?rev1=%PARAM1%;rev2=%PARAM3%"}%
%TMPL:END%
%TMPL:DEF{"missing_action"}%
---+++ %MAKETEXT{"Missing action command"}%
%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%TMPL:DEF{"unrecognized_action"}%
---+++ %MAKETEXT{"Unrecognized action command [_1]", "%PARAM1%"}%
%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%TMPL:DEF{"notwikiuser"}%
---+++ %MAKETEXT{"Can't find user [_1]", "%PARAM1%"}%
%MAKETEXT{"Please make sure you spelled the [_1] correctly and try again. If you get stuck, please mail [_2].", "%TWIKIWEB%.LoginName", "%WIKIWEBMASTER%"}%

%MAKETEXT{"See [_1] for a list of existing users or register as new user in [_2].", "%MAINWEB%.TWikiUsers", "%TWIKIWEB%.TWikiRegistration"}% %TMPL:END%
%TMPL:DEF{"in_a_group"}%
---+++ %MAKETEXT{"[_1] is in at least one group and cannot be removed", "%PARAM1%"}%

%MAKETEXT{"Remove the user from the group(s) [_1] first.", "%PARAM2%"}%
%TMPL:END%
%TMPL:DEF{"move_err"}%
---+++ %MAKETEXT{"Attachment move failed"}%
%MAKETEXT{"During move of attachment [_1] to [_2] an error was found. Please notify your [_3] administrator.", "%PARAM3%", "<nop>%PARAM1%.<nop>%PARAM2%", "<nop>%WIKITOOLNAME%"}%

%PARAM4%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%TMPL:DEF{"delete_err"}%
---+++ %MAKETEXT{"Attachment delete failed"}%
%MAKETEXT{"During deletion of attachment =[_1]= an error was found. Please notify your [_2] administrator.", "%URLPARAM{attachment}%", "<nop>%WIKITOOLNAME%"}%

%PARAM4%
%TMPL:END%
%TMPL:DEF{"topic_exists"}%
---+++ %MAKETEXT{"The [_1] topic already exists", "\"%TOPIC%\""}%
%MAKETEXT{"Cannot create [_1] because it already exists.", "%TOPIC%"}%

%MAKETEXT{"Please go _back_ in your browser and try a new name."}%
%TMPL:END%
%TMPL:DEF{"rename_topic_exists"}%
---+++ %MAKETEXT{"Rename failed"}%
%MAKETEXT{"Cannot rename [_1] to [_2] because it already exists.", "%TOPIC%", "<nop>%PARAM1%.<nop>%PARAM2%"}%

%MAKETEXT{"Please go _back_ in your browser and try a new name."}%
%TMPL:END%
%TMPL:DEF{"rename_web_exists"}%
---+++ %MAKETEXT{"Rename failed"}%
%MAKETEXT{"Cannot rename [_1] to [_2] because it already exists." , "%WEB%", "<nop>%PARAM1%"}%

%MAKETEXT{"Please go _back_ in your browser and try a new name."}%
%TMPL:END%

%TMPL:DEF{"rename_not_wikiword"}%
---+++ %MAKETEXT{"New topic name [_1] is not a [_2]", "\"<nop>%PARAM1%\"", "%TWIKIWEB%.WikiWord"}%
%MAKETEXT{"Please go back in your browser and chose a topic name that is a %TWIKIWEB%.WikiWord or check the allow non-Wiki Word box"}%
%TMPL:END%
%TMPL:DEF{"rename_err"}%
%MAKETEXT{"During rename of topic [_1] to [_2] an error ([_3]) was found. Please notify your [_4] administrator.", "<nop>%WEB%.<nop>%TOPIC%", "<nop>%PARAM2%", "%PARAM1%", "%WIKITOOLNAME%"}%
%TMPL:END%
%TMPL:DEF{"rename_web_err"}%
%MAKETEXT{"During rename of web [_1] to [_2] an error ([_3]) was found. Please notify your [_4] administrator.", "<nop>%WEB%", "<nop>%PARAM2%", "%PARAM1%", "%WIKITOOLNAME%"}%
%TMPL:END%
%TMPL:DEF{"wrong_password"}%
---+++ %MAKETEXT{"Incorrect Password"}%
%MAKETEXT{"The password you entered in the *old password* field is incorrect."}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%TMPL:DEF{"web_missing"}%
---+++ %MAKETEXT{"Name of new web is missing"}%
%MAKETEXT{"Please go back in your browser and try again."}% %TMPL:END%
%TMPL:DEF{"invalid_web_name"}%
---+++ %MAKETEXT{"[_1] is an invalid name for a new web", "\"%PARAM1%\""}%
%MAKETEXT{"You are recommended to choose short names, preferably less than 10 characters, starting with an upper-case alphabetic character and using only alphanumeric characters. If you want to create a template web (a web just used as a base to create new webs) choose a name that starts with an underscore and has only alphanumeric characters."}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%TMPL:DEF{"web_exists"}%
---+++ %MAKETEXT{"Cannot create web [_1] because it already exists", "\"%PARAM1%\""}%
%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%TMPL:DEF{"base_web_missing"}%
---+++ %MAKETEXT{"Base web [_1] is missing or does not exist", "%PARAM1%"}%
%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%TMPL:DEF{"invalid_web_color"}%
---+++ %MAKETEXT{"Color [_1] has an invalid format", "=%PARAM1%="}%
%MAKETEXT{"A color starts with a # sign, followed by 6 hexadecimal numbers, e.g. =#FFFF00=."}%

%MAKETEXT{"Pick one of the [_1].", "%TWIKIWEB%.StandardColors"}%

%MAKETEXT{"You can also use the names of the standard HTML colors (black, silver, gray, white, maroon, red, purple, fuchsia, green, lime, olive, yellow, navy, blue, teal, or aqua)"}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%TMPL:DEF{"web_creation_error"}%
---+++ %MAKETEXT{"Could not create the new web [_1]", "%PARAM1%"}%
%PARAM2%
%TMPL:END%
%TMPL:DEF{"thanks"}%
---+++ %MAKETEXT{"Thank you for registering"}%
   * %MAKETEXT{"You can review your changes in your personal TWiki topic [_1]", "%TOPIC%"}% <br />
     %MAKETEXT{"(__Suggestion:__ How about uploading your picture to your topic?)"}%
   * %MAKETEXT{"You are also listed in the [_1] topic", "%MAINWEB%.%WIKIUSERSTOPIC%"}%
   * %MAKETEXT{"A confirmation e-mail has been sent to [_1]", "%PARAM1%"}%
%TMPL:END%
%TMPL:DEF{"reset_ok"}%
%PARAM1%

%MAKETEXT{"Users with automatically generated passwords should proceed immediately to ~[~[[_1]~]~[change password~]~] to change their password to something memorable.", "%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/ChangePassword"}%
%TMPL:END%
%TMPL:DEF{"password_changed"}%
---+++ %MAKETEXT{"Password changed successfully!"}%

%MAKETEXT{"You need to close your browser to make this change take effect."}%
%TMPL:END%
%TMPL:DEF{"confirm"}%
---+++ %MAKETEXT{"Thank you for registering"}%

%MAKETEXT{"Your activation code has been sent to [_1].  Either click on the link in your email or enter the code in the box below to activate your membership. (This code is of the form \"YourName.xxxx\")", "%PARAM1%"}%

<form action="%SCRIPTURLPATH{"register"}%" method=get>
<input type="hidden" name="action" value="verify" size="20" />
<input type="text" name="code" size="20" />
<input type="submit" value=' %MAKETEXT{"Submit"}% ' />
</form>

%TMPL:END%
%TMPL:DEF{"no_users_to_reset"}%
---+++ %MAKETEXT{"Password reset failed"}%
%MAKETEXT{"No users to reset passwords for."}%
%TMPL:END%
%TMPL:DEF{"reset_bad"}%
---+++ %MAKETEXT{"Password reset failed"}%
%PARAM1%
%TMPL:END%
%TMPL:DEF{"missing_fields"}%
---+++ %MAKETEXT{"Missing Fields"}%
=<font color="red">**</font>= %PARAM1% %MAKETEXT{"fields are required."}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%TMPL:DEF{"password_mismatch"}%
---+++ %MAKETEXT{"Passwords do not match"}%
%MAKETEXT{"The two passwords you entered do not match."}%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%TMPL:DEF{"problem_adding"}%
---+++ %MAKETEXT{"Error registering user [_1]", "%PARAM1%"}%

%MAKETEXT{"There has been a problem adding your user id to the Password system. Please contact [_1].", "%WIKIWEBMASTER%"}%
%TMPL:END%
%TMPL:DEF{"send_mail_error"}%
---+++ Mail Error
%MAKETEXT{"An e-mail could not be delivered. Please notify your [_1] administrator, [_2]", "%WIKITOOLNAME%", "<a href='mailto:%WIKIWEBMASTER%?subject=%WIKITOOLNAME%&#32;Send%20Mail%20Error'>%WIKIWEBMASTER%</a>"}%

=%PARAM1%=
%TMPL:END%
%TMPL:DEF{"already_exists"}%
---+++ %MAKETEXT{"You are already registered"}%
%MAKETEXT{"You cannot register twice, the name [_1] is already registered.", "'%PARAM1%'"}%

%MAKETEXT{"Did you want to ~[~[[_1]~]~[reset [_2]'s password~]~]?", "%SCRIPTURLPATH{"view"}%/TWiki.ResetPassword?username=%PARAM1%", "%PARAM1%"}%

%MAKETEXT{"Alternatively hit back to go back to TWiki.TWikiRegistration and choose a different username."}%

%MAKETEXT{"Please contact [_1] if you have any questions.", "<a href='mailto:%WIKIWEBMASTER%?subject=%WIKITOOLNAME%&#32;Registration&#32;Question'>%WIKIWEBMASTER%</a>"}%
%TMPL:END%
%TMPL:DEF{"bad_wikiname"}%
---+++ %MAKETEXT{"Incorrect [_1]", "%TWIKIWEB%.WikiName"}%
%MAKETEXT{"The [_1] field must be your first and lastname in [_2], e.g. your capitalized first and lastname with spaces removed.", "%TWIKIWEB%.WikiName", "%TWIKIWEB%.WikiNotation"}%

| *%MAKETEXT{"Good examples:"}%* | *%MAKETEXT{"Incorrect [_1]":, "%TWIKIWEB%.WikiNames"}%* |
| =JohnSmith= | =John M. Smith= |
| =RjMiller= | =RJ Miller= |
| =RickO= | =Rick O= %MAKETEXT{"(single character last name)"}% |
| =KellerF= | =FKeller= %MAKETEXT{"(single character first name)"}% |

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%TMPL:DEF{"bad_email"}%
---+++ %MAKETEXT{"Invalid email address"}%
%MAKETEXT{"The email address for this account is not valid."}%

%PARAM1%

%MAKETEXT{"Please go back in your browser and try again."}%
%TMPL:END%
%TMPL:DEF{"bad_ver_code"}%
---+++ %MAKETEXT{"Invalid Activation Code"}%
%MAKETEXT{"The activation code [_1] is invalid.", "==%PARAM1%=="}% %PARAM2%

%MAKETEXT{"Please try again."}%

<form action="%SCRIPTURLPATH{"register"}%" method=get>
<input type="hidden" name="action" value="verify" size="20" />
<input type="text" name="code" size="20" />
<input type="submit" value=' %MAKETEXT{"Submit"}% ' />
</form>

%MAKETEXT{"Please contact [_1] if you have any questions.", "<a href='mailto:%WIKIWEBMASTER%'>%WIKIWEBMASTER%</a>"}%
%TMPL:END%
%TMPL:DEF{"no_email_for"}%
---+++ %MAKETEXT{"Can't get an email address for [_1]", "%PARAM1%"}%
%MAKETEXT{"An email address is required before a password can be reset."}%
%TMPL:END%
%TMPL:DEF{"mandatory_field"}%
---+++ %MAKETEXT{"Topic Save Error"}%
%MAKETEXT{"Could not save [_1].", "%WEB%.%TOPIC%"}%

%MAKETEXT{"The required field [_1] was not filled in.", "*%PARAM1%*"}%

%MAKETEXT{"Go back in your browser and insert information for all mandatory fields."}%
%TMPL:END%
%TMPL:DEF{"no_form_def"}%
---+++ %MAKETEXT{"Form Definition [_1] missing", "%PARAM1%.<nop>%PARAM2%"}%
%MAKETEXT{"See [_1] for information about Form Definitions.", "%TWIKIWEB%.TWikiForms"}%

%MAKETEXT{"This could be for several reasons:"}%

---++ 1. %MAKETEXT{"Form definition missing"}%

   * %MAKETEXT{"The form should be defined in the topic [_1]", "%PARAM1%.%PARAM2%"}%
   * %MAKETEXT{"If this topic is missing create it, otherwise check it for errors."}%

---++ 2. %MAKETEXT{"The topic is in an old format"}%

   * %MAKETEXT{"Click on ~[~[[_1]~]~[Debug topic text~]~].", "%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?raw=debug"}%
      * %MAKETEXT{"There should be a line that includes [_1], look for [_2] (or [_3])", "=META:FORM=", "name=\"%PARAM1%.%PARAM2%\"", "name=\"%PARAM2%\""}%
      * %MAKETEXT{"If this line isn't present see _upgrade_ section below"}%

---++ 3.%MAKETEXT{"Topic can not be upgraded from old style category table"}%

%MAKETEXT{"This requires the form definition to be present."}%

%MAKETEXT{"This can be automatically upgraded by:"}%

   * %MAKETEXT{"Creating a suitable Form Definition topic"}%
   * %MAKETEXT{"Adding a [_1] variable in WebPreferences", "=WEBFORMS="}%

%MAKETEXT{"You will probably have to ask your administrator, [_1], to do this.", "%WIKIWEBMASTER%"}%
%TMPL:END%
%TMPL:DEF{"illegally_named_upload"}%
---+++ %MAKETEXT{"Filename [_1] is not legal for a TWiki attachment.", "<code>%PARAM1%</code>"}%
%MAKETEXT{"Certain characters are not permitted in filenames, and other filenames are not permitted for security reasons. Your filename matched one of the following regular expressions, so it was rejected:"}%
   {UploadFilter}: <code>%PARAM2%</code>
   {NameFilter}: <code>%PARAM3%</code>
%MAKETEXT{"Rename the file on your local machine and try uploading again."}%
%TMPL:END%
%TMPL:DEF{"zero_size_upload"}%
---+++ %MAKETEXT{"Uploaded file [_1] does not exist or is empty", "<code>%PARAM1%</code>"}%
%MAKETEXT{"Please go back in your browser and check again."}%
%TMPL:END%
%TMPL:DEF{"oversized_upload"}%
---+++ %MAKETEXT{"Uploaded file is too big"}%
%MAKETEXT{"Uploaded file [_1] exceeds limit of [_2] KB", "<code>%PARAM1%</code>", "%PARAM2%"}%
%TMPL:END%
%TMPL:DEF{"save_error"}%
---+++ %MAKETEXT{"Error saving topic"}%
%MAKETEXT{"During save of [_1] an error was found by the version control system. Please notify your [_2] administrator.", "<nop>%WEB%.<nop>%TOPIC%", "%WIKITOOLNAME%"}%

=%PARAM1%=

%MAKETEXT{"Go back in your browser and save your changes locally."}%
%TMPL:END%
%TMPL:DEF{"rename_web_prerequisites"}%
---+++ %MAKETEXT{"There are problems with renaming this web:"}%
1.%MAKETEXT{"You are denied access to the following topics in the web:"}%
%PARAM1%

2. %MAKETEXT{"The following topics are locked for edit, and cannot be moved:"}%
%PARAM2%

3. %MAKETEXT{"The following topics refer to topics in this web, but you are denied access to them:"}%
%PARAM3%

4. %MAKETEXT{"The following topics refer to topics in this web, but are being edited:"}%
%PARAM4%

<div %PARAM5%>
<a href="%SCRIPTURLPATH{"rename"}%/%WEB%/%HOMETOPIC%?action=renameweb;confirm=continue" />%MAKETEXT{"Continue and try to rename web?"}%</a>
</div>

%TMPL:END%

%TMPL:DEF{no_such_template}%
%MAKETEXT{"Could not find template"}% =%PARAM1%=

%MAKETEXT{"Check your configuration setting for {TemplateDir}. If that's not the problem, it may be because you have a setting of =%PARAM2%= that is pointing to a template that doesn't exist."}%

=%PARAM2%= %MAKETEXT{"is currently set to"}% <code><nop>%%PARAM2%%</code>

(don't forget to check your Topic Settings)
%TMPL:END%

%TMPL:DEF{"message"}%
%INSTANTIATE%
%TMPL:END%
%TMPL:P{"oops"}%
