Templates for CommentPlugin - See CommentPlugin#Customisation for help

---------------------------------------------------------------------------
Templates used in rest of file

Generic prompt box used by other templates
%TMPL:DEF{promptbox}%
<table>
 <tr valign="middle">
  <td>
   <textarea %DISABLED% rows=3 cols=50 name="comment" wrap="soft" onfocus="if(this.value=='%MESSAGE%')this.value=''" onblur="if(this.value=='')this.value='%MESSAGE%'">%MESSAGE%</textarea>
  </td>
  <td>
   <input %DISABLED% type="submit" value="Add comment" />
  </td>
 </tr>
</table>
%TMPL:END%

Short comment, signed and dated
%TMPL:DEF{outputoneliner}%
%URLPARAM{"comment"}% -- %WIKIUSERNAME% - %SERVERTIME%
%TMPL:END%

---------------------------------------------------------------------------
Comments, signed and dated, added at top of file
%TMPL:DEF{PROMPT:top}%
%TMPL:P{promptbox}%
%TMPL:END%

%TMPL:DEF{OUTPUT:top}%
%TMPL:P{outputoneliner}% %POS:TOP%
%TMPL:END%

---------------------------------------------------------------------------
Comments, signed and dated, added immediately before prompt
%TMPL:DEF{PROMPT:above}%
%TMPL:P{promptbox}%
%TMPL:END%

%TMPL:DEF{OUTPUT:above}%
%TMPL:P{outputoneliner}% %POS:BEFORE%
%TMPL:END%

---------------------------------------------------------------------------
Comments, signed and dated, added immediately below prompt
%TMPL:DEF{PROMPT:below}%
%TMPL:P{promptbox}%
%TMPL:END%

%TMPL:DEF{OUTPUT:below}%
%TMPL:P{outputoneliner}% %POS:AFTER%
%TMPL:END%

---------------------------------------------------------------------------
Comments, signed and dated, added at end of file
%TMPL:DEF{PROMPT:bottom}%
%TMPL:P{promptbox}%
%TMPL:END%

%TMPL:DEF{OUTPUT:bottom}%
%TMPL:P{outputoneliner}% %POS:BOTTOM%
%TMPL:END%

---------------------------------------------------------------------------
Comments, signed and dated, added at top of table below the comment box
%TMPL:DEF{PROMPT:tableprepend}%
%TMPL:P{promptbox}%
%TMPL:END%

%TMPL:DEF{OUTPUT:tableprepend}%
| %POS:AFTER%%URLPARAM{"comment"}% | %WIKIUSERNAME% | %SERVERTIME% |
%TMPL:END%

---------------------------------------------------------------------------
Comments, signed and dated, added at end of table above the comment box
%TMPL:DEF{PROMPT:tableappend}%
%TMPL:P{promptbox}%
%TMPL:END%

%TMPL:DEF{OUTPUT:tableappend}%
| %POS:BEFORE%%URLPARAM{"comment"}% | %WIKIUSERNAME% | %SERVERTIME% |
%TMPL:END%
